<div class="newfooter">
    <div class="mainfooter">
        <div class="d-flex gap logo">
            <div class="column">
                <a href="/">
                    <img src="/fmimages/footerlogo.png" alt="logo">
                </a>
            </div>
            <div class="column">
                <form class="flex">
                    <input type="email" placeholder="Enter E-mail id" />
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <div class="column d-flex gap1 newsocial">
                <div class="flex">
                    <a href="https://www.facebook.com/faresmatchtravelagency" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://x.com/Faresmatch_" target="_blank">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/faresmatch9/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/faresmatchagency/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.pinterest.com/faresmatchagency/" target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCVF0LhsyO15yOulfg82K4MQ">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a target="_blank" href="https://faresmatchtravelagency.quora.com/">
                        <i class="fa-brands fa-quora"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="links d-flex gap1 deskfoot">
            <div class="column">
                <p><b>Quick Links</b></p>
                <div class="div">
                    <p><a href="/refund-cancellation.aspx">Policies </a></p>
                    <p><a href="/vacations.aspx">Vacations </a></p>
                    <p><a href="/vacation-packages.aspx">Packages</a></p>
                    <p><a href="/airline-destinations.aspx">Airlines Destinations</a></p>
                    <p><a href="/jetblue-fare-finder.aspx">Jetblue Fare Finder</a></p>
                    <p><a href="/low-fare-calendar.aspx">Low-Fare Calendar</a></p>
                </div>
            </div>

            <div class="column">
                <p><b>Airlines</b></p>
                <div class="div">
                    <p><a href="/delta-airlines-flights-reservations.aspx">Delta</a></p>
                    <p><a href="/united-airlines-flights-reservations.aspx">United</a></p>
                    <p><a href="/alaska-airlines-flights-reservations.aspx">Alaska </a></p>
                    <p><a href="/allegiant-airlines-flights-reservations.aspx">Allegiant</a></p>
                    <p><a href="/frontier-airlines-flights-reservations.aspx">Frontier</a></p>
                </div>
            </div>
            <div class="column">
                <p><b>Destinations</b></p>
                <div class="div">
                    <p><a href="/flights/cheap-flights-to-las-vegas.aspx">Las Vegas</a></p>
                    <p><a href="/flights/cheap-flights-to-new-york.aspx">New York</a></p>
                    <p><a href="/flights/cheap-flights-to-los-angeles.aspx">Los Angeles</a></p>
                    <p><a href="/flights/cheap-flights-to-florida.aspx">Florida </a></p>
                    <p><a href="/flights/cheap-flights-to-california.aspx">California</a></p>
                </div>
            </div>
            <div class="column">
                <p><b>Top Routes</b></p>
                <div class="div">
                    <p><a href="/flights/chicago-ord-to-honolulu-hnl-flights.aspx">Chicago to Honolulu</a></p>
                    <p><a href="/flights/san-francisco-to-london-flights.aspx">San Francisco to London</a></p>
                    <p><a href="/flights/chicago-ord-to-los-angele-lax-flights.aspx">Chicago to Los Angeles</a></p>
                    <p><a href="/flights/toronto-to-lima-flights.aspx">Toronto to Lima</a></p>
                    <p><a href="/flights/new-york-nyc-to-miami-mia-flights.aspx">New York to Miami</a></p>
                </div>
            </div>
            <div class="column">
                <p><b>Information</b></p>
                <div class="div">
                    <p><a href="https://www.faresmatch.com/about-us.aspx">About</a></p>
                    <p><a href="https://www.faresmatch.com/contact-us.aspx">Contact</a></p>
                    <p><a href="https://www.faresmatch.com/privacy-policy.aspx">Privacy Policy</a></p>
                    <p><a href="https://www.faresmatch.com/terms.aspx">Terms & Conditions</a></p>
                    <p><a href="https://www.faresmatch.com/sitemap.aspx">Sitemap</a></p>
                    <p><a href="https://www.faresmatch.com/faq.aspx">FAQ's</a></p>
                </div>
            </div>
        </div>
        <div class="links mobfoot">
            <div class="column">
                <div class="newfaqhead flex">
                    <p><b>Quick Links</b></p>
                    <p><b><i class="fa-solid fa-caret-down"></i> <i class="fa-solid fa-caret-up"></i></b></p>
                </div>
                <div class="newfaqdetails">
                    <p><a href="/refund-cancellation.aspx">Policies </a></p>
                    <p><a href="/vacations.aspx">Vacations </a></p>
                    <p><a href="/vacation-packages.aspx">Packages</a></p>
                    <p><a href="/airline-destinations.aspx">Airlines Destinations</a></p>
                    <p><a href="/jetblue-fare-finder.aspx">Jetblue Fare Finder</a></p>
                    <p><a href="/low-fare-calendar.aspx">Low-Fare Calendar</a></p>
                </div>
            </div>

            <div class="column">
                <div class="newfaqhead flex">
                    <p><b>Airlines</b></p>
                    <p><b><i class="fa-solid fa-caret-down"></i> <i class="fa-solid fa-caret-up"></i></b></p>
                </div>
                <div class="newfaqdetails">
                    <p><a href="/delta-airlines-flights-reservations.aspx">Delta</a></p>
                    <p><a href="/united-airlines-flights-reservations.aspx">United</a></p>
                    <p><a href="/alaska-airlines-flights-reservations.aspx">Alaska </a></p>
                    <p><a href="/allegiant-airlines-flights-reservations.aspx">Allegiant</a></p>
                    <p><a href="/frontier-airlines-flights-reservations.aspx">Frontier</a></p>
                </div>
            </div>
            <div class="column">
                <div class="newfaqhead flex">
                    <p><b>Destinations</b></p>
                    <p><b><i class="fa-solid fa-caret-down"></i> <i class="fa-solid fa-caret-up"></i></b></p>
                </div>
                <div class="newfaqdetails">
                    <p><a href="/flights/cheap-flights-to-las-vegas.aspx">Las Vegas</a></p>
                    <p><a href="/flights/cheap-flights-to-new-york.aspx">New York</a></p>
                    <p><a href="/flights/cheap-flights-to-los-angeles.aspx">Los Angeles</a></p>
                    <p><a href="/flights/cheap-flights-to-florida.aspx">Florida </a></p>
                    <p><a href="/flights/cheap-flights-to-california.aspx">California</a></p>
                </div>
            </div>
            <div class="column">
                <div class="newfaqhead flex">
                    <p><b>Top Routes</b></p>
                    <p><b><i class="fa-solid fa-caret-down"></i> <i class="fa-solid fa-caret-up"></i></b></p>
                </div>
                <div class="newfaqdetails">
                    <p><a href="/flights/chicago-ord-to-honolulu-hnl-flights.aspx">Chicago to Honolulu</a></p>
                    <p><a href="/flights/san-francisco-to-london-flights.aspx">San Francisco to London</a></p>
                    <p><a href="/flights/chicago-ord-to-los-angele-lax-flights.aspx">Chicago to Los Angeles</a></p>
                    <p><a href="/flights/toronto-to-lima-flights.aspx">Toronto to Lima</a></p>
                    <p><a href="/flights/new-york-nyc-to-miami-mia-flights.aspx">New York to Miami</a></p>
                </div>
            </div>
            <div class="column">
                <div class="newfaqhead flex">
                    <p><b>Information</b></p>
                    <p><b><i class="fa-solid fa-caret-down"></i> <i class="fa-solid fa-caret-up"></i></b></p>
                </div>
                <div class="newfaqdetails">
                    <p><a href="https://www.faresmatch.com/about-us.aspx">About</a></p>
                    <p><a href="https://www.faresmatch.com/contact-us.aspx">Contact</a></p>
                    <p><a href="https://www.faresmatch.com/privacy-policy.aspx">Privacy Policy</a></p>
                    <p><a href="https://www.faresmatch.com/terms.aspx">Terms & Conditions</a></p>
                    <p><a href="https://www.faresmatch.com/sitemap.aspx">Sitemap</a></p>
                    <p><a href="https://www.faresmatch.com/faq.aspx">FAQ's</a></p>
                </div>
            </div>
        </div>
    </div>
        <div class="foot">
            <div class="column">
                <p>
                    © Copyright 2025 <b>Faresmatch</b>. All Rights Reserved. | Address: 6355 Haystack CT Cumming
                    , GA
                    30040
                </p>
            </div>
        </div>
</div>
