<div class="newheader" id="newhead">
    <div class="container">
        <div class="head">
            <div class="column logocolum">
                <a href="/"><img src="/fmimages/logo.png"></a>
            </div>
            <div class="column nav1" id="view">
                <div class="navdrop">
                    <i class="fa-solid fa-xmark icon" id="off" style="margin-bottom: 15px !important;"></i>
                    <p><b>More Travel <i class="fa-solid fa-caret-down"></i></b></p>
                    <ul>
                        <li><a href="https://www.faresmatch.com/flights.aspx"><i class="fa-solid fa-plane-departure"></i> Flights</a></li>
                        <li><a href="https://www.faresmatch.com/amtrak.aspx"><i class="fa-solid fa-train"></i> Amtrak</a></li>
                        <li><a href="https://www.faresmatch.com/cruise/"><i class="fa-solid fa-ferry"></i> Cruise</a></li>
                        <li><a href="https://www.faresmatch.com/deals.aspx"><i class="fa-solid fa-gift"></i> Deals</a></li>
                        <li><a href="https://www.faresmatch.com/blog.aspx"><i class="fa-brands fa-blogger-b"></i> Blog</a></li>
                        <li><a href="https://www.faresmatch.com/yacht/"><i class="fa-solid fa-ship"></i> Yacht</a></li>
                        <li><a href="https://www.faresmatch.com/car-rental.aspx"><i class="fa-solid fa-car"></i> Car Rental</a></li>
                    </ul>
                    <div class="newnav">
                        <ul>
                            <li>
                                <a href="https://www.faresmatch.com/privacy-policy.aspx">
                                    <i class="fa-solid fa-shield-halved"></i>
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="https://www.faresmatch.com/terms.aspx">
                                    <i class="fa-solid fa-clipboard-list"></i> Terms &
                                    Conditions
                                </a>
                            </li>
                            <li><a href="https://www.faresmatch.com/sitemap.aspx"><i class="fa-solid fa-sitemap"></i> Sitemap</a></li>
                            <li><a href="https://www.faresmatch.com/faq.aspx"><i class="fa-solid fa-circle-question"></i> FAQ's</a></li>
                        </ul>
                    </div>
                    <div class="navlogo">
                        <a href="tel:+18009183039" id="call-now-btn">
                            <h4>
                                <i class="fa-solid fa-phone" style="color: white !important;"></i>
                                +1-800-918-3039
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column right">
                <a href="tel:+18009183039" id="call-now-btn">
                    <div>
                        <i class="fa-solid fa-phone-volume fa-shake"></i>
                        <img src="/fmimages/customer-support.jpg" />
                        <p><span>Book Now - </span>Call us 24/7</p>
                    </div>
                </a>
            </div>
            <div class="column signjoin">
                <p><b><i class="fa-solid fa-user"></i> Sign In / Join</b></p>
            </div>
            <div class="column" id="on">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</div>