<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  
  -->
<configuration>
  <configSections>
    <section name="SagePayConfiguration" type="SagePayConfiguration" />
  </configSections>
  <SagePayConfiguration configSource="App_Data\SagePay.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="allowedIPs" value="203.82.63.70;62.232.183.235;182.77.122.153;192.140.155.5;110.224.140.93;122.50.195.26" />
    <add key="WebsiteURL" value="http://localhost:14880/" />
    <add key="StaticURL" value="http://localhost:14880/" />
    <add key="ApiURL" value="https://api.flyglobe.co.uk/" />
    <add key="ImgURL" value="http://cms.airbeastravel.co.uk/" />
    <add key="Currency" value="$" />
    <add key="CurrencyCode" value="USD" />
    <add key="SagepayEnvironment" value="TEST" />
    <add key="WorldSpanEnvironment" value="LIVE" />
    <add key="LogWriter" value="false" />
    <add key="WebsiteCC" value="sales@flightmover.com" />
    <add key="EmailID" value="sales@flightmover.com" />
    <add key="SMTPCLINT" value="smtp.stackmail.com" />
    <add key="UserName" value="sales@flightmover.com" />
    <add key="Password" value="MoverUS@121" />
    <add key="Desharp:Enabled" value="1" />
    <add key="Desharp:Output" value="html" />
    <add key="Desharp:DebugIps" value="127.0.0.1,::1" />
    <add key="Desharp:Levels" value="+exception,debug,info,-notice,-warning,+error,+critical,alert,+emergency,javascript" />
    <add key="Desharp:Panels" value="Desharp.Panels.SystemInfo,Desharp.Panels.Session" />
    <add key="Desharp:Directory" value="~/logs" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=111.118.177.234,18532;User Id=vimann;Password=Lion$56$5;Database=Dbviman" providerName="Sql.Data.SqlClient" />
    <add name="ConnectionStringFlightoffice" connectionString="Server=111.118.177.234,18532;User Id=vimann;Password=Lion$56$5;Database=Dbviman" providerName="Sql.Data.SqlClient" />
    <add name="ConnectionStringTrack" connectionString="Server=111.118.177.234,18532;User Id=vimann;Password=Lion$56$5;Database=Dbviman" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <sessionState timeout="60" />
    <compilation debug="true" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="Desharp" type="Desharp.Module" />
    </modules>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>