#progressbar {
    width: 90.5%;
    height: 5px;
    background-color: #0b2241;
    padding: 1px;
    margin: .6em 0;
    position: relative;
    clear: both;
    border-radius: 0px;
}

#progressLine {
    background: url(../../images/waiting-plane.png) no-repeat left top;
    background-position: -500px 0px;
    height: 27px;
    border-radius: 3px;
    -webkit-animation: progressLine 44s 1 forwards;
    -moz-animation: progressLine 44s 1 forwards;
    -o-animation: progressLine 44s 1 forwards;
    animation: progressLine 44s 1 forwards;
    position: relative;
    top: -11px;
}

#pbaranim {
    height: 5px;
    width: 100%;
    background-position: 0 -11px;
    overflow: hidden; /*background: url(../images/search_pop_plane.png) no-repeat left top;*/
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
    -webkit-filter: alpha(opacity=5);
    filter: alpha(opacity=5);
}

@-webkit-keyframes progressLine {
    from {
        background-position: -550px 0px;
    }

    to {
        background-position: -30px 0px;
    }
}

@-moz-keyframes progressLine {
    from {
        background-position: -550px 0;
    }

    to {
        background-position: -30px 0px;
    }
}

@-ms-keyframes progressLine {
    from {
        background-position: -550px 0px;
    }

    to {
        background-position: -30px 0px;
    }
}

@keyframes progressLine {
    from {
        background-position: -550px 0px;
    }

    to {
        background-position: -30px 0px;
    }
}




    .searchpop1 {
        width: 100%;
        background-color: rgba(0,0,0,.85);
        position: fixed;
        height: 100%;
        left: 0px;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;

    }
    .wait-popup {
        width: 575px;
        height: 373px;
        background-color: #0b2241;
        padding: 0px 0 0 0;
        margin: 120px auto;
    }

    .wait-logo {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
		background:#FFF;
		padding: 5px 0px;
    }

    .serching {
        float: left;
        width: 100%;
        text-align: center;
    }

    .wait-txe {
        font-family: Arial;
        text-align: center;
        font-size:16px;
        color: #fff;
    }
	 .wait-txe h3{
      
        color: #fff;
    }

    .line-wait {
        border-bottom: 1px solid #45576e;
        padding: 8px 0 2px 0;
    }

    .wait-main {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .wait-1 {
        float: left;
        width: 33%;
        color: #fff;
    }


    .wait-txt-small {
        font-family: Arial;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    .wait-txt-big {
        font-family: Arial;
        text-align: center;
        font-size: 36px;
        color: #fff;
    }

    .wait-depart {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 9px;
    }

    .wait-2 {
        float: left;
        width: 25%;
        text-align: left;
    }

    .wait-dest-txt {
        font-family: Arial;
        text-align: left;
        font-size: 16px;
       
        color:#33CCFF;
    }

    .wait-dest-txt-small {
        font-family: Arial;
        
        text-align: left;
        font-size: 14px;
        line-height: 25px;
        color: #fff;
    }
.wait-2:nth-child .wait-dest-txt-small {
        padding-left: 30px;
    }
    .wait-2:nth-child(2) .wait-dest-txt-small {
        padding-left: 30px;
    }

    .wait-2:nth-child(2) .wait-dest-txt {
      padding-left: 30px;
    }

    .wait-2:nth-child(3) .wait-dest-txt-small {
       padding-left: 30px;
    }

    .wait-2:nth-child(4) .wait-dest-txt-small {
       padding-left: 0px;
    }

    .wait-2:nth-child(3) .wait-dest-txt {
      padding-left: 30px;
    }

    .wait-2:nth-child(4) .wait-dest-txt {
        padding-left: 0;
    }

    .wait-2:nth-child(1) {
        width: 20%;
    }

    .wait-2:nth-child(2) {
        width: 20%;
    }

    .wait-2:nth-child(3) {
        width: 26%;
    }

    .wait-2:nth-child(4) {
        width: 34%;
    }


    .wait-talk-main {
        padding-bottom: 5px;
        float: left;
        background-color:#019add;
        border-top: 1px solid #3e4c65;
        width: 100%;
    }

    .talk-txt {
        font-family: Arial;
        font-size: 18px;
        line-height: 25px;
        color: #ffcc01;
        text-align: center;
        padding-top: 5px;
        width: 100%;
    }

    .talk-txt-1 {
        font-family: 'Century Gothic';
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 2px #000;
        color: #fff;}
		
@media only screen and (max-width: 600px) {
   .wait-2 {
        float: left;
        width:50% !important;
        text-align: left;
    }
	
	.wait-2:nth-child(2) .wait-dest-txt {
      padding-left:0px !important;
    }
	.wait-dest-txt-small {
   
    padding-left: 0px !important;
   
}
	
    .wait-popup {
        width:auto !important;
        height:315px !important;
        background-color: #0b2241;
        padding: 0px 0 0 0;
        margin: 120px auto;
    }	
	.wait-txt-big {
  
    font-size: 25px !important;
   
}
}		