/*.wait-page {
    background-color: #fff;
    padding: 2px 0;
    border: 1px solid #428bca;
    z-index: 1;
    position: absolute;
    margin: auto;
}

.wait-page h2 {
    font-size: 20px;
    color: #0D2347;
    text-align: center;
}

.wait-page .depart {
    display: inline-block;
    width: 40%;
    line-height: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.wait-page .arrow {
    display: inline-block;
    width: 19%;
    text-align: center;
}

.wait-page .return-1 {
    float: right;
    width: 39%;
    display: inline-block;
    line-height: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.wait-page .depart span.dep-date {
    color: #666;
    font-size: 17px;
}

.wait-page .return-1 span.dep-date {
    color: #666;
    font-size: 17px;
}

.wait-page .return span.loc-name {
    font-size: 23px;
    color: #333;
}*/


.wait-page {
    /*width: 57%;*/
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: -18% auto auto 30%;
    background-color: #fff;
    padding: 2px 0;
    z-index: 1;
    position: absolute;
}

    .wait-page h2 {
        font-size: 22px;
        color: #0D2347;
        text-align: center;
    }

    .wait-page .depart {
        display: inline-block;
        width: 30%;
        line-height: 20px;
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .wait-page .arrow {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

    .wait-page .return-1 {
        float: right;
        width: 30%;
        display: inline-block;
        line-height: 20px;
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .wait-page .depart span.dep-date {
        color: #666;
        font-size: 10px;
    }

    .wait-page .return-1 span.dep-date {
        color: #666;
        font-size: 10px;
    }

    .wait-page .return span.loc-name {
        font-size: 15px;
        color: #333;
    }

.responsive {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .wait-page {
        margin: 0% auto auto -4%;
    }
    }