#serachLocation .autocomplete-wrapper{
    float: left;
    width: 100%;
    position:relative;
}

.autocomplete-results, .autocomplete-results_to {
    background: white;
    font-size: 13px;
    border: solid 0px #ddd;
    border-top-width: 0;
    border-bottom-color: #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 20px;
    z-index: 99;
}

.autocomplete-results_to {
    left: 22%;
}

 .autocomplete-result {
     padding: 12px 15px;
     border-bottom: solid 1px #eee;
     cursor: pointer;
}
.autocomplete-result:hover{
	background:#eaeaea;
}

 .autocomplete-result:last-child {
     border-bottom-width: 0;
}
 .autocomplete-location {
     opacity: .8;
     font-size: smaller;
}
 #to_auto{
    width:100% !important;
}
 #from_auto{
       width:100% !important;
}
 /*#date-picker{
     position:absolute;
     left: 445px;
     top:164px;
}*/

/* #range-picker{
     position:absolute;
     left: 445px;
     top:163px;
}*/
 /*#search_btn{
     position:absolute;
     left: 670px;
     top:180px;
     width:140px;
}*/
#serachLocation input.autocomplete_from_new, 
#serachLocation input.autocomplete_from_to,
.form-control{
    width: 100%;    
    color: #333;
    padding: 8px 15px;
    box-shadow: none;
    border: 1px solid #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px !important;
    height: 42px;
}
 input.autocomplete_from_new:focus {
     outline-width: 0;
     color:#000;
}
 input.autocomplete_from_to:focus {
     outline-width: 0;
     color:#000;
}
.autocomplete-results .autocomplete-result:first-child{
    background: #eaeaea;
}

.autocomplete-results_to .autocomplete-result:first-child{
    background: #eaeaea;
}
 /* ::placeholder {
    Chrome, Firefox, Opera, Safari 10.1+
     color: black;
     opacity: 1;
    Firefox
     font-family: Papyrus, fantasy;
} */
/* button{
     background:transparent;
     border-color:white;
     font-size: 19px;
     color:black;
     font-family: Papyrus, fantasy;
     border-radius: 4px
}*/
 /*button:focus {
     outline-width: 0;
}
 button:hover {
     background-color: black;
     opacity: 1;
     color:white;
}
 label{
     font-size: 30px;
     color:white;
     font-family: Papyrus, fantasy;
}
 strong{
     font-size: 100px;
}
 #disp_area{
     position:absolute;
     background-color:black;
     width: 800px;
     top: 270px;
     height: 1000px;
}
 table {
     position:absolute;
     background: black;
     border-collapse: separate;
     box-shadow: inset 0 1px 0 #fff;
     font-size: 12px;
     line-height: 24px;
     margin: 30px auto;
     text-align: left;
     width: 700px;
     top:200px;
     color:white;
}
 th {
     background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
     border-left: 1px solid #555;
     border-right: 1px solid #777;
     border-top: 1px solid #555;
     border-bottom: 1px solid #333;
     box-shadow: inset 0 1px 0 #999;
     color: #fff;
     font-weight: bold;
     padding: 10px 15px;
     position: relative;
     text-shadow: 0 1px 0 #000;
}
 tr:nth-child(odd) td {
     background: #667182 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}
 #loader{
     position:absolute;
     width:200px;
     height:200px;
     left:150px;
     top: 300px;
}*/