section {
  float: left;
  width: 100%;
}

section.breadcrumbBg {
  background: #f1f1f1;
}

.breadcrumb {
  float: left;
  width: 100%;
  padding: 15px 0px;
  margin: 0 auto;
}

.intro-text {
  float: left;
  width: 100%;
  margin: 20px 0px 50px 0px;
}

h3,
h4,
p {
  float: left;
  width: 100%;
  text-align: left;
  line-height: 34px;
  margin-bottom: 20px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 21px;
  line-height: 34px;
}
p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

ul.hightlights {
  list-style-type: disc; /* Use disc bullets */
  margin: 10px 0;
  padding-left: 20px;
  margin-bottom: 50px;
}

li.hightlights {
  margin-bottom: 5px; /* Add spacing between list items */
  font-size: 16px;
  color: #333;
}

/* Custom Styles for Tabs */
.nav-tabs {
  border-radius: 5px;
}
.nav-tabs .nav-item .nav-link {
  color: #333;
  border: none;
  margin: 2px;
  border-radius: 5px;
  background: #f7f7f7;
}
.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
  color: #f26c3b;
}
.nav-tabs .nav-item .nav-link {
  font-weight: normal;
  font-size: 14px;
}
.tab-content {
  border-top: none;
  border-radius: 0 0 5px 5px;
  margin: 10px 0px;
  float: left;
  width: 100%;
}

.flight-card {
  display: flex;
  align-items: center;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.flight-card img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.airport-code {
  font-weight: bold;
  color: #2d4373;
  font-size: 18px;
}
.airport-name {
  font-size: 14px;
  color: #666;
}
.flight-route {
  flex-grow: 1;
  text-align: center;
}
.flight-route .arrow {
  font-size: 20px;
  color: #2d4373;
}
.price {
  font-weight: bold;
  font-size: 20px;
  color: #2d4373;
  margin-left: 10px;
}
/* Style for country headings */
.country-head {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #ff6600;
  text-transform: uppercase;
}

.country-head a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.country-head a:hover {
  color: #ff6600; /* Highlight color on hover */
}

.countryList {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  height: auto;
  padding: 0px 10px;
  box-sizing: border-box;
}

/* Style for city list */
.countryList ul {
  list-style-type: none;
  /* padding-left: 15px; */
}

.countryList ul li {
  margin-bottom: 5px;
}

.countryList ul li a {
  width: 100%;
  display: block;
  line-height: 20px;
  padding: 5px 0;
  color: #343434;
  font-size: 13px;
  border-bottom: dotted 1px #343434;
  text-decoration: none;
}

.countryList ul li a:hover {
  color: #ff6600;
  text-decoration: underline;
}
