/* Search Result */
.modify { min-height:225px; float:left; background:url(../images/inner_banner.jpg) no-repeat; }
.modify .booking-engine { float:left; }
.modifyBanner { min-height:225px !important; clear:both; }
.searchDetail {padding-top: 131px;font-family: 'Barlow', sans-serif;}
.searchDetail h1 { font-weight:600; color:#fff; font-size:22px; margin-bottom:20px; }
.searchDetail-row { float:left; width:100%; padding:10px; background:rgba(0, 0, 0, 0.6); color:#fff; border-top-right-radius:4px; border-top-left-radius:4px; }
.searchDetail-txt { float:left; line-height:30px;}
.searchDetail-txt bdo { font-size:16px; font-weight:600; }
.searchDetail-txt i { font-size:14px; margin:0 6px; }
.searchDetail-row a { font-size:14px; float:right; font-weight:600; color:#fff; background:#111e26; padding:4px 10px; border:1px solid #939fa7; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.searchDetail-row a i { font-weight:normal; margin-left:6px; }
.modify .booking-engine .be-container { position:static; margin:0px; }
.modify .booking-engine-content { background:rgba(0, 0, 0, 0.8); border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.listing { width:100%; padding:2em 0 0; overflow:hidden; clear:both; background:#f7f7f7; }
.filter { width:25%; float:left; font-family:'Barlow', sans-serif; margin-bottom:15px; }
.filter h2 { font-size:14px; font-weight:600; color:#f36c3b; }
.filterHead { background:#f7f7f7; padding-bottom:6px; width:100%; float:left; }
.filterHead-mobile { display:none; background:#79745b; padding:6px 10px; margin-bottom:6px; width:100%; float:left; }
.filterHead-mobile span { color:#fff; line-height:30px; font-weight:600 }
.filterHead-mobile a { float:right; background:#f8bb00; color:#fff; padding:4px 20px; font-size:0.875em; font-weight:600; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.filterBtn { display:none; margin-bottom:15px; font-size:14px; }
.filterBtn a { background:#f36c3b; color:#fff; padding:8px 20px; font-size:16px; margin-right:13px; font-weight:600; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.filterDiv { width:100%; float:left; border:1px solid #dadada; border-bottom:0px; background:#fff; }
.filterDiv h3 { width:100%; font-weight:600; float:left; font-size:15px; color:#212020; border-bottom:1px solid #dadada; padding:10px; background-image: linear-gradient(#ffffff, #ededed); }
.filterDiv h3 a { float:right; font-size:12px; color:#565555; }
.filterCheck { width:100%; float:left; border-bottom:1px solid #dadada; }
.filterCheck input { width:16px; height: 16px; margin: 6px 4px 0 0; float: right; }
.filterCheck label { width:100%; float:left; margin:0px; cursor:pointer; padding:10px; position:relative; }
.filterCheck label:hover { background:#f2f2f2; }
.checkTxt { width:85%; font-size:13px; float:left; }
.checkTxt span { color:#212020; font-weight:600; }
.checkTxt bdo { color:#212020; font-size:12px; }

.time_panel{width:100%; float:left; border-bottom:1px solid #dadada; padding:10px 0; display:block;}
.time_panel i{font-size:15px;}
.dep_tim_sun {text-align:center;}
.dep_tim_sun ul{margin:0px; padding:0px;}
.dep_tim_sun ul li {list-style:none; float:left; width:25%; padding:0px 5%; text-align:left; }
.dep_tim_sun ul li label{ text-align:center; display:inline-block !important; font-size:12px; color:#212020; cursor:pointer; font-weight:normal; }
.res_sun_box{width:100%; height:40px; display:block; text-align:center;}
.res_sun_box_img {width:40px; margin:0 auto; height:38px; background:url(../images/timeing_filter.svg) no-repeat;}
.res_sun_box_img_cloud{background-position:4px 7px;}
.res_sun_box_img_sun{background-position:4px -35px;}
.res_sun_box_img_moon{background-position:5px -78px;}
.res_sun_box_img_heat{background-position:4px -129px;}

.dep_tim_sun ul li label:hover .res_sun_box_img_cloud, label.active .res_sun_box_img_cloud {background-position:-43px 7px;}
.dep_tim_sun ul li label:hover .res_sun_box_img_sun, label.active .res_sun_box_img_sun {background-position:-43px -35px;}
.dep_tim_sun ul li label:hover .res_sun_box_img_moon, label.active .res_sun_box_img_moon {background-position:-42px -78px;}
.dep_tim_sun ul li label:hover .res_sun_box_img_heat, label.active .res_sun_box_img_heat{background-position:-43px -129px;}

.airlineSelect { width:100%; float:left; background:#f7f7f7; padding:10px; color:#555555; font-size:12px;}
.airlineSelect a { color:#212020;  }
.airlineBtn { background:#16307d; color:#fff; text-align:center; font-size:14px; width:100%; margin-bottom:7px; display:block; float:left; padding:10px 0;}
.airlineBtn:hover { color:#ff7e00; text-decoration:none; }
.resetBtn { background:#f36c3b; color:#fff; text-align:center; font-size:14px; width:100%; display:block; float:left; padding:10px 0;}
.resetBtn:hover { color:#fff; }

.priceFilter { width:100%; float:left; padding:25px 15px 5px 15px; border-bottom:1px solid #dadada; }

.price_range{ padding:10px 0 0 0; color:#999; margin-bottom:26px; font-weight:400; font-size:12px; }
.price_range input[type=text] {color:#065471; font-size:18px;}
.price_range span{float:left; color:#383838; font-size:14px; font-weight:600;}
.price_range span:last-child{float:right;}
.priceFilter .ui-slider-horizontal .ui-slider-handle{top:-.4em!important;}
.priceFilter #slider-range{border:none!important;} 
.priceFilter .ui-slider-handle{border:none!important; cursor:w-resize!important; background:url(../images/handle_new.png) no-repeat !important; width:20px!important; height:20px!important; background-color:none!important; margin-top:-2px!important;}
.priceFilter .ui-slider-horizontal{height:5px!important; border-radius:10px!important;}
.priceFilter .ui-widget-header{background:#f36c3b!important ; height:7px!important;}
.priceFilter .ui-slider-range {margin-top:-1px;}
.priceFilter .ui-widget-content {background:#000!important;}
.priceFilter .ui-state-focus { border:0px;}
.scal_price{width:92%; left:4%;}

.result {width: 75%;padding-left: 22px;float: left;font-family:'Barlow', sans-serif;margin-bottom: 15px;}
.list {width: 100%; background: #fff; border-top:4px solid #999; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:3px solid #ccc; display:inline-block; /*margin-bottom: 1.5em;*/ margin: 10px 0 15px; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.list .resultDetail-row:nth-child(2) { background:#ededed; }
.resultPrice-row { width:100%; margin:0; padding:8px 12px; border-bottom:1px solid #e5e5e5; background:#fafafa; display:inline-block; vertical-align:top; }
.resultPrice { display:inline-block; font-size:32px; line-height:32px; color:#f36c3b; font-weight:600;}
.resultPrice small { font-size:20px; }
.resultTxt { color:#212020; display:inline-block; margin-left:10px; font-weight:normal; }
.resultTxt p { font-size:12px; margin:0px; line-height:12px; }
.resultTxt span { font-size:14px; }
.resultCall { float:right; text-align:center; }
.resultCall a { font-size:18px; color:#f36c3b; font-weight:500; line-height:20px; }
.resultDetail-row { padding:20px 0px; border-bottom:1px solid #e5e5e5; width:100%; float:left; }
.resultDetail-row .resultCity:last-child, .resultDetail-row .resultCity:last-child p, .flightDlt-head .resultCity:last-child, .flightDlt-head .resultCity:last-child p { text-align:left; }
.resultAirlines { width:22%; float:left; min-width:100px; text-align:center; padding:0 15px; }
.resultAirlines img { width:27px; height:27px; background:#fff; border:1px solid #d2d2d2; padding:2px; }
.resultAirlines p { font-size:12px; font-weight:600; color:#212020; margin:0 0 3px 0px; text-align:center; }
.resultAirlines span { font-size:12px; line-height:12px; font-weight:400; text-align:center; background:#f36c3b; padding:2px 12px 4px 12px; color:#fff; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; }

.resultCity { width:20%; float:left; padding:4px 0 0 0; text-align:right; }
.resultCity bdo { font-size:18px; line-height:20px; font-weight:normal; color:#343434; width:100%; display:block; }
.resultCity span { font-size:24px; line-height:24px; font-weight:600; color:#4a4a4a; margin:0px; }
.resultCity p { font-size:14px; line-height:14px; font-weight:normal; color:#666; margin:0px; text-align:right; }

.rtrn_oneway label{display:inline-block; cursor:pointer; padding:0px 8px;background-color:#0a91ab;font-weight:700; font-size:17px; border:1px solid #ccc; color:#fff;text-decoration:none;margin-bottom:2px;border-radius:4px;}
.rtrn_oneway label:hover, .rtrn_oneway label.active{background-color:#000;}
.ind_main_searbox{width:100%; padding:15px; background:rgba(255, 255, 255, .5);}
.ind_srch_subBox{float:left; width:100%; position:relative;}
.ind_srch_subBox i{position:absolute;color: #0a91ab;font-size: 22px;right: 5px;top: 9px;}
.ind_inputBox{width:100%; height:40px; font-size:14px; /*border:1px solid #0a91ab;*/ cursor:pointer; padding-left:10px; padding-right:30px;}
.ind_inputBox_date{border:1px solid #0a91ab; cursor:pointer;width:100%; height:40px;background-color:#fff;display:none;}
.ind_srch_head{margin-top:180px;}
.ind_sbm_btn{width:16.6%; height:40px; background-color:#f36c3b;outline:none;color:#fff;border:none;font-weight:700}
.ind_srch_head h3{margin:0px; font-weight:700; color:#fff;text-shadow: 2px 3px #065471; font-size:32px;margin-bottom:6px;}
#dum_up input{cursor:pointer}
.person_dropdown{background:#fff; border:1px solid #bbb; width:150%; display:none; padding:7px; z-index:10; position:absolute;}
.slect_pssngr label{font-weight:400; font-size:13px;}
.slect_pssngr{ margin:0px; padding:0px; color:#000; border-bottom:1px solid #bbb; padding-bottom:7px;}
.slect_pssngr li{list-style:none; display:block; margin-bottom:15px;}
.slect_pssngr span{font-size:10px;}
.count_pssngr{float:right;}
.inpt_cout_pssngr{width:30px; height:30px; text-align:center; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; border-left:0px; border-right:0px;}
.count_pssngr a{margin:0px; text-align:center; padding:0px; text-decoration:none; color:#ccc;}
.count_pssngr em{min-width:30px; height:30px; margin:0px; text-align:center; border:solid 1px #ccc; line-height:30px; background:#fff; margin:0px -3px;}
.slect_pssngr:last-child { border-bottom:1px solid #bbb;}
.combin_class{color:#bbb; padding:0px; padding-top:7px; padding-bottom:7px; border-bottom:1px solid #bbb;}
.combin_class ul{margin:0px; padding:0px; position:relative;}
.combin_class ul li{list-style:none;}
.combin_class ul li a{color:#000; text-decoration:none; padding-bottom:7px; display:block;}
.in_list_cls{color:#666;}
.in_list_cls input[type=radio]{margin-right:5px;}
.clss_done{padding:0px;} 
.clss_done a{padding:5px 10px; border-radius:4px; float:right; border:1px solid #bbb; margin-top:7px; text-decoration:none; color:#000;}
.ind_trust_main { width:100%; padding:20px 0px; }
.ind_trust_main h3 { font-size:30px; margin:0 0 30px 0; text-align:center; font-weight:bold; color:#065471; }
.ind_trust_left {width:30%; padding-right:15px; float:left; text-align:center;}
.ind_trust_left h2{margin:0px;margin-bottom:5px;font-weight:700;}
.ind_tru_star span{background-color:#007f4e;border-radius: 2px;margin-right: 2px;padding:0px 4px 4px 3px;}
.ind_tru_star span img{width: 18px;height: 18px;}
.ind_trust_left p{margin:0px; color:#aaa; font-weight:700;margin-top: 10px;line-height: 20px}
.ind_trust_left p strong{font-size:18px;color:#777;}
.ind_trut_btm{width:100px;margin:0 auto;}
.ind_trut_btm img{width:100%;}
.ind_trust_carsl{width:calc(70% - 60px); float:left;margin-left:30px;}
.ind_trust_carsl .owl-dots{display:none;}
.ind_tru_box_str span:last-child {float:right;font-size:10px; color:#aaa; font-family:Helvetica;display: inline-block;margin-top: 4px;}
.ind_trust_carsl .owl-carousel .owl-item img{width:50%; display:inline; padding:2px; border-radius:2px;}
.ind_trust_carsl .owl-item{}
.ind_trust_carsl .ind_trust_carsl_cmmnt_head{font-weight: 700; margin-top:3px; margin-bottom: 4px;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-family:Helvetica;font-size: 12px;}
.ind_trust_carsl_cmmnt{height:80px;margin-bottom: 10px;line-height: 16px;width: 100%;text-overflow: ellipsis;overflow: hidden;font-size: 12px;font-family:helvetica;}
.ind_trust_carsl_name{font-weight: 700;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size: 11px;margin: 0px;margin-top:-5px;font-family:Helvetica;}
.ind_trust_carsl .owl-prev {position:absolute;left:-31px; top:40%; margin:0px!important;background:none!important; padding:0px!important;}
.ind_trust_carsl .owl-prev:hover{background:none!important;}
.ind_trust_carsl .owl-prev i{font-weight:bold!important;font-size:50px!important; color:#000;z-index:2;}
.ind_trust_carsl .owl-next {position:absolute;right:-25px; top:40%; margin:0px!important;background:none!important; padding:0px!important;}
.ind_trust_carsl .owl-next:hover{background:none!important;}
.ind_trust_carsl .owl-next i{font-weight:bold!important;font-size:50px!important; color:#000;z-index:2;}
.ind_top_deal_box { background-color:rgba(10, 145, 21, .05); margin:15px 0px; padding:25px 0;}
.ind_top_del_head h2{text-align:center; margin:0px; color:#065471; font-size:30px; font-weight:700; margin-bottom:15px; }
.ind_img_box{background-color:#fff; width:31.33%; margin:0px 1%; float:left; margin-bottom:35px; box-shadow:0px 1px 4px 2px rgba(0,0,0,0.2); }
.ind_box_sub{padding:10px; padding-bottom:0px; }
.ind_box_sub img{width:100%}
.ind_box_sub h4{ margin:0px; font-weight:700; margin-top:10px; color:#065471;}
.ind_con_img{padding:10px; padding-top:0px;}
.ind_con_img h4{font-size:25px; font-weight:700; color:#0a91ab; margin:0px; }
.ind_abt_vimn{background:rgba(10, 145, 171, .05); padding:25px; margin:10px 0px; }
.ind_about_box h3{margin:0px; margin-bottom:7px;}
.ind_about_box p{text-align:justify; line-height:21px; }
.ind_news_letter{width:100%; padding:20px; background:#f7f7f7; box-shadow:0px 1px 4px 2px rgba(0,0,0,0.2); }
.ind_news_letter h4{text-align:center; font-weight:700; color:#065471; line-height:27px;}
.ind_news_letr_cont label{margin:0px; margin-bottom:5px;}
.ind_news_letr_cont input[type=text]{width:100%; padding-left:10px; color:#666; height:38px; background:#e9e9e9; box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.2) }
.ind_news_letr_cont input[type=text]:focus {outline:none;}
.ind_news_letr_cont input[type=button]{width:100%; margin-top:15px; background:#065471; color:#fff; padding:4px; font-size:22px; text-transform:uppercase;outline:none; border:none; }
.ind_news_letr_cont input[type=button]:hover{background:#0a91ab;}
.ind_our_bst_logo{width:100%; display:inline-block; text-align:center;}
.ind_our_bst_logo {margin-top:15px;}
.ind_our_bst_logo h3{margin:0px; margin-bottom:10px;  }
.ind_our_bst_logo ul{margin:0px; padding:0px; }
.ind_our_bst_logo ul li{list-style:none; display:inline-block; float: none; width:auto; text-align:center; border-radius:2px; padding:3px;}
.ind_our_bst_logo ul li img{width: auto;border: solid 1px #b5b5b5;border-radius: 3px;-webkit-border-radius: 3px;}

.resultBtn-row {width: 100%;float: left;padding: 8px 12px;font-family: 'Barlow', sans-serif;}
.resultBtn { float:right; margin-top:-4px; }
.resultBtn a { font-size:18px; line-height:18px; font-weight:800; color:#f36c3b; float:right; }
.resultBtn a span { font-size:20px; line-height:20px; font-weight:600; text-align:center; background:#f36c3b; padding:6px 20px; display:block; color:#fff; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; }
.bookBtn span {margin:20px 10px 0 0; background-color: #000a1e !important; }

.resultBaggage { display:inline-block; font-size:14px; color:#666; line-height:42px; font-weight:600; }
.resultBaggage i { font-size:16px; margin-right: 4px; }
.resultBtn-detail { display:inline-block; color:#4a4a4a; text-decoration:none;  padding:6px 10px; font-size:14px; font-weight:600; margin-right:10px; border:2px solid #f36c3b; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}
.resultBtn-detail:hover { text-decoration:none; color:#000; }
.resultBtn-detail i { margin-right: 4px;}

.duration {width:34%; float:left; margin:15px 2%;}
.duration .steps {color:#6e6e6e; font-size: 0.75em; text-align:center; display:block; clear:both; line-height:16px; font-weight:500;}
.duration .steps .stops{color:#c16262; display: inline;}
.duration .arrowDiv {background:#929192; color:#fff; font-size:0.875em; font-weight:bold; height: 2px; margin:6px 0 4px; position: relative; width: 100%;}
.duration .arrowDiv .arrow{position:absolute; right:-1px; top:-9px; z-index:1;}
.duration .arrowDiv .arrow i{color:#929192; font-size:18px; font-weight:bold; line-height:15px;}
.duration .arrowDiv .stps-one, .duration .arrow-area .stps-two {position:relative; top:-11px; text-align:center;}
.duration .arrowDiv .stps-one i, .duration .arrow-area .stps-two i {background:#fff; box-shadow:0 0 1px 2px #fff; -moz-box-shadow:0 0 1px 2px #fff; -webkit-box-shadow:0 0 1px 2px #fff; color:#666; font-size:0.7em; font-weight:700; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; width:10px; height:10px;}
.duration .arrowDiv .stps-two i:first-child{margin-right:1em;}
.fullDetails {width:100%; padding:15px 15px 0; background:#ccc; position:relative; overflow:hidden; display:none; border-bottom:solid 1px #d5d5d5;}
.detailsDiv { width:100%; margin-bottom:15px; position:relative; background:#fff; overflow:hidden; line-height:1; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20); -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20); box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20);}
.detailsHeads {width:100%; padding:0.25em 0.75em; overflow:hidden;}
.detailsHeads .tripTypeDiv {float:left; width:25%; margin-top:0.6875em;}
.detailsHeads .tripTypeDiv .tripType {background:#999; font-size:15px; font-weight:600; color:#fff; padding:0.35em 0; text-transform:uppercase; text-align:center; max-width:110px; min-width:110px;}
.headsCity {width:75%; float:left; font-weight:400; padding-top:0.25em;}
.headsCityCol { width:35%; float:left; color:#333; font-size:1.125em; text-transform:uppercase; font-weight:600;}
.headsCityCol span{font-size:12px; text-transform:none; display:block; padding-top:0.125em; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; line-height:16px; font-weight:500;}
.headsIcon {width:30%; border-top:dotted 1px #929192; float:left; position:relative; top:16px;}
.headsIcon i{position:absolute; font-size:20px; top:-10px; right:0; color:#929192; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.5); -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.headsCity .headsCityCol:last-child { text-align:right; }
.tripTime {width:100%; background:#ededed; position:relative; overflow:hidden; margin-top:0.25em;}
.tripDate {font-size:0.9375em; color:#383838; font-weight:500; padding:0.6125em 0.75em; float:left;}
.tripDuration {float:right; font-size:0.8125em; color:#383838; font-weight:500; padding:0.8125em 0.75em; }
.detailsSection {width:100%; padding:0 0.75em; overflow:hidden;}
.detailsRow{width:100%; overflow:hidden; clear:both; padding:1em 0 0.5em;}
.airlinesSection{width:25%; float:left;}
.airLogo {float:left; width:27px; height:27px;}
.airLogo img{width:100%; border:solid 1px #d2d2d2;}
.airName {float:left; font-size:14px; color:#1e1e1e; font-weight:600; padding-left:0.5em;}
.airName span {font-size:12px; font-weight:400; display:block; padding-top:0.25em;}
.detailsCity {width:55%; float:left;}
.detailsCity-col {width:45%; float:left; font-weight:400;}
.detailsCity-col bdo {font-size:1.125em; color:#343434; display:block; font-weight:500;}
.detailsCity-col p { font-size:0.6875em; color:#565555; text-align:left; line-height:14px; padding-top:0.25em; margin:0; }
.detailsCity .detailsCity-col:last-child, .detailsCity .detailsCity-col:last-child p { text-align:right; }
.summary-section .summary-details .deps{width:45%; float:right; font-weight:400; text-align:right;}
.summary-section .summary-details .deps .heads-text{font-size:1.125em; color:#343434; display:block; font-weight:500;}
.summary-section .summary-details .deps .mtext_detail{font-size:0.6875em; color:#565555; line-height:14px; padding-top:0.25em;}
.summary-section .summary-details .deps .mtext_detail span{color:#cc0001;}
.summary-section .summary-details .mtouchdown{width:100%; text-align:center; padding:0.75em 0 0; font-size:0.6875em; font-weight:400; color:#505050; clear:both;}
.baggageClass{width:18%; float:right; text-align:right;}
.baggageClass span { font-size:0.6875em; color:#333; font-weight:500; padding-bottom:0.75em; }
.baggageClass span i { margin-right: 6px;}
.stop-container{width:100%; text-align:center; font-size:12px; color:#544933; border-top:solid 1px #e9e9e9; border-bottom:solid 1px #e9e9e9; padding:0.75em 0; font-weight:600; margin: 0.5em 0 0.25em;}
.stop-container i{font-size:15px; color:#786b54; padding-right:0.25em;}
.stop-container em{font-size:11px; color:#ca0000; padding-left:0.6125em; text-transform:uppercase; font-style:normal;}
#close_fltDlt {position:absolute; top:9px; right:4px; color:#fff; font-size:1em; cursor:pointer; background:#ff7e00; border-radius:14px; -moz-border-radius:14px; -webkit-border-radius:14px; padding:2px 4px; z-index:1;}
#close_fltDlt:hover {background:#ff7e00;}

.notFound { width:75%; float:left; padding:30px 0 30px 22px; text-align:center; }
.notFound h2 { font-size:26px; font-weight:bold; color:#005dba; }
.notFound h3 a { font-size:26px; text-decoration: none; background: none; font-weight:bold; color:#333; margin:0 0 6px 0; text-align:center;}
.notFound p { font-size:16px; color:#333; margin:0px; text-align:center;}
.notFound img { margin:30px 0; width: auto;}
.notFound a { font-size:18px; font-weight:bold; color:#fff; text-decoration:none; background:#0071cc; line-height:54px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; padding:10px 50px }

/* Drop Down start*/
.prp_popup {position:relative; clear:both; }
.prsn_popup { padding:0 0px 0 0 !important; }
.prsn_popup input { cursor:pointer; width:100%; height:48px; padding:0 15px;}
.person_dropdown {background:#fff; border:1px solid #bbb; display:none; width:calc(100% - 0em); padding:7px; z-index:10; position:absolute;}
.person_dropdown label { color:#333; float:inherit; font-weight:600; font-size:14px; }
.slect_pssngr label{font-weight:600; font-size:13px;}
.slect_pssngr{ margin:0px; padding:0px; color:#000; border-bottom:1px solid #bbb; padding-bottom:7px;}
.slect_pssngr li{list-style:none; display:block; margin-bottom:15px;}
.slect_pssngr span{font-size:11px;}
.count_pssngr{float:right;}
.inpt_cout_pssngr{width:30px !important; float:left; color:#333 !important; padding:0px !important; height:30px !important; text-align:center; border-top:solid 1px #ccc !important; border-bottom:solid 1px #ccc !important; border-left:0px; border-right:0px;}
.count_pssngr a{margin:0px; float:left; text-align:center; padding:0px; text-decoration:none; color:#ccc;}
.count_pssngr em{min-width:30px; height:30px; margin:0px; text-align:center; border:solid 1px #ccc; line-height:30px; background:#fff; margin:0px;}
.slect_pssngr:last-child { border-bottom:1px solid #bbb;}
.combin_class{color:#bbb; padding:0px; padding-top:7px; padding-bottom:7px; border-bottom:1px solid #bbb;}
.combin_class ul{margin:0px; padding:0px; position:relative;}
.combin_class ul li{list-style:none;}
.combin_class ul li a{color:#000; text-decoration:none; padding-bottom:7px; display:block;}
.in_list_cls{color:#666;}
.in_list_cls input[type=radio]{margin:-2px 5px 0 0;}
.clss_done{padding:0px;} 
.clss_done a{padding:8px 20px; font-size:16px; font-weight:bold; background:#f36c3b; border-radius:4px; float:right; margin-top:7px; text-decoration:none; color:#fff;}

/* Drop Down End*/

#callpopup .btn-close, #myModal .btn-close, #noPopup .btn-close { position:absolute; right:20px; top:20px; }
#callpopup .modal-content { padding:20px 0 30px 0;}
#callpopup .modal-body { text-align:center; padding:0 20px;}
#callpopup .modal-footer { padding-top:0; display:block; text-align:center; border-top:none; }
#callpopup .modal-header { border-bottom:0px; padding:15px 15px 0 15px;}
#callpopup .modal-title { color:#333333; border:none; font-size:26px; line-height: 32px; text-align:center; font-weight:bold; width:100%; }
#callpopup .btn-primary { background:#d05630; border-color:#d05630; font-size:22px; padding:4px 20px}
#callpopup p { text-align:center; margin-bottom:15px; }
#callpopup .modal-title span { width:100%; float:left; text-align:center; margin-bottom:10px; color:#ff7e00; }
.callpopup-flightDlt { background:#f6f6f5; font-size:16px; color:#666666; padding:4px 20px; border-radius:30px; width:max-content; margin:0 auto; }
.callpopup-number { font-size:26px; color:#ff7e00; font-weight:bold; margin:10px 0 0 0; }

/* callBack Pop-up Start */
.callBack{width:100%; height:100%; background:rgba(0,0,0,.6); position:fixed; z-index:999999; top:0; margin-top:0px; left:0; display:none; }
.callBack_cntr {margin:0 auto; width:335px; }
.callBack_bx { width:100%; padding:30px 15px; text-align:center; background:#fff; color:#000; margin-top:75px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; display:inline-flex; position:relative; }
.callBack .es_cls_btn i { right:10px; top:8px; font-size:18px; position:absolute; cursor:pointer;}
.callBack_body {width:100%; }
.callBack_body .fa-bell { font-size:34px; color:#f36c3b; }
.callBack_body h3 { font-size:24px; font-weight:600; color:#555555; margin:15px 0 10px 0;}
.callBack_body h4 { font-size:16px; text-decoration:underline; font-weight:600; display: block; color:#212121; border-top:1px #ced4da solid; margin:0px 0 10px 0; padding:15px 0 0 0; }
.callBack_body p { font-size:16px; font-weight:100; color:#333; margin:0 0 15px 0; text-align: center;}
.callBack_body p small {font-size:12px; font-weight:bold; }
.callBack_body .form-control { padding:10px 15px; }
.callBack_body .btn-primary { background:#f36c3b; border-color: #f36c3b; font-size:20px; border:none; margin:15px 0; }
.callBack-number {font-size:18px; color:#f36c3b; font-weight:700; margin-bottom:10px; }
.callBack-number i { margin-right:2px;}
.callBack-whatsapp {font-size:14px; color:#2bb641; font-weight:bold; }
.callBack-whatsapp svg { margin-top:-4px; }
/* callBack Pop-up End */

/* Loading Page */
.flights-loading { height:100%; }
.process_banner {  background:#eeeeee; border:3px solid #aaaaaa; color: #555555; height:100%; position: fixed; z-index:999999; display: table; width: 100%; left:0px; top:0px;}
.search-details { text-align:center; color: #555555; margin-top:50px; /*display:table-cell;vertical-align: middle; */}
.search-details h3 { font-size:17px; margin:0; font-weight:bold;}
.search-details p { font-size:16px; margin:10px 0; text-align:center; }
.search-certified { margin-top:90px;}

.search-flightDetail { width:500px; padding:8px 0; margin:30px auto; background:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border:1px solid #cfcfcf; }
.flightDlt-row { width:100%; display:flex; }
.search-logo { margin:0 0 35px 0;}
.search-logo img { width:auto; }
.search-city { text-align:left; width:25%; display:inline-block; padding:0 20px; text-align:center; font-size:24px; margin:14px 0; }
.search-date { width:50%; display:inline-block; margin:16px 0; }

.plane_main { border-bottom:1px solid #000; width:100%; display:inline-block; margin:0 auto; position:relative;}
.plane_main::before { content:''; width:9px; height:9px; position:absolute; left:0px; top:-4px; background:#000; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.plane_main::after { content:''; width:9px; height:9px; position:absolute; right:0px; top:-4px; background:#000; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.plane_main bdo { background:#2297a7; color:#fff; font-size:12px; padding:4px 15px; position:absolute; left:50%; margin:-12px 0 0 -56px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }

.progressBar { margin:20px auto 0 auto; }
.meter { box-sizing: content-box; height: 20px; position: relative; }
.meter > span { width: 480px; display: block; height: 100%; border-radius: 20px; background-color: rgb(43, 194, 83); background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69% ); box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4); position: relative; overflow: hidden; }
.meter > span:after, .animate > span > span { content:""; position:absolute; top:0; left:0;  bottom:0; right:0; background-image:linear-gradient( -45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%,transparent); z-index:1; background-size:50px 50px; animation: move 0.8s linear infinite; border-top-right-radius:8px; border-bottom-right-radius:8px; border-top-left-radius:20px; border-bottom-left-radius:20px; overflow:hidden; }
.animate > span:after { display: none; }
@keyframes move { 0% { background-position: 0 0; } 100% { background-position: 50px 50px; } }
.red > span { background-image: linear-gradient(#2297a7, #2297a7); margin: 0 auto; }

/* Loading Page End */

/* About Start */
.top-banner_container {position: relative; width: 100%; padding:110px 0 0 0; background:#1793a3;}
.top-banner_container h1 {font-size: 1.5em;color: #fff;padding: 1.25em 0;display: block;font-weight: 600;}
.top-banner_container h1.tnc { padding-bottom: 4px;}
.top-banner_container p { font-size: 0.875em;color: #fff; padding-bottom: 2.75em;}

.body-wrapper {width: 100%; padding: 30px 0px; position: relative; overflow: hidden;}
.body-content {  width: 100%;margin: 0px; padding: 0px;}
.body-content .title { font-size: 20px; color: #000a1e; line-height: 20px; margin-bottom: 10px; font-weight: 500;}
.body-content h1.title { font-weight: 600;}
.body-content h2 { font-size: 20px; color: #000a1e; line-height: 20px; margin-bottom: 10px; font-weight: 500;}
.body-content .accordion-item h2 { margin-bottom:0px; }
.body-content p { font-size: 14px; line-height: 20px; margin-bottom: 15px;}
.body-content strong, .body-content b {font-size: 1em; font-weight: 600; color: #7f6632; padding-bottom: 2px; display: block;}
.body-content p b { display: inline;font-size: 13px; color: #000; line-height: 20px;font-weight: 500; padding: 0;}
.body-content ul {list-style: none;margin: 0px;padding: 0px;}
.body-content ul li { font-size: 14px; padding: 4px 0; display: flex;color: #444;}
.body-content ul li:before { content: '\f00c';font-family: 'FontAwesome'; margin-right: 5px;color: #000a1e; font-size: 15px; padding-top: 2px;}
.body-content ul li:first-child { padding-top: 0;}
.body-content .img-area { background: #fff; float: right; margin: 0 0 15px 20px; padding: 10px;box-shadow: 0 0px 5px 0px rgb(0 0 0 / 20%);}

/* Contact Start */
.address-container { width: 100%; list-style: none; margin: 0px;padding: 20px 0; overflow: hidden;display: flex; flex-wrap: wrap;}
.address-container li {width: 100%;border-bottom: dashed 1px #ccc; border-right: dashed 1px #ccc; padding: 0px 15px 15px 0; float: left; margin: 15px 0 0; min-height: 96px;}
.address-container li.right-box { border-right: none; padding: 0px 0 15px 15px;}
.address-container li:before { display: none;}
.address-container li:last-child {border-right: none;}
.address-content {font-size: 14px;color: #444; line-height: 20px;}
.address-content span { font-weight: 500; color: #f36c3b; font-size: 15px;}
.address-container .title { width: 100%; font-size: 20px; color: #000a1e; line-height: 20px;font-weight: 500;}
.frm-control { width: 100%;  margin-top: 1em; overflow: hidden; height: auto;}
.frm-control label { width: 100%; font-size: 0.8125em; color: #343434; padding-bottom: 0.5em; font-weight: 500;display: inline-block; padding-left: 0.15em;}
	.frm-control input {
		width: 100%;
		border: solid 1px #c6c6c6;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		padding: 0 0.5em;
		height: 48px;
		color: #555;
		font-size: 13px;
		font-family: 'Barlow', sans-serif;
		;
	}
.frm-control label span {color: #ce1313;}
.frm-control .title {font-size: 20px; color: #000a1e; line-height: 20px; margin-bottom: 0.6125em;font-weight: 500;}
.contact-container { width: 100%; margin: 0px; padding: 0px;}
.contact-container .left-section {width: 49%;float: left;}
.contact-container .left-section li { padding-bottom: 0.75em;}
.contact-container .right-section {width: 49%; float: right;}
.contact-container .right-section li {padding-bottom: 0.75em;}
.contact-container .left-section li:last-child {padding-bottom: 0px;}
.contact-container .right-section li:last-child {padding-bottom: 0px;}
.frm-control textarea {
	width: 100%;
	border: solid 1px #c6c6c6;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 0 0.5em;
	height: 136px;
	color: #555;
	font-size: 13px;
	font-family: 'Barlow', sans-serif;
}
.contact-container .right-section input {width: 60%;float: left;}
.frm-control .sub_btn, .frm-control input .sub_btn {width: auto;height: auto;background: #f36c3b; padding: 0.5em 1.5em;float: left;text-align: center;color: #fff; margin-top: 33px; margin-left:20px;font-size: 20px; font-weight: 600;cursor: pointer; font-family: 'Barlow', sans-serif; -webkit-appearance: none;-moz-appearance: none;border: solid 1px #f36c3b; text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.frm-control .sub_btn:hover, .frm-control input .sub_btn:hover {background: #f36c3b;}
.frm-control .tarea {height: 188px;}
/* Contact End */

/* City Landing Start */
.cityLanding { width:100%; float:left; clear:both; }
.cityLanding .head { width:100%; float:left; text-align:left; padding:45px 0 15px 0; }
.cityLanding .head h2, .cityLanding h2 { font-size:20px; color:#f36c3b; font-weight: 600; margin-bottom:6px; }
.cityLanding p { font-size:14px; color:#111236; font-weight:normal; }
.cityAirline { width:100%; float:left; }
.cityTxt { padding:30px 0; width:100%; float:left; }

.pageLocation { padding:20px 0; color:#666; }
.pageLocation a { text-decoration:none; color:#333; font-weight:bold; }
.cityDo i { font-size:26px; color:#0062ad; }
.cityDo p { margin:3px 0; font-size:13px;  }
.cityDo h2 { color:#f36c3b}

.citySlider { background:#f2f2f2; width:100%; float:left; padding:60px 0; margin:30px 0;}
.citySlider h2 { font-size:20px; font-weight:bold; color:#1246ac; margin-bottom:6px; }
.citySlider p { font-size:16px; }
.landingSlider .owl-nav { width:1320px; margin:-24px 0 0 -660px; height:44px; padding:0 15px; position:absolute; left:50%; top:50%; }
.landingSlider .owl-nav span { font-size:40px !important; font-family:arial; font-weight:bold; line-height:26px; }
.landingSlider .owl-nav .owl-prev { position:absolute; left:-50px; display:block; width:44px; height:44px; color:#fff !important; background-color:#f36c3b !important; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; filter: Alpha(Opacity=100); opacity: 1;}
.landingSlider .owl-nav .owl-prev:hover{ color:#fff !important; background-color:#1347ac !important; }
.landingSlider .owl-nav .owl-next { position:absolute; right:-50px; display:block; width:44px; height:44px; color:#fff !important; background-color:#f36c3b !important; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; filter: Alpha(Opacity=100); opacity: 1;}
.landingSlider .owl-nav .owl-next:hover{ color:#fff !important; background-color:#1347ac !important; }

.countryKeyword { padding:30px 0;}
.countryKeyword h2 { font-size:20px; font-weight:bold; color:#1246ac; }
.countryKeyword h3 { font-size:16px; font-weight:normal; color:#000; }
.keywordBox { background:#f0f3fa; padding:15px; margin:10px 0; width:100%; float:left; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.keywordBox h2 { color:#242424; font-size:18px; font-weight:bold; margin-bottom:5px; }
.keywordRow { width:100%; float:left; margin-top:6px; }
.keywordRow a { color:#242424; font-size:16px; text-decoration:none; line-height:26px; }
.keywordCity { float:left; }
.keywordPrice { float:right; background:#fff; padding:0 10px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }

.cityBoxes {width:100%; float:left; }
.cityBox { background:#fff; height:80px; margin:15px 0; overflow:hidden; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; }
.cityImg { float:left; width:25%; height:100%; margin:0px; }
.cityImg img { width:100%; height:100%; }
.cityBoxTxt { padding:12px; width:75%; float:left; color:#000; }
.cityName { font-size:13px; float:left; width:60%;}
.cityName b { font-size:18px; font-weight: 600; }
.cityPrice { width:40%; float:right; text-align:right; font-size:20px; margin:10px 0 0 0; color:#f36c3b; font-weight:600; }
.cityPrice small { font-size:13px; font-weight:normal; }

.cityKeyword a { font-size:14px; line-height:30px; color:#111236; text-decoration:none; }

.classTabs { margin:0px;}
.classTabs .ui-tabs-nav { border-bottom:1px solid #f0f0f0 !important; }
.classTabs .ui-tabs-nav li { width:auto;}
.classTabs #fragment-1 ul { padding:0 0 0 15px; }
.classTabs .ui-tabs-panel { padding:10px 0 0 0; }
.classTabs .ui-widget-header { background:none; border:0px;}
.classTabs .ui-widget-content { border-radius:0px; margin-bottom:30px; }
.classTabs .ui-state-default a { color:#0f4da8 !important; font-weight:bold; background:none !important; }
.classTabs .ui-tabs-active, .classTabs .ui-state-active a { border-bottom:3px solid #0f4da8; color:#0f4da8 !important; background:#fff !important; }
.classTabs .ui-state-hover a { border-bottom:3px solid #0f4da8; color:#0f4da8 !important; background:#fff !important; }
.classTabs .ui-state-default { background:none; }

.countryTab { margin-top:0px; }
.countryTab h2 { margin:0 0 10px 0 !important; }
.countryTab .mat-tab-label { min-width: auto; padding: 0 15px;}
.countryTab .mat-tab-body-wrapper { overflow: inherit; display: block;}
.countryTab .mat-tab-body.mat-tab-body-active { overflow: inherit;}
.countryTab .mat-tab-body-content { border:1px solid #e9e8e8; margin:15px 0; width:100%; float:left; padding:15px; }
.countryTab .mat-tab-body-content h3 { font-size:16px; margin-bottom:0px; }
.countryTab .mat-tab-body-content h3 a { color:#d54045; }
.countryTab .mat-tab-body-content a { text-decoration:none; }
.countryTab .mat-tab-body-content ul { list-style:none; padding:0px; margin-bottom:15px; }
.countryTab .mat-tab-body-content li a { padding:10px 0; border-bottom: 1px solid #e9e8e8; width:100%; display:block; color:#333; }


.moreDeals { padding:0 0 35px 0; float:left; width:100%; }
.moreDeals-head { font-size:16px; font-weight:600; padding-bottom:10px; }
.moreDeals .col-lg-3 { width:21.5%; }
.moreDeals .col-lg-2 { width:15%; }
.moreDeals-deal { padding-top:20px; padding-bottom:20px; border-top:1px solid #dfdcdb; font-size:14px; }
.moreDeals-deal [class*="col-"]:last-child { width:18.3%;}
.moreDeals-deal a { font-size:15px; margin-top:4px; font-weight:600; float:right; color:#fff; text-transform:uppercase; text-decoration:none; background:#f36c3b; padding:6px 20px; text-align:center; border-radius:3px;}
.moreDeals-airlines { width:54px; height:54px; display:flex; align-items:center; justify-content:center; border: 1px solid #ccc; }
.moreDeals-airlines img { width:auto; }
.moreDeals-price { font-size:26px; font-weight:600; color:#333; }
.moreDeals-price small { font-size:18px; }


/* City Landing End */

.airlineContact img	 { width: auto;}
.resultsBody { width: 100%; overflow: hidden; }
.resultsBody .tittle { margin: 20px 0 !important; }
.resultsBody .tittle a { color: #555; }
.resultsBody .container { width: 1100px;}
.airline-txt table { color: #555 !important; font-size: 14px !important; font-weight: normal !important;}
.airline-txt { padding-bottom: 30px;}

.airlineContact { background:#fff; padding:10px 20px 20px 20px;}
.airlineContact p { font-size:14px; color:#555; margin:0 0 15px 0;}
.airlineContactNo { font-size:26px; color:#d54045; font-weight:bolder;}
.moreAirlines { background:#fff; margin:0 0 20px 0; padding:0px 20px 5px 20px;}
.moreAirlines  h3 { font-size:18px; font-weight:bold; color:#29523d; margin:0 0 10px 0; }
.moreAirlines ul { list-style:none; padding:0px; margin:0px;}
.moreAirlines li { padding:4px 0; }
.moreAirlines a { font-size:14px; color:#555;  }
.moreAirlines a:hover { text-decoration:none; }
.moreAirlines img { width:18px; height:18px; vertical-align: middle; margin:-4px 4px 0 0; }

.atolImg { width: 100%; clear: both;}
.atolImg img {max-width: 100%; text-align: center;}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{background:#e1e1e1; color:#000}
.ui-widget { font-size:16px;}
.ui-front { z-index:99999;}
.ui-menu .ui-menu-item { border-bottom: 1px solid #c5c5c5; }
.ui-menu .ui-menu-item-wrapper { padding: 8px 10px;}

/*Calendar*/
.ui-datepicker { background-color:#fff; border:1px solid #dedede; padding:0 0 2px 0; width:280px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; -moz-background-clip:padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.ui-datepicker .ui-datepicker-header { background-color: transparent; border: 0; padding: 0; border-bottom: 1px solid #dedede; position: relative; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-header .ui-datepicker-next { position: absolute; width: 45px; height: 100%; display: block; top: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; cursor: pointer; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover { background-color: #dedede; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-header .ui-datepicker-next span { display: none; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {left: 0;background: url('http://localhost:14880/Content/images/icon-arrow-left-blue.png') no-repeat 50% 50%;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {right: 0;background: url('http://localhost:14880/Content/images/icon-arrow-blue.png') no-repeat 50% 50%;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title { color: #d54045; /* font-family: 'Open sans';*/ font-weight: 600; font-size: 16px; line-height: 40px; margin: 0 45px; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity:.75; }
.ui-datepicker-unselectable .ui-state-default { margin: 2px 0; display: inline-block; border: 0px; width: 35px; height: 35px; padding: 0; line-height: 34px; text-align: center; color: #000; font-size: 14px; font-weight: 300; font-family: 'Open sans'; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; }
.ui-datepicker .ui-datepicker-calendar { margin: 0; }
.ui-datepicker .ui-datepicker-calendar th { font-weight: 600; /*font-family: 'Open sans';*/ color:#d54045; font-size: 14px; padding:8px 3px 6px 3px; }
.ui-datepicker .ui-datepicker-calendar td { text-align: center; }
.ui-datepicker .ui-datepicker-calendar td a { margin: 2px 0; display: inline-block; border: 0px; width: 34px; height: 34px; padding: 0; line-height: 32px; text-align: center; color: #000; font-size: 14px; font-weight: 300;/* font-family: 'Open sans';*/ -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; }
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today.ui-datepicker-current-day a { background-color: #85c633; border-width: 0; color: #fff; }
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a { border-width: 0; background-color: #d54045; color: #fff; }
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month a { border-width: 0; color: #fff; }
.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover { background:#f8bb00; color:#fff !important;}
.ui-widget-content { border:1px solid #aaa; background:#fff; border-radius:4px;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { border:1px solid #dedede; }
.ui-datepicker .ui-datepicker-title select { font-size:15px; }
/*End Calendar*/

/* Booking start */
.bookingCol { width:75%; padding-right: 22px; float:left; margin-bottom: 15px; }
.summaryCol {
	width: 25%;
	float: left;
	font-family: 'Barlow', sans-serif;
	margin-bottom: 15px;
}
.bookingDlt { padding-top:175px; }
.bookingDlt h1 { margin:0px; }

.flightDlt {}
.flightDlt .resultDetail-row:nth-child(2) { background:#fff; }
.flightDlt .resultDetail-row { border-bottom:0px; padding-bottom:0px; }
.flightDlt .resultDetail-row .resultCity:last-child, .flightDlt .flightDlt-head .resultCity:last-child { float:right; }
.flightDlt .resultCity p { color:#f36c3b }
.flightDlt-head .resultCity p { color:#666 }
.flightDlt-head	{ padding:12px 0px; border-bottom:1px solid #e5e5e5; width: 100%; float: left; }
.flightDlt-head .resultAirlines bdo { background:#51638a; letter-spacing:1px; color:#fff; font-size:16px; padding:0px 10px 2px 10px; font-weight:600; text-transform:uppercase; float:left; }
.flightDlt-head .resultCity { padding-top:0px; }
.flightDlt-head .resultCity bdo { line-height:18px; }
.flightDlt-head .duration { margin:9px 2%; }
.stopover-row { background:#ededed; text-align:center; font-size:12px; padding:6px 0; font-weight:600; width:100%; float:left; }
.date-row { background:#ededed; padding:6px 20px; width:100%; float:left; color:#666; }
.flightDlt-date { float:left; font-size:16px;  font-weight:600;  }
.flightDlt-stop { float:right; font-size:12px; }
.flightDlt-stop bdo { margin-left:18px; font-weight:600; }
.flightDlt-baggage { width:100%; float:left; color:#666; text-align:right; font-size:12px; font-weight:600; padding:0 20px 20px 0; }
.flightDlt-baggage i { font-size:16px; margin-right:4px; }

.booking-price { text-align:right; }
.booking-price p { margin-bottom:6px; text-align:right; font-size:13px;}
.booking-price p small{ color:#19810d; margin:10px 0 0 0; font-size:11px; }
.booking-price .rltPrice { font-size:23px; font-weight:600; color:#f36c3b;}
.booking-price .rltPrice small { font-size:18px; font-weight:600; color:#666;}
.booking-price .btn	{background:#f36c3b; border-color:#f36c3b; border-radius:3px; margin-bottom:6px;  }
.bookingCheck { width:100%; float:left;}
.bookingCheck .alert { display:flex; content-align:top; position: relative;}
.bookingCheck label { margin-left:10px; font-size:13px; }

.bookingBox { width:100%; background:#fff; float:left; margin-bottom:30px; box-shadow:0px 0px 4px rgba(0,0,0,0.2); -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2); }
.bookingBox .cardsImg { width:30%; padding:16px 0 0 16px; margin-bottom:-10px; }
.bookingBox h3 { font-size:16px; font-weight:600; padding:16px; border-bottom:1px solid #e4e4e4; }
.bookingBox p { font-size:14px; color:#f36c3b; padding:10px 16px; background:#ededed; border-bottom:1px solid #e4e4e4; }
.bookingBox .form-group { padding:16px;}
.bookingBox .form-control, .bookingBox .form-select { border-radius:3px; border-color:#c6c6c6; font-size:14px; padding:8px 12px; }
.bookingBox label { font-size:13px; color:#343434; font-weight:600; }
.bookingBox .row { margin-left:-6px; margin-right:-6px; }
.bookingBox [class*="col-"] { padding-left:6px; padding-right:6px; }
.bookForm-msg { font-size:11px; color:#777; margin-left:-6px; margin-bottom:15px;}
.mb-15 { margin-bottom:15px; }

.radio_row { width:100%; float:left; margin:0 0 15px 0;}
.radio_title { margin:0; float:left; position: relative;}
.radio_title label { padding-left:20px; color:#666; border:1px solid #c6c6c6; padding:10px 10px 10px 30px; width:100%; cursor:pointer; }
.radio_row .radio_title:first-child label { border-right:none; border-top-left-radius: 3px; border-bottom-left-radius: 3px; border: 1px solid #c6c6c6;}
.radio_row .radio_title:last-child label { border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.radio_title .checkbox { display:none;}
.radio_title span { float:left; }
.radio_title .radias {position: absolute; top:13px; left:10px;height: 14px;width: 14px; background-color:#fff; border:2px solid #666; border-radius: 50%;}
.radio_title input[type=radio]{visibility:hidden;}
.radio_title input:checked ~ .radias {background-color: #fff; border:2px solid #666;}
.radio_title .radias:after {content: "";position: absolute;display: none;}
.radio_title input:checked ~ .radias:after {display: block;}
.radio_title .radias:after {top: 2px;left: 2px;width: 6px;height: 6px;border-radius: 50%;background: #666;}

.bookingCall { margin-bottom:25px; }
.bookingCall img { width:73px; top:0; position:absolute; border:1px solid #dadada; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; box-shadow:0px 0px 4px rgba(0,0,0,0.2); -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2); }
.bookingCall-txt { width:100%; margin:7px 0; border:1px solid #dadada; background:#fff; -webkit-border-radius:40px; -moz-border-radius:40px; border-radius:40px; }
.bookingCall-txt a { text-decoration:none; display:block; padding:10px 0 6px 80px; }
.bookingCall-txt p { font-size:13px; color:#343434; line-height:16px; }
.bookingCall-txt span { font-size:18px; line-height:18px; color:#f36c3b; font-weight:600; }

.summaryDiv { margin-bottom:10px; background:#f3f3f3; box-shadow:0px 0px 4px rgba(0,0,0,0.2); -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2); }
.summaryHead { border-bottom:1px dashed #b8b8b8; padding:6px; margin-bottom:7px; }
.summaryHead h4 { font-size:18px; font-weight:600; color:#4a4a4a; margin-bottom:4px; }
.summaryHead h5 { font-size:12px; font-weight:400; color:#5f5e5e; }

.summaryDiv p { font-size:12px; margin:0px;}
.summaryFlt-row { margin:12px 0; float:left; width:100%; padding:0 6px; }
.summAirline { width:35px; float:left;}
.summAirline p { line-height:10px; }
.summAirline img { width:33px; height:33px; border:1px solid #d2d2d2; background:#fff; padding:1px; }
.summCity-row { display:flex; }
.summCol { width:calc(100% - 35px); float:left; padding-left:6px; }
.summCity { width:28%; float:left; font-size:18px; font-weight:600; line-height:18px; }
.summCity:last-child { float:right; text-align:right;}
.summCol .summCity:last-child { text-align:right; }
.summCity-row .duration { width:60%; margin:4px 0px 0 0px; }
.summDate { font-size:12px; color:#f36c3b; width:49%; display:inline-block; }
.summCol .summDate:last-child { text-align:right; }
.sumBaggage-row { border-top:1px dashed #b8b8b8; border-bottom:1px dashed #b8b8b8; float:left; display:flex; width:100%; padding:5px 6px; margin:7px 0; font-size:13px;}
.sumBaggage-row span { width:50%; }
.sumBaggage-row span:last-child { text-align:right; }

.sumPrice { padding:10px 6px; float:left; width:100%;}
.sumPrice h4 { font-size:14px; font-weight:600; margin-bottom:6px; }
.sumPrice-row { float:left; width:100%; padding:3px 0; font-size:13px; font-weight:600; color:#555; }
.sumPrice-row i { font-size:18px; }
.sumPrice-row bdo { float:right; text-align:right; }
.sumPrice-row span { float:left; }
.fa-infant { width:11px; height:17px; background:url(../images/infant.png) 0 0px no-repeat; margin-bottom:-2px; }

.sumTotal-row { border-top:1px dashed #b8b8b8; border-bottom:1px dashed #b8b8b8; float:left; width:100%; padding:0px 6px; }
.sumTotal-row bdo { font-size:24px; font-weight:600; color:#f36c3b; float:right; }
.sumTotal-row span { font-size:16px; line-height:34px; font-weight:600; color:#555555; }
.summTxt { padding:10px 6px; font-size:12px; font-weight:400; }
	
/* .summaryFlt-row  p{ margin:0; width:100%; float:left; font-size:12px; } */


.summIcon { width:26%; float:left; margin:20px 0 0 0; border-bottom:1px dashed #b8b8b8; position:relative; }
.summIcon i { position:absolute; top:-6px; left:50%; margin:0 0 0 -4px; transform: rotate(45deg); }

.guarantee { background:#f36c3b; color:#fff; padding:5px 10px; font-size:24px; font-weight:600;}


/* Booking end */

/* Payment success and error start */
.payment_process { }
.payment_msg { background:#4bae4f; padding:110px 0 55px 0; color:#fff; text-align:center; }
.payment_msg h2 { font-size:24px; line-height:30px; font-weight:bold; margin:10px 0 15px 0; }
.payment_msg p { font-size:15px; text-align:center; }
.payment_msg i { font-size:36px; }
.payment_error .payment_msg { background:#a94442; padding:65px 0 55px 0; color:#fff; text-align:center; }
.payment_error .paymentContact { padding-top:45px;}
.payment_process h3 { font-size:18px; color:#00007f; font-weight:bold; margin-bottom:15px; }
.payment_process .fltDetail { border:none; }
.fltWay { border:1px solid #828282; border-radius:6px; float:left; width:100%; margin-bottom:20px; background:#fff; overflow:hidden; }
.fltWay .fltDetail-row:last-child { border-bottom:0px; }
.fltWay h4 { font-weight:normal; background:#828282; color:#fff; margin:0px; padding:10px 15px; }
.fltWay h4 strong, .fltWay h4 i { margin-right:10px; }
.bookingDetail { width:100%; float:left; padding:40px 0 35px 0; font-size:16px;}
.bookingTxt { float:left; line-height:32px; }
.bookingTxt h3 { margin-bottom:6px; }
.barCode { float:right; max-width:fit-content; }
.barCode p { text-align:center; letter-spacing:1px; margin-bottom:0px; }
.paymentContact { text-align:left; padding:20px 0; }
.paymentContact i { font-size:40px; color:#666; margin-right:10px; float:left; }
.paymentContact a { color:#666; text-decoration:none; display:block; }
.paymentContact p { font-size:12px; }
.paymentContact h5 { font-size:14px; font-weight:bold; }

.fltDetail-row { border-bottom:1px dashed #ccc; padding:15px; float:left; width:100%; }
.fltDtl-airline { width:20%; float:left; }
.fltDtl-city { width:20%; float:left; }
.fltDtl-duration { width:40%; float:left; text-align:center; }
.fltDtl-duration p { text-align:center; }
.fltDetail .fltDtl-city:last-child, .fltDetail .fltDtl-city:last-child p { text-align:right;}
.fltTime-row { border-bottom:1px dashed #ccc; padding:8px 10px; float:left; width:100%; font-size:12px; text-align:center; color:#333;}
.stopRed { color:#ff0000; text-transform:uppercase;}

.dltAirline-icon { width:30px; height:30px; float:left; margin-right:8px;}
.dltAirline-icon img { width:100%; height:100%;}
.fltDetail-code { font-size:17px; line-height:20px; font-weight:bold; color:#333;}
.fltDetail p {font-size:12px; color:#333; margin:0px;}
/* Payment success and error end */

/* Size 1 */
@media (max-width: 1199px) {
.modify { padding:0 2%; }
.modify .searchDetail { padding-top:170px; }
.modify .bookingDlt { padding-top:180px; }
.nav > ul > li > a { padding:37px 8px 14px 8px; }
.headerPone p { font-size:13px; margin: 50px -7px 0 5px;}
.bookingCall-txt span { font-size:15px; }
}
/* Size 2 */
@media (max-width: 991px) {
	.listing { padding:15px 0 0 0;}
	.result { width:100%; padding-left:0px; }
	.filterHead-mobile, .filterBtn { display:block; }
	.filter { width:21.875em; position:fixed; height:100%; opacity:0; left:-320px; z-index:10001; top: 0px; visibility:hidden; transition: all 0.35s ease-out; -webkit-transition: all 0.35s ease-out; -moz-transition: all 0.35s ease-out; -ms-transition: all 0.35s ease-out; -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); } 
	.filterOpen {visibility:visible; left:0px; opacity:1; transition: all 0.35s ease-out; -webkit-transition: all 0.35s ease-out; -moz-transition: all 0.35s ease-out; -ms-transition: all 0.35s ease-out;}
	.filter h2 { padding:4px 10px; width:100%; float:left; }
	.filterDiv {width: 100%; margin: 0; position: absolute; z-index: 9999999; overflow-y: scroll; top: 72px; background: #fff; }
	.filterBody { height:100%; width:100%; overflow:hidden; position:fixed; }

	.moreDeals-head { display:none; }
	.moreDeals-deal { font-size:16px; }
	.moreDeals-deal .row .col-lg-3:nth-child(3) { display:none; }
	.moreDeals-deal [class*="col-"] { width:100% !important; margin-top:10px; text-align:center; }
	.moreDeals-deal a { float:none; margin:0px; text-transform:uppercase; }
	.moreDeals-duration { margin:0px auto; font-size:13px; float:none; width:max-content; }
	.moreDeals-airlines { margin:0 auto; }
	.atolImg { margin-top: 15px; }
	.notFound { width:100%; padding:0 0 15px 0; }
	.notFound img { display:none; }
	.notFound p { font-size:14px; }
	.bookingCol { width:100%; padding-right:0px; }
	.summaryCol { display:none; }
	
}
/* Size 3 */
@media (max-width: 767px) {
	.modify { min-height:180px; }
	.modify .searchDetail { padding-top:130px; }
	.duration { width:20%; }
	.search-flightDetail, .progressBar { width:96%; }
	.meter > span { width:100%; }
	.search-logo { width:96%; margin:0 auto 20px auto;}
	.search-logo img { width:auto; }
	.flightDlt .resultCity p { font-size:12px; }
	.resultBtn-detail i { display:none; }
	.resultBtn-detail { font-size:13px; }
	.resultBtn a span { font-size:17px; }
	.resultBaggage { font-size:12px; }
}
/* Size 4 */
@media (max-width: 575px) {
	.filterBtn, .searchDetail-txt bdo, .searchDetail-txt span { font-size:12px; }
	.resultDetail-row { padding:10px 0; }
	.resultAirlines { width:100%; }
	.duration, .resultCity { width:32%; }
	/*.resultAirlines span { display:none; }*/
	.resultCall a { font-size:16px; }
	.resultBtn-detail, .resultBaggage { font-size:13px; }
	.resultPrice { font-size:26px; }
	.resultBtn a span { font-size:18px; }
	.resultBtn a { font-size:14px; }
	.resultBaggage { line-height:34px; }
	.filterBtn a { font-size:14px; }
	.headsCity { width: 100%; }
	.detailsHeads .tripTypeDiv { margin-bottom: 10px; width: 100%;}
	.detailsCity { width: 75%;}
	.baggageClass { width: 100%; margin-top: 10px; text-align: left; }
	.detailsCity-col { width: 50%;}
	.flightDlt-head .resultAirlines { width:22%; }
	.flightDlt-head .resultCity p { display:none; }
	.flightDlt-head .resultCity { width:20%; padding:4px 0;}
	.flightDlt-head .duration { margin:7px 2%; }
	.flightDlt-baggage { border:1px solid #ccc; text-align:center; padding:4px 0; margin:3%; width:94%; border-radius:6px;  }
	.resultBtn { width:100%; }
	.resultBtn a { width:50%; text-align:center; }
	.fltDtl-city {
		width: 36%;
		float: left;
	}
	.fltDtl-duration {
		width: 1%;
		float: left;
		text-align: center;
	}
	.fltDtl-airline {
		width: 25%;
		float: left;
	}
	.payment_msg {
		padding: 130px 0 55px 0;
	}
}
/* Size 5 */
@media (max-width: 480px) {    
    .bcf-header .navbar .logo { width:153px; height: 52px; background:url("../images/logo_small.png"); margin: 10px 0; }
	.flightDlt-head .duration { width:25%; }
}
/* Size 6 */
@media (max-width: 360px) {    
    
}