
@{
    ViewBag.Title = "airasiacancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>24hours Cancellation policy, Fee & Refund of AirAsia Flights</title>
    <meta name="description" content="Pay the cancellation fee as per the AirAsia Cancellation Policy. Cancel Flight ticket within 24 hours of booking before the flight’s departure at least 7 days later. ">
    <link rel="canonical" href="https://www.faresmatch.com/air-asia-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-asia-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="24hours Cancellation policy, Fee & Refund of AirAsia Flights">
    <meta property="og:description" content="Pay the cancellation fee as per the AirAsia Cancellation Policy. Cancel Flight ticket within 24 hours of booking before the flight’s departure at least 7 days later. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-asia-cancellation-policy.aspx">
    <meta name="twitter:title" content="24hours Cancellation policy, Fee & Refund of AirAsia Flights">
    <meta name="twitter:description" content="Pay the cancellation fee as per the AirAsia Cancellation Policy. Cancel Flight ticket within 24 hours of booking before the flight’s departure at least 7 days later.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }
    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "24hours Cancellation policy, Fee & Refund of AirAsia Flights",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/air-asia-cancellation-policy.aspx"
         }
    </script>

    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>AirAsia Cancellation policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
               

                <p class="text-justify">AirAsia is the largest multinational low-cost airline in Malaysia. The airline operates domestic and international flights to more than 165 destinations spanning 25 countries. Air Asia is also named as the world's best low-cost carrier for 11 years by Skytrax in a row in international travel and airline awards, including the latest award for 2019. </p>
                <p class="text-justify">The airline connects many small villages, towns, islands, and other small civilizations with huge multinational hubs, and big cities with sky-piercing skyscrapers. It also operates services for the exchange of goods and services, therefore increasing business and trade and bringing new opportunities in the places which were previously lifeless and monotonous. If you are planning for a vacation, make sure you <a href="https://www.faresmatch.com/">book flight tickets</a> from AirAsia and save money on your airfare. For your convenience, here’s the <a href="https://www.faresmatch.com/air-asia-cancellation-policy.aspx">cancellation policy of Air Asia</a>. </p>
                <h2>Cancellation policy </h2>
                You can cancel your flight ticket if the airline cancels your flight and reschedules a flight that departs at least 3 hours before/after your original flight. You can also cancel the reservation if you have made a duplicate booking on the same flight with the same guests, and on the same date. </p>
                <h3>Refund policy </h3>
                <p class="text-justify">If you cancel your flight ticket within 24 hours and your flight’s departure is at least 7 days later, you are eligible to apply for a refund. If you cross the cancellation window, you will have to pay the cancellation fee as per the fare rules and class of service. </p>
                <h4>Frequently asked question</h4>
                <h3 class="text-justify">How to cancel a flight ticket with AirAsia? </h3>
                <p class="text-justify">You can call the AirAsia customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">When can I make the request for the refund? By when can I expect it? </h3>
                <p class="text-justify">You can make a request for a refund on the AVA icon available on AirAsia’s official website. The refund request takes time to be processed and can be granted within 7 to 10 working days. </p>
                <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
                <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
                <h3 class="text-justify">How to check if my flight is refundable? </h3>
                <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the AirAsia website will display refund eligibility and information. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "How to cancel a flight ticket with AirAsia?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can call the AirAsia customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "When can I make the request for the refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can make a request for a refund on the AVA icon available on AirAsia’s official website. The refund request takes time to be processed and can be granted within 7 to 10 working days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How to check if my flight is refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the AirAsia website will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>