
@{
    ViewBag.Title = "airchinaairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancel Flight on Air China Airlines, Read Cancellation Policy</title>
    <meta name="description" content="Check cancellation policy, ongoing offers, and deals on flight booking on Air China Airlines. You will get a full refund if the ticket canceled within 24-hours. ">
    <link rel="canonical" href="https://www.faresmatch.com/air-china-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-china-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancel Flight on Air China Airlines, Read Cancellation Policy">
    <meta property="og:description" content="Check cancellation policy, ongoing offers, and deals on flight booking on Air China Airlines. You will get a full refund if the ticket canceled within 24-hours.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-china-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancel Flight on Air China Airlines, Read Cancellation Policy">
    <meta name="twitter:description" content="Check cancellation policy, ongoing offers, and deals on flight booking on Air China Airlines. You will get a full refund if the ticket canceled within 24-hours.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}
<script type="application/ld+json">
    {
     "@@context": "https://schema.org/",
     "@@type": "WebPage",
     "name": "Cancel Flight on Air China Airlines, Read Cancellation Policy",
     "speakable":
     {
      "@@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@@name='description']/@@content"
        ]
      },
     "url": "https://www.faresmatch.com/air-china-airlines-cancellation-policy.aspx"
     }
</script>


<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Air China Airlines Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">
           
            <p class="text-justify">Air China is a China-based airline headquartered in Shunyi District, Beijing. The airline extends its services throughout Asia to the Middle East, Western Europe, and North America from its hubs at Beijing Capital International Airport and Chengdu Shuangliu International Airport and has currently reached a significant number of Asian, Australian, and European destinations from Shanghai. Air China also operates some international routes operate from Chengdu, Chongqing, Dalian, Hangzhou, Kunming, and Xiamen. </p>
            <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/air-china-airlines.aspx">book flight tickets from Air China</a>, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of Air China’s <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p class="text-justify">According to <a href="https://www.faresmatch.com/air-china-airlines-cancellation-policy.aspx">Air China’s cancellation policy</a>, if you cancel your flight ticket within 24 hours of booking if you purchased the ticket seven days before the departure, you don’t have to pay any cancellation fee. If you couldn’t board the flight due to any medical disturbance or the demise of a family member, you can claim a complete refund without any extra charges or reschedule the flight. If you have a non-refundable ticket, you can get travel credit that you can use to purchase the flights in the future. </p>
            <p>If the airline cancels your flight, the airline will either reschedule the flight or issue the complete refund at your original payment source. </p>
            <h3>Refund Policy</h3>
            <p class="text-justify">If you cancel your <a href="https://www.faresmatch.com/">flight ticket</a> within 24 hours of booking if you purchased the ticket seven days before the departure, you can claim a full refund. In case you cancel a non-refundable ticket, you can avail e-vouchers to book flights in the future. For a refundable ticket, you will receive the refund after the deduction of cancellation fees. </p>
            <h4>Frequently asked question</h4>
            <h3 class="text-justify">How to cancel a flight ticket with Air China? </h3>
            <p class="text-justify">If you wish to cancel the flight ticket, you may call the Interjet Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">In order to make a request for a refund, you can visit the official website of Air China or call customer care. The airline believes in building a relationship with customers for the long run and therefore, they ensure that the refundable amount gets processed in 7 to 10 business days. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">Is my flight refundable? </h3>
            <p class="text-justify">Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Air China website will display refund eligibility and information. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Air China?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you wish to cancel the flight ticket, you may call the Interjet Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "In order to make a request for a refund, you can visit the official website of Air China or call customer care. The airline believes in building a relationship with customers for the long run and therefore, they ensure that the refundable amount gets processed in 7 to 10 business days."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Is my flight refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Air China website will display refund eligibility and information."
                    }
                  }]
                }
            </script>
        </div>
    </div>
</section>