
@{
    ViewBag.Title = "airindiarefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Air India Refund Policy | Rules and Refund Process- FaresMatch</title>
    <meta name="description" content="Air India’s Refund policy allows passengers to apply for a refund by submitting the ticket if it is unutilized or partially utilized, within 12 months after the expiry of the ticket's validity.">
    <link rel="canonical" href="https://www.faresmatch.com/air-india-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-india-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Air India Refund Policy | Rules and Refund Process- FaresMatch">
    <meta property="og:description" content="Air India’s Refund policy allows passengers to apply for a refund by submitting the ticket if it is unutilized or partially utilized, within 12 months after the expiry of the ticket's validity.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-india-refund-policy.aspx">
    <meta name="twitter:title" content="Air India Refund Policy | Rules and Refund Process- FaresMatch">
    <meta name="twitter:description" content="Air India’s Refund policy allows passengers to apply for a refund by submitting the ticket if it is unutilized or partially utilized, within 12 months after the expiry of the ticket's validity.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}
<script type="application/ld+json">
    {
     "@@context": "https://schema.org/",
     "@@type": "WebPage",
     "name": "Air India Refund Policy | Rules and Refund Process- FaresMatch",
     "speakable":
     {
      "@@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@@name='description']/@@content"
        ]
      },
     "url": "https://www.faresmatch.com/air-india-refund-policy.aspx"
     }
</script>


<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Air India Airlines Refund Policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">
            

            <p class="text-justify">Air India airline has a good <a href="https://www.faresmatch.com/air-india-refund-policy.aspx">refund policy</a>. It allows passengers to apply for a refund by submitting the ticket if it is unutilized or partially utilized. Earlier, the time limit for submitting the ticket was within 12 months after the expiry of the ticket's validity, but now, this time limit has changed with effect from 1 October 2018. The new time limit for submitting the ticket is still 3 months from its expiry date or 15 months from the date of allotment. </p>
            <h2>Air India Refund Conditions</h2>

            <p class="text-justify">Fare criteria control all <a href="https://www.faresmatch.com/">plane tickets</a>, and they influence the ticket's price. Fares tend to change depending on the fare circumstances. The most flexible fares come with the fewest restrictions and are also the most expensive. When you <a href="https://www.faresmatch.com/refund-policy.aspx">apply for a refund</a>, make sure you apply for a refund within the validity period. If you have paid by debit/credit card, a refund will be made to the same account. In payment has been made in cash, you will receive a check to the address specified at the time of confirmation. </p>
            <h3>Frequently asked question</h3>

            <h3 class="text-justify">What happens if a fully unused award ticket is canceled and submitted more than 3 days before the scheduled departure? </h3>
            <p class="text-justify">The airline will reimburse 80 % of the FR points used if a fully unused award ticket is canceled and submitted for refund more than 3 days (except the departure day) before the flight's scheduled departure. As a cancellation fee, 20% of the points will be withdrawn. Taxes that are not imposed by airlines are refundable. </p>
            <h3 class="text-justify">What happens if a fully unused award ticket is canceled and submitted less than 3 days before the scheduled departure? </h3>
            <p class="text-justify">The ticket is classified as a No-Show. No FR Points are granted to the FR account if a fully unused award ticket is canceled and submitted for refund less than 3 days (except the day of departure) before the flight's scheduled departure. Non-airline taxes are the only ones that can be refunded. </p>
            <h3 class="text-justify">Is partially used award tickets eligible for re-credit of FR Points or refund? </h3>
            <p class="text-justify">No, partially used award tickets are not eligible for re-credit of FR Points or refund. </p>
            <h3 class="text-justify">What is the process for a refund of award tickets? </h3>
            <p class="text-justify">The processes are: -</p>
            <ul>
                <li>Visiting the Air India Booking Office where your tickets were issued. </li>
                <li>Sending an email from your registered email id to ecommerce@@airindia.in for tickets purchased using the Air India website/mobile app. </li>
                <li>Sending an email from your registered email id to contactus@@airindia.in for tickets issued through the Air India Call Center. </li>
            </ul>
            <h3 class="text-justify">Are expired points credited for a refund? </h3>
            <p class="text-justify">No, expired points are not credited. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "What happens if a fully unused award ticket is canceled and submitted more than 3 days before the scheduled departure?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The airline will reimburse 80 % of the FR points used if a fully unused award ticket is canceled and submitted for refund more than 3 days (except the departure day) before the flight's scheduled departure. As a cancellation fee, 20% of the points will be withdrawn. Taxes that are not imposed by airlines are refundable."
                    }
                  },{
                    "@@type": "Question",
                    "name": "What happens if a fully unused award ticket is canceled and submitted less than 3 days before the scheduled departure?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The ticket is classified as a No-Show. No FR Points are granted to the FR account if a fully unused award ticket is canceled and submitted for refund less than 3 days (except the day of departure) before the flight's scheduled departure. Non-airline taxes are the only ones that can be refunded."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Is partially used award tickets eligible for re-credit of FR Points or refund?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "No, partially used award tickets are not eligible for re-credit of FR Points or refund."
                    }
                  },{
                    "@@type": "Question",
                    "name": "What is the process for a refund of award tickets?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The processes are: -
                i) Visiting the Air India Booking Office where your tickets were issued.
                ii) Sending an email from your registered email id to ecommerce@@airindia.in for tickets purchased using the Air India website/mobile app.
                iii) Sending an email from your registered email id to contactus@@airindia.in for tickets issued through the Air India Call Center."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Are expired points credited for a refund?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "No, expired points are not credited."
                    }
                  }]
                }
            </script>

        </div>
    </div>
</section>
    </section>