
@{
    ViewBag.Title = "airindiacancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancel Air India ticket within 24 hours of booking- FaresMatch</title>
    <meta name="description" content="Cancel your flight ticket and get a refund. Air India’s Cancellation policy applies to all types of tickets, including non-refundable within 24 hours of booking.">
    <link rel="canonical" href="https://www.faresmatch.com/air-india-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-india-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancel Air India ticket within 24 hours of booking- FaresMatch">
    <meta property="og:description" content="Cancel your flight ticket and get a refund. Air India’s Cancellation policy applies to all types of tickets, including non-refundable within 24 hours of booking.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-india-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancel Air India ticket within 24 hours of booking- FaresMatch">
    <meta name="twitter:description" content="Cancel your flight ticket and get a refund. Air India’s Cancellation policy applies to all types of tickets, including non-refundable within 24 hours of booking.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}
<script type="application/ld+json">
    {
     "@@context": "https://schema.org/",
     "@@type": "WebPage",
     "name": "Cancel Air India ticket within 24 hours of booking- FaresMatch",
     "speakable":
     {
      "@@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@@name='description']/@@content"
        ]
      },
     "url": "https://www.faresmatch.com/air-india-cancellation-policy.aspx"
     }
</script>


<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Air India Airways Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">
            
            <p class="text-justify">Air India is an Indian airline founded in 1932. The airline is owned by Talace Private Limited, a Special-Purpose Vehicle (SPV) of Tata Sons. Till now the airline has served 102 domestic and 60+ international destinations are served by Air India across four continents. </p>
            <p class="text-justify">Air India Airways is known for its services like a cabin for long haul international flights and on domestic flights with flight duration of over 90 minutes, in-flight entertainment like showtime and in-flight bilingual magazines, premium lounges for first and business class passengers, and frequent flyer program to provide rewards to the frequent traveling passengers of Air India. If you wish to experience such an in-flight luxurious experience, you must <a href="https://www.faresmatch.com/air-india-flights.aspx">book a flight ticket with Air India</a>. Apart from top-notch customer satisfaction, the airline also ensures that customers don’t suffer headaches while booking or canceling their flight tickets. Here, let’s have an overview of the Air India Airways cancelation policy. </p>
            <h2>Cancellation policy</h2>
            <p class="text-justify">With reference to <a href="https://www.faresmatch.com/air-india-cancellation-policy.aspx">Air India’s cancellation policy</a>, if you <a href="https://www.faresmatch.com/">book a flight</a> ticket to/from the United States directly from Air India at least 7 days before departure, you can cancel your ticket within 24 hours of booking. Here, you can also expect a complete refund. The cancellation policy applies to all types of tickets, including non-refundable ones. But, if you have booked the flight with the help of a kiosk, you may contact them directly. </p>
            <p class="text-justify">If you fail to cancel the flight reservation within 24 hours of booking, you will have to pay a cancellation fee somewhere from 200 to 300 USD. However, certain types of fares (award and promotional) are non-refundable. </p>
            <h3>Refund policy</h3>
            <p class="text-justify">Make sure you apply for a refund within the validity period. If you have made payments by debit/credit card, a refund will be made to the same account. In case of cash payment, you will receive a check to the address specified at the time of confirmation. </p>
            <h4>Frequently asked question</h4>
            <h3 class="text-justify">How to cancel a flight ticket with Air India Airways? </h3>
            <p class="text-justify">You can call the Air India Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">When can I make the request for the refund? By when can I expect it? </h3>
            <p class="text-justify">You can fill out a refund request form on Air India Airways’ official website. Though most refunds are processed immediately, credit card refunds take at least 20 days</p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">How to check if my flight is refundable? </h3>
            <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Air India Airways website will display refund eligibility and information. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Air India Airways?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can call the Air India Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "When can I make the request for the refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can fill out a refund request form on Air India Airways’ official website. Though most refunds are processed immediately, credit card refunds take at least 20 days"
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to check if my flight is refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Air India Airways website will display refund eligibility and information."
                    }
                  }]
                }
            </script>

        </div>
    </div>
</section>