
@{
    ViewBag.Title = "airnewzealandairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund Policy | Air New Zealand Airlines- FaresMatch</title>
    <meta name="description" content="The refund policy of Air New Zealand airline gives you full compensation. Claim a refund on flight cancellation. Get a 100% reimbursement. ">
    <link rel="canonical" href="https://www.faresmatch.com/air-new-zealand-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-new-zealand-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund Policy | Air New Zealand Airlines- FaresMatch">
    <meta property="og:description" content="The refund policy of Air New Zealand airline gives you full compensation. Claim a refund on flight cancellation. Get a 100% reimbursement.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-new-zealand-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund Policy | Air New Zealand Airlines- FaresMatch">
    <meta name="twitter:description" content="The refund policy of Air New Zealand airline gives you full compensation. Claim a refund on flight cancellation. Get a 100% reimbursement.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}
<script type="application/ld+json">
    {
     "@@context": "https://schema.org/",
     "@@type": "WebPage",
     "name": "Refund Policy | Air New Zealand Airlines- FaresMatch",
     "speakable":
     {
      "@@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@@name='description']/@@content"
        ]
      },
     "url": "https://www.faresmatch.com/air-new-zealand-airlines-refund-policy.aspx"
     }
</script>


<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Air New Zealand Airlines Refund Policy </h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">
           

            <p class="text-justify">Air New Zealand is an airline based in Auckland, New Zealand, founded in 1940 as Tasman Empire Airways Limited (TEAL). The airline operates its services to20 domestic and 32 international destinations in 18 countries, primarily around and within the Pacific Rim with a fleet size of 103 aircraft. Air New Zealand is known for its frequent flyer program called Airpoints and lounges with valet parking, priority wait listing, exclusive check-in, extra checked in baggage and preferred seating. </p>
            <p class="text-justify">If you have plans to book flight tickets from Air New Zealand Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of <a href="https://www.faresmatch.com/air-new-zealand-airlines-refund-policy.aspx">Air New Zealand Airlines’ refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p class="text-justify">With reference to the Air New Zealand Airline’s <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a>, if you cancel your flight ticket within 24 hours of booking, the airline will refund its entire flight cost without any deduction. </p>
            <p class="text-justify">If airline cancels your <a href="https://www.faresmatch.com/">flight ticket</a>, the airline will either refund the unused flight fare or shift you to another flight. However, if you miss the flight, the airline will not be liable for any kind of refund on having failed to inform the airline. </p>
            <h3>Frequently asked question</h3>

            <h3 class="text-justify">Who can receive a refund with Air New Zealand Airlines? </h3>
            <p class="text-justify">If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3 class="text-justify">How to cancel a flight ticket with Air New Zealand Airlines? </h3>
            <p class="text-justify">If you wish to cancel the flight ticket, you may call the Air New Zealand Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">In order to make a request for a refund, you can visit the official website of Air New Zealand Airlines and fill out the refund request form. It may take 7 to 10 business days for the refund to reflect on your card/bank statement. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">Is my flight refundable? </h3>
            <p class="text-justify">Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>

            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "Who can receive a refund with Air New Zealand Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Air New Zealand Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you wish to cancel the flight ticket, you may call the Air New Zealand Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "In order to make a request for a refund, you can visit the official website of Air New Zealand Airlines and fill out the refund request form. It may take 7 to 10 business days for the refund to reflect on your card/bank statement."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Is my flight refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information."
                    }
                  }]
                }
            </script>

        </div>
    </div>
</section>