
@{
    ViewBag.Title = "airtransatairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancellation Refund Policy of Air Transat Airlines – Faresmatch</title>
    <meta name="description" content="Air Transat Airlines Refund Policy- Cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking.">
    <link rel="canonical" href="https://www.faresmatch.com/air-transat-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/air-transat-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancellation Refund Policy of Air Transat Airlines – Faresmatch">
    <meta property="og:description" content="Air Transat Airlines Refund Policy- Cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/air-transat-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Cancellation Refund Policy of Air Transat Airlines – Faresmatch">
    <meta name="twitter:description" content="Air Transat Airlines Refund Policy- Cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}
<script type="application/ld+json">
    {
     "@@context": "https://schema.org/",
     "@@type": "WebPage",
     "name": "Cancellation Refund Policy of Air Transat Airlines – Faresmatch",
     "speakable":
     {
      "@@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@@name='description']/@@content"
        ]
      },
     "url": "https://www.faresmatch.com/air-transat-airlines-refund-policy.aspx"
     }
</script>


<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Air Transat Airlines Refund Policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">
           
            <p class="text-justify">Air Transat Airlines is the 3rd largest Canadian airline based in Montreal, Quebec; founded in 1983. The airline serves charter flights from 19 Canadian cities to vacation destinations, mainly to 15 countries in the south during winter and in 11 European countries during summer. In summers, its main destinations are Europe and in the winter season, the Caribbean, Mexico, the United States, and Central America, though the airline operates many year-round flights to Europe from its Toronto and Montreal bases. </p>
            <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/">book a flight ticket</a> from Air Transat Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Air Transat Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p class="text-justify">According to <a href="https://www.faresmatch.com/air-transat-airlines-refund-policy.aspx">Air Transat Airlines’ refund policy</a>, if you cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking, you can claim a refund. However, if you couldn’t cancel the tickets within 24 hours cancellation window, you can still cancel your ticket but have to pay the cancellation fee. The cancellation fee will be deducted from your ticket and the rest of the amount will be refunded to the same source you used for making the payment.  </p>
            <h3>Frequently asked question</h3>
            <h3 class="text-justify">Who can receive a refund with Air Transat Airlines? </h3>
            <p class="text-justify">Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
            <h3 class="text-justify">How can I cancel a flight ticket with Air Transat Airlines? </h3>
            <p class="text-justify">If you wish to cancel the flight ticket, you may call the Air Transat Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">Where can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">In order to make a request for a refund, you can visit the official website of Air Transat Airlines and fill out the refund request form. The airline will process your refund within 7 to 20 business days.  </p>
            <h3 class="text-justify">What are the cancellation charges? </h3>
            <p class="text-justify">On Air Transat Airlines, the cancellation fee majorly depends on the destination, the type of fare, and most importantly, the time of cancellation of the tickets. To know more about the same, you may contact us at 1-800-918-3039. </p>
            <h3 class="text-justify">Is my flight refundable? </h3>
            <p class="text-justify">Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>



            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "Who can receive a refund with Air Transat Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I cancel a flight ticket with Air Transat Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you wish to cancel the flight ticket, you may call the Air Transat Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Where can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "In order to make a request for a refund, you can visit the official website of Air Transat Airlines and fill out the refund request form. The airline will process your refund within 7 to 20 business days."
                    }
                  },{
                    "@@type": "Question",
                    "name": "What are the cancellation charges?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "On Air Transat Airlines, the cancellation fee majorly depends on the destination, the type of fare, and most importantly, the time of cancellation of the tickets. To know more about the same, you may contact us at 1-800-918-3039."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Is my flight refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information."
                    }
                  }]
                }
            </script>

        </div>
    </div>
</section>