
@{
    ViewBag.Title = "amtrakbostontonewyork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Amtrak Boston to NYC | New York train from Boston | FaresMatch </title>
    <meta name="description" content="Find the best Amtrak trains deals from Boston to NYC. Find the best fares, schedules and amenities at FaresMatch. Book your New York train trip today and save." />
    <link rel="canonical" href="https://www.faresmatch.com/amtrak-boston-to-new-york.aspx" />
    <meta property="og:title" content="Amtrak Boston to NYC | New York train from Boston | FaresMatch" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Find the best Amtrak trains deals from Boston to NYC. Find the best fares, schedules and amenities at FaresMatch. Book your New York train trip today and save." />
    <meta property="og:url" content="https://www.faresmatch.com/amtrak-boston-to-new-york.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Amtrak Boston to NYC | New York train from Boston | FaresMatch" />
    <meta name="twitter:description" content="Find the best Amtrak trains deals from Boston to NYC. Find the best fares, schedules and amenities at FaresMatch. Book your New York train trip today and save." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png" />
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Amtrak Boston to NYC | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            
            <div class="grid1">
                <div class="column">
                    <p>Amtrak is the official website of the National Railroad Passenger Corporation. This website has been curated to make your train bookings flexible and easy. Often train ticket bookings might come to be an ultimate headache to process. This website makes booking easy and hassle-free without much effort. This website gives you up-to-date information about train timings, Amtrak train schedules, train routes, and tickets.</p>
                    <p>You can find all the information you need to Amtrak from New York City to Boston through this website. Amtrak is the national passenger rail service in the United States. This serves over thirty train lines to over five hundred locations throughout the United States and even in Canadian provinces. This efficient train line offers comfortable and fast train journeys to these various locations at affordable prices.</p>
                </div>
                <div class="column"><img src="./images/Amtrak.jpg" alt=""></div>
            </div>
            <h2>Train Journey from Boston to NYC</h2>
            <p><b>Amtrak Boston To NYC</b> takes about three hours and fifty-six minutes in duration time. The fastest trains chosen by you can make this journey even faster and complete within three hours and thirty minutes only. However, a slower train might make the duration much longer extending up to four hours and twenty-seven minutes. You might have to change one or two lines in between to provide yourself with much convenience. Choosing <b>Amtrak NYC Boston</b> has many benefits that will surely get you all excited and much interested. These benefits are as follows –</p>
            <ol>
                <li>Say you are a student who is covering this travel journey then through Amtrak you will get a fifteen percent discount on your train ride.</li>
                <li>If you are traveling with children who are over two and under twelve then good for you that you will get a total of fifty percent off on your children's tickets.</li>
                <li>If you are traveling in small friend groups then again good for you as you will get a total of sixty percent discount on your ticket purchase.</li>
                <li>Lastly, if you are subscribed Amtrak email list then you can save up as a benefit.</li>
            </ol>
            <h2>Some places to explore in NYC</h2>

            <p>NYC has several places that you must explore as you are touring this wonderful and soulful city. These various places will surely be an everlasting touring memory in your mind forever. The places that you must explore in NYC are as follows –</p>
            <ol>
                <li><b>Statue Of Liberty</b>- This is one of the absolute major places that you must explore when in NYC. This monument has been the top spot for tourist photos for decades now.</li>
                <li><b>Central Park</b>- This is a more than one hundred and fifty years old park that you absolutely must visit. Central Park has been the absolute heart of NYC for quite a while now.</li>
                <li><b>Time Square</b> – Time Square is again one of the absolute top places that you must explore in New York. This place is truly dazzling to experience especially in done after sundown.</li>
            </ol>
            <h2>Amtrak Through FaresMatch</h2>

            <p>When buying your <b>train ticket from Boston To NYC</b> you must know you can do it very easily by accessing Amtrak through FaresMatch . The reason why FaresMatch  is the best choice to access your Amtrak bookings is given as follows –</p>
            <ol>
                <li>This website has a very easy-to-use UI surfing and figuring out your train booking process is not tasking.</li>
                <li>Processing your payments through this website is always secure. This website has a very strong firewall that protects all your online information.</li>
                <li>You always get the best price and the best discounts when processing your booking through this website. You will never be disappointed with your pocket when booking through FaresMatch .</li>
            </ol>
            <h2>FAQs</h2>

            <h3>Can you book flights on FaresMatch?</h3>

            <p>Booking your flights through this website is the best travel booking decision you can ever make. Once you book your flight through this website you will never go another way.</p>

            <h3>Can you book hotels on FaresMatch?</h3>

            <p>Yes you can easily book hotels on this website always at the best price. You can get the best deals at the top hotels when booking through this website.</p>

            <h3>What is the most prominent monument in NYC?</h3>

            <p>One of the most prominent monuments that you can visit in NYC is probably the Empire State Building. This is one of the most iconic buildings in the world.</p>

            <h3>Is New York expensive?</h3>

            <p>Yes New York can be very expensive to tour. Although you cut on cost by visiting downtown and local places instead of the fancy once.</p>

            <h3>What is the main mode of transport in New York?</h3>

            <p>The main mode of transport for most people in New York is the metro line. Subway is the most efficient way of transport there.</p>
        </div>
    </div>
</div>

