
@{
    ViewBag.Title = "aviancaairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund on Flight Cancellation | Avianca Airlines Policy</title>
    <meta name="description" content="Avianca Airlines refund according to your ticket’s fare conditions. A refundable amount will be made to the card/account of the person who paid for the ticket. ">
    <link rel="canonical" href="https://www.faresmatch.com/avianca-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/avianca-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund on Flight Cancellation | Avianca Airlines Policy">
    <meta property="og:description" content="Avianca Airlines refund according to your ticket’s fare conditions. A refundable amount will be made to the card/account of the person who paid for the ticket. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/avianca-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund on Flight Cancellation | Avianca Airlines Policy">
    <meta name="twitter:description" content="Avianca Airlines refund according to your ticket’s fare conditions. A refundable amount will be made to the card/account of the person who paid for the ticket. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }


    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Refund on Flight Cancellation | Avianca Airlines Policy",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/avianca-airlines-refund-policy.aspx"
         }
    </script>

    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Avianca Airlines Refund Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
               

                <p class="text-justify">Avianca Airlines is the world's second-oldest airline based in Colombia founded in 1919. The airline’s focus cities are Barranquilla, Miami, and San José, in the latter of which Avianca is the largest foreign carrier by the number of passengers with a fleet size of 100 aircraft. Aviance rewards its loyal customers who frequently fly with the airline via a frequent flyer program called LifeMiles. </p>
                <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/">book a flight ticket</a> from Avianca Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Avianca Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
                <h2>Refund policy </h2>
                <p class="text-justify">According to <a href="https://www.faresmatch.com/avianca-airlines-refund-policy.aspx">Avianca Airlines’ refund policy</a>, you will receive a refund according to your ticket’s fare conditions. The refundable amount will be made to the card/account of the person who paid for the ticket. If you wish to get tax refunds, you must request the same from the airline by calling customer care. The airline will refund surcharges and administrative fees as per applicable regulations, and if no such regulations exist, then as per the fare conditions of the ticket. </p>
                <h3>Frequently asked question</h3>
                <h3 class="text-justify">Who can receive a refund from Avianca Airlines? </h3>
                <p class="text-justify">Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
                <h3 class="text-justify">How can I cancel a flight ticket with Avianca Airlines? </h3>
                <p class="text-justify">If you wish to cancel the flight ticket, you may call the Avianca Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">Where can I make the request for a refund? By when can I expect it? </h3>
                <p class="text-justify">In order to make a request for a refund, you can visit the official website of Avianca Airlines and fill out the refund request form. The airline will process your refund within 7 to 20 business days.  </p>
                <h3 class="text-justify">Will I get compensation if my flight gets delayed by more than 2 hours? </h3>
                <p class="text-justify">If your flight gets delayed by more than 2 hours, you are eligible to get compensation from the airline. If you are a member of LifeMiles then you will receive compensation in the form of LifeMiles. You may also receive EMD (Electronic Miscellaneous Document) or MPD (Multiple Purpose Document), a sum of money that you can use to buy services on Avianca Holdings. </p>
                <h3 class="text-justify">Is my flight refundable? </h3>
                <p class="text-justify">Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "Who can receive a refund from Avianca Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I cancel a flight ticket with Avianca Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you wish to cancel the flight ticket, you may call the Avianca Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Where can I make the request for a refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "In order to make a request for a refund, you can visit the official website of Avianca Airlines and fill out the refund request form. The airline will process your refund within 7 to 20 business days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Will I get compensation if my flight gets delayed by more than 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your flight gets delayed by more than 2 hours, you are eligible to get compensation from the airline. If you are a member of LifeMiles then you will receive compensation in the form of LifeMiles. You may also receive EMD (Electronic Miscellaneous Document) or MPD (Multiple Purpose Document), a sum of money that you can use to buy services on Avianca Holdings."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Is my flight refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

