
@{
    ViewBag.Title = "aviancaairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Avianca Airlines Policy of Cancellation and Changing Flights</title>
    <meta name="description" content="Pay the Flight Cancellation fee if you cross the time limitation of 24 hours. Get a full refund within 24-hours of booking on Avianca Airlines. ">
    <link rel="canonical" href="https://www.faresmatch.com/avianca-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/avianca-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pay the Flight Cancellation fee if you cross the time limitation of 24 hours. Get a full refund within 24-hours of booking on Avianca Airlines. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/avianca-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Avianca Airlines Policy of Cancellation and Changing Flights">
    <meta name="twitter:description" content="Pay the Flight Cancellation fee if you cross the time limitation of 24 hours. Get a full refund within 24-hours of booking on Avianca Airlines. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }


    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Avianca Airlines Policy of Cancellation and Changing Flights",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/avianca-airlines-cancellation-policy.aspx"
         }
    </script>

    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Avianca Airlines Cancellation policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
                
                <p class="text-justify">Avianca Airlines is the largest Colombian airline founded in 1919, and headquartered in Colombia. The airline’s focus cities are Barrathenquilla and Miami, in the latter of which Avianca is the largest foreign carrier by the number of passengers with a fleet size of 100 aircraft. </p>
                <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/">book flight tickets</a> from Avianca Airlines, make sure you check the ongoing offers and deals, flight booking, and <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>. For your ease, below is an overview of Avianca Airlines’ cancellation policy. </p>
                <h2>Cancellation policy </h2>
                <p class="text-justify">According to <a href="https://www.faresmatch.com/avianca-airlines-cancellation-policy.aspx">Avianca Airlines’ cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking at least 7 days before departurewithout paying any cancellation fee. However, if you cross the time limitation of 24 hours, you will have to pay the cancellation fee.  </p>
                <p class="text-justify">If the airline cancels your flight, it can either offer you a refund of your full ticket price or re-route you to the next available flight. If you aren’t comfortable with the new flight, you can opt for a refund. </p>
                <h3>Refund policy </h3>
                <p class="text-justify">You can cancel a flight ticket within 24 hours of booking without paying any cancellation fee if you completed the purchase 7 days or more before the initially scheduled departure flight. The airline may refuse your refund if the ticket is non-refundable or if you applied for a refund after the validity period of the ticket. The refundable amount will be made to the card/account of the person who paid for the ticket. </p>
                <h4>Frequently asked questions</h4>
                <h3 class="text-justify">How to cancel a flight ticket with Avianca Airlines? </h3>
                <p class="text-justify">You can call the Avianca Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
                <p class="text-justify">You can visit the official website of Avianca Airlines and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 business days. </p>
                <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
                <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
                <h3 class="text-justify">How to check if my flight is refundable? </h3>
                <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Avianca Airlines website will display refund eligibility and information. </p>

                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "How to cancel a flight ticket with Avianca Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can call the Avianca Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I make the request for a refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can visit the official website of Avianca Airlines and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 business days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How to check if my flight is refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Avianca Airlines website will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

