
@{
    ViewBag.Title = "azulairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Azul Airlines Cancellation Policies- Cancel Flight Ticket</title>
    <meta name="description" content="You Don't need to pay the cancellation charges if you cancel a flight reservation within 24 hours of booking the ticket as per Azul Airlines Ticket Cancellation Policy">
    <link rel="canonical" href="https://www.faresmatch.com/azul-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/azul-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Azul Airlines Cancellation Policies- Cancel Flight Ticket">
    <meta property="og:description" content="You Don't need to pay the cancellation charges if you cancel a flight reservation within 24 hours of booking the ticket as per Azul Airlines Ticket Cancellation Policy">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/azul-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Azul Airlines Cancellation Policies- Cancel Flight Ticket">
    <meta name="twitter:description" content="You Don't need to pay the cancellation charges if you cancel a flight reservation within 24 hours of booking the ticket as per Azul Airlines Ticket Cancellation Policy">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }


    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Azul Airlines Cancellation Policies- Cancel Flight Ticket",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/azul-airlines-cancellation-policy.aspx"
         }
    </script>


    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Azul Airlines Cancelation Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
               
                <p class="text-justify">Azul Airline is a Brazilian carrier based in Barueri. It is the third-largest domestic and second largest international airline in Brazil with a fleet of 76 Embraer 195 jets. The airline serves 150 destinations in Brazil, Portugal, the United States, and Uruguay. </p>
                <p class="text-justify">If you haven’t flown with Azul Airlines, you should try it once because the airlines reward their frequent flyers with a <a href="https://www.faresmatch.com/blog/benefits-of-frequent-flyer-number.aspx">frequent flyer program</a> (FFP). Through FFP, flyers earn reward points based on the airfare paid. Further, the airline has a headache-free cancellation policy to ensure the best customer service. </p>
                <h2>Cancellation</h2>
                <p class="text-justify">According to the <a href="https://www.faresmatch.com/azul-airlines-cancellation-policy.aspx">Azul Airlines policy</a>, if you <b>cancel a flight reservation within 24 hours of booking the ticket</b> and don’t have to pay any cancellation charges. Also, you are eligible to get a complete refund. </p>
                <p class="text-justify">If you cancel the <a href="https://www.faresmatch.com/">flight booking</a> within 96 hours of the scheduled departure, then you will have to pay a cancellation fee and an additional charge of 10%. However, if you have canceled the flight because of some emergency such as a death in the family, then cancellation charges will be taken off once the documents are submitted. </p>
                <p class="text-justify">Moreover, the cancellation fee depends on the route and the fare that you have booked. </p>
                <h3>Refund </h3>
                <p class="text-justify">If you have placed a request for a refund, the refund will be processed in the original format of how the payment was done. If you made a payment using a credit card, then it will take up to 14 to 30 working days for the refund. </p>
                <h4>frequently asked questions</h4>
                <h3 class="text-justify">How to cancel a flight ticket with Azul Airlines? </h3>
                <p class="text-justify">You can call the Azul Airline customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">When can I make the request for the refund? By when can I expect it? </h3>
                <p class="text-justify">You may place a request for a refund through the Guest service center of Azul Airlines within the validity period. The refund request takes time to be processed and can be granted within 7 to 10 working days. </p>
                <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
                <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
                <h3 class="text-justify">How to check if my flight is refundable? </h3>
                <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and Azul airline’s website will display refund eligibility and information. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "How to cancel a flight ticket with Azul Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can call the Azul Airline customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "When can I make the request for the refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You may place a request for a refund through the Guest service center of Azul Airlines within the validity period. The refund request takes time to be processed and can be granted within 7 to 10 working days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How to check if my flight is refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and Azul airline’s website will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

