
@{
    ViewBag.Title = "bekaircancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancel Flight & Get a Refund on Bek Air | Cancellation Policy</title>
    <meta name="description" content="With reference to the cancellation policy of Bek Air, the airline makes the process easier for you if you cancel your flight ticket.">
    <link rel="canonical" href="https://www.faresmatch.com/bek-air-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/bek-air-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancel Flight & Get a Refund on Bek Air | Cancellation Policy">
    <meta property="og:description" content="With reference to the cancellation policy of Bek Air, the airline makes the process easier for you if you cancel your flight ticket.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/bek-air-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancel Flight & Get a Refund on Bek Air | Cancellation Policy">
    <meta name="twitter:description" content="With reference to the cancellation policy of Bek Air, the airline makes the process easier for you if you cancel your flight ticket.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }


    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Cancel Flight & Get a Refund on Bek Air | Cancellation Policy",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/bek-air-cancellation-policy.aspx"
         }
    </script>


    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Bek Air Cancellation policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
               
                <p class="text-justify">Bek Air was founded as Berkut Air in 1999 as a business jet operator in Kazakhstan and initiated domestic scheduled services. The airline was rebranded to Bek Air in 2011 after investing KZT10 million (US$30,000) a month to reconstruct the airport's runway, which was in poor condition. Bek Air offers services to Aktau, Aktobe, Almaty, Atyrau, Kyzylorda, Nur-Sultan, Oral, Pavlodar, and Shymkent.  </p>
                <p class="text-justify">If you are planning for a vacation, you may <a href="https://www.faresmatch.com/bek-air.aspx">book flight ticket from Bek Air</a>. But make sure you research well before booking the flight ticket. To help you with the search process, we have shared <a href="https://www.faresmatch.com/bek-air-cancellation-policy.aspx">cancellation policy of Bek Air</a>. Through cancellation policy, you will come across how the airlines makes the process easier for you if you cancel your flight ticket. </p>
                <h2>Cancellation policy</h2>
                <p class="text-justify">With reference to Bek Air cancellation policy, you can cancel a flight booked on Bek Air within 24 hours of the purchase. If the booking was made a week or more prior to the departure date of your flight, you can receive full refund. </p>
                <p class="text-justify">If you cancel the flight a few hours before the departure and the flight was booked not more than a week before then you will have to pay the cancellation fee depending upon the fare rules. </p>
                <h3>Refund policy </h3>
                <p class="text-justify">You will receive refund only for the eligible <a href="https://www.faresmatch.com/">flight tickets</a> that were canceled within the active span of time. If the airline cancels your flight due to any unavoidable reasons, then they will provide you compensation to book the next subsequent Bek Air flight. In such a situation, you can easily cancel your flight and get a refund on Bek Air. </p>
                <h4>Frequently asked question</h4>
                <h3 class="text-justify">How to cancel a flight ticket with Bek Air? </h3>
                <p class="text-justify">You can call the Bek Air customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">When can I make the request for the refund? By when can I expect it? </h3>
                <p class="text-justify">You can make a request for the refund online by filling the refund request form at Bek Air official site. The refund request takes time to be processed and can be granted within 7 to 10 working days. </p>
                <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
                <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
                <h3 class="text-justify">How to check if my flight is refundable? </h3>
                <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and Bek Air will display refund eligibility and information. </p>

                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "How to cancel a flight ticket with Bek Air?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can call the Bek Air customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "When can I make the request for the refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can make a request for the refund online by filling the refund request form at Bek Air official site. The refund request takes time to be processed and can be granted within 7 to 10 working days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How to check if my flight is refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and Bek Air will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

