
@{
    ViewBag.Title = "bekairrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Bek Air Refund Policy on Refundable Flight Tickets- FaresMatch</title>
    <meta name="description" content="Bek Air Refund Policy according to which, you can get your complete refund if, for some reason, you decided to cancel your ticket within 24 hours of booking.">
    <link rel="canonical" href="https://www.faresmatch.com/bek-air-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/bek-air-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bek Air Refund Policy on Refundable Flight Tickets- FaresMatch">
    <meta property="og:description" content="Bek Air Refund Policy according to which, you can get your complete refund if, for some reason, you decided to cancel your ticket within 24 hours of booking.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/bek-air-refund-policy.aspx">
    <meta name="twitter:title" content="Bek Air Refund Policy on Refundable Flight Tickets- FaresMatch">
    <meta name="twitter:description" content="Bek Air Refund Policy according to which, you can get your complete refund if, for some reason, you decided to cancel your ticket within 24 hours of booking.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

    }

    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Bek Air Refund Policy on Refundable Flight Tickets- FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/bek-air-refund-policy.aspx"
         }
    </script>


    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Bek Air Refund Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
               


                <p class="text-justify">Bek Air is an inexpensive airline in Kazakhstan, with headquarters at Oral, offering both international and domestic travel. The staff at Bek Air are very accommodating and will help you with any query that you might have about the whole booking, cancellation, or refund process. </p>

                <h2>Refund Policy</h2>

                <p class="text-justify">
                    Bek Air has a convenient <a href="https://www.faresmatch.com/bek-air-refund-policy.aspx">Refund Policy</a> according to which you can get your complete refund if, for some reason, you decide to cancel your ticket within 24 hours of booking. However, this is only applicable for tickets that are of the refundable category. For non-refundable tickets, you will be charged a cancellation fee and be refunded the rest of the amount back in the form of an e-credit that you can avail yourself of the next time you <a href="https://www.faresmatch.com/">book a ticket</a> with Bek Air. Another thing that needs to be kept in mind is that even though the refund policy will be processed as soon as possible, the refund may take a while to reach you through your original mode of payment. The whole refund process may take 7-10 working days, so it is important to be patient.
                </p>
                <p class="text-justify">You can cancel your tickets online from the website of Bek air. If that is not convenient for you, you can call them up using their helpline phone numbers available on the website to cancel your tickets! Bek Air customer care service is available 24/7, so you can contact them whenever you have any queries about your tickets or the refund policy.</p>

                <h3>Frequently asked question</h3>

                <h3 class="text-justify">What is the cancellation fee? </h3>
                <p class="text-justify">If you cancel your ticket within 24 hours, you will have to pay 100$-400$, depending on the cost of your ticket. If you cancel your ticket after 24 hours, you have to pay around 100$-500$.</p>
                <h3 class="text-justify">How will I get my refund? </h3>
                <p class="text-justify">If you have a refundable ticket, you will have your refund transferred to your original mode of payment, but if you have a non-refundable ticket, you will get an e-credit that you can only use to book another ticket from Bek Air. </p>
                <h3 class="text-justify">How do I know if I have a refundable ticket or a non-refundable ticket? </h3>
                <p class="text-justify">You can go to the website and type in the number present on the ticket to know if it is a refundable or non-refundable ticket. </p>
                <h3 class="text-justify">Can I cancel after 24 hours? </h3>
                <p class="text-justify">Yes, you can cancel your ticket after 24 hours. However, you will have to pay a greater cancellation fee if you cancel your ticket after 24 hours. </p>
                <h3 class="text-justify">What to do if I don't wish to pay a cancellation fee? </h3>
                <p class="text-justify">If you feel like you will have to cancel your ticket but do not want to pay a cancellation fee, make sure to cancel your ticket within 24 hours and get a 100% refund. </p>
                <h3 class="text-justify">What to do if I can't use the helpline number? </h3>
                <p class="text-justify">If you do not have the helpline number or cannot use it for some reason, you can cancel your ticket from the Bek Air website. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "What is the cancellation fee?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you cancel your ticket within 24 hours, you will have to pay 100$-400$, depending on the cost of your ticket. If you cancel your ticket after 24 hours, you have to pay around 100$-500$."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How will I get my refund?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you have a refundable ticket, you will have your refund transferred to your original mode of payment, but if you have a non-refundable ticket, you will get an e-credit that you can only use to book another ticket from Bek Air."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How do I know if I have a refundable ticket or a non-refundable ticket?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can go to the website and type in the number present on the ticket to know if it is a refundable or non-refundable ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I cancel after 24 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Yes, you can cancel your ticket after 24 hours. However, you will have to pay a greater cancellation fee if you cancel your ticket after 24 hours."
                        }
                      },{
                        "@@type": "Question",
                        "name": "What to do if I don't wish to pay a cancellation fee?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you feel like you will have to cancel your ticket but do not want to pay a cancellation fee, make sure to cancel your ticket within 24 hours and get a 100% refund."
                        }
                      },{
                        "@@type": "Question",
                        "name": "What to do if I can't use the helpline number?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you do not have the helpline number or cannot use it for some reason, you can cancel your ticket from the Bek Air website."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

