
@{
    ViewBag.Title = "britishairwayscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>British Airways Flight Cancellation, Refund Policy- FaresMatch</title>
    <meta name="description" content="Through British airways’ official site, passenger can claim a full refund on cancelling refundable flight ticket. British Airways has flexible cancellation policy." />
    <link rel="canonical" href="https://www.faresmatch.com/british-airways-cancellation-policy.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/british-airways-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="British Airways Flight Cancellation, Refund Policy- FaresMatch">
    <meta property="og:description" content="Through British airways’ official site, passenger can claim a full refund on cancelling refundable flight ticket. British Airways has flexible cancellation policy." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/british-airways-cancellation-policy.aspx">
    <meta name="twitter:title" content="British Airways Flight Cancellation, Refund Policy- FaresMatch" />
    <meta name="twitter:description" content="Through British airways’ official site, passenger can claim a full refund on cancelling refundable flight ticket. British Airways has flexible cancellation policy." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }

    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "British Airways Flight Cancellation, Refund Policy- FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url":"https://www.faresmatch.com/british-airways-cancellation-policy.aspx"
         }
    </script>


    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>British Airways’ Cancellation Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
                

                <p class="text-justify">You might have heard about British Airways, the second-largest airline in the United Kingdom. Being a popular airline, British Airways serves over 160 destinations which include eight domestic and 24 in the United States. More and more customers are choosing British Airways for their journey. </p>

                <p class="text-justify">
                    Are you planning a trip with your family to your dream destination and searching for <a href="https://www.faresmatch.com/">cheap airline reservations</a>? Do not worry; British Airways is there to give you the best flight deals possible. Besides its exceptional deals and discounts, the refund and cancellation policy is also flexible.
                </p>
                <h2>How to cancel a British Airways Flight</h2>
                <p class="text-justify">In order to cancel your British Airways flight, the first place you need to visit is the 'Manage My Booking' portal on the British Airways website. </p>

                <ul>
                    <li>Here you must provide the lead passenger's name and you’re booking reference. You will find this on your confirmation email or e-ticket. </li>
                    <li>You are going to find the options available that are necessary for amending or cancelling your booking and whether any fees will apply. </li>
                    <li>You can also call British Airways customer services if you have any doubts or questions regarding cancelling or amending a flight. If so, keep your booking reference ready and call 0344 493 0787. The customer service number is available between 6 am and 8 pm daily. </li>
                </ul>

                <h3>Cancellation Policy- British Airways</h3>
                <p class="text-justify">One can <a href="https://www.faresmatch.com/british-airways-cancellation-policy.aspx">cancel British Airways flight online</a> without facing any hassles. Passengers are also eligible to request a refund online. For this, they must fill out the refund request form at British Airways' official site. The airline only provides refunds for eligible British Airways flight tickets cancelled within the active period. You must note that airways only provide a refund after the expiry period of the ticket. </p>

                <p class="text-justify">The British Airways refund request might take some time to be processed. Generally, the refund gets processed within 7 to 10 working days. In case the flights are cancelled due to unavoidable reasons from the British Airways end. The airline will provide compensation to the passengers through which they can book the subsequent British Airways flight. Hence you can cancel your flight and get a refund from British Airways. </p>

                <h3>British Airways cancellation fees</h3>
                <p class="text-justify">British Airways have prescribed a cancellation fee for both domestic and international flights. In case you are not familiar with the <strong>British Airways flight cancellation fee</strong> for international flights, then you must go through the below instructions: </p>

                <ul>
                    <li>	You need to pay a cancellation fee of $100 to $500 only if you request the cancellation of the fee after 24 hours as a risk-free cancellation.</li>
                    <li>	A fee of $100 to $400 will be charged as a British Airways cancellation fee in case you cancel your British Airways flight within 24 hours of your flight's scheduled departure. </li>
                    <li>	After you have cancelled your flight ticket, you can also make a cancellation request. </li>
                </ul>

                <p class="text-justify">This is all the information regarding <strong>British Airways Cancellation Policy</strong>. It is straightforward on the part of travellers. By booking flights in advance, you can get hold of <a href="https://www.faresmatch.com/cheap-flights.aspx">cheap tickets on British Airways</a>. You are always free to contact the customer service centre in case of queries. </p>



                <h4>FAQs</h4>
                <h5 class="text-justify">How to cancel a flight ticket with British Airways? </h5>
                <p class="text-justify">You can call the British Airways customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
                <h5 class="text-justify">How can I make the request for a refund? By when can I expect it? </h5>
                <p class="text-justify">You can visit the official website of British Airways and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 business days. </p>
                <h5 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h5>
                <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
                <h5 class="text-justify">How to check if my flight is refundable? </h5>
                <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the British Airways website will display refund eligibility and information. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "How to cancel a flight ticket with British Airways?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can call the British Airways customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I make the request for a refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can visit the official website of British Airways and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 business days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How to check if my flight is refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the British Airways website will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

