
@{
    ViewBag.Title = "cathaypacificairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cathay Pacific Airlines Refund | Cancel, or change your flight</title>
    <meta name="description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight by more than 5 hours.">
    <link rel="canonical" href="https://www.faresmatch.com/cathay-pacific-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/cathay-pacific-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cathay Pacific Airlines Refund | Cancel, or change your flight ">
    <meta property="og:description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight by more than 5 hours.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/cathay-pacific-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Cathay Pacific Airlines Refund | Cancel, or change your flight ">
    <meta name="twitter:description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight by more than 5 hours.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }


    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Cathay Pacific Airlines Refund | Cancel, or change your flight ",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/cathay-pacific-airlines-refund-policy.aspx"
         }
    </script>


    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Cathay Pacific Airlines Refund Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>
    <section class="trvl_bug">
        <div class="container">
            <div class="row">
                

                <p class="text-justify">Cathay Pacific Airline is a flag carrier based in Hong Kong with its head office and main hub located at Hong Kong International Airport. The airline serves 88 destinations (including cargo), but not including codeshare in 46 countries and territories on five continents, with a well-developed Asian network. </p>
                <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/flight-tickets-booking.aspx">book flight tickets</a> from Cathay Pacific Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Cathay Pacific Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
                <h2>Refund policy </h2>
                <p class="text-justify">According to <a href="https://www.faresmatch.com/cathay-pacific-airlines-refund-policy.aspx">Cathay Pacific Airlines’ refund policy</a>, if you cancel your flight ticket within 24 hours of booking and at least 7 days before its departure, you are entitled to get a full refund. If you fail to cancel the flight within the cancellation window, you will have to pay the cancellation charges that will be deducted from the refundable amount that you will receive. If you couldn’t attend the flight due to the sickness or death of an immediate family member, you can claim a refund after providing documentary evidence. </p>
                <p class="text-justify">You can also claim a refund if the airline cancels or delays your flight by more than 5 hours. Further, the airline will process the refund to the source you used for making the payment. </p>
                <h3>Frequently asked question</h3>
                <h3 class="text-justify">Who can receive a refund from Cathay Pacific Airlines? </h3>
                <p class="text-justify">Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
                <h3 class="text-justify">
                    How can I cancel a flight ticket with Cathay Pacific Airlines?
                </h3>
                <p class="text-justify">If you wish to cancel the flight ticket, you may call the Cathay Pacific Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
                <h3 class="text-justify">Where can I request a refund? By when can I expect it? </h3>
                <p class="text-justify">To request a refund, you can visit the official website of Cathay Pacific Airlines and fill out the refund request form. The airline will process your credit card refunds within 7 business days and bank transfer refunds in 20 business days. </p>
                <h3 class="text-justify">Will I get any compensation if my flight gets delayed by more than 4 hours? </h3>
                <p class="text-justify">If your flight gets delayed by more than 4 hours, you are entitled to get a refund. To know more about the same, you can call customer care support about the compensation. </p>
                <h3 class="text-justify">Is my flight refundable? </h3>
                <p class="text-justify">Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>


                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "Who can receive a refund from Cathay Pacific Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I cancel a flight ticket with Cathay Pacific Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If you wish to cancel the flight ticket, you may call the Cathay Pacific Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Where can I make the request for a refund? By when can I expect it?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "In order to make a request for a refund, you can visit the official website of Cathay Pacific Airlines and fill out the refund request form. The airline will process your credit card refunds within 7 business days and bank transfer refunds in 20 business days."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Will I get any compensation if my flight gets delayed by more than 4 hours?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your flight gets delayed by more than 4 hours, you are entitled to get a refund. To know more about the same, you can call customer care support about the compensation."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Is my flight refundable?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information."
                        }
                      }]
                    }
                </script>

            </div>
        </div>
    </section>

