
@{
    ViewBag.Title = "chinaeasternairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>China Eastern Airlines: Refund and Cancellation Policy </title>
    <meta name="description" content="Flight Cancellation and refund policy of China Eastern Airlines. Information on how to get a refund and its procedure." />
    <link rel="canonical" href="https://www.faresmatch.com/china-eastern-airlines-refund-policy.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/china-eastern-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="China Eastern Airlines: Refund and Cancellation Policy">
    <meta property="og:description" content="Flight Cancellation and refund policy of China Eastern Airlines. Information on how to get a refund and its procedure." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/china-eastern-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="China Eastern Airlines: Refund and Cancellation Policy" />
    <meta name="twitter:description" content="Flight Cancellation and refund policy of China Eastern Airlines. Information on how to get a refund and its procedure." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>China Eastern Airlines Refund policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>China Eastern Airlines Refund policy</h2>
            <div class="grid1">
                <div class="column">
                    <p>China Eastern Airlines is one of the biggest airlines in China and serves on domestic, international & regional routes. The airline has a strong presence on routes in North America and Australia. Choosing China Eastern for your upcoming vacation will be the best choice. Besides offering various perks to its passengers, the airline also has a flexible cancellation & refund policy. If you plan to <a href="https://www.faresmatch.com/china-eastern-airlines.aspx">book flights with China Eastern</a>, go through its official website to understand its cancellation & refund policy better. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/China-Eastern-Ground-Report.jpg" alt=""></div>
            </div>

            <h2>Refund Policy of China Eastern</h2>
            <p>Once you have purchased tickets from the airline, you are eligible for a refund under its policy and regulations. Necessary documents are needed to be presented by you that confirms that you have paid for the ticket, like an invoice or credit card, to get a refund. </p>
            <p>In case of an unavoidable situation where a person cannot collect the refund due to sickness or death, the airline issue the refund to the immediate family member after providing a death or sickness certificate. To make a refund request, you can visit the airline’s official website, where you need to fill out the refund form. The airline will take 7-20 days to successfully refund the eligible money amount. </p>

            <h3>China Eastern 24-hour Cancellation Policy</h3>
            <p>China Eastern Airlines offers a 24-hour cancellation policy which applies to all <a href="https://www.faresmatch.com/">flight tickets</a> to or from the United States. Under the policy, a passenger can receive a full ticket refund (without paying any cancellation fee). The conditions of the <a href="https://www.faresmatch.com/china-eastern-airlines-cancellation-policy.aspx">cancellation policy of China eastern airlines</a> are: </p>
            <ul>
                <li>If you have purchased your ticket at least seven days before departure. </li>
                <li>If you have cancelled your ticket within 24 hours of purchasing. </li>
                <li>The 24-hour cancellation policy of the airline applies to all types of tickets, including non-refundable ones. </li>
            </ul>

            <h3>How to cancel China Eastern Tickets</h3>
            <ul>
                <li>First, you need to open an internet browser on your device and visit the China Eastern Airlines booking website. There you need to click on the log-in tab shown on the page. </li>
                <li>Your booking account can be accessed using its correct credentials. You must go to the “manage booking” tab and enter the passenger’s reservation number and last name. </li>
                <li>After that, enter the flight details you wish to cancel and enter the timing of booking for your flight that you are willing to cancel and move to the next for the cancellation. </li>
                <li>Once done, tap on the cancel button for your flight and select the done button. You will receive a notification of flight cancellation on your registered phone at the end. </li>
            </ul>
            <p>Hence this was the information regarding the <a href="https://www.faresmatch.com/china-eastern-airlines-refund-policy.aspx">refund policy of China Eastern airline</a>. Make your flight booking in advance to get the most out of your tickets. As you have seen, the refund and cancellation policy of the airline is very flexible and ensures the user’s convenience. It would help if you were no longer worried, as you can cancel your China Eastern quickly and hassle-free. So hurry up and grab your tickets with China Eastern as soon as possible. </p>

            <h2>FAQs</h2>
            <h3>Who can receive a refund from China Eastern Airlines? </h3>
            <p>Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with China Eastern Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the China Eastern Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of China Eastern Airlines and fill out the refund request form. The airline will process your refund within 7 to 20 business days.  </p>
            <h3>Will I get compensation if my flight gets delayed or cancelled? </h3>
            <p>If your flight gets delayed or cancelled by the airline, you are eligible to receive compensation from the airline. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>


