
@{
    ViewBag.Title = "chinaeasternairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>China Eastern Airlines Flight Cancellation Policy- FaresMatch </title>
    <meta name="description" content="Canceling or changing a flight and book flight tickets from China Eastern Airlines. An overview of cancellation policy of the airline.">
    <link rel="canonical" href="https://www.faresmatch.com/china-eastern-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/china-eastern-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="China Eastern Airlines Flight Cancellation Policy- FaresMatch">
    <meta property="og:description" content="Canceling or changing a flight and book flight tickets from China Eastern Airlines. An overview of cancellation policy of the airline.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/china-eastern-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="China Eastern Airlines Flight Cancellation Policy- FaresMatch">
    <meta name="twitter:description" content="Canceling or changing a flight and book flight tickets from China Eastern Airlines. An overview of cancellation policy of the airline.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>China Eastern Airlines Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>China Eastern Airlines Cancellation policy</h2>
            <div class="grid1">
                <div class="column">
                    <p>China Eastern Airlines officially known as China Eastern Airlines Corporation Limited is the second-largest carrier in China. The airline is headquartered in the China Eastern Airlines Building, on the grounds of Shanghai Hongqiao International Airport in Changning District, Shanghai. It has a strong presence on routes in Asia, North America, and Australia & has also launched direct flights from Shanghai to Prague, Amsterdam, Madrid, and St. Petersburg. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/China-Eastern-Ground-Report.jpg" alt=""></div>
            </div>

            <p>If you have plans to book flight tickets from China Eastern Airlines, make sure you check the ongoing offers and deals, <a href="https://www.faresmatch.com/">flight booking</a>, and <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>. For your ease, below is an overview of China Eastern Airlines’ cancellation policy. </p>
            <h2>Cancellation policy </h2>
            <p>According to <a href="https://www.faresmatch.com/china-eastern-airlines-cancellation-policy.aspx">China Eastern Airlines cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking at least 7 days before departure without paying any cancellation fee. However, if you cross the time limitation of 24 hours, you will have to pay the cancellation fee. The amount of the cancellation fee significantly depends on the destination, the type of fare, and most importantly, the time of cancellation of the tickets. </p>
            <h3>Refund policy </h3>
            <p>You can cancel a flight ticket within 24 hours of booking without paying any cancellation fee if you completed the purchase 7 days or more before the initially scheduled departure flight. If you booked the flight tickets from the <a href="https://www.faresmatch.com/china-eastern-airlines.aspx">official website of China Eastern Airlines</a>, you are eligible for a refund. But you booked tickets via kiosk, you must contact your kiosk for a refund. Also, if you have booked group tickets and one or two members cancel the ticket, then only tax will be refunded. </p>
            <h2>FAQs</h2>

            <h3>How to cancel a flight ticket with China Eastern Airlines? </h3>
            <p>You can call the China Eastern Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>You can visit the official website of China Eastern Airlines and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 business days. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the China Eastern Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

