
@{
    ViewBag.Title = "copaairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Reimbursement or Refund Policy Copa Airlines - FaresMatch </title>
    <meta name="description" content="According to Copa Airlines refund policy only eligible tickets qualify for a refund after submitting refund request along with the required documentation. ">
    <link rel="canonical" href="https://www.faresmatch.com/copa-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/copa-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Reimbursement or Refund Policy Copa Airlines - FaresMatch">
    <meta property="og:description" content="According to Copa Airlines refund policy only eligible tickets qualify for a refund after submitting refund request along with the required documentation.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/copa-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Reimbursement or Refund Policy Copa Airlines - FaresMatch">
    <meta name="twitter:description" content="According to Copa Airlines refund policy only eligible tickets qualify for a refund after submitting refund request along with the required documentation.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Copa Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Copa Airlines Refund Policy</h2>
            <div class="grid1">
                <div class="column">
                    <p>Copa Airlines is an airline based in Panama, founded in 1947 and headquartered in Panama City, Panama. The airline operates its services to 84 destinations in 33 countries in North America, Central America, South America, and the Caribbean with a fleet of 82 aircraft. Copa Airlines is known for its services in business and economy class, frequent flyer program called ConnectMiles and Copa club membership for the airport lounges. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/images/copa-airlines-fm-slider_bg.jpg" alt=""></div>
            </div>
            <p>If you have plans to book flight tickets from Copa Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Copa Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>With reference to the <a href="https://www.faresmatch.com/copa-airlines-refund-policy.aspx">Copa Airline’s refund policy</a>, only eligible tickets qualify for a refund after you submit your request along with the required documentation.  You must make a request for the <b>refund against your canceled flight</b> within the validity period. The amount of refund will depend on the fare rules of your ticket. Also, even though you booked tickets via kiosk, the refundable amount will be processed directly into your bank account.You will receive refund in the same mode you purchased the <a href="https://www.faresmatch.com/">flight tickets</a>. </p>
            <p>If you seek refund after <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation of flight</a> due to sickness or death, you must provide valid documentation, such as death certificate or medical certificate. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with Copa Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How to cancel a flight ticket with Copa Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Copa Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Copa Airlines and fill out the refund request form. It may take 7 to 10 business days for the refund to reflect on your card/bank statement. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>


