
@{
    ViewBag.Title = "easyjetairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund on Easyjet Airlines Flight Cancellation- FaresMatch</title>
    <meta name="description" content="To claim the refund from Easyjet airline's refund policy, a cancellation fee must be paid for cancelling the booked flight within 24hours of its booking.">
    <link rel="canonical" href="https://www.faresmatch.com/easyjet-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/easyjet-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund on Easyjet Airlines Flight Cancellation- FaresMatch">
    <meta property="og:description" content="To claim the refund from Easyjet airline's refund policy, a cancellation fee must be paid for cancelling the booked flight within 24hours of its booking.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/easyjet-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund on Easyjet Airlines Flight Cancellation- FaresMatch">
    <meta name="twitter:description" content="To claim the refund from Easyjet airline's refund policy, a cancellation fee must be paid for cancelling the booked flight within 24hours of its booking.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Easyjet Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <div class="grid1">
                <div class="column">
                    <h2>Easyjet Airlines refund policy</h2>
                    <p>Easyjet Airlines is a major airline which serves an extensive range of domestic and international flights. The Airlines provide their passengers with flexibility and benefits while they manage their bookings. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/EasyJet-Airlines-Ground-Report.jpg" alt=""></div>
            </div>
            <h2>Refund policy</h2>
            <p>If the booked flight is cancelled within 24 hours of booking, a cancellation fee must be paid to <a href="https://www.faresmatch.com/easyjet-airlines-refund-policy.aspx">claim the refund</a>. The cancellation amount will be deducted from the total amount to be refunded. </p>

            <p>If the ticket is cancelled after 24 hours of booking, no refund will be given. If the reason is serious, with valid proof, one may request Easyjet for reconsideration of refunds. If the flight is missed, not taken or cancelled, one may demand a refund of the full government taxes. If <a href="https://www.faresmatch.com/refund-policy.aspx">Easyjet cancels the flights</a>, one may demand a full refund without paying any cancellation or refund fee. </p>

            <p>If the tickets are cancelled from the airline’s end, then the airlines pay the compensation for the next flight. </p>

            <h2>FAQs</h2>
            <h3>How many passengers can I book at once? </h3>
            <p>Easyjet allows a group of 40 passengers with individual names entered. </p>

            <h3>Can infants and children travel? </h3>
            <p>Easyjet allows infants from 14 days-24 months to travel accompanied by an adult aged 16 or older. Children aged 2-15 must be accompanied by an adult while travelling. Babies are charged £25 per flight, and children 2 or older need to pay the full fare. </p>

            <h3>Which payment methods are available? </h3>
            <p>Easyjet accepts the following payment methods namely Visa, Mastercard, American Express, Maestro, Diners Club, Discover, UATP, SEPA DD, Apple Pay and PayPal. </p>

            <h3>Are taxes and fees included in the price shown? </h3>
            <p>When making a booking, government taxes are listed under “Fees” in the total price paid. In the event of a government increasing taxes, one may require to pay the excess tax. </p>

            <h3>How much luggage can I carry in EasyJet? </h3>
            <p>Everyone is allowed to bring one small cabin bag for free. The maximum size can be 45x36x20 cm. The weight of the bag can be a maximum 15Kg. Customers who have paid for an extra legroom seat can bring a bag of 56x45x25 cm and a max weight of 15kg. </p>
            <p>Customers carrying babies or children are allowed a luggage weight of 23kg for free or buy extra 3kgs units up to 32kg. </p>

            <h3>Do I need a visa only for the country I am visiting or all the countries I pass through? </h3>
            <p>Every country has its own regarding the entrance of non-citizens. The customer’s sole responsibility is to check all respective laws before entering the country. Some countries require immigration laws as per their laws. </p>

            <h3>Can I track the status of my refund request? </h3>
            <p>Yes. Refund status can be checked from the official website of the airlines. </p>

            <h3>How to cancel the tickets? </h3>
            <p>The tickets can be cancelled online by using a mobile device. A passenger can also cancel a ticket by calling the contact service department. The passenger can also cancel the ticket by visiting the airport. </p>
        </div>
    </div>
</div>

