
@{
    ViewBag.Title = "ethiopianairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund & Flight Changing policy on Ethiopian Airlines</title>
    <meta name="description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight.">
    <link rel="canonical" href="https://www.faresmatch.com/ethiopian-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/ethiopian-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund & Flight Changing policy on Ethiopian Airlines">
    <meta property="og:description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/ethiopian-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund & Flight Changing policy on Ethiopian Airlines">
    <meta name="twitter:description" content="Cancel a ticket within 24 hours of booking & get a full refund. Also, claim a refund if the airline cancels or delays your flight.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Ethiopian Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Ethiopian Airlines Refund Policy</h2>
            <p>Ethiopian Airlines is a country-owned Amharic airline with headquarters are at Bole International Airport in Addis Ababa. The airline serves a network of 125 passenger destinations—20 of them domestic—and 44 freighter destinations with a fleet size of 134 aircraft. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/flight-tickets-booking.aspx">book flight tickets</a> from Ethiopian Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Ethiopian Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to <a href="https://www.faresmatch.com/ethiopian-airlines-refund-policy.aspx">Ethiopian Airlines refund policy</a>, if you cancel your flight ticket within 24 hours of booking and at least 7 days before its departure, you are entitled to get a full refund. If you fail to cancel the flight within the cancellation window, you will have to pay the cancellation charges that will be deducted from the refundable amount that you will receive. </p>
            <p>You can also claim a refund if the airline cancels or delays your flight by more than 5 hours. Further, the airline will process the refund to the original source you used for making the payment. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund from Ethiopian Airlines?</h3>
            <p>Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Ethiopian Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Ethiopian Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Ethiopian Airlines and fill out the refund request form. The airline will process your credit card refunds within 7 business days and bank transfer refunds in 20 business days. </p>
            <h3>Will I get any compensation if my flight gets delayed by more than 4 hours? </h3>
            <p>If your flight gets delayed by more than 4 hours, you are entitled to get a refund. To know more about the same, you can call customer care support about the compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

