
@{
    ViewBag.Title = "etihadairwayscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancellation Policy | Terms and conditions, Etihad Airways- FaresMatch</title>
    <meta name="description" content="Cancel your flight ticket and get a full refund from Etihad Airways. Canceling tickets within 24 hours of booking, flexible cancellation policy.">
    <link rel="canonical" href="https://www.faresmatch.com/etihad-airways-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/etihad-airways-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancellation Policy | Terms and conditions, Etihad Airways- FaresMatch ">
    <meta property="og:description" content="Cancel your flight ticket and get a full refund from Etihad Airways. Canceling tickets within 24 hours of booking, flexible cancellation policy. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/etihad-airways-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancellation Policy | Terms and conditions, Etihad Airways- FaresMatch ">
    <meta name="twitter:description" content="Cancel your flight ticket and get a full refund from Etihad Airways. Canceling tickets within 24 hours of booking, flexible cancellation policy. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Etihad Airways Cancellation Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Etihad Airways Cancellation policy</h2>
            <div class="grid1">
                <div class="column">
                    <p>Etihad Airways is one of the prestigious airlines in the United Arab Emirates. After Emirates, it is the second-largest airline in UAE. Etihad Airways operates more than 1,000 flights per week to over 120 passenger and cargo destinations in the Middle East, Africa, Europe, Asia, Australia, and North America, with a fleet of 102 aircraft. In 2014, the airline introduced new cabins in its various aircraft. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/Etihad-Ground-Report.jpg" alt=""></div>
            </div>
            <p>If you have plans to book <a href="https://www.faresmatch.com/">flight tickets </a>from Etihad Airways, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of <a href="https://www.faresmatch.com/etihad-airways-cancellation-policy.aspx">Etihad Airways’ cancellation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p>According to Etihad Airways’ <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>, if you book a flight ticket to/from the United States at least 7 days before departure and cancel it within 24 hours of booking, you are entitled to a full refund. If you fail to cancel your ticket within the cancellation window, you will have to pay the cancellation fees. In case you forget to cancel your ticket and your presence turns out to be a no-show, you will have to pay the penalty. </p>
            <p>If the airline cancels or delays your flight, you are entitled to free-of-charge services like meals and refreshment vouchers depending on your waiting time, 2 phone calls, e-mails, fax, or telex messages, hotel accommodation if required, and to-and-fro transportation from the hotel. </p>
            <h3>Refund Policy</h3>
            <p>If you haven’t used your ticket, it is refundable. To claim a refund, your ticket must have been issued at least 5 days earlier and must be purchased through a single credit card. The airline will process the refundable amount to the original form of payment. </p>
            <h2>FAQs</h2>

            <h3>How to cancel a flight ticket with Etihad Airways?</h3>
            <p>If you wish to cancel the flight ticket, you may call the Etihad Airways customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Etihad Airways or call customer care. It may take 14 to 30 business days for the refund to reflect on your card/bank statement. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

