
@{
    ViewBag.Title = "fijiairwayscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Fiji Airways Flights: Cancellation Policy- FaresMatch</title>
    <meta name="description" content="Check the flight cancellation policy before booking flight tickets from Fiji Airways. Make sure you checked the ongoing offers and deals on Fiji cheap flights." />
    <link rel="canonical" href="https://www.faresmatch.com/fiji-airways-cancellation-policy.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/fiji-airways-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fiji Airways Flights: Cancellation Policy- FaresMatch">
    <meta property="og:description" content="Check the flight cancellation policy before booking flight tickets from Fiji Airways. Make sure you checked the ongoing offers and deals on Fiji cheap flights." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/fiji-airways-cancellation-policy.aspx">
    <meta name="twitter:title" content="Fiji Airways Flights: Cancellation Policy- FaresMatch" />
    <meta name="twitter:description" content="Check the flight cancellation policy before booking flight tickets from Fiji Airways. Make sure you checked the ongoing offers and deals on Fiji cheap flights." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Fiji Airlines Cancellation Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Fiji Airlines Cancellation Policy</h2>

            <p>A popular flag carrier of Fiji, Fiji Airways operates internationally in 13 countries and 23 cities, including Australia, New Zealand, Hong Kong, Japan, Singapore and many more. Have you planned or are you planning to book flights from Fiji Airways? Then go ahead as you make a wise decision that will save you money. </p>

            <p>However, before <a href="https://www.faresmatch.com/fiji-airways-flights.aspx">booking flights</a> with Fiji Airlines, check out the ongoing offers, deals, flight bookings and cancellation policy. The airline's cancellation and refund policy is flexible and will not trouble you much. </p>

            <h2>Fiji Airlines' 24-hours Cancellation Policy</h2>
            <p>The 24-hours cancellation policy of Fiji Airways depends on the country of origin and the airlines. Hence to meet the needs and circumstances of passengers, Fiji Airways has introduced a 24-hour cancellation policy. </p>

            <ul>
                <li>According to Fiji Airways' 24-hour cancellation policy, passengers are eligible to cancel a flight booked on Fiji Airways within 24 hours of purchase. You will also get a full refund of the cost of your ticket with Fiji Airways. </li>
                <li>If the booking was made one week or more before the departure date of your Fiji Airways flight, you could not cancel your <a href="https://www.faresmatch.com/">cheap tickets</a>. Fiji Airways Airlines gives you. The right to change cancellations up to 24 hours at any time. </li>
            </ul>

            <p>The airlines have also prescribed a cancellation fee for domestic and international flights. The airline's cancellation fee costs from $100 - $500. This is only charged if ticket cancellation requests are made after 24 hours as a risk-free cancellation. </p>

            <h3>How to apply for a refund?</h3>
            <p>Airlines provide refunds for reserved flights, and travellers can file a refund request online by visiting the official Fiji Airways website. Passengers can contact the Fiji customer centre to get timely <a href="https://www.faresmatch.com/fiji-airways-refund-policy.aspx">refunds for cancelled flight tickets</a> in Fiji. To apply for a refund, you need to follow the given steps. </p>


            <ul>
                <li>First, open your web browser and visit the official Fiji Airways website. It would help if you visited www.fiji airways.com. </li>
                <li>After opening the homepage, travellers need to scroll down the page, where they need to locate the cancellation and refunds option. </li>
                <li>Once you head to the refund window, travellers can place the Fiji airways refund request form on the page. </li>
                <li>One needs to fill in the details of the refund request form. </li>
                <li>You need a cancellation reference number to successfully submit a duly filed refund request form online necessary to file a refund request with the airline. </li>
                <li>A refund confirmation email will be sent to your registered email address. </li>
            </ul>

            <p>Once you have applied for a Fiji Airways refund request, a refund token gets initiated as soon as possible. However, the airline might take around 4 to 10 business days to process the refund. The amount then gets reflected in your original payment source. Therefore, these were everything related to the cancellation policy of Fiji Airways. Booking tickets in advance is a great option to get hold of <a href="https://www.faresmatch.com/cheap-fare-airline-tickets.aspx">cheap airline reservations</a>. </p>

            <h2>FAQs</h2>
            <h3>How to cancel a flight ticket with Fiji Airways? </h3>
            <p>You can call the Fiji Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>When can I make the request for the refund? By when can I expect it? </h3>
            <p>If you have booked the ticket by credit card, you should visit the official website of Fiji Airways. If you have booked tickets in a group, you need to fill out the refund form for each ticket separately. You place a cancellation request by a written application. It takes time to process the refunds; hence, you may receive refunds within 7 to 20 working days. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Caribbean Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

