
@{
    ViewBag.Title = "hawaiianairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Airline Policy | Refund from Hawaiian Airlines- FaresMatch</title>
    <meta name="description" content="You can claim a refund from Hawaiian Airlines if you cancel your flight ticket at least 7 days before.">
    <link rel="canonical" href="https://www.faresmatch.com/hawaiian-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/hawaiian-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Airline Policy | Refund from Hawaiian Airlines- FaresMatch">
    <meta property="og:description" content="You can claim a refund from Hawaiian Airlines if you cancel your flight ticket at least 7 days before.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/hawaiian-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Airline Policy | Refund from Hawaiian Airlines- FaresMatch">
    <meta name="twitter:description" content="You can claim a refund from Hawaiian Airlines if you cancel your flight ticket at least 7 days before.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Hawaiian Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Hawaiian Airlines Refund Policy</h2>
            <p>Hawaiian Airlines is the 10th largest commercial airline based in Honolulu, Hawaii. The airline operates flights to Asia, American Samoa, Australia, French Polynesia, Hawaii, New Zealand, and the United States mainland and has added 6th international destination Incheon International Airport near Seoul, South Korea. It is known for its in-flight services, cabin, in-flight entertainment, catering, and frequent flyer program. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/">book a flight</a> from Hawaiian Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of <a href="https://www.faresmatch.com/hawaiian-airlines-refund-policy.aspx">Hawaiian Airlines’ refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to Hawaiian Airlines <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a>, if you cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking, you can claim a refund. You may also claim refund if you were refused boarding or the airline cancels your flight. If you couldn’t board the flight due to your health issues or a family member is hospitalized, you can claim refund along with relevant medical proofs. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with Hawaiian Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Hawaiian Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Hawaiian Airlines customer care office and inform them about the cancellation. You may visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Hawaiian Airlines and fill out the refund request form. The airline will process your refund within 7 to 10 business days.  </p>
            <h3>Will I get any compensation from Hawaiian airlines if my flight gets delayed by 2 hours? </h3>
            <p>Due to unavoidable reasons, you may experience flight delays by 2 or more hours, or your flight was canceled less than 14 days before departure, you are eligible to get compensation along with free meals and refreshments and 2 free calls, emails, or fax service. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

