
@{
    ViewBag.Title = "hawaiianairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Flight Cancellation Policy | Hawaiian Airlines- FaresMatch</title>
    <meta name="description" content="Flight Cancellation on Hawaiian airlines is easy. Just cancel within 24 hours of booking the ticket or cancel it at least 7 days before the departure date.">
    <link rel="canonical" href="https://www.faresmatch.com/hawaiian-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/hawaiian-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Flight Cancellation Policy | Hawaiian Airlines- FaresMatch">
    <meta property="og:description" content="Flight Cancellation on Hawaiian airlines is easy. Just cancel within 24 hours of booking the ticket or cancel it at least 7 days before the departure date.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/hawaiian-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Flight Cancellation Policy | Hawaiian Airlines- FaresMatch">
    <meta name="twitter:description" content="Flight Cancellation on Hawaiian airlines is easy. Just cancel within 24 hours of booking the ticket or cancel it at least 7 days before the departure date.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Hawaiian Airlines Cancellation Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Hawaiian Airlines Cancellation Policy</h2>
            <p>Hawaiian Airlines is one of the oldest US airlines and the tenth-largest commercial airline in the United States based in Honolulu, Hawaii. It operates its services to several Asia-Pacific countries and territories and added its sixth international destination, Incheon International Airport near Seoul, South Korea. The airline also has daily and weekly direct, non-stop international flights from Honolulu to Tahiti, Australia, South Korea, Japan, and New Zealand. </p>
            <p>If you have plans to book flight tickets from Hawaiian Airlines, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of Hawaiian Airlines’ <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>. </p>
            <h2>Cancellation policy </h2>
            <p><a href="https://www.faresmatch.com/hawaiian-airlines-cancellation-policy.aspx">Hawaiian Airlines’ cancellation policy</a> states that only fully refundable fares can be canceled and refunded. But, if you cancel your flight ticket within 24 hours of booking and if you purchased the ticket seven days before the departure, you don’t have to pay any cancellation fee. You can also claim a refund if the airline cancels or delays your flight by more than 2 hours. If you or a family member is hospitalized, you can claim a refund in such a situation after providing documentary evidence. </p>
            <h3>Refund policy </h3>
            <p>If you cancel your <a href="https://www.faresmatch.com/">flight ticket</a> within 24 hours of booking if you purchased the ticket seven days before the departure, you can claim a full refund. If you cancel a non-refundable ticket, you will receive travel vouchers as a refund with a validity of a year from the issuance date. </p>
            <h4>Frequently asked question</h4>
            <h3>How to cancel a flight ticket with Hawaiian Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Hawaiian Airlines customer care office and inform them about the cancellation. Also, you can visit the airline’s official website and cancel your flight ticket. </p>
            <h3>How can I request a refund? By when can I expect it? </h3>
            <p>To request a refund, you can visit the official website of Hawaiian Airlines or call customer care. The airline will process the refund within 7 to 10 business days. </p>
            <h3>How much will I have to pay to cancel my flight ticket? </h3>
            <p>If you don’t wish to receive travel vouchers, you will be charged USD 25 if your ticket was meant for travel within Hawaii, USD 100 for travel within the continental United States, and USD 100 if your ticket was meant for travel between Hawaii and the continental United States. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Hawaiian Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

