
@{
    ViewBag.Title = "interjetairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund Policy of Flight Cancellation on Interjet Airlines</title>
    <meta name="description" content="Refund on Interjet Airlines. Claim a refund if the flight ticket is canceled within 24hours of the booking or at least 7 days before the scheduled departure.">
    <link rel="canonical" href="https://www.faresmatch.com/interjet-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/interjet-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund Policy of Flight Cancellation on Interjet Airlines">
    <meta property="og:description" content="Refund on Interjet Airlines. Claim a refund if the flight ticket is canceled within 24hours of the booking or at least 7 days before the scheduled departure.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/interjet-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund Policy of Flight Cancellation on Interjet Airlines">
    <meta name="twitter:description" content="Refund on Interjet Airlines. Claim a refund if the flight ticket is canceled within 24hours of the booking or at least 7 days before the scheduled departure.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Interjet Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Interjet Airlines Refund Policy</h2>
            <p>Interjet Airlines is a <a href="https://www.faresmatch.com/interjet-airlines.aspx">low-cost Mexican airline</a> headquartered in Mexico City. The airline operates services to locations in Mexico, Canada, Colombia, Costa Rica, Cuba, El Salvador, Guatemala, Peru, and the United States from its bases in Cancún, Guadalajara, Mexico City, and Monterrey. The airline is quite popular among surfers traveling to Mexico because of its baggage policy of not charging extra fees for those passengers transporting a surfboard on domestic flights. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/">book a flight</a> from Interjet Airways, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Interjet Airways’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to <a href="https://www.faresmatch.com/interjet-airlines-refund-policy.aspx">Interjet Airways refund policy</a>, if you cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking, you can claim a refund. However, if you fail to cancel the ticket within the cancellation window, you will receive a refund after the deduction of the cancellation fee. Also, the refundable amount will be processed to the original source you used to make the payment for the <a href="https://www.faresmatch.com/flight-tickets-booking.aspx">flight ticket</a>. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund from Interjet Airways? </h3>
            <p>Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Interjet Airways? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Interjet Airways customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Interjet Airways and fill out the refund request form. The airline will process your refund within 7 to 10 business days.  </p>
            <h3>Will I get any compensation if I sell my ticket? </h3>
            <p>If you choose to sell your flight ticket, the airline can help you get a full or partial refund at a small fee. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

