
@{
    ViewBag.Title = "jetblueairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Refund Policy, JetBlue Airlines, American Low-cost Carrier</title>
    <meta name="description" content="There will be “No Refund”, if you fail to cancel a refundable fare prior to departure. Get JetBlue Travel Credit for future travel with JetBlue within 12 months.">
    <link rel="canonical" href="https://www.faresmatch.com/jet-blue-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/jet-blue-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund Policy, JetBlue Airlines, American Low-cost Carrier">
    <meta property="og:description" content="There will be “No Refund”, if you fail to cancel a refundable fare prior to departure. Get JetBlue Travel Credit for future travel with JetBlue within 12 months.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/jet-blue-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund Policy, JetBlue Airlines, American Low-cost Carrier">
    <meta name="twitter:description" content="There will be “No Refund”, if you fail to cancel a refundable fare prior to departure. Get JetBlue Travel Credit for future travel with JetBlue within 12 months.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>JetBlue Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>JetBlue Airlines Refund Policy</h2>

            <p>JetBlue Airlines is the seventh-largest airline in North America and a low-cost American airline headquartered in the Long Island City neighborhood of the New York City borough of Queens. The airline operates flies to 104 destinations in the Americas, with most of them in the United States and the Caribbean, a smaller selection of destinations Central and South America, and two destinations in Europe. </p>
            <p>If you have plans to book flight tickets from JetBlue Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of JetBlue Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy </a>for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to <a href="https://www.faresmatch.com/jet-blue-airlines-refund-policy.aspx">JetBlue Airlines’ refund policy</a>, if you cancel a non-refundable ticket, you will receive JetBlue Travel Credit for future travel with JetBlue that must be redeemed within 12 months from the date of issue. If you cancel your ticket due to death of a family member, you can claim for a full refund within 14 days of <a href="https://www.faresmatch.com/cancellation-policy.aspx">flight cancellation</a> along with a copy of the death certificate. Also, if you fail to cancel a refundable fare prior to departure, you will not receive any refund. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with JetBlue Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How to cancel a flight ticket with JetBlue Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the JetBlue Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Allegiant Airlines and fill out the refund request form. The airline will process the refund within 20 business days; it may take longer due to technical issues. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

