
@{
    ViewBag.Title = "jetsmartairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Flight Changing and Refund Policy at JetSmart- FaresMatch</title>
    <meta name="description" content="JetSmart flights tickets are non-refundable. You can avail of benefits like changing flight, date, and destination 1 hour before the scheduled departure.">
    <link rel="canonical" href="https://www.faresmatch.com/jet-smart-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/jet-smart-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Flight Changing and Refund Policy at JetSmart- FaresMatch">
    <meta property="og:description" content="JetSmart flights tickets are non-refundable. You can avail of benefits like changing flight, date, and destination 1 hour before the scheduled departure.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/jet-smart-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Flight Changing and Refund Policy at JetSmart- FaresMatch">
    <meta name="twitter:description" content="JetSmart flights tickets are non-refundable. You can avail of benefits like changing flight, date, and destination 1 hour before the scheduled departure.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>JetSmart Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>JetSmart Airlines Refund Policy</h2>
            <p>JetSmart Airlines is a <a href="https://www.faresmatch.com/jet-smart-airlines-refund-policy.aspx">low-cost airline</a> in South America founded in 2017. Initially, the airline started its service from Santiago to Calama and later pulled it to Argentina, Brazil, Chile, Columbia and Peru with a fleet size of 19 aircraft. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/">book flight tickets</a> from JetSmart Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of <a href="https://www.faresmatch.com/jet-smart-airlines-refund-policy.aspx">JetSmart Airlines’ refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>If you have booked a flight ticket with JetSmart Airlines, you must know that you are not entitled to get a refund on the reservation once it is issued. You may only<a href="https://www.faresmatch.com/refund-policy.aspx"> request refund</a> for the refundable tickets. In case you miss a flight, you will have to purchase a new ticket. However, you may request of the boarding fees for the flight you missed. </p>
            <p>Also, if you cancel the charter service, the refund will be calculated on a percentage basis that will depend on how early you informed the airline about cancellation before the departure of the flight. </p>
            <h2>FAQs</h2>

            <h3>Who can receive a refund with JetSMART Airlines? </h3>
            <p>If you have purchased an eligible refundable ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with JetSmart Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the JetSmart Airlines customer care office and inform them about the cancellation. You may visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Can I change my flight with JetSmart Airlines? </h3>
            <p>You can change the flight, date, destination, and name up to one hour before the flight on JetSmart Airlines. Also, you may have to pay the additional charges plus the fare difference, if any. </p>
            <h3>What happens if my flight gets delayed or cancelled? </h3>
            <p>If the airline cancels your flight or your flight gets delayed for more than 15 minutes, the airline will update you about it and you will be able to change your flight without paying any additional costs, or fare differences, for any flight on the same route that has available seats. </p>
            <h3>Is my flight refundable? </h3>
            <p>Your ticket contains every information is it is refundable or not but you can check the same by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

