
@{
    ViewBag.Title = "jetsmartairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>JetSmart Flight Booking, Cancellation & Refund Policy</title>
    <meta name="description" content="Cancel a ticket without any cancellation fee or penalty. Check the Cancellation Policy, ongoing offers & deals before booking Flights on JetSmart Airlines.">
    <link rel="canonical" href="https://www.faresmatch.com/jetsmart-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/jetsmart-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="JetSmart Flight Booking, Cancellation & Refund Policy">
    <meta property="og:description" content="Cancel a ticket without any cancellation fee or penalty. Check the Cancellation Policy, ongoing offers & deals before booking Flights on JetSmart Airlines.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/jetsmart-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="JetSmart Flight Booking, Cancellation & Refund Policy">
    <meta name="twitter:title" content="Cancel a ticket without any cancellation fee or penalty. Check the Cancellation Policy, ongoing offers & deals before booking Flights on JetSmart Airlines.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>JetSmart Airlines Cancelation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>JetSmart Airlines Cancelation policy</h2>
            <p>JetSmart Airlines SpA, commonly known as JetSmart Airlines is a South American ultra-low-cost carrier. The airline was founded in 2017 and created by the US investment fund and co-founder of LBM Fermin Ithuralde Indigo Partners. JetSmart started its operations on 25 July 2017 with a service from Santiago to Calama. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/">book flight tickets</a> from JetSmart Airlines, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of <a href="https://www.faresmatch.com/jetsmart-airlines-cancellation-policy.aspx">JetSmart Airlines’ cancelation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p>The airlines allow the reservation price to be the same without any change until you purchase it completely. It helps you avoid extra raises charged while <a href="https://www.faresmatch.com/jetsmart-airlines.aspx">booking a JetSmart flight ticket</a>. It gives you an option of up to 24 or 48 hours until you choose and book your itinerary. However, it will not provide any discount or refundable tickets while reservation. </p>
            <p>If you are a FlexiSMART member of JetSmart only then you can make changes without any cancellation fee or penalty. </p>
            <h3>Refund policy </h3>
            <p>You may request a refund but only the eligible refundable tickets qualify for the refund policy. </p>
            <h2>Frequently asked question</h2>
            <h3>How to cancel a flight ticket with JetSmart Airlines? </h3>
            <p>You can call the JetSmart Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>When can I make the request for the refund? </h3>
            <p>You may place a request for a refund by calling the support or by filling out the refund request form on JetSmart Airlines’ official website. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and JetSmart Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

