
@{
    ViewBag.Title = "latamairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Latam Airlines Cancellation Policy | Change or Refund</title>
    <meta name="description" content="Latam Airlines’ cancellation policy allows its customers to book and cancel flight tickets based on their plan.">
    <link rel="canonical" href="https://www.faresmatch.com/latam-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/latam-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Latam Airlines Cancellation Policy | Change or Refund">
    <meta property="og:description" content="Latam Airlines’ cancellation policy allows its customers to book and cancel flight tickets based on their plan.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/latam-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Latam Airlines Cancellation Policy | Change or Refund">
    <meta name="twitter:description" content="Latam Airlines’ cancellation policy allows its customers to book and cancel flight tickets based on their plan.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Latam Airlines Cancellation Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Latam Airlines Cancellation Policy</h2>
            <p>Latam Airlines is considered the largest airline in Latin America, headquartered in Santiago, Chile. The airline has its subsidiaries in Brazil, Colombia, Ecuador, Paraguay, and Peru. Latam Airlines became the largest airline by providing exquisite customer service. It allows the customer a carefree travel experience and the freedom to book and cancel flight tickets based on the customer’s plan. </p>
            <p>If you have plans to book flight tickets from Latam Airlines, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of <a href="https://www.faresmatch.com/latam-airlines-cancellation-policy.aspx">Latam Airlines’ cancelation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p>According to Latam’s <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking without paying any cancellation fee. If you miss the cancellation window to cancel the flight tickets, you will have to pay the cancellation fee based on the time of cancellation, the destination, and the class of tickets purchased. Also, if you submit any legal documents to cancel the flight reservation due to an emergency, you don’t need to pay a service fee. </p>
            <h3>Refund policy </h3>
            <p>If you seek a full refund from the airline, make sure you cancel the <a href="https://www.faresmatch.com/">flight ticket</a> within 24 hours of booking. If you are an adult are eligible to collect a refund. However, if you are a young traveler, you need to approach the customer contact center to ask for a refund. </p>
            <h4>Frequently asked question</h4>
            <h3>How to cancel a flight ticket with Latam Airlines? </h3>
            <p>You can call the Fiji Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for the refund? By when can I expect it? </h3>
            <p>You can make the request for a refund either on the official website of Latam Airlines or call the helpdesk of the airline to inform about the same. It takes time to process the refunds; hence, you may receive refunds within 10 working days. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Latam Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

