
@{
    ViewBag.Title = "lotpolishairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>How to cancel a Flight | Lot Polish Airlines Cancellation</title>
    <meta name="description" content="According to Lot Polish cancellation policy if you cancel Lot Polish Flight Ticket then you will get travel credit as a refund.">
    <link rel="canonical" href="https://www.faresmatch.com/lot-polish-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/lot-polish-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="How to cancel a Flight | Lot Polish Airlines Cancellation">
    <meta property="og:description" content="According to Lot Polish cancellation policy if you cancel Lot Polish Flight Ticket then you will get travel credit as a refund.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/lot-polish-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="How to cancel a Flight | Lot Polish Airlines Cancellation">
    <meta name="twitter:description" content="According to Lot Polish cancellation policy if you cancel Lot Polish Flight Ticket then you will get travel credit as a refund.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Lot Polish Airlines Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Lot Polish Airlines Cancellation policy</h2>
            <p>LOT Polish Airlines is a flight carrier in Poland and is one of the world's oldest airlines in operation founded in 1928. It is also the 18th largest operator in Europe with over 120 destinations across Europe, Asia, and North America with a fleet of 75 aircraft. LOT is known to use Lufthansa’s frequent-flyer program called Miles and More. Also, if you are a business-class ticket owner with LOT, you have access to the 'Polonez' Business Lounge at Warsaw Chopin Airport and at Budapest Ferenc Liszt International Airport. </p>
            <p>If you have plans to book flight tickets from LOT Polish Airlines, make sure you check the ongoing offers and deals, <a href="https://www.faresmatch.com/">flight booking</a>, and cancellation policy. For your ease, below is an overview of <a href="https://www.faresmatch.com/lot-polish-airlines-cancellation-policy.aspx">LOT Polish Airlines’ cancellation policy</a>. </p>
            <h2>Cancellation policy </h2>
            <p>According to LOT’s cancellation policy, if you cancel a flight ticket, the refund would not be applicable but you always have an option to change the flight. After cancellation, the ticket remains valid up to one year from the date of purchase. However, if the price of the new ticket is lower than the value of the voucher, the difference is refunded in the form of a new voucher. If the voucher gets expired, you can claim a refund on the unused value and the form of payment in which the refund should be made.  </p>
            <p>Moreover, if you cancel a flight ticket within 24 hours of booking whose scheduled departure date falls 7 or more days at the time of making the <a href="https://www.faresmatch.com/cancellation-policy.aspx">flight cancellation</a>, you can claim a full refund. </p>
            <h3>Refund policy </h3>
            <p>You can claim a cash refund from the airline only if you cancel the flight ticket within 24 hours of booking. If you cancel a flight ticket otherwise, the refund would be provided in the form of future travel credit only.  </p>
            <h4>Frequently asked question</h4>
            <h3>How to cancel a flight ticket with LOT Polish Airlines? </h3>
            <p>You can call the LOT Polish Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>You can make the request for a refund by filling out a form on the official website of LOT Polish Airlines. It takes time to process the refunds; hence, the refund will be processed within 14 working from the date of cancellation. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the LOT Polish Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

