
@{
    ViewBag.Title = "lufthansaairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Airline Policies | Refund & Cancellation of Lufthansa Airlines</title>
    <meta name="description" content="To cancel the flight ticket, you may call the Lufthansa Airlines customer care office and inform them about the cancellation. Or visit official website of the airline.">
    <link rel="canonical" href="https://www.faresmatch.com/lufthansa-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/lufthansa-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Airline Policies | Refund & Cancellation of Lufthansa Airlines">
    <meta property="og:description" content="To cancel the flight ticket, you may call the Lufthansa Airlines customer care office and inform them about the cancellation. Or visit official website of the airline.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/lufthansa-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Airline Policies | Refund & Cancellation of Lufthansa Airlines">
    <meta name="twitter:description" content="To cancel the flight ticket, you may call the Lufthansa Airlines customer care office and inform them about the cancellation. Or visit official website of the airline.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Lufthansa Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Lufthansa Airlines Refund Policy</h2>
            <p>Lufthansa Airlines is the largest airline of Germany and the second-largest airline in Europe in terms of passengers carried. It is also known for its frequent flyer program, cabin services, airport lounges and terminals, and bus services. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/">book a flight</a> ticket from Lufthansa Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Lufthansa Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to <a href="https://www.faresmatch.com/lufthansa-airlines-refund-policy.aspx">Lufthansa Airlines refund policy</a>, if you cancel your flight ticket within 24 hours of booking and your flight’s departure is at least 7 days away, you can claim complete refund. You may also claim full refund if the airline cancels your flight, or your flight gets delayed by more than 2 hours. If you couldn’t board the flight due to illness or death in the family, you can claim full refund by submitting the relevant documents. </p>
            <p>Moreover, you will receive the refund in the original form of payment, i.e., payments made by credit card will be returned to the credit card account, and so on. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with Lufthansa Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Lufthansa Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Lufthansa Airlines customer care office and inform them about the cancellation. You may visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Lufthansa Airlines and fill out the refund request form. If you paid for the ticket with credit card, you will receive refund within 7 business days. However, if you paid via check or cash, you will receive refund within 20 days. </p>
            <h3>Will I get any compensation from Lufthansa airlines if my flight gets delayed by 2 hours? </h3>
            <p>Due to unavoidable reasons, you may experience flight delays by 2 or more hours, or your flight was canceled less than 14 days before departure, you are eligible to get travel vouchers that you can use within the validity period.  </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

