
@{
    ViewBag.Title = "lufthansaairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Lufthansa Airlines Cancellation Policy | Cancel a Flight</title>
    <meta name="description" content="If you cancel a Lufthansa flight within 24 hours of booking then you are eligible for a full refund if the flight departs after 7 days or more.">
    <link rel="canonical" href="https://www.faresmatch.com/lufthansa-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/lufthansa-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Lufthansa Airlines Cancellation Policy | Cancel a Flight">
    <meta property="og:description" content="If you cancel a Lufthansa flight within 24 hours of booking then you are eligible for a full refund if the flight departs after 7 days or more.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/lufthansa-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Lufthansa Airlines Cancellation Policy | Cancel a Flight">
    <meta name="twitter:description" content="If you cancel a Lufthansa flight within 24 hours of booking then you are eligible for a full refund if the flight departs after 7 days or more.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Lufthansa Airlines Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Lufthansa Airlines Cancellation policy</h2>
            <p>Lufthansa Airlines officially known as Deutsche Lufthansa AG is the largest airline in Germany founded in 1958. Apart from its own services, the airline also owns subsidiary passenger airlines Austrian Airlines, Swiss International Air Lines, Brussels Airlines, and Euro wings. Moreover, the airline is known for its frequent flyer program, first-class and business-class cabin services, airport lounges and terminals, and bus service. </p>
            <p>If you have plans to <a href="https://www.faresmatch.com/lufthansa-business-class.aspx">book flight tickets from Lufthansa Airlines</a>, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of Lufthansa Airlines’ <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancellation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p>According to <a href="https://www.faresmatch.com/lufthansa-airlines-cancellation-policy.aspx">Lufthansa’s cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking without any cancellation fee. You are also eligible for a full refund if the flight departs after 7 days or more. </p>
            <p>If Lufthansa Airlines cancels your flight reservation due to unavoidable reasons, you are eligible for a full refund. Also, if you cancel the flight ticket due to special circumstances—such as a death or serious illness— you may qualify for a full refund subject to documentary evidence and Lufthansa agreeing to it. </p>
            <h3>Refund policy</h3>
            <p>If you have made a refund request, the refund will be made to the original form of payment, i.e., payments made by credit card will be returned to the credit card account, and so on. Only unused tickets can qualify for a full refund will be fully refunded along with taxes and fees. </p>
            <h2>FAQs</h2>
            <h3>How to cancel a flight ticket with Lufthansa Airlines? </h3>
            <p>You can call the Lufthansa Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>When can I make the request for the refund? By when can I expect it? </h3>
            <p>You may place a request for a refund by calling the support or by filling out the refund request form on Lufthansa Airlines’ official website. If you made a payment with a credit card, you will receive the refund within 7 days. However, if you used cash or check, it may take 20 days. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and Lufthansa Airlines’ website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

