
@{
    ViewBag.Title = "majorairlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Airlines Reservations| +1-800-918-3039|Fares Match</title>
    <meta name="description" content="Fares Match Offers Maximum Profit Giving Deals on Airlines Reservations on Delta, United, Frontier, Alaska, Turkish, Hawaiian, Allegiant and Many More Airlines." />
    <meta name="keywords" content="Airlines Reservations, Airlines Booking, Airlines Tickets" />
    <link rel="canonical" href="https://www.faresmatch.com/major-airlines.aspx" />
    <meta property="og:title" content="Airlines Reservations| +1-800-918-3039|Fares Match" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Fares Match Offers Maximum Profit Giving Deals on Airlines Reservations on Delta, United, Frontier, Alaska, Turkish, Hawaiian, Allegiant and Many More Airlines." />
    <meta property="og:url" content="https://www.faresmatch.com/major-airlines.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    <meta name="robots" content="index,follow" />
}

<style>
    .majorairlines {
        a

    {
        color: var(--primary-color) !important;
    }

    a:hover {
        text-decoration: underline !important;
    }

    th,
    td {
        width: 12.5%;
    }

    img {
        width: 25px;
    }

    .newgrid55 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        .column

    {
        padding: 15px;
        background-color: #eaeaea;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
    }

    .column:hover {
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
    }

    }
    }

    @@media only screen and (max-width: 1024px) {
        .majorairlines {
            .newgrid55

    {
        grid-template-columns: repeat(2, 1fr);
    }

    }
    }
</style>

<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Major Airlines</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 majorairlines">
    <div class="row">
        <div class="column">
            <h2>Major Airlines</h2>

            <div class="newgrid55">
                <div class="column">
                    <p><img src="https://www.faresmatch.com/images/airlines1/DL.png" alt="Delta"> DL</p>
                    <p>
                        <a href="https://www.faresmatch.com/delta-airlines-flights-reservations.aspx">
                            Delta Air
                            Lines
                        </a>
                    </p>
                    <p>+1 (800) 221-1212</p>
                </div>
                <div class="column">
                    <p>
                    <p><img alt="United Airlines" src="https://www.faresmatch.com/images/airlines1/UA.png"> UA</p>
                    <p>
                        <a href="https://www.faresmatch.com/united-airlines-flights-reservations.aspx">
                            United
                            Airlines
                        </a>
                    </p>
                    <p>+1 (800) 864-8331</p>
                </div>
                <div class="column">
                    <p><img alt="Southwest" src="https://www.faresmatch.com/images/airlines1/WN.png"> WN</p>
                    <p><a href="https://www.faresmatch.com/southwest-airlines.aspx">Southwest Airlines</a></p>
                    <p>+1 (800) 435-9792</p>
                </div>
                <div class="column">
                    <p><img alt="JetBlue" src="https://www.faresmatch.com/images/airlines1/B6.png"> B6</p>
                    <p><a href="https://www.faresmatch.com/jetblue-airlines-flights.aspx">JetBlue Airline</a></p>
                    <p>+1 (800) 538-2583</p>
                </div>
                <div class="column">
                    <p><img alt="Alaska Airlines" src="https://www.faresmatch.com/images/airlines1/AS.png"> AS</p>
                    <p>
                        <a href="https://www.faresmatch.com/alaska-airlines-flights-reservations.aspx">
                            Alaska
                            Airlines
                        </a>
                    </p>
                    <p>+1 (800) 252-7522</p>
                </div>
                <div class="column">
                    <p><img alt="Allegiant Air" src="https://www.faresmatch.com/images/airlines1/G4.png"> G4</p>
                    <p>
                        <a href="https://www.faresmatch.com/allegiant-airlines-flights-reservations.aspx">
                            Allegiant
                            Air
                        </a>
                    </p>
                    <p>+1 (702) 505-8888</p>
                </div>
                <div class="column">
                    <p><img alt="Spirit Airlines" src="https://www.faresmatch.com/images/airlines1/NK.png"> NK</p>
                    <p>
                        <a href="https://www.faresmatch.com/spirit-airlines-flights-reservations.aspx">
                            Spirit
                            Airlines
                        </a>
                    </p>
                    <p>+1 (855) 728-3555</p>
                </div>
                <div class="column">
                    <p><img alt="Frontier" src="https://www.faresmatch.com/images/airlines1/F9.png"> F9</p>
                    <p>
                        <a href="https://www.faresmatch.com/frontier-airlines-flights-reservations.aspx">
                            Frontier
                            Airlines
                        </a>
                    </p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Lufthansa" src="https://www.faresmatch.com/images/airlines1/LH.png"> LH</p>
                    <p><a href="https://www.faresmatch.com/lufthansa-airlines.aspx">Lufthansa</a></p>
                    <p>1 (800) 645-3880</p>
                </div>
                <div class="column">
                    <p><img alt="KLM" src="https://www.faresmatch.com/images/airlines1/KL.png"> KL</p>
                    <p><a href="https://www.faresmatch.com/klm-airlines.aspx">KLM Airline</a></p>
                    <p>1 (800) 618-0104</p>
                </div>
                <div class="column">
                    <p><img alt="Air France" src="https://www.faresmatch.com/images/airlines1/AF.png"> AF</p>
                    <p><a href="https://www.faresmatch.com/air-france.aspx">Air France</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Turkish Airlines" src="https://www.faresmatch.com/images/airlines1/TK.png"> TK</p>
                    <p><a href="https://www.faresmatch.com/turkish-airlines.aspx">Turkish Airlines</a></p>
                    <p>1 (800) 874-8875</p>
                </div>
                <div class="column">
                    <p><img alt="British Airways" src="https://www.faresmatch.com/images/airlines1/BA.png"> BA</p>
                    <p><a href="https://www.faresmatch.com/british-airways.aspx">British Airways</a></p>
                    <p>1 (800) 247-9297</p>
                </div>
                <div class="column">
                    <p><img alt="SWISS" src="https://www.faresmatch.com/images/airlines1/LX.png"> LX</p>
                    <p>
                        <a href="https://www.faresmatch.com/swiss-international-air-lines.aspx">
                            Swiss International
                            Air Lines
                        </a>
                    </p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Air Canada" src="https://www.faresmatch.com/images/airlines1/AC.png"> AC</p>
                    <p><a href="https://www.faresmatch.com/air-canada-airlines.aspx">Air Canada Airline</a></p>
                    <p>1-888-422-7533</p>
                </div>
                <div class="column">
                    <p><img alt="Emirates" src="https://www.faresmatch.com/images/airlines1/EK.png"> EK</p>
                    <p><a href="https://www.faresmatch.com/emirates-airlines.aspx">Emirates</a></p>
                    <p>1 (800) 777-3999</p>
                </div>
                <div class="column">
                    <p><img alt="TAP AIR PORTUGAL" src="https://www.faresmatch.com/images/airlines1/TP.png"> TP</p>
                    <p><a href="https://www.faresmatch.com/tap-portugal-airlines.aspx">TAP AIR PORTUGAL</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="SAS Airlines" src="https://www.faresmatch.com/images/airlines1/SK.png"> SK</p>
                    <p><a href="https://www.faresmatch.com/sas-airlines.aspx">SAS Airlines</a></p>
                    <p>+1 (800) 221-2350</p>
                </div>
                <div class="column">
                    <p><img alt="Etihad Airways" src="https://www.faresmatch.com/images/airlines1/EY.png"> EY</p>
                    <p><a href="https://www.faresmatch.com/etihad-airways.aspx">Etihad Airways</a></p>
                    <p>1 (877) 690-0767</p>
                </div>
                <div class="column">
                    <p><img alt="LOT" src="https://www.faresmatch.com/images/airlines1/LO.png"> LO</p>
                    <p><a href="https://www.faresmatch.com/lot-polish-airlines.aspx">LOT Polish Airlines</a></p>
                    <p>1 (212) 789-0970</p>
                </div>
                <div class="column">
                    <p><img alt="LATAM Airlines" src="https://www.faresmatch.com/images/airlines1/LA.png"> LA</p>
                    <p><a href="https://www.faresmatch.com/latam-airlines-flights.aspx">LATAM Airlines</a></p>
                    <p>1 (866) 435-9526</p>
                </div>
                <div class="column">
                    <p>
                        <img alt="Singapore Airlines" src="https://www.faresmatch.com/images/airlines1/SQ.png"> SQ
                    </p>
                    <p><a href="https://www.faresmatch.com/singapore-airlines.aspx">Singapore Airlines</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Aegean Airlines" src="https://www.faresmatch.com/images/airlines1/A3.png"> A3</p>
                    <p><a href="https://www.faresmatch.com/aegean-airlines-flights.aspx">Aegean Airlines</a></p>
                    <p>1 (833) 732-8158</p>
                </div>
                <div class="column">
                    <p><img alt="Ethiopian Air" src="https://www.faresmatch.com/images/airlines1/ET.png"> ET</p>
                    <p><a href="https://www.faresmatch.com/ethiopian-airlines.aspx">Ethiopian Air</a></p>
                    <p>1 (800) 445-2733</p>
                </div>
                <div class="column">
                    <p><img alt="Avianca" src="https://www.faresmatch.com/images/airlines1/AV.png"> AV</p>
                    <p><a href="https://www.faresmatch.com/avianca-airlines.aspx">Avianca Airline</a></p>
                    <p>1 (800) 284-2622</p>
                </div>
                <div class="column">
                    <p><img alt="easyJet" src="https://www.faresmatch.com/images/airlines1/U2.png"> U2</p>
                    <p><a href="https://www.faresmatch.com/easyJet-airlines.aspx">easyJet Airline</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Aeromexico" src="https://www.faresmatch.com/images/airlines1/AM.png"> AM</p>
                    <p>
                        <a href="https://www.faresmatch.com/aeromexico-airlines-flights-reservations.aspx">
                            Aeroméxico
                            Airline
                        </a>
                    </p>
                    <p>1 (800) 237-6639</p>
                </div>
                <div class="column">
                    <p><img alt="Copa Airlines" src="https://www.faresmatch.com/images/airlines1/CM.png"> CM</p>
                    <p>
                        <a href="https://www.faresmatch.com/copa-airlines-flights-reservations.aspx">
                            Copa
                            Airlines
                        </a>
                    </p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p>
                        <img alt="Air India"
                             src="https://www.faresmatch.com/images/airlines1/AI.png?crop=false&amp;width=108&amp;height=92&amp;fallback=default1.png&amp;_v=18d6ba2bd1a6b89120361f37345483d6">
                        AI
                    </p>
                    <p><a href="https://www.faresmatch.com/air-india-flights.aspx">Air India</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Qantas Airways" src="https://www.faresmatch.com/images/airlines1/QF.png"> QF</p>
                    <p><a href="https://www.faresmatch.com/qantas-airways-flights.aspx">Qantas Airways</a></p>
                    <p>1 (800) 227-4500</p>
                </div>
                <div class="column">
                    <p><img alt="Virgin Atlantic" src="https://www.faresmatch.com/images/airlines1/VS.png"> VS</p>
                    <p><a href="https://www.faresmatch.com/virgin-atlantic-airlines.aspx">Virgin Atlantic</a></p>
                    <p>1 (800) 862-8621</p>
                </div>
                <div class="column">
                    <p><img alt="Azul" src="https://www.faresmatch.com/images/airlines1/AD.png"> AD</p>
                    <p><a href="https://www.faresmatch.com/azul-airlines.aspx">Azul Airlines</a></p>
                    <p>1 (888) 587-2985</p>
                </div>
                <div class="column">
                    <p><img alt="SAUDIA" src="https://www.faresmatch.com/images/airlines1/SV.png"> SV</p>
                    <p><a href="https://www.faresmatch.com/saudi-arabian-airlines.aspx">Saudia Airline</a></p>
                    <p>+1-800 472 8342</p>
                </div>
                <div class="column">
                    <p><img alt="WestJet" src="https://www.faresmatch.com/images/airlines1/WS.png"> WS</p>
                    <p><a href="https://www.faresmatch.com/westjet-airlines-flights.aspx">WestJet Airline</a></p>
                    <p>1 (888) 937-8538</p>
                </div>
                <div class="column">
                    <p><img alt="Sun Country Air" src="https://www.faresmatch.com/images/airlines1/SY.png"> SY</p>
                    <p><a href="https://www.faresmatch.com/sun-country-airlines.aspx">Sun Country Air</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="Cathay Pacific" src="https://www.faresmatch.com/images/airlines1/CX.png"> CX</p>
                    <p><a href="https://www.faresmatch.com/cathay-pacific.aspx">Cathay Pacific Airline</a></p>
                    <p>1 (833) 933-2244</p>
                </div>
                <div class="column">
                    <p><img alt="Volaris" src="https://www.faresmatch.com/images/airlines1/Y4.png"> Y4</p>
                    <p><a href="https://www.faresmatch.com/volaris-airlines.aspx">Volaris Airline</a></p>
                    <p>+1-800-918-3039</p>
                </div>
                <div class="column">
                    <p><img alt="EVA Air" src="https://www.faresmatch.com/images/airlines1/BR.png"> BR</p>
                    <p><a href="https://www.faresmatch.com/eva-airlines.aspx">EVA Air</a></p>
                    <p>+91-11-2373 0864</p>
                </div>
                <div class="column">
                    <p><img alt="Croatia Airlines" src="https://www.faresmatch.com/images/airlines1/OU.png"> OU</p>
                    <p><a href="https://www.faresmatch.com/croatia-airlines.aspx">Croatia Airlines</a></p>
                    <p>+385 1 66 76 555</p>
                </div>
                <div class="column">
                    <p><img alt="VivaAerobus" src="https://www.faresmatch.com/images/airlines1/VB.png"> VB</p>
                    <p><a href="https://www.faresmatch.com/vivaaerobus.aspx">Viva Aerobus Airline</a></p>
                    <p>+81 82 150 150</p>
                </div>
                <div class="column">
                    <p><img alt="Air New Zealand" src="https://www.faresmatch.com/images/airlines1/NZ.png"> NZ</p>
                    <p><a href="https://www.faresmatch.com/air-new-zealand-airlines.aspx">Air New Zealand</a></p>
                    <p>+64 800 747 777</p>
                </div>
                <div class="column">
                    <p><img alt="Hawaiian Airlines" src="https://www.faresmatch.com/images/airlines1/HA.png"> HA</p>
                    <p><a href="https://www.faresmatch.com/hawaiian-airlines.aspx">Hawaiian Airlines</a></p>
                    <p>+1-800-367-5320</p>
                </div>
                <div class="column">
                    <p><img alt="Sky Airline" src="https://www.faresmatch.com/images/airlines1/H2.png"> H2</p>
                    <p><a href="https://www.faresmatch.com/sky-airlines.aspx">Sky Airline</a></p>
                    <p>(56 2) 2352 5600</p>
                </div>
                <div class="column">
                    <p><img alt="Air Transat" src="https://www.faresmatch.com/images/airlines1/TS.png"> TS</p>
                    <p><a href="https://www.faresmatch.com/air-transat-airlines.aspx">Air Transat Airline</a></p>
                    <p>+1-514-636-3630</p>
                </div>
                <div class="column">
                    <p><img alt="Virgin Australia" src="https://www.faresmatch.com/images/airlines1/VA.png"> VA</p>
                    <p><a href="https://www.faresmatch.com/virgin-australia-airlines.aspx">Virgin Australia</a></p>
                    <p>+61 7 3295 2296</p>
                </div>
                <div class="column">
                    <p><img alt="Fiji Airways" src="https://www.faresmatch.com/images/airlines1/FJ.png"> FJ</p>
                    <p><a href="https://www.faresmatch.com/fiji-airways-flights.aspx">Fiji Airways</a></p>
                    <p>+679 672 0888</p>
                </div>
                <div class="column">
                    <p><img alt="JetSMART" src="https://www.faresmatch.com/images/airlines1/JA.png"> JA</p>
                    <p><a href="https://www.faresmatch.com/jetsmart-airlines.aspx">JetSmart Airline</a></p>
                    <p>+56 2 27 31 8787</p>
                </div>
                <div class="column">
                    <p><img alt="Bangkok Airways" src="https://www.faresmatch.com/images/airlines1/PG.png"> PG</p>
                    <p><a href="https://www.faresmatch.com/bangkok-airways.aspx">Bangkok Airways</a></p>
                    <p>+66 2 270 6699</p>
                </div>
                <div class="column">
                    <p><img alt="China Eastern" src="https://www.faresmatch.com/images/airlines1/MU.png"> MU</p>
                    <p><a href="https://www.faresmatch.com/china-eastern-airlines.aspx">China Eastern</a></p>
                    <p>+91-11-43513166</p>
                </div>
                <div class="column">
                    <p>
                        <img alt="Caribbean Airlines" src="https://www.faresmatch.com/images/airlines1/BW.png"> BW
                    </p>
                    <p>
                        <a href="https://www.faresmatch.com/caribbean-airlines-booking.aspx">Caribbean Airlines</a>
                    </p>
                    <p>+ 1 800 523 5585</p>
                </div>
                <div class="column">
                    <p>
                        <img alt="Uzbekistan Airways" src="https://www.faresmatch.com/images/airlines1/HY.png"> HY
                    </p>
                    <p><a href="https://www.faresmatch.com/uzbekistan-airways.aspx">Uzbekistan Airways</a></p>
                    <p>998 71 140-02-00</p>
                </div>
                <div class="column">
                    <p><img alt="Air China" src="https://www.faresmatch.com/images/airlines1/CA.png"> CA</p>
                    <p><a href="https://www.faresmatch.com/air-china-airlines.aspx">Air China</a></p>
                    <p>001-80086100999</p>
                </div>
                <div class="column">
                    <p><img alt="Silver Airways" src="https://www.faresmatch.com/images/airlines1/3M.png"> 3M</p>
                    <p><a href="https://www.faresmatch.com/silver-airways-flights.aspx">Silver Airways</a></p>
                    <p>1 801- 401-9100</p>
                </div>
                <div class="column">
                    <p>
                        <img src="https://www.faresmatch.com/images/airlines1/HX.png" alt="Hong Kong Airlines"> HX
                    </p>
                    <p><a href="https://www.faresmatch.com/hong-kong-airlines.aspx">Hong Kong Airlines</a></p>
                    <p>+8526-3666</p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/images/airlines1/4O.png" alt="Interjet"> 4O</p>
                    <p><a href="https://www.faresmatch.com/interjet-airlines.aspx">Interjet Airline</a></p>
                    <p>+1 (866) 285-9525</p>
                </div>
                <div class="column">
                    <p>
                        <img src="https://www.faresmatch.com/images/republic-airways-logo-fm.png"
                             alt="Republic Airways"> YX
                    </p>
                    <p><a href="https://www.faresmatch.com/republic-airlines.aspx">Republic Airways</a></p>
                    <p>+1-841-6522 </p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/images/aruba-airlines-logo-fm.png" alt="Aruba"> AG</p>
                    <p><a href="https://www.faresmatch.com/aruba-airlines.aspx">Aruba Airlines</a></p>
                    <p>+(297) 290-8300</p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/images/lauda-europe-logo-fm.png" alt="Lauda"> NG</p>
                    <p><a href="https://www.faresmatch.com/lauda-europe-airlines.aspx">Lauda Europe Airline</a></p>
                    <p>+</p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/images/titan-airways-logo-fm.png" alt="Titan"> ZT</p>
                    <p><a href="https://www.faresmatch.com/titan-airways-flights.aspx">Titan Airline</a></p>
                    <p>+44 (0)1279 669649</p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/assets/images/logo/z9_logo.gif" alt="Bek Air"> Z9</p>
                    <p><a href="https://www.faresmatch.com/bek-air.aspx">Bek Air Airline</a></p>
                    <p>+</p>
                </div>
                <div class="column">
                    <p><img src="https://www.faresmatch.com/assets/images/logo/b2_logo.gif" alt="Belavia"> B2</p>
                    <p><a href="https://www.faresmatch.com/belavia-airlines.aspx">Belavia Airline</a></p>
                    <p>+375 (17) 220 25 55</p>
                </div>
                <div class="column">
                    <p><img alt="AirAsia" src="https://www.faresmatch.com/images/airlines1/AK.png"> AK</p>
                    <p><a href="https://www.faresmatch.com/airasia-flights.aspx">AirAsia Airline</a></p>
                    <p>+91 80 4666 2222</p>
                </div>
                <div class="column">
                    <p>
                        <img src="https://www.faresmatch.com/assets/images/alitalia-logofm.png" alt="Alitalia"> AZ
                    </p>
                    <p><a href="https://www.faresmatch.com/alitalia.aspx">Alitalia Airline</a></p>
                    <p>+1 (800) 223-5730</p>
                </div>
                <div class="column">
                    <p>
                        <img src="https://www.faresmatch.com/assets/images/airline/avelo-logofaresmatch.jpg"
                             alt="Avelo"> XP
                    </p>
                    <p><a href="https://www.faresmatch.com/avelo-airlines.aspx">Avelo Airlines</a></p>
                    <p>+1 (346) 616-9500</p>
                </div>
                <div class="column">
                    <p>
                        <img src="https://www.faresmatch.com/assets/images/porter-logofaresmatch.png" alt="Porter">
                        PD
                    </p>
                    <p><a href="https://www.smatch.com/porter-airlines.aspx">Porter Airlines</a></p>
                    <p>+1 (888) 619-8622</p>
                </div>
            </div>
        </div>
    </div>
</div>

