
@{
    ViewBag.Title = "porterairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Porter Airlines: Refund Policy- FaresMatch</title>
    <meta name="description" content="Flight Cancellation- Cancel your intercity flights within 2 hours of the booking with Porter airlines or cancel your international flight booking within a week." />
    <link rel="canonical" href="https://www.faresmatch.com/porter-airlines-refund-policy.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/porter-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Porter Airlines: Refund Policy- FaresMatch">
    <meta property="og:description" content="Flight Cancellation- Cancel your intercity flights within 2 hours of the booking with Porter airlines or cancel your international flight booking within a week." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/porter-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Porter Airlines: Refund Policy- FaresMatch" />
    <meta name="twitter:description" content="Flight Cancellation- Cancel your intercity flights within 2 hours of the booking with Porter airlines or cancel your international flight booking within a week." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Porter Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Porter Airlines Refund Policy</h2>

            <p>Like any other airline franchise, Porter Airlines also offers its passengers the chance to get a refund on their tickets after <a href="https://www.faresmatch.com/">booking flights</a> on the website or buying aeroplane tickets from travel agents. The Canadian airline franchise, which mainly operates between Toronto, Ontario and the United States, is quite considerate to its passengers in refund or cancellation policies. </p>

            <h2>How to get cheap porter airline tickets?</h2>
            <p>To get some of the exotic <a href="https://www.faresmatch.com/cheap-fare-airline-tickets.aspx">cheap airlines reservations</a> from porter airlines, follow the steps given below: </p>
            <ul>
                <li>Get into the official website of porter airlines. </li>
                <li>To get some cheap tickets, log in to your account for all the points to get added up. </li>
                <li>Put in the required information for booking <a href="https://www.faresmatch.com/cheap-flights.aspx">cheap flights</a>. </li>
                <li>Get to the discounts section to check for the available discounts. </li>
                <li>Get to the fare comparison section and make the appropriate selection for your flight. </li>
                <li>Proceed to the payment section. </li>
                <li>Get a hardcopy printout of the ticket you just booked. </li>
            </ul>

            <h3>When can one apply for a refund? </h3>
            <p>People, most of the time, make mistakes while booking flights. They need to know the exact return time and thus check <a href="https://www.faresmatch.com/deals.aspx">cheap flight deals</a> for only departure. This is quite a common problem for many of the customers in Porter airlines as well. </p>

            <p><strong>Here are some of the criteria only when you can apply for a refund: </strong></p>

            <ul>
                <li>Only when you have cancelled your flight within two hours of booking is it applicable only for intercity flights. </li>
                <li>Only when you have cancelled your flight ticket within a week for international flights. </li>
                <li>When you have paid via credit card. </li>
                <li>When the full payment has been paid at the very time, without any credit system by the points card. </li>
                <li>In the case of flights booked at discounted prices, you are entitled to get back only the amount spent on them rather than the whole amount. </li>
                <li>In the case of pending tickets, half of the amount gets returned instantly, and the other half when the tickets are confirmed after a certain period.  </li>
            </ul>

            <h3>Is the return policy helpful for people? </h3>
            <p>When <a href="https://www.faresmatch.com/porter-airlines.aspx">booking a flight</a>, always check the possibility of returning when you cancel the tickets later. As per the new guidelines, all airline companies are entitled to return the money spent on the tickets, including the reserve amount for processing. People often make mistakes, and thus they get to pay for them later. Many middle-class people get afraid of availing of this mode of transportation for fear of no return. </p>

            <p><strong>Here are some of the reasons why this policy is a lifesaver for all-</strong></p>

            <ul>
                <li>Return your real money. </li>
                <li>No money is lost; you can use it for further booking a flight. </li>
                <li>Makes a good impact on the company to the entire world. </li>
                <li>Increases their sales of tickets. </li>
                <li>Satisfies all their customers and thus losses none of them through such services. </li>
            </ul>

            <p>Porter Airlines has been in the headlines for quite a long time due to its immense hard work and elite airline quality. They provide superb 24/7 customer service along with the outstanding feature of compare fairs. They have a considerable service return policy for all those who cancel their tickets after booking. They even have a good name as they offer a return for those who booked them at the last moment.  </p>

            <h2>FAQs</h2>
            <h3>Who can receive a refund from Porter Airlines? </h3>
            <p>Since you have purchased the ticket, you are eligible to receive a refund. To receive the refund, you must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, after providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Porter Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Porter Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Porter Airlines and fill out the refund request form. The airline will process your refund within 7 to 10 business days.  </p>
            <h3>Will I get any compensation if my flight gets delayed by more than 4 hours? </h3>
            <p>If your flight gets delayed by more than 4 hours, the airline will reschedule your flight, or provide an alternative flight. If you are unhappy with the option, you may avail of travel credits to be used in the future for flight booking. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

