
@{
    ViewBag.Title = "porterairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Cancellation Policy | Canceling a Flight on Porter Airlines</title>
    <meta name="description" content="You will get a full refund if the ticket canceled within 24-hours. Read cancellation policy, check ongoing offers and deals on Air China Airlines.">
    <link rel="canonical" href="https://www.faresmatch.com/porter-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/porter-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancellation Policy | Canceling a Flight on Porter Airlines">
    <meta property="og:description" content="You will get a full refund if the ticket canceled within 24-hours. Read cancellation policy, check ongoing offers and deals on Air China Airlines.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/porter-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancellation Policy | Canceling a Flight on Porter Airlines">
    <meta name="twitter:description" content="You will get a full refund if the ticket canceled within 24-hours. Read cancellation policy, check ongoing offers and deals on Air China Airlines.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Porter Airlines Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Porter Airlines Cancellation policy</h2>

            <p>Porter Airline is one of the regional airlines in Canada headquartered at Billy Bishop Toronto City Airport on the Toronto Islands in Toronto, Ontario. It operates scheduled flights to 23 destinations between Toronto and locations in Canada and the United States with a fleet size of 29 aircraft. The airline also rewards its loyal customers with frequent flyer program called VIPorter. </p>
            <p>If you have plans to book <a href="https://www.faresmatch.com/">flight tickets</a> from Porter Airline, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of Porter Airline’s cancellation policy. </p>
            <h2>Cancellation policy</h2>
            <p>According to <a href="https://www.faresmatch.com/porter-airlines-cancellation-policy.aspx">Porter Airline’s cancellation policy</a>, if you <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancel a flight ticket within 24 hours of booking</a> at least 7 days before departure, you are entitled to a full refund. If you fail to cancel your ticket within the cancellation window, you will have to pay the cancellation fees. In case you forget to cancel your ticket and your presence turns out to be a no-show, the fare of the unused portion of the ticket remains non-refundable and non-creditable towards future flights under any circumstances. </p>
            <h3>Refund Policy</h3>
            <p>The airline doesn’t support refund policy regardless of any fare and class of service booked but they offer credits on your name for future travel that would be valid for a year from the date of issuance. Also, if the airline cancels or delays your flight, the airline will reschedule your flight. If the arrangements don’t suit your travel needs, you can claim a refund of the unused part of the ticket. </p>
            <h2>FAQs</h2>

            <h3>How to cancel a flight ticket with Porter Airline? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Porter Airline customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Porter Airline or call customer care. It may take 7 to 10 business days for the refund to reflect on your card/bank statement. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

