
@{
    ViewBag.Title = "qantasairwayscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Qantas Airways, Cancel Flight Ticket with 100% Refund</title>
    <meta name="description" content="Qantas has a hassle-free flight booking and cancellation policy. You will get a full refund if you cancel your flight reservation within 24 hours of booking.">
    <link rel="canonical" href="https://www.faresmatch.com/qantas-airways-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/qantas-airways-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Qantas Airways, Cancel Flight Ticket with 100% Refund">
    <meta property="og:description" content="Qantas has a hassle-free flight booking and cancellation policy. You will get a full refund if you cancel your flight reservation within 24 hours of booking.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/qantas-airways-cancellation-policy.aspx">
    <meta name="twitter:title" content="Qantas Airways, Cancel Flight Ticket with 100% Refund">
    <meta name="twitter:description" content="Qantas has a hassle-free flight booking and cancellation policy. You will get a full refund if you cancel your flight reservation within 24 hours of booking.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Qantas Airways Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Qantas Airways Cancellation policy</h2>
            <p>Qantas Airways is an Australian flight carrier and the world’s third oldest airline founded in 1920. Here, Qantas is the acronym for Queensland and Northern Territory Aerial Services, as the airline served Queensland and the Northern Territory, and is popularly nicknamed "The Flying Kangaroo". The airline is headquartered in the Sydney suburb of Mascot, adjacent to its main hub at Sydney Airport. </p>
            <p>The airline operates flight seeing charters to Antarctica on behalf of Croydon Travel. They also operate a non-stop service between Sydney and Dallas/Fort Worth, between Australia and the United Kingdom, and Perth to London. </p>
            <p>Qantas offers a frequent flyer program to travelers aimed at rewarding customer loyalty. You can accumulate points based on distance flown, with bonuses that vary by travel class. You may also earn points on other Oneworld airlines as well as through other non-airline partners. You may redeem these points for flights or upgrades on flights operated by Qantas, Oneworld airlines, and other partners. To make it easy for you to book flight tickets, Qantas has a hassle-free flight booking and cancellation policy. Let’s understand the cancellation policy below. </p>
            <h2>Cancellation policy</h2>
            <p>You can cancel any <a href="https://www.faresmatch.com/flight-booking-online-international.aspx">flight booking</a> within 24 hours from the time of booking. If you miss the cancellation window you will have to pay a cancellation fee as per Qantas cancellation policy. Also, the international cancellation fee is usually more than the domestic cancellation fee. Business-class passengers can cancel their flight tickets at any time without paying any cancellation charges. </p>
            <h3>Refund policy</h3>
            <p>You can expect a full refund if you cancel your flight reservation within 24 hours of booking. Moreover, before booking the tickets, make sure to check if <a href="https://www.faresmatch.com/">flight tickets</a> are refundable or non-refundable. If you cancel a non-refundable ticket, you will earn travel credits that you may use in your future travel with Qantas. </p>
            <h2>FAQs</h2>
            <h3>How to cancel a flight ticket with Qantas Airways? </h3>
            <p>You can call the Qantas Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>When can I make the request for the refund? By when can I expect it? </h3>
            <p>You can fill out a refund request form on Qantas Airways’ official website. Though most refunds are processed immediately, credit card refunds take at least 20 days</p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Qantas Airways website will display refund eligibility and information.</p>
        </div>
    </div>
</div>

