
@{
    ViewBag.Title = "qantasairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Airline Policies | Refund & Cancellation of Qantas Airlines</title>
    <meta name="description" content="You can claim a refund only if you have canceled your flight within 24-hours of booking on Qantas airlines. Visit the official website of Qantas Airlines and fill out the refund request form.">
    <link rel="canonical" href="https://www.faresmatch.com/qantas-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/qantas-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Airline Policies | Refund & Cancellation of Qantas Airlines">
    <meta property="og:description" content="You can claim a refund only if you have canceled your flight within 24-hours of booking on Qantas airlines. Visit the official website of Qantas Airlines and fill out the refund request form.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/qantas-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Airline Policies | Refund & Cancellation of Qantas Airlines">
    <meta name="twitter:description" content="You can claim a refund only if you have canceled your flight within 24-hours of booking on Qantas airlines. Visit the official website of Qantas Airlines and fill out the refund request form.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Qantas Airways Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Qantas Airways Refund Policy</h2>
            <p>Qantas Airways is the largest Australian airline by fleet size and also world's third-oldest airline in operation. The word Qantas is an acronym of the airline's original name, Queensland and Northern Territory Aerial Services as the airline originally served Queensland and the Northern Territory. </p>
            <p>If you have plans to book <a href="https://www.faresmatch.com/">flight tickets</a> from Qantas Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of <a href="https://www.faresmatch.com/qantas-airlines-refund-policy.aspx">Qantas Airlines’ refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>Qantas Airlines <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> allows you to claim a on your refundable tickets. If you have canceled your flight ticket within 24 hours of booking, you can claim refund on the same. The refundable amount depends on the class of the ticket a passenger holds, in some cases a passenger would not be able to cancel their ticket, even when the cancellations are made within the policy. If you have booked a group ticket and wish to cancel one ticket, the airline would use special conditions and make the refund accordingly. </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with Qantas Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Qantas Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Qantas Airlines customer care office and inform them about the cancellation. You may visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Qantas Airlines and fill out the refund request form. The airline will process the refund in the source account within approx. 7 to 20 business days. </p>
            <h3>Will I get any compensation from Qantas airlines if my flight gets delayed by 2 hours? </h3>
            <p>Due to unavoidable reasons, you may experience flight delays by 2 or more hours, or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

