
@{
    ViewBag.Title = "sasairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>SAS Airlines Flight Change and Cancellation Policy- FaresMatch</title>
    <meta name="description" content="You are eligible to change or cancel your flight booked on SAS airlines only after 24-hours of booking or at least 7 days before the departure date.">
    <link rel="canonical" href="https://www.faresmatch.com/sas-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/sas-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SAS Airlines Flight Change and Cancellation Policy- FaresMatch">
    <meta property="og:description" content="You are eligible to change or cancel your flight booked on SAS airlines only after 24-hours of booking or at least 7 days before the departure date.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="http://www.faresmatch.com/sas-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="SAS Airlines Flight Change and Cancellation Policy- FaresMatch">
    <meta name="twitter:description" content="You are eligible to change or cancel your flight booked on SAS airlines only after 24-hours of booking or at least 7 days before the departure date.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>SAS Airlines Cancellation policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>SAS Airlines Cancellation policy</h2>

            <p>Scandinavian Airlines, also known as SAS Airlines is the air carrier of Denmark, Norway, and Sweden. SAS stands for Scandinavian Airlines System Denmark-Norway-Sweden, headquartered at the SAS Frösundavik Office Building in Solna, Sweden. The airline operates services of 180 aircraft to 90 destinations. SAS is known for the frequent flyer program called Euro bonus and in-flight high-speed Wi-Fi internet access for both the short- and medium-haul fleets. </p>
            <p>If you have plans of <a href="https://www.faresmatch.com/sas-airlines.aspx">airline reservations on SAS Airlines</a>, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of <a href="https://www.faresmatch.com/sas-airlines-cancellation-policy.aspx">SAS Airlines’ cancelation policy</a>. </p>
            <h2>Cancellation policy </h2>
            <p>According to SAS’s <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancelation policy</a>, you can cancel a flight ticket within 24 hours of booking without paying any cancellation fee making sure that the booking was made at least 7 days before the departure date. If you have booked a round ticket and want to make a cancellation for one way, you would get a SAS refund for the unused trip. </p>
            <p>If SAS Airlines cancels your confirmed flight, you would be provided with the next alternative flight to the same destination. At times, the airline also reimburses with the additional costs for the accommodations and the meals purchased during the time of delay. </p>
            <h3>Refund policy </h3>
            <p>If you want a 100% refund, make sure you cancel the flight ticket within 24 hours of booking. You are eligible to receive a refund only for the unused trip of your <a href="https://www.faresmatch.com/">flight ticket</a>. </p>
            <h2>FAQs</h2>
            <h3>How to cancel a flight ticket with SAS Airlines? </h3>
            <p>You can call the SAS Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airline and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>You can fill out the refund form on the official website of fill out the refund form. You can expect a refund within 5-10 business days as per your ticket type. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 3 hours? </h3>
            <p>If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get a full refund. Make sure that you fill out the refund request form. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the SAS Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>

