
@{
    ViewBag.Title = "skyairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Change Flight & Date | Refund Policy at Sky Airlines- FaresMatch</title>
    <meta name="description" content="Sky Airline tickets are non-refundable. Benefits like changing flight, date, and destination can be done up to 3 hours before the scheduled flight departure.">
    <link rel="canonical" href="https://www.faresmatch.com/sky-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/sky-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Change Flight & Date | Refund Policy at Sky Airlines- FaresMatch">
    <meta property="og:description" content="Sky Airline tickets are non-refundable. Benefits like changing flight, date, and destination can be done up to 3 hours before the scheduled flight departure.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/sky-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Change Flight & Date | Refund Policy at Sky Airlines- FaresMatch">
    <meta name="twitter:description" content="Sky Airline tickets are non-refundable. Benefits like changing flight, date, and destination can be done up to 3 hours before the scheduled flight departure.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sky Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Sky Airlines Refund Policy</h2>
            <p>After LATAM Airlines, SKY Airlines is the second largest in Santiago, Chile. It is first airline to operate under a low-cost model in the country. SKY Airlines serves international routes to Argentina, Brazil, Peru and Uruguay and charter flights in Chile and South America and domestic flights within Peru with a fleet size of 28 aircraft. </p>
            <p>If you have plans to book <a href="https://www.faresmatch.com/">flight tickets</a> from SKY Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of <a href="https://www.faresmatch.com/sky-airlines-refund-policy.aspx">SKY Airlines’ refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>If you have booked a flight ticket with SKY Airlines, you must know that you are not entitled to get a refund or their <a href="https://www.faresmatch.com/sky-airlines.aspx">Sky Airlines reservation</a> once it is issued. But you can make changes to the flight ticket. If you have paid the full fare, you can make one change by paying an associated fee. However, if you have purchased a Zero or Plus fare, you can make one change by paying a change fee of 30 USD, plus the fare difference cost. Also, the airline allows you to alter their Sky Airlines reservation upto 3 hours before the scheduled flight departure. </p>
            <h2>FAQs</h2>

            <h3>Who can receive a refund with SKY Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with SKY Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the SKY Airlines customer care office and inform them about the cancellation. You may visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>What is the baggage allowance in SKY Airlines? </h3>
            <p>On SKY Airlines, the maximum weight of the checked bag must be within 23 kg and the size must not exceed 158 linear cm and for carry-on bag, the maximum weight must be within 20 kg and the dimension must not exceed 25 x 35 x 45 cm. </p>
            <h3>What is the difference between a Zero fare and Plus fare cabin classes? </h3>
            <p>A Zero fare class allows only one handbag, plus a laptop bag in a randomly assigned seat but you can the additional services by purchasing them. On the other hand, Plus fare you to carry one handbag, a 23 kg checked bag, along with a free seat selection and you may pay for the additional services. </p>
            <h3>Is my flight refundable? </h3>
            <p>Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information. </p>
        </div>
    </div>
</div>

