
@{
    ViewBag.Title = "suncountryairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Sun Country Cancellation Policy: Flight Change, Penalty Fee</title>
    <meta name="description" content="The time limit for canceling flights on Sun Country Airlines is within 24 hours. You can change flights without any fee." />
    <link rel="canonical" href="https://www.faresmatch.com/sun-country-airlines-cancellation-policy.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/sun-country-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sun Country Cancellation Policy: Flight Change, Penalty Fee">
    <meta property="og:description" content="The time limit for canceling flights on Sun Country Airlines is within 24 hours. You can change flights without any fee." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/sun-country-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Sun Country Cancellation Policy: Flight Change, Penalty Fee" />
    <meta name="twitter:description" content="The time limit for canceling flights on Sun Country Airlines is within 24 hours. You can change flights without any fee." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sun Country Airlines Cancellation Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Sun Country Airlines Cancellation Policy</h2>

            <p>Sun Country Airlines serves more than 100 passenger routes between 81 destinations in the USA, Canada, Central America and the Caribbean as an ultra-cost passenger and cargo airline in America. One can get the best airfare deals on Sun Country airlines through its frequent flyer program, Sun Country Rewards. </p>

            <p>Before booking flights from <a href="https://www.faresmatch.com/sun-country-airlines.aspx">Sun Country Airlines</a>, you must go through its deals and offers, how to book flights, and its cancellation and refund policy. Sun Country airline is ideal if you want a memorable trip within an affordable budget. Besides this, the refund and cancellation policy of the airline is flexible. </p>

            <h2>Does Sun Country offer 24 Hour Cancellation?</h2>
            <p>One can cancel your flight/itinerary within 24 hours of booking under the Sun Country 24-hour cancellation policy. However, you must <a href="https://www.faresmatch.com">book a flight</a> at least seven days, 178 hours before departure. If you successfully cancel your tickets within the 24-hour window, you will be issued a full refund, irrespective of the type of ticket you're holding. </p>

            <p>You must note that the 24-hour cancellation policy only applies to typically published airfares. It does not apply to group and tour bookings, Sun Country Vacation package bookings, land products, and other non-air products and activities. </p>

            <h3>Is Sun Country going to charge any fee? </h3>
            <p>
                The cancellation fee charged by Sun Country Airlines will depend on factors like when you cancel your ticket. The airline is not going to charge you any cancellation fee if:

            </p><ul>
                <li>Your ticket has been cancelled at least 60 days before departure. </li>
                <li>Your tickets have been cancelled within 24 hours of booking, and the departure date of your flight is at least seven days (168 hours) from the booking date. </li>
                <li>If you cancel your tickets in 14-59 days, you will be charged a fee of USD 39 per segment. </li>
                <li>If you cancel your ticket 0-13 days before departure, you will be charged a cancellation fee of USD 79 per segment. </li>
            </ul>
            <h3>Refund Policy of Sun Country</h3>
            <p>According to the <a href="https://www.faresmatch.com/sun-country-airlines-cancellation-policy.aspx">cancellation policy of the Sun Country</a>, the tickets that are eligible for a refund will be processed as follows: </p>


            <ul>
                <li>In the case of tickets purchased by credit card, the refund will be processed within seven days of receiving your request (with complete documentation). On the other hand, it will take 20 days to refund if purchased by cash/check.  </li>
                <li>You will receive the refund, which will be made to the original form of payment or as Flight Credits if possible. </li>
                <li>Discretionary refunds will be processed (fully or partially) per the above time frames. </li>
            </ul>

            <p>If you purchased your ticket by credit card, Sun Country would take a maximum of 7 days to process your refund. On the other hand, it will take 20 days if you purchase your ticket by cash or check. </p>

            <p>These were everything related to the cancellation and refund policy of Sun Country. As you have seen, the policies are flexible and ensure the convenience of the customers. If you face any problem with cancelling your tickets, you can always approach the customer service centre. </p>

            <h2>FAQs </h2>

            <h3>How to cancel a flight ticket with Sun Country Airlines? </h3>
            <p>You can call the Sun Country Airlines customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>How can I make the request for a refund? By when can I expect it? </h3>
            <p>You can visit the official website of Sun Country Airlines and make a request for a refund or you can call customer care. You may receive the refundable amount within 5 to 6 working days. </p>
            <h3>Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p>There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3>How to check if my flight is refundable? </h3>
            <p>You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Sun Country Airlines website will display refund eligibility and information. </p>
        </div>
    </div>
</div>
