
@{
    ViewBag.Title = "suncountryairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Refund policy Sun Country Airlines | Flight Cancellation</title>
    <meta name="description" content="Claim a full refund on flight cancellation of Sun Country Airlines.  The amount will be refunded to the same source you used while flight booking. ">
    <link rel="canonical" href="https://www.faresmatch.com/sun-country-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/sun-country-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund policy Sun Country Airlines | Flight Cancellation">
    <meta property="og:description" content="Claim a full refund on flight cancellation of Sun Country Airlines.  The amount will be refunded to the same source you used while flight booking. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/sun-country-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund policy Sun Country Airlines | Flight Cancellation">
    <meta name="twitter:description" content="Claim a full refund on flight cancellation of Sun Country Airlines.  The amount will be refunded to the same source you used while flight booking. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sun Country Airlines Refund Policy | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Sun Country Airlines Refund Policy</h2>

            <p>Sun Country Airlines is the 11th largest American low-cost airline founded in 1983. The airline serves more than 100 passenger routes between 81 destinations in the United States, Canada, Mexico, Central America, and the Caribbean, with a focus on city operations at Dallas/Fort Worth International Airport and Harry Reid International Airport with a fleet size of 55 aircraft. It also provides charter service for the United States Armed Forces and NCAA football teams. </p>
            <p>If you have plans to book <a href="https://www.faresmatch.com/">flight tickets</a> from Sun Country Airlines, make sure you check the ongoing offers and deals to save on your traveling. Below is an overview of Sun Country Airlines’ <a href="https://www.faresmatch.com/refund-policy.aspx">refund policy</a> for your ease. </p>
            <h2>Refund policy </h2>
            <p>According to <a href="https://www.faresmatch.com/sun-country-airlines-refund-policy.aspx">Sun Country Airlines refund policy</a>, if you cancel your flight 7 or more days before departure and request the cancellation within 24 hours of booking, you can claim a refund. However, if you couldn’t cancel the tickets within 24 hours cancellation window, you can still cancel your ticket but have to pay the cancellation fee. The cancellation fee will be deducted from your ticket and the rest of the amount will be refunded to the same source you used for making the payment.  </p>
            <h2>FAQs</h2>
            <h3>Who can receive a refund with Sun Country Airlines? </h3>
            <p>If you have purchased the ticket, you are eligible to receive a refund. You must provide necessary documents confirming that you have paid for the ticket such as an invoice or credit card. However, if the person who paid for the ticket couldn’t collect a refund due to sickness or death, the refund will be issued to an immediate family member, subject to the person providing a death certificate or medical certificate. </p>
            <h3>How can I cancel a flight ticket with Sun Country Airlines? </h3>
            <p>If you wish to cancel the flight ticket, you may call the Sun Country Airlines customer care office and inform them about the cancellation. You can also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3>Where can I make the request for a refund? By when can I expect it? </h3>
            <p>In order to make a request for a refund, you can visit the official website of Sun Country Airlines and fill out the refund request form. The airline will process your refund within 5 to 6 business days.  </p>
            <h3>What are the cancellation charges? </h3>
            <p>The cancellation fee depends on the time duration in which you have canceled your flight. For instance, a cancellation fee of $50 will be borne by passengers if the flight cancellation is done before 60 days but between 59 to 14 days prior to the departure of the flight and $100 if the request to cancel the flight has been submitted within 14 days before the scheduled flight departs. </p>
            <h3>Is my flight refundable? </h3>
            <p>Although such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. It will display refund eligibility and information.</p>
        </div>
    </div>
</div>
