
@{
    ViewBag.Title = "tapairportugalairlinesrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Refund Policy | Tap Air Portugal Airlines- FaresMatch</title>
    <meta name="description" content="Any refunds requested within 24 hours of the completion of the booking are subjected to the corresponding cancellation fee and no extra refund charges. ">
    <link rel="canonical" href="https://www.faresmatch.com/tap-air-portugal-airlines-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/tap-air-portugal-airlines-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Refund Policy | Tap Air Portugal Airlines- FaresMatch">
    <meta property="og:description" content="Any refunds requested within 24 hours of the completion of the booking are subjected to the corresponding cancellation fee and no extra refund charges. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/tap-air-portugal-airlines-refund-policy.aspx">
    <meta name="twitter:title" content="Refund Policy | Tap Air Portugal Airlines- FaresMatch">
    <meta name="twitter:description" content="Any refunds requested within 24 hours of the completion of the booking are subjected to the corresponding cancellation fee and no extra refund charges.  ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Refund Policy | Tap Air Portugal Airlines- FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/tap-air-portugal-airlines-refund-policy.aspx"
         }
    </script>





}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Tap Air Portugal Airlines refund policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">



            <p class="text-justify"><a href="https://www.faresmatch.com/tap-portugal-airlines.aspx">Tap Portugal airlines</a> is a major airline in Portugal. They offer their passengers great service. The airline provides an extended range of flexibility and benefits to passengers while they manage their bookings. </p>
            <h2>Refund Policy</h2>
            <p class="text-justify">Refunds are processed according to the fare rates and rules available during the <a href="https://www.faresmatch.com/">flight ticket booking</a>. Passengers may request any refund, which is allowed as per the rules. Depending on the fare rules, some penalty charges may or may not apply. The refund charges will be deducted from the total refund amount. </p>

            <p class="text-justify">No refund fee is charged if it is requested through FlyTAP. A refund fee of €30 for continental flights and €45 for an intercontinental flight is charged. Tickets issued in different currencies will be converted according to the daily exchange rate of that da. </p>

            <p class="text-justify">Any refunds requested within 24 hours of the completion of the booking are subjected to the corresponding cancellation fee and no extra refund charges. </p>

            <p class="text-justify">Suppose any refunds are requested within 24 hours of booking completion, but separate fare charges will apply after the original flight's departure deducting the respective <a href="https://www.faresmatch.com/tap-air-portugal-airlines-refund-policy.aspx">refund and cancellation</a> fee. In that case, the refunds will be processed as vouchers. These vouchers must be claimed within 1 year of issuing the same. </p>
            <p class="text-justify">In case the flight ticket is cancelled due to unavoidable situations from the airline’s end then, the airlines pay for compensation. The compensation provided is the ticket for the next subsequent flight. If the passenger refuses for the next flight, then they are credited with vouchers which they can use on their next flight. </p>

            <h3>Frequently asked question</h3>
            <h3 class="text-justify">Can I make an online booking for infants (s) and children? </h3>
            <p class="text-justify">Yes. Each adult is allowed one child aged 2-11 years and one infant aged less than 2 years. </p>
            <h3 class="text-justify">Will I pay for my infant or child? </h3>
            <p class="text-justify">Yes. Any child up to 24 months of age is subjected to 10% of the adult taxes. If the child turns 2 during the flight, a full return ticket must be booked according to the fares. </p>
            <h3 class="text-justify">How much luggage can I bring for my infant? </h3>
            <p class="text-justify">Any infant boarding the flight is allowed a luggage weight of maximum 10Kg/22lbs. </p>
            <h3 class="text-justify">Can I track the status of my refund request? </h3>
            <p class="text-justify">Yes. Refund status can be checked from the official website flytap.com. You can access them through any devices. </p>
            <h3 class="text-justify">Does the credit card I used to pay the fare no longer exist? </h3>
            <p class="text-justify">It is best to contact the client support service from the official website. </p>
            <h3 class="text-justify">Can I request a refund online for a partially used ticket? </h3>
            <p class="text-justify">Yes. The refund request can be submitted via the official website. </p>
            <h3 class="text-justify">How to cancel tickets? </h3>
            <p class="text-justify">The tickets can be cancelled online through the airline’s website on mobile devices. A passenger can also cancel the ticket by contacting the contact service department of Tap Portugal Airlines. One can also cancel their ticket at the airport. For this, they need to visit the airline ATO. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "Can I make an online booking for infants (s) and children?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes. Each adult is allowed one child aged 2-11 years and one infant aged less than 2 years."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Will I pay for my infant or child?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes. Any child up to 24 months of age is subjected to 10% of the adult taxes. If the child turns 2 during the flight, a full return ticket must be booked according to the fares."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How much luggage can I bring for my infant?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Any infant boarding the flight is allowed a luggage weight of maximum 10Kg/22lbs."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I track the status of my refund request?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes. Refund status can be checked from the official website flytap.com. You can access them through any devices."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Does the credit card I used to pay the fare no longer exist?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "It is best to contact the client support service from the official website."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I request a refund online for a partially used ticket?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes. The refund request can be submitted via the official website."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to cancel tickets?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The tickets can be cancelled online through the airline’s website on mobile devices. A passenger can also cancel the ticket by contacting the contact service department of Tap Portugal Airlines. One can also cancel their ticket at the airport. For this, they need to visit the airline ATO."
                    }
                  }]
                }
            </script>







        </div>
    </div>
</section>
