
@{
    ViewBag.Title = "terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Terms and Conditions - FaresMatch | Your Trusted Travel Partner</title>
    <meta name="description" content="Read the Terms and Conditions for FaresMatch.com to understand your rights and responsibilities when using our travel booking platform." />
    <link rel="canonical" href="https://www.faresmatch.com/terms.aspx" />
    <meta property="og:title" content="Terms and Conditions - FaresMatch | Your Trusted Travel Partner" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Read the Terms and Conditions for FaresMatch.com to understand your rights and responsibilities when using our travel booking platform." />
    <meta property="og:url" content="https://www.faresmatch.com/terms.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Terms and Conditions - FaresMatch | Your Trusted Travel Partner" />
    <meta name="twitter:description" content="Read the Terms and Conditions for FaresMatch.com to understand your rights and responsibilities when using our travel booking platform." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png" />
}

<style>
    .grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 15px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 15px;
        p

    {
        font-size: 14px !important;
    }

    }

    ol {
        margin-left: 15px !important;
    }

    @@media only screen and (max-width: 1024px) {
        .grid1, .grid2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>


<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Terms and Conditions for Faresmatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2">
    <div class="row">
        <div class="column">
            <h2>Terms and Conditions for Faresmatch</h2>
            <p>
                Effective Date: <b>25 November 2024</b>
                <br>
                Welcome to FaresMatch.com. By using our website, mobile application, or any associated services (collectively, "Our Platform"), you agree to be bound by these Terms and Conditions (“Terms”) and our Privacy Policy. These Terms constitute a legally binding agreement between you ("User", "you", "your") and FaresMatch.com ("FaresMatch", "we", "us", "our"). If you do not agree to these Terms, please refrain from using Our Platform.
            </p>

            <h2>1. Acceptance of Terms</h2>
            <p>
                By accessing or using Our Platform, you acknowledge that you have read, understood, and agreed to be bound by these Terms. If you do not agree to all provisions of these Terms, you may not use any portion of Our Platform.
                <br>
                We reserve the right to modify these Terms at any time. Any changes will be posted on Our Platform with an updated effective date. Continued use of Our Platform after changes have been posted constitutes acceptance of the revised Terms.
            </p>

            <h2>2. Use of Our Platform</h2>
            <div class="grid1">
                <div>
                    <h4>Eligibility</h4>
                    <p><b>You must:</b> Be at least 18 years of age or the age of majority in your jurisdiction. Have the legal capacity to enter into binding agreements. Provide accurate and truthful information during any interactions on Our Platform.</p>
                    <br>
                    <h4>Permitted Use</h4>
                    <p>You may use Our Platform for lawful purposes only. Acceptable uses include:</p>
                    <ol>
                        <li>Searching for travel services such as flights.</li>
                        <li>Booking and managing travel arrangements.</li>
                        <li>Accessing travel assistance or support services.</li>
                    </ol>
                </div>
                <div>
                    <h4>You agree not to:</h4>
                    <p>Airlines typically allow cancellations up to a certain time before departure. Ensure you check the cancellation cut-off period in your booking details.</p>
                    <ol>
                        <li>Use Our Platform for any illegal, fraudulent, or unauthorized purposes.</li>
                        <li>Misrepresent your identity or impersonate another individual.</li>
                        <li>Deploy automated systems (e.g., bots, crawlers) to access, scrape, or extract data from Our Platform.</li>
                        <li>Distribute viruses, malware, or any harmful code.</li>
                        <li>Attempt to disrupt or compromise the security of Our Platform.</li>
                    </ol>
                </div>
            </div>


            <br>
            <h2>3. Services Provided</h2>
            <div class="grid1">
                <div>
                    <h3>a. Travel Search and Booking</h3>
                    <p>
                        FaresMatch acts as an intermediary by connecting users with third-party travel service providers, such as airlines and online travel agencies.
                        <br>
                        <b>Our services include: </b> Flight search and comparison. Travel booking facilitation. Travel assistance (e.g., refunds, cancellations, seat upgrades).
                        Note: We do not own, operate, or control any travel services listed on Our Platform. All bookings are made directly with third-party travel providers, subject to their respective terms and conditions.
                    </p>
                </div>
                <div>
                    <h3>b. Third-Party Relationships</h3>
                    <p>
                        By using Our Platform, you acknowledge that:
                        <br>
                        Travel services displayed are provided by independent third-party providers. FaresMatch is not responsible for the accuracy, quality, or fulfillment of services provided by third-party providers. Any disputes or issues regarding booked services must be addressed directly with the respective provider.
                    </p>
                </div>
            </div>
            <h2>4. Account Registration</h2>
            <p>To access certain features, you may need to create an account. By registering, you agree to:</p>
            <ol>
                <li>Provide accurate, current, and complete information.</li>
                <li>Maintain the confidentiality of your login credentials.</li>
                <li>Notify us immediately of any unauthorized account activity or security breaches.</li>
            </ol>
            <p>FaresMatch is not responsible for losses or damages arising from unauthorized use of your account. You agree to be held accountable for all activities conducted under your account.</p>

            <h2>5. Pricing and Payment</h2>
            <div class="grid2">
                <div>
                    <h3>a. Accuracy of Pricing</h3>
                    <p>While we strive to display accurate prices, these may change due to provider updates, currency fluctuations, or additional fees. FaresMatch is not liable for discrepancies in displayed versus actual prices.</p>
                </div>
                <div>
                    <h3>b. Payment Processing</h3>
                    <p>Payments are processed via secure third-party gateways. By providing payment information, you authorize FaresMatch and its payment processors to charge your selected method of payment for the total booking amount, including applicable taxes and fees.</p>
                </div>
                <div>
                    <h3>c. Additional Charges</h3>
                    <p>
                        Travel providers may impose additional fees for:

                        Checked baggage. Seat selection. Onboard amenities. These charges are subject to the provider’s terms and policies.
                    </p>
                </div>
            </div>

            <h2>6. Changes, Cancellations, and Refunds</h2>
            <div class="grid2">
                <div>
                    <h4>a. User-Initiated Changes</h4>
                    <p>For changes or cancellations, you must contact FaresMatch customer support. Additional fees may apply depending on the travel provider's policy.</p>
                </div>
                <div>
                    <h4>b. Provider-Initiated Changes</h4>
                    <p>If your travel provider alters or cancels your booking, FaresMatch will assist in facilitating a resolution. However, the final decision rests with the provider.</p>
                </div>
                <div>
                    <h4>c. Refunds</h4>
                    <p>Refund eligibility depends on the travel provider's refund policy. FaresMatch cannot guarantee refunds for non-refundable bookings.</p>
                </div>
            </div>



            <h2>7. Intellectual Property</h2>
            <p>All content on Our Platform, including but not limited to text, graphics, logos, and software, is owned by FaresMatch or its licensors. Unauthorized use, reproduction, or distribution is strictly prohibited.</p>

            <h4>User-Generated Content</h4>
            <p>If you submit content (e.g., reviews, feedback) to Our Platform, you grant FaresMatch a non-exclusive, royalty-free, perpetual license to use, modify, and distribute that content.</p>

            <h2>8. Disclaimer of Warranties</h2>
            <p>Our Platform is provided "as is" and "as available" without warranties of any kind. FaresMatch disclaims all warranties, express or implied, including but not limited to:</p>
            <ol>
                <li>Accuracy, completeness, or reliability of content.</li>
                <li>Uninterrupted or error-free operation.</li>
                <li>Fitness for a particular purpose.</li>
            </ol>

            <h2>9. Limitation of Liability</h2>
            <p><b>To the fullest extent permitted by law:</b> FaresMatch is not liable for indirect, incidental, or consequential damages arising from the use of Our Platform. We are not responsible for errors, delays, or non-performance by third-party providers.</p>
            <h2>10. Indemnification</h2>
            <p>You agree to indemnify and hold FaresMatch harmless from any claims, damages, or losses resulting from:</p>
            <ol>
                <li>Your violation of these Terms.</li>
                <li>Your misuse of Our Platform.</li>
                <li>Your breach of third-party rights.</li>
            </ol>
            <h2>11. Links to Third-Party Websites</h2>
            <p>Our Platform may include links to third-party websites. These links are provided for convenience and do not signify endorsement. FaresMatch is not responsible for the content or practices of third-party sites.</p>

            <h2>12. Termination of Access</h2>
            <p>Faresmatch reserves the right to suspend or terminate your access to Our Platform for violations of these Terms or for any other reason deemed necessary.</p>

            <h2>13. Governing Law and Dispute Resolution</h2>
            <h3>a. Governing Law</h3>
            <p>These Terms are governed by the laws of the State of Georgia, USA.</p>

            <h3>b. Arbitration Agreement</h3>
            <p>Any disputes arising from these Terms will be resolved through binding arbitration in Georgia. By agreeing to arbitration, you waive the right to participate in class actions or collective lawsuits.</p>

            <h2>14. Amendments to Terms</h2>
            <p>FaresMatch may modify these Terms at any time. Updated Terms will be posted on Our Platform with an effective date. Continued use of Our Platform constitutes acceptance of the revised Terms.</p>

            <h2>15. Feedback and Suggestions</h2>
            <p>We value your feedback to improve our services. By submitting feedback, you grant FaresMatch permission to use your suggestions without compensation or obligation.</p>

            <h2>16. General Provisions</h2>
            <p><b>No Waiver</b>: Failure to enforce any provision of these Terms does not constitute a waiver of that provision. <br><b>Severability</b>: If any provision is deemed invalid, the remaining provisions remain in full force and effect. <br><b>Entire Agreement</b>: These Terms constitute the entire agreement between you and FaresMatch regarding your use of Our Platform.</p>

            <h2>17. Contact Information</h2>
            <p>For questions or concerns, contact us at:</p>
            <p><b>Phone: </b><a href="tel:+18009183039">+1-800-918-3039</a></p>
            <p><b>Email:</b> <a href="mailto:support@faresmatch.com">support@faresmatch.com</a></p>
            <p><b>Address: </b>6355 Haystack CT Cumming, GA 30040, USA</p>
            <h2>18. Additional User Responsibilities</h2>
            <p><b>You agree not to: </b>Circumvent security measures implemented on Our Platform. Engage in practices that interfere with the functionality of Our Platform. Use Our Platform to solicit unauthorized personal data.</p>

            <h2>19. Air Carrier Regulations</h2>
            <p>Certain travel practices, such as hidden-city ticketing or back-to-back booking, may violate airline rules. FaresMatch is not liable for consequences resulting from such practices, including ticket cancellation or denied boarding.</p>

            <h2>20. Entire Agreement</h2>
            <p>
                These Terms represent the entire agreement between you and FaresMatch. Any prior agreements or understandings, whether oral or written, are superseded by these Terms.

                These comprehensive Terms and Conditions ensure clarity and fairness in your interactions with FaresMatch, providing a reliable foundation for all your travel needs. Thank you for choosing FaresMatch for your travel plans!
            </p>
            <br><br>
            <h2>Disclaimer</h2>
            <p>At FaresMatch.com, we strive to provide accurate, reliable, and efficient travel services. However, by accessing or using our website, mobile applications, or services (collectively referred to as "Our Platform"), you acknowledge and agree to the terms of this Disclaimer. This document outlines the limitations of our responsibilities and sets clear expectations for our users. If you disagree with any part of this Disclaimer, please refrain from using Our Platform.</p>

            <h2>1. General Information</h2>
            <p>FaresMatch acts as an intermediary to connect users with third-party travel service providers, such as airlines, travel agencies, and other travel-related businesses. While we aim to ensure a smooth and seamless experience, we cannot guarantee or warrant the accuracy, reliability, or performance of third-party services accessed through Our Platform.</p>

            <h2>2. Third-Party Travel Services</h2>
            <div class="grid1">
                <div>
                    <h4>a. Intermediary Role</h4>
                    <p>FaresMatch does not own, control, or operate any of the travel services or products offered through Our Platform. These services are provided by independent third-party providers, and all bookings made through Our Platform are subject to their terms and conditions.</p>
                </div>
                <div>
                    <h4>b. Travel Provider Responsibility</h4>
                    <p>
                        All bookings and travel services are managed and delivered by the respective travel providers. FaresMatch is not responsible for:
                        Service quality or accuracy of the information provided by travel providers. Any errors, delays, or cancellations initiated by travel providers.
                        Disputes regarding bookings or travel services must be addressed directly with the respective provider.
                    </p>
                </div>
            </div>

            <h2>3. Accuracy of Information</h2>
            <div class="grid1">
                <div>
                    <h4>a. Information Displayed</h4>
                    <p>
                        While we strive to provide accurate and up-to-date information, FaresMatch cannot guarantee: The accuracy, reliability, or completeness of the information displayed on Our Platform. Real-time availability or pricing of flights, deals, and promotions.
                        Prices are subject to change without notice, and based on the policies of the travel provider, additional fees, taxes, or surcharges may apply.
                    </p>
                </div>
                <div>
                    <h4>b. Currency Conversion</h4>
                    <p>Prices displayed on Our Platform may be presented in a currency of your choice or a default currency. However, the final transaction amount may differ based on the exchange rate used by your payment provider or travel provider. Currency conversions displayed are for informational purposes only.</p>
                </div>
            </div>

            <h2>4. Limitation of Liability</h2>
            <p>To the fullest extent permitted by law, FaresMatch is not responsible or liable for:</p>
            <ol>
                <li><b>Direct or Indirect Damages</b>: Any loss, injury, or damages resulting from the use or inability to use Our Platform.</li>
                <li><b>Errors or Omissions</b>: Inaccuracies in travel information, including pricing, availability, or descriptions.</li>
                <li><b>Third-Party Actions</b>: Failures, delays, or issues caused by third-party travel providers.</li>
                <li><b>Unforeseen Circumstances</b>: Natural disasters, strikes, technical disruptions, or other events beyond our control.</li>
            </ol>

            <h2>5. User Responsibility</h2>
            <div class="grid1">
                <div>
                    <h4>a. Accuracy of Personal Information</h4>
                    <p>Users are responsible for ensuring that all personal and booking details provided through Our Platform are accurate. Errors in passenger names, travel dates, or other details may result in additional charges or denied boarding.</p>
                </div>
                <div>
                    <h4>b. Compliance with Travel Regulations</h4>
                    <p><b>It is your responsibility to: </b>Verify visa and passport requirements for your destination. Ensure compliance with health, safety, and entry requirements, including vaccinations or medical tests.</p>
                </div>
            </div>

            <h2>6. Technical Issues</h2>
            <p>
                FaresMatch strives to maintain uninterrupted access to Our Platform. However, we do not guarantee that Our Platform will be error-free or always available. We are not liable for:

                Technical failures, including server outages or downtime. Unauthorized access or data breaches caused by factors beyond our control.
            </p>
            <h2>7. Advertising and Third-Party Links</h2>
            <div class="grid1">
                <div>
                    <h4>a. Advertisements</h4>
                    <p>Our Platform may display advertisements from third parties. FaresMatch does not endorse or guarantee the products or services offered in these advertisements.</p>
                </div>
                <div>
                    <h4>b. Third-Party Websites</h4>
                    <p>Links to third-party websites are provided for your convenience. FaresMatch is not responsible for the content, practices, or policies of external sites. Use of third-party websites is at your own risk.</p>
                </div>
            </div>

            <h2>8. Travel Risks</h2>
            <p>
                Travel inherently involves risks, including but not limited to delays, cancellations, or disruptions. FaresMatch does not assume liability for:

                Travel disruptions caused by weather, strikes, or other unforeseen events. Damages, losses, or injuries incurred during travel.
                Users are encouraged to consider purchasing travel insurance to mitigate potential risks.
            </p>

            <h2>9. Force Majeure</h2>
            <p>
                FaresMatch is not liable for failure or delay in performance due to events beyond our reasonable control, including but not limited to:

                Natural disasters (e.g., earthquakes, hurricanes, floods). Government actions or restrictions (e.g., lockdowns, border closures). Technical failures, cyberattacks, or power outages.
            </p>
            <h2>10. No Professional Advice</h2>
            <p>The content and information provided on Our Platform are for informational purposes only and should not be interpreted as legal, medical, or financial advice. Users should seek professional guidance for specific concerns.</p>

            <h2>11. Intellectual Property</h2>
            <p>All content, trademarks, and intellectual property displayed on Our Platform are owned by FaresMatch or its licensors. Unauthorized reproduction, distribution, or use of this content is strictly prohibited.</p>

            <h2>12. Modifications to Our Platform</h2>
            <p>FaresMatch reserves the right to:</p>
            <ol>
                <li>Modify or discontinue any feature or service provided through Our Platform without prior notice.</li>
                <li>Update, correct, or remove content as necessary to improve user experience.</li>
            </ol>
            <h2>13. Changes to the Disclaimer</h2>
            <p>This Disclaimer may be updated periodically to reflect changes in our operations, services, or legal requirements. Users are encouraged to review this page regularly. Continued use of Our Platform after updates constitutes acceptance of the revised Disclaimer.</p>

            <h2>14. User Agreement</h2>
            <p>By using FaresMatch.com, you agree:</p>
            <ol>
                <li>To abide by the terms outlined in this Disclaimer.</li>
                <li>To hold FaresMatch harmless for any errors, inaccuracies, or service interruptions.</li>
            </ol>
            <p>If you do not agree with any part of this Disclaimer, your sole recourse is to discontinue use of Our Platform.</p>
        </div>
    </div>
</div>

