
@{
    ViewBag.Title = "uzbekistanairwaysrefundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Uzbekistan Airlines Policy | Refund on Air Ticket Cancellation</title>
    <meta name="description" content="According to the Uzbekistan refund policy a refund will be issued, if the fare application rules allowed it. Non-refundable tickets are exceptional as per the rules. ">
    <link rel="canonical" href="https://www.faresmatch.com/uzbekistan-airways-refund-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/uzbekistan-airways-refund-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Uzbekistan Airlines Policy | Refund on Air Ticket Cancellation">
    <meta property="og:description" content="According to the Uzbekistan refund policy a refund will be issued, if the fare application rules allowed it. Non-refundable tickets are exceptional as per the rules. ">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/uzbekistan-airways-refund-policy.aspx">
    <meta name="twitter:title" content="Uzbekistan Airlines Policy | Refund on Air Ticket Cancellation">
    <meta name="twitter:description" content="According to the Uzbekistan refund policy a refund will be issued, if the fare application rules allowed it. Non-refundable tickets are exceptional as per the rules. ">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Uzbekistan Airlines Policy | Refund on Air Ticket Cancellation",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/uzbekistan-airways-refund-policy.aspx"
         }
    </script>





}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Uzbekistan Airways Refund Policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">



            <p class="text-justify">Uzbekistan Airways is a significant Uzbek airline that operates a wide range of domestic and international flights. If you would like to reschedule your Uzbekistan Airways flight, you need first to learn about the airline's <a href="https://www.faresmatch.com/uzbekistan-airways-refund-policy.aspx">refund policy</a>.</p>
            <h2>Refund Policy</h2>
            <p class="text-justify">In order to get the refund, it’s important to get through the process step by step. The policy says that if the rules of the fare application allow it, a refund will be issued. With the exception of <a href="https://www.faresmatch.com/">air tickets</a> which are non-refundable according to the rules, reimbursements for permanently or temporarily unused <a href="https://www.faresmatch.com/flight-tickets-booking.aspx">flight tickets</a> are made inside the country's initial carriage sale. </p>
            <p class="text-justify"><b>The preceding are the fundamental principles of refund: </b></p>
            <ul>
                <li>Whenever a reimbursement is issued for a wholly unused ticket, the passenger will be repaid the amount of money paid for transportation, less any penalty fees for refund imposed by the tariff laws. When a wholly unused ticket is produced with the usage of several types of fares, then a penalty for a more restricted fare is imposed. </li>
                <li>When a refund is issued for a partially used ticket, the customer will be refunded for the wasted portion of the trip, less the refund fee that applies to the returning segment. </li>
            </ul>
            <h3>Frequently asked question </h3>
            <h3 class="text-justify">What would happen if I cancelled my flight with Uzbekistan Airways? </h3>
            <p class="text-justify">That is entirely dependent on the tariff type but whether or not you had purchased a refunded Uzbekistan Airways ticket. That after a 24-hour grace period from the time your ticket was bought, you are not entitled to return your basic economy Uzbekistan Airlines ticket for reimbursement. </p>
            <h3 class="text-justify">When a refund is issued? </h3>
            <p class="text-justify">It is issued for a partially used ticket; the customer will be refunded for the wasted portion of the trip, less the refund fee that applies to the returning segment. </p>
            <h3 class="text-justify">What would happen if I cancelled my flight with Uzbekistan Airways? </h3>
            <p class="text-justify">That is entirely dependent on the tariff type but whether or not you had purchased a refunded Uzbekistan Airways ticket. Just after the 24-hour time limit from the time your ticket was bought, you are not entitled to return your basic economy Uzbekistan Airlines ticket for reimbursement. </p>
            <h3 class="text-justify">Do Uzbekistan Airways have Wi-Fi? </h3>
            <p class="text-justify">Yes, it allows its passengers to use the internet facility if the flight is international. </p>
            <h3 class="text-justify">How can one manage to get information on your flights? </h3>
            <p class="text-justify">All the Information related to your flights, reservations, fares, and other conditions if applicable can be displayed on the website page or one can also contact the customer care number.  </p>
            <h3 class="text-justify">Do they allow pregnant women to fly? </h3>
            <p class="text-justify">Yes, they do. If the time duration is more than 35th week, then the certificate which should be by a gynecologist needs to be shown to the flight people and the issuance should be within 7 days before the flight. If in case there are twins then plan that you should fly before the 32nd week of the pregnancy day. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "What would happen if I cancelled my flight with Uzbekistan Airways?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "That is entirely dependent on the tariff type but whether or not you had purchased a refunded Uzbekistan Airways ticket. That after a 24-hour grace period from the time your ticket was bought, you are not entitled to return your basic economy Uzbekistan Airlines ticket for reimbursement."
                    }
                  },{
                    "@@type": "Question",
                    "name": "When a refund is issued?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "It is issued for a partially used ticket; the customer will be refunded for the wasted portion of the trip, less the refund fee that applies to the returning segment."
                    }
                  },{
                    "@@type": "Question",
                    "name": "What would happen if I cancelled my flight with Uzbekistan Airways?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "That is entirely dependent on the tariff type but whether or not you had purchased a refunded Uzbekistan Airways ticket. Just after the 24-hour time limit from the time your ticket was bought, you are not entitled to return your basic economy Uzbekistan Airlines ticket for reimbursement."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Do Uzbekistan Airways have Wi-Fi?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes, it allows its passengers to use the internet facility if the flight is international."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can one manage to get information on your flights?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "All the Information related to your flights, reservations, fares, and other conditions if applicable can be displayed on the website page or one can also contact the customer care number."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Do they allow pregnant women to fly?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes, they do. If the time duration is more than 35th week, then the certificate which should be by a gynecologists needs to be shown to the flight people and the issuance should be within 7 days before the flight. If in case there are twins then plan that you should fly before the 32nd week of the pregnancy day."
                    }
                  }]
                }
            </script>






        </div>
    </div>
</section>
