
@{
    ViewBag.Title = "uzbekistanairways";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{

    <title>Uzbekistan Airways | Book Flights on FaresMatch </title>
    <meta name="description" content="Now, Book Online Uzbekistan Airways Reservations, Uzbekistan Airways Official Site &amp; Save More on Uzbekistan Airways Booking for Uzbekistan Flights in North America." />
    <meta name="keywords" content="Uzbekistan Airways, Uzbekistan Airlines, Uzbekistan Airways Reservations, Uzbekistan Reservations, Uzbekistan Airways Official Site, Uzbekistan Airways Booking, Uzbekistan Flights" />
    <link rel="canonical" href="https://www.faresmatch.com/uzbekistan-airways.aspx" />
    <meta property="og:title" content="Uzbekistan Airways | Book Flights on FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Now, Book Online Uzbekistan Airways Reservations, Uzbekistan Airways Official Site &amp; Save More on Uzbekistan Airways Booking for Uzbekistan Flights in North America." />
    <meta property="og:url" content="https://www.faresmatch.com/uzbekistan-airways.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Uzbekistan Airways | Book Flights on FaresMatch" />
    <meta name="twitter:description" content="Now, Book Online Uzbekistan Airways Reservations, Uzbekistan Airways Official Site &amp; Save More on Uzbekistan Airways Booking for Uzbekistan Flights in North America." />

    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    <meta name="robots" content="index,follow" />

}



<div class="container2 bg1">
    <div class="row flex">
        <div class="column">
            <h1>Uzbekistan Airlines Flight Reservations & Booking Tickets | FaresMatch</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>


<div class="container2 textcon">
    <div class="row">
        <div class="column">
            <h2>Book Online Uzbekistan Airways Reservations From Official Site</h2>
            <h2>Ground Report of Uzbekistan Airways:</h2>
            <div class="grid1">
                <div class="column">
                    <p>JSC Uzbekistan Airways or also known as Uzbekistan Airways is the Flag Carrier of Uzbekistan. This is the popular airline of the country and serving for many domestic and international destinations with <b>Uzbekistan Airways Reservations</b>. The airline flies for many destinations of Asia, Europe, and North America. Uzbekistan was founded on 28 January 1992 and commenced operations on 31 May 1992. The government of Uzbekistan is the Parent Company of Uzbekistan Airlines. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/Uzbekistan-Ground-Report.jpg" alt="Ground Report of Uzbekistan Airways"></div>
            </div>

            <h2>Where is Uzbekistan Airways Headquarters? </h2>
            <p>When we talk on the headquarter of Uzbekistan Airlines we can say that it is in Tashkent, Uzbekistan. This is the place where Uzbekistan has the main headquarter and currently operating all financial and fleet operations. </p>
            <h2>Uzbekistan Airways Alliance: </h2>
            <p>Airline Alliance is the major concern of so many flyers who are thinking to fly with the Uzbekistan Air. Thus, if you are thinking that Uzbekistan is a member of the alliance such as Star, SkyTeam, or OneWorld then you are wrong. This airline is not a member of any airline alliance right now. </p>
            <h2>Uzbekistan Airlines Hubs: </h2>
            <p>The one main or single hub of the Uzbekistan Airways Flights is Tashkent International Airport. From the Tashkent International Airport, Uzbekistan operates the highest number of departures and boarding and that’s why this is known as the main hub of Uzbekistan Flights. </p>
            <h2>Frequent Flyer Program of Uzbekistan Airways: </h2>
            <p>Do you want to earn miles or rewards on the <b>Uzbekistan Airways Booking</b>? If yes then taking a glance at the Uz Air Plus Frequent Flyer Program of Uzbekistan is the most vital thing for you. You must join this Frequent Flyer Program of Uzbekistan to earn miles for the next travel plans, avail the baggage facilities, and airport lounge access as well. </p>
            <h2>Fleet Size &amp; Destinations Served by Uzbekistan: </h2>
            <p>Fleet Size is also an important corner to know about the circle of airline services. Thus, Fleet Size of Uzbekistan Airlines Flights is 32. The major services of the airline are mainly available in Asia and North America. The total number of destinations served by the Uzbekistan is 58. </p>
            <h2>Code Share Agreement Airline List with Uzbekistan: </h2>

            <h2>Fleet Information of Uzbekistan Airways: </h2>
            <table border="1">
                <tr>
                    <td>airBaltic</td>
                    <td>Alitalia</td>
                    <td>Belavia</td>
                    <td>Korean Air</td>
                </tr>
                <tr>
                    <td>Malaysia Airlines</td>
                    <td>S7 Airlines</td>
                    <td>Turkish Airlines</td>
                    <td>Ural Airlines</td>
                </tr>

                <tr>
                    <td>Airbus A310-300</td>
                    <td>Antonov An-24B</td>
                    <td>Antonov An-24RV</td>
                    <td>Avro RJ85</td>
                </tr>
                <tr>
                    <td>Ilyushin Il-62</td>
                    <td>Ilyushin Il-62M</td>
                    <td>Ilyushin Il-76T</td>
                    <td>Ilyushin Il-86</td>
                </tr>
                <tr>
                    <td>Ilyushin Il-114-100</td>
                    <td>Tupolev Tu-154B</td>
                    <td>Tupolev Tu-154M</td>
                    <td>Yakovlev Yak-40</td>
                </tr>
            </table>
            <h2>Inspection of Uzbekistan Airways Baggage Policy: </h2>
            <div class="grid1">
                <div class="column">
                    <ul>
                        <li>Passengers are allowed to carry one personal item and one carry-on bag free in the Baggage Policy of Uzbekistan Airways Booking. </li>
                        <li>Maximum allowed dimensions for the carry-on baggage is 56 cm (22 inches) x 45 cm (18 inches) x 25 cm (10 inches). </li>
                        <li>The maximum size for hand luggage each piece is 115 CM. </li>
                        <li>In the Checked Baggage Policy, weight limit for the First Class, Business Class and Economy Class is 40 KG, 30 KG and 20 KG. </li>
                        <li>You can check the Baggage Fee of the Uzbekistan on the <b>Uzbekistan Airways Official Site</b>.</li>
                    </ul>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/Uzbekistan-Airlines-Baggage.jpg" alt="Inspection of Uzbekistan Airways Baggage Policy"></div>
            </div>

            <h2>Inspection of Uzbekistan Cabin Class For Travel: </h2>
            <p>For the Uzbekistan Reservations, you have to consider one particular cabin class which meets according to your requirement and budget. The total cabin classes available in the Uzbekistan Flights are two and these are Uzbekistan Business Class and Uzbekistan Economy Class. Just like the name, Business Class of Uzbekistan Airways Reservations is rich with the High-Class Traveling Experience but on the other hand, Economy Class of Uzbekistan Airways is economical choice to travel for North America with Uzbekistan Flights. </p>
            <br><br>
            <div class="grid1">
                <div class="column">
                    <h3>Inspection of Uzbekistan Airways Pet Policy: </h3>
                    <p>Small pets can travel in the Uzbekistan Airways such as small dogs, cats and birds as well. Maximum allowed weight of pet is 8KG. You must book the tickets of pet before 7 days of departure from the Uzbekistan Airlines Official Site. </p>
                </div>
                <div class="column"><img src="https://www.faresmatch.com/assets/images/Uzbekistan-Airlines-Pet.jpg" alt="Inspection of Uzbekistan Airways Pet Policy"></div>
            </div>
            <h3>FAQs: </h3>
            <h3>1. How to Book Online Uzbekistan Reservations? </h3>
            <p>You can book online Uzbekistan Reservations from the Uzbekistan Airways Official Site. </p>
            <h3>2. Which is the cheapest day to Book Uzbekistan Flights? </h3>
            <p>Tuesday is the cheapest day to book Uzbekistan Airlines Flights. </p>
            <h3>3. Can I Book Last Minute Uzbekistan Flights? </h3>
            <p>Yes, you can book Uzbekistan Last Minute Flights from the Uzbekistan Website or Travel Agency Portals. </p>
            <h3>4. What is the Rating of Uzbekistan Travel for the International Flights? </h3>
            <p>4.5 Out of 5</p>
            <h3>5. What are the top Destinations for US Travel With Uzbekistan Airways Reservations? </h3>
            <p>New York and Washington DC</p>
        </div>
    </div>
</div>

