
@{
    ViewBag.Title = "uzbekistanairwayscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Uzbekistan Airways Flight Changing and Canceling Policy</title>
    <meta name="description" content="Booked flight tickets from Uzbekistan Airways? Know the details of Flight changing, the penalty fees, and the cancellation policy.">
    <link rel="canonical" href="https://www.faresmatch.com/uzbekistan-airways-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/uzbekistan-airways-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Uzbekistan Airways Flight Changing and Canceling Policy">
    <meta property="og:description" content="Booked flight tickets from Uzbekistan Airways? Know the details of Flight changing, the penalty fees, and the cancellation policy.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/uzbekistan-airways-cancellation-policy.aspx">
    <meta name="twitter:title" content="Uzbekistan Airways Flight Changing and Canceling Policy">
    <meta name="twitter:description" content="Booked flight tickets from Uzbekistan Airways? Know the details of Flight changing, the penalty fees, and the cancellation policy.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Uzbekistan Airways Flight Changing and Canceling Policy",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/uzbekistan-airways-cancellation-policy.aspx"
         }
    </script>






}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Uzbekistan Airways Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">Uzbekistan Airways is based in Uzbekistan, headquartered in Tashkent. The airline serves a number of domestic destinations and international services to Asia, Europe, and North America with a fleet size of 32 aircraft. </p>
            <p class="text-justify">If you have plans to book flight tickets from Uzbekistan Airways, make sure you check the ongoing offers and deals, <a href="https://www.faresmatch.com/">flight booking</a>, and cancellation policy. For your ease, below is an overview of Uzbekistan Airways’ cancellation policy. </p>
            <h2>Cancellation policy </h2>
            <p class="text-justify">According to <a href="https://www.faresmatch.com/uzbekistan-airways-cancellation-policy.aspx">Uzbekistan Airways’ cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking without paying any cancellation fee. However, if you purchased a flight ticket from a third party, the <a href="https://www.faresmatch.com/cancellation-policy.aspx">24-hour cancellation policy</a> isn’t applicable. If you fail to cancel the flight ticket within 24 hours window, the airline will impose cancellation fees based on fare category, method of purchase, mode of payment, departure date, departure, arrival city, and flight types. </p>
            <h3>Refund policy </h3>
            <p class="text-justify">You can cancel a flight ticket within 24 hours of booking without paying any cancellation fee if you completed the purchase 7 days or more before the initially scheduled departure flight. You will receive the refund after the deduction of the cancellation fee based on fare category, method of purchase, mode of payment, departure date, departure, arrival city, and flight types. If you booked a flight ticket offline, you will also be charged with service fee. Also, you can obtain a refund up to one year from the reservation date. If you fail to do so, the airline has the authority to forfeit the whole refund amount as cancellation charges. </p>
            <h4>Frequently asked question:</h4>

            <h3 class="text-justify">How to cancel a flight ticket with Uzbekistan Airways? </h3>
            <p class="text-justify">You can call the Uzbekistan Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">You can visit the official website of Uzbekistan Airways and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within three to four business weeks. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">How to check if my flight is refundable? </h3>
            <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Uzbekistan Airways website will display refund eligibility and information. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Uzbekistan Airways?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can call the Uzbekistan Airways customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Also, you can visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can visit the official website of Uzbekistan Airways and make a request for a refund or you can call customer care. It takes time to process the refunds; hence, you may receive refunds within three to four business weeks."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to check if my flight is refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Uzbekistan Airways website will display refund eligibility and information."
                    }
                  }]
                }
            </script>






        </div>
    </div>
</section>
