
@{
    ViewBag.Title = "virginatlanticairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Cancellation Policy of Virgin Atlantic Airlines- FaresMatch</title>
    <meta name="description" content="Canceling or changing a flight on Virgin Atlantic Airlines, you can also pre-pone or postpone your flight. Cancellation Policy of Virgin Airlines.">
    <link rel="canonical" href="https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cancellation Policy of Virgin Atlantic Airlines- FaresMatch">
    <meta property="og:description" content="Canceling or changing a flight on Virgin Atlantic Airlines, you can also pre-pone or postpone your flight. Cancellation Policy of Virgin Airlines.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Cancellation Policy of Virgin Atlantic Airlines- FaresMatch">
    <meta name="twitter:description" content="Canceling or changing a flight on Virgin Atlantic Airlines, you can also pre-pone or postpone your flight. Cancellation Policy of Virgin Airlines.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Cancellation Policy of Virgin Atlantic Airlines- FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx"
         }
    </script>





}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Virgin Atlantic Airlines Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">Virgin Atlantic is a British-based airline that was established in 1984 as British Atlantic Airways but it was changed to its present name. The airline operates its services in North America, the Caribbean, Africa, the Middle East, and Asia from its main base at Heathrow, and its secondary base at Manchester. It also operates seasonal flights from Belfast and Edinburgh. Virgin  Atlantic. The airline also has a frequent flyer program to reward loyal customers called flying club. </p>
            <p class="text-justify">If you have plans to <a href="https://www.faresmatch.com/virgin-atlantic-airlines.aspx">book flight tickets from Virgin Atlantic</a>, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of <a href="https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx">Virgin Atlantic’s cancellation policy</a>. </p>
            <h2>Cancellation policy</h2>
            <p class="text-justify">According to Virgin Atlantic’s <a href="https://www.faresmatch.com/virgin-atlantic-airlines-cancellation-policy.aspx">cancellation policy</a>, you can cancel a flight ticket within 24 hours of booking at least 7 days before departure without paying any cancellation fee. However, if you cross the time limitation of 24 hours, you will have to pay the cancellation fee. Apart from cancellation, you can also pre-pone or postpone your <a href="https://www.faresmatch.com/">flight tickets</a> based on your travel dates. </p>
            <h3>Refund Policy</h3>
            <p class="text-justify">If you couldn’t board the flight due to some illness, you can submit related documents like a doctor’s prescription, medical bills, etc. to claim a refund. All the refundable amounts will be processed in the same mode of payment used for the purchase of the ticket. </p>
            <h4>Frequently asked question</h4>

            <h3 class="text-justify">How to cancel a flight ticket with Virgin Atlantic?</h3>
            <p class="text-justify">If you wish to cancel the flight ticket, you may call the Virgin Atlantic customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">In order to make a request for a refund, you can visit the official website of Virgin Atlantic or call customer care. The airline believes in building a relationship with customers for the long run and therefore, they ensure that the refundable amount gets processed in 7 to 10 business days. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">Is my flight refundable? </h3>
            <p class="text-justify">Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Virgin Atlantic website will display refund eligibility and information. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Virgin Atlantic?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you wish to cancel the flight ticket, you may call the Virgin Atlantic customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "In order to make a request for a refund, you can visit the official website of Virgin Atlantic or call customer care. The airline believes in building a relationship with customers for the long run and therefore, they ensure that the refundable amount gets processed in 7 to 10 business days."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Is my flight refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Virgin Atlantic website will display refund eligibility and information."
                    }
                  }]
                }
            </script>





        </div>
    </div>
</section>
