
@{
    ViewBag.Title = "virginaustraliaairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Canceling a Virgin Australia Flight | Cancellation Policy</title>
    <meta name="description" content="Booked flight tickets on Virgin Australia Airlines without knowing the cancellation policy? Know the process of changing and canceling flights and penalty fees.">
    <link rel="canonical" href="https://www.faresmatch.com/virgin-australia-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/virgin-australia-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Canceling a Virgin Australia Flight | Cancellation Policy">
    <meta property="og:description" content="Booked flight tickets on Virgin Australia Airlines without knowing the cancellation policy? Know the process of changing and canceling flights and penalty fees.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/virgin-australia-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="Canceling a Virgin Australia Flight | Cancellation Policy">
    <meta name="twitter:title" content="Booked flight tickets on Virgin Australia Airlines without knowing the cancellation policy? Know the process of changing and canceling flights and penalty fees.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Canceling a Virgin Australia Flight | Cancellation Policy",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/virgin-australia-airlines-cancellation-policy.aspx"
         }
    </script>





}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Virgin Australia Airlines Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">Virgin Australia Airlines is the largest airline in Australia because of the fleet size used by the Virgin brand. Initially, the airline started with two aircraft on a single route in 2000 but ever since then the airline has grown and serves 32 cities in Australia, from hubs in Brisbane, Melbourne, and Sydney. The airline was rebranded in 2011 with a new aircraft livery, new uniforms, and new onboard menu options as well as a business class product that Virgin Blue did not have. </p>
            <p class="text-justify">If you have plans to book flight tickets from Virgin Australia Airlines, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of Virgin Australia Airlines’cancelation policy. </p>
            <h2>Cancellation policy </h2>
            <p class="text-justify">According to Virgin Australia Airlines’ cancelation policy, you can cancel a flight ticket within 24 hours of booking without paying any cancellation fee. If you cancel your flight after the cancellation window, you will have to pay the cancellation fee. The cancellation fee for a domestic or international flight ticket is 80AUD and a capped fee of 320 AUD. </p>
            <h3>Refund policy </h3>
            <p class="text-justify">As soon as you make the cancellations, the airline would initiate the refund. You can use a refund for up to 12 months for booking the tickets without extending the time. </p>
            <h4>Frequently asked question</h4>

            <h3 class="text-justify">How to cancel a flight ticket with Virgin Australia Airlines? </h3>
            <p class="text-justify">You can call the Virgin Australia Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">How can I make the request for a refund? By when can I expect it? </h3>
            <p class="text-justify">You can fill out the refund form on the official website of Virgin Australia Airlines or call customer care. You can expect a refund from the airlines within 15 to 20 business days depending on the type of ticket purchased. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 3 hours? </h3>
            <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get a full refund. Make sure that you fill out the refund request form. </p>
            <h3 class="text-justify">How to check if my flight is refundable? </h3>
            <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Virgin Australia Airlineswebsite will display refund eligibility and information. </p>
            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Virgin Australia Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can call the Virgin Australia Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can fill out the refund form on the official website of Virgin Australia Airlines or call customer care. You can expect a refund from the airlines within 15 to 20 business days depending on the type of ticket purchased."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 3 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get a full refund. Make sure that you fill out the refund request form."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to check if my flight is refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and the Virgin Australia Airlineswebsite will display refund eligibility and information."
                    }
                  }]
                }
            </script>







        </div>
    </div>
</section>
