
@{
    ViewBag.Title = "vivaaerobuscancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Flight Booking & Viva Aerobus Cancellation Policy - FaresMatch</title>
    <meta name="description" content="Know the refund and cancellation policy before booking a flight on Viva Aerobus. Enjoy its in-flight food and drink as a beverage. ">
    <link rel="canonical" href="https://www.faresmatch.com/viva-aerobus-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/viva-aerobus-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Flight Booking & Viva Aerobus Cancellation Policy - FaresMatch">
    <meta property="og:description" content="Know the refund and cancellation policy before booking a flight on Viva Aerobus. Enjoy its in-flight food and drink as a beverage.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/viva-aerobus-cancellation-policy.aspx">
    <meta name="twitter:title" content="Flight Booking & Viva Aerobus Cancellation Policy - FaresMatch">
    <meta name="twitter:description" content="Know the refund and cancellation policy before booking a flight on Viva Aerobus. Enjoy its in-flight food and drink as a beverage.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Flight Booking & Viva Aerobus Cancellation Policy - FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "href="https://www.faresmatch.com/viva-aerobus-cancellation-policy.aspx"
         }
    </script>






}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Viva Aerobus Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">Viva Aerobus is a <a href="https://www.faresmatch.com/low-cost-flights-booking-deals.aspx">low-cost airline</a> owned by the largest bus company group in Mexico. The airline operates flights throughout Mexico and the United States with a fleet size of 57 aircraft. Viva Aerobus is known for its in-flight food and drinks as beverages and magazines for entertainment and bus service from downtown El Paso, Texas to Abraham González International Airport in Ciudad Juárez, Chihuahua. </p>
            <p class="text-justify">If you have plans to book flight tickets from Viva Aerobus, make sure you check the ongoing offers and deals to save on your traveling. For your ease, below is an overview of <a href="https://www.faresmatch.com/viva-aerobus-cancellation-policy.aspx">Viva Aerobus’s cancellation policy</a>. </p>
            <h2>Cancellation policy </h2>
            <p class="text-justify">According to Viva Aerobus’s cancellation policy, you can cancel a flight ticket within 24 hours of booking at least 7 days before departure without paying any cancellation fee. Keep in mind the flight originated in or is bound to the United States, Canada, Puerto Rico, and Mexico. However, if you cross the time limitation of 24 hours, you will have to pay the cancellation fee. The <a href="https://www.faresmatch.com/cancellation-policy.aspx">24-hour cancellation policy</a> isn’t applicable to the reservations booked via <a href="https://www.faresmatch.com/">Online Travel Agency</a> (OTA). </p>
            <h3>Refund policy </h3>
            <p class="text-justify">If you fail to board the flight, the airline offers no compensation or refund. If there has been any involuntary flight cancellation, you are entitled to get compensation. The refundable amount will be processed in the same mode of payment used for the purchase of the ticket. </p>
            <h4>Frequently asked question</h4>
            <h3 class="text-justify">
                How to cancel a flight ticket with Viva Aerobus?
            </h3>
            <p class="text-justify">You can call the Viva Aerobus customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">
                How can I make the request for a refund? By when can I expect it?
            </h3>
            <p class="text-justify">You can visit the official website of Viva Aerobus and make a request for a refund or you can call customer care. If you booked the ticket with a credit card, the airline will process the refund within 7 business days. In case of check or cash payment, you may receive the refund within 20 business days. </p>
            <h3 class="text-justify">
                Can I ask for compensation if my flight gets delayed by 2 hours?
            </h3>
            <p class="text-justify">There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">
                How to check if my flight is refundable?
            </h3>
            <p class="text-justify">Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Viva Aerobus website will display refund eligibility and information. </p>

            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with Viva Aerobus?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can call the Viva Aerobus customer care office and inform them about the cancellation. Also, you can visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How can I make the request for a refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can visit the official website of Viva Aerobus and make a request for a refund or you can call customer care. If you booked the ticket with a credit card, the airline will process the refund within 7 business days. In case of check or cash payment, you may receive the refund within 20 business days."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "There can be a possibility that your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to check if my flight is refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Though such information is mentioned on the ticket, you can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number. The Viva Aerobus website will display refund eligibility and information."
                    }
                  }]
                }
            </script>





        </div>
    </div>
</section>
