
@{
    ViewBag.Title = "westjetairlinescancellationpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>24-hours WestJet Airlines Cancellation Policy- FaresMatch</title>
    <meta name="description" content="Canceling flight tickets after 24 hours of booking can cause you to pay a penalty fee as per WestJet Airlines Cancellation policy.">
    <link rel="canonical" href="https://www.faresmatch.com/westjet-airlines-cancellation-policy.aspx" />
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/westjet-airlines-cancellation-policy.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="24-hours WestJet Airlines Cancellation Policy- FaresMatch">
    <meta property="og:description" content="Canceling flight tickets after 24 hours of booking can cause you to pay a penalty fee as per WestJet Airlines Cancellation policy.">
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/westjet-airlines-cancellation-policy.aspx">
    <meta name="twitter:title" content="24-hours WestJet Airlines Cancellation Policy- FaresMatch">
    <meta name="twitter:description" content="Canceling flight tickets after 24 hours of booking can cause you to pay a penalty fee as per WestJet Airlines Cancellation policy.">
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">



    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "24-hours WestJet Airlines Cancellation Policy- FaresMatch",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/westjet-airlines-cancellation-policy.aspx"
         }
    </script>






}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>WestJet Airlines Cancellation policy</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">WestJet Airlines is the second-largest Canadian airline, headquartered in Calgary, Alberta, near Calgary International Airport. The airline is a low-cost alternative to the country's competing major airlines offering charter air service to more than 100 destinations in Canada, the United States, Europe, Mexico, Central America, and the Caribbean. WestJet is known for its in-flight services like entertainment, food and beverages, cabins, and airport lounges. </p>
            <p class="text-justify">If you have plans to book flight tickets from WestJet Airlines, make sure you check the ongoing offers and deals, flight booking, and cancellation policy. For your ease, below is an overview of WestJet Airlines’ <a href="https://www.faresmatch.com/cancellation-policy.aspx">cancelation policy</a>. </p>
            <h2>Cancellation policy </h2>
            <p class="text-justify">The airline allows you to cancel your reservations before 72 hours of the departure of the flight. According to <a href="https://www.faresmatch.com/westjet-airlines-cancellation-policy.aspx">WestJet’s cancelation policy</a>, you can cancel a flight ticket within 24 hours of booking without any cancellation fee. But if you cancel the WestJet flight online on the same day of the flight, then you will lose the whole amount of the ticket and no refund will be provided by the airline. If you cancel the flight ticket after 24 hours of the purchase, you will have to pay the cancellation fee. </p>
            <h3>Refund policy</h3>
            <p class="text-justify">To receive a full refund on your flight cancellation, make sure you cancel the <a href="https://www.faresmatch.com/">flight ticket</a> within 24 hours of the purchase. The cancellation fee will depend upon the fare type purchased, the destination of the journey, and the time of cancellation. the refund will be processed in the same account that you used to make the reservation. </p>
            <p class="text-justify">The airline also supports an insurance program that helps you to protect your refund values. The insurance program ensures that the refund amount will be credited to the respective bank account within a maximum of three to five (3 to 5) business days</p>
            <h4>Frequently asked question</h4>
            <h3 class="text-justify">How to cancel a flight ticket with WestJet Airlines? </h3>
            <p class="text-justify">You can call the WestJet Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket. </p>
            <h3 class="text-justify">When can I make the request for the refund? By when can I expect it? </h3>
            <p class="text-justify">You may place a request for a refund by calling the support or by filling out the refund request form on Lufthansa Airlines’ official website. The refund processing takes a time of approx. 7 to 10 working days. </p>
            <h3 class="text-justify">Can I ask for compensation if my flight gets delayed by 2 hours? </h3>
            <p class="text-justify">If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation. </p>
            <h3 class="text-justify">How to check if my flight is refundable? </h3>
            <p class="text-justify">You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and WestJet Airlines website will display refund eligibility and information. </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "How to cancel a flight ticket with WestJet Airlines?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can call the WestJet Airlines customer care office and inform them about the cancellation. You may also contact your kiosk to help you through the cancellation process. Apart from this, you may also visit the official website of the airlines and cancel your flight ticket."
                    }
                  },{
                    "@@type": "Question",
                    "name": "When can I make the request for the refund? By when can I expect it?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You may place a request for a refund by calling the support or by filling out the refund request form on Lufthansa Airlines’ official website. The refund processing takes a time of approx. 7 to 10 working days."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Can I ask for compensation if my flight gets delayed by 2 hours?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If your replacement flight delays your arrival by 2 or more hours or your flight was canceled less than 14 days before departure, you are eligible to get compensation."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How to check if my flight is refundable?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "You can check if your flight is refundable by visiting the official website of the airline and entering the ticket or document number and WestJet Airlines website will display refund eligibility and information."
                    }
                  }]
                }
            </script>






        </div>
    </div>
</section>
