
@{
    ViewBag.Title = "Cookiepolicy";
}

<section>
    <div class="bg-scroll pos-rel cookie-page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Cookie Policy</li>
                </ol>
            </nav>

            <h1 class="breadcrumbs-title">Cookie Policy</h1>
            <div class="breadcrumbs-description">
                Meet the amazing team behind this company and find out more about how we work.
            </div>
        </div>
    </div>

</section>
<section class="pt-20 pb-20">
    <div class="container">
        <h2 class="para-title">What is a cookie?</h2>
        <p>In short, a cookie is a small text file that is placed on your computer or mobile device to help ensure that you get the best possible experience when you visit a website.</p>
        <h2 class="para-title">Why does Fares Saver use cookies?</h2>
        <p>Cookies allow us to collect information such as browser type, time spent on the Services, pages visited, language preferences, and other anonymous traffic data. We and our service providers use the information for security purposes, to facilitate navigation, to display information more effectively, to personalize your experience while using the Services, and to recognize your computer in order to assist your use of the Services. We also gather statistical information about use of the Services in order to continually improve their design and functionality, understand how they are used, and assist us with resolving questions regarding them. Cookies further allow us to select which of our advertisements or offers are most likely to appeal to you and display them while you are on the Services. We may also use cookies or other technologies to track responses to our online advertisements and to understand what site or advertisement brought you to our site. At this time, we do not respond to browser do-not-track signals.</p>
        <h2 class="para-title">How can you manage cookies?</h2>
        <p>If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to automatically decline cookies or be given the choice of declining or accepting the transfer to your computer of a particular cookie (or cookies) from a particular site. You may also wish to refer to www.allaboutcookies.org/manage-cookies/index.html. If, however, you do not accept cookies, you may experience some inconvenience in your use of the Services. For example, we may not be able to recognize your computer, and you may need to log in every time you visit.</p>
        <h2 class="para-title">How to contact us?</h2>
        <p>
            If you have any questions or concerns about our use of your personal information, please contact email us support@faressaver.com or call +866-699-8919 to reach our customer services team.
            Now you know almost everything there is to know about cookies...job done.
            
        </p>


    </div>

</section>

