
@{
    ViewBag.Title = "ErrorPage";
}
<section class="pt-20 pb-20">
    <div class="errorTopBlock__content">
        <div class="errorTitleBlock">
            <h1 class="errorTitleBlock__title">404 Error</h1>
            <p class="errorTitleBlock__subtitle">Unfortunately </p>
            <p class="font20">the page you requested was not found</p>
            <a href="/" class="errorTitleBlock__back"><i class="fa fa-home mr-5" aria-hidden="true"></i>Back to home page</a>
        </div>
        <div class="errorGetInTouch">
            <h2 class="errorGetInTouch__title">GET IN TOUCH WITH OUR AGENTS. THEY MIGHT BE ABLE TO HELP YOU</h2>
            <div><a href="tel:866-699-8919" class="errorGetInTouch__phone">866-699-8919</a></div>
            <div><a class="errorGetInTouch__action" href="tel:866-699-8919">CALL NOW</a></div>
        </div>
    </div>

</section>