
@{
    ViewBag.Title = "Holidayenquiry";
}

<section>
    <div class="bg-scroll pos-rel enquiry-page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Holiday Enquiry</li>
                </ol>
            </nav>

            <h1 class="breadcrumbs-title">Holiday Enquiry</h1>
            <div class="breadcrumbs-description">
                Our customer support team is available 24/7
            </div>
        </div>
    </div>

</section>

<section class="latest mt-0">
    <div class="container">
        <h3 class="pb-15">Personal Details</span></h3>
        <div class="separator mb-30"></div>
        <p>
            We'd love to hear from you! Send us a message using the form below.
            One of our executive will assist you within 48 business hours
        </p>

        <div class="holiday-enquirybg text-left">

            <div class="hol-eng-bg-inner">
                <div class="hol-strip-box hidden-xs"></div>




                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">First Name</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Last Name</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Email Address</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Phone Number</label>
                    <input type="text" class="form-control" required="required">

                </div>



                <div class="clearfix"></div>

                <div class="enquiry-title mb-20 mt-20">Travel Details</div>
                <div class="clearfix"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Departure</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Destination</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">Hotel Name</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <label class="enq-label">No of passengers</label>
                    <input type="text" class="form-control" required="required">

                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 mt-20">
                    <div class="enq-label">
                        <label class="text-grey">Enquiry</label>
                        <textarea class="form-control" rows="50"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12"><input type="submit" value="Submit Enquiry" class="btn center-block mt-15"></div>
                <div class="clearfix"></div>
                <p class="col-md-12 text-center mt-15">
                    <small>
                        Your personal information is safe with us and will never be passed on to third parties.
                        <br>
                        You receive an email acknowledgement after submitting this form and our email newsletter which we send from time to time.
                    </small>
                </p>




            </div>
           
        </div>
    </div>
</section>