
@{
    ViewBag.Title = "Hotels";
}

<section>
    <div class="bg-scroll pos-rel hotels-page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Hotels</li>
                </ol>
            </nav>

            <h1 class="breadcrumbs-title">Hotels</h1>
            <div class="breadcrumbs-description">
                Let's start exploring the world together with best hotels.
            </div>
        </div>
    </div>

</section>


<section class="latest mt-0">
    <div class="container">
        <h3 class="pb-15">Recently Hotels Deals</span></h3>
        <div class="separator mb-30"></div>
        <p>BOOK YOUR HOTEL TOGETHER AND SAVE</p>

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-4 col-xs-12 col-sm-6">

                    <article class="geodir-category-listing fl-wrap">
                        <div class="geodir-category-img">
                            <a href="listing-single.html" tabindex="-1">
                                <img src="~/images/Hilton-Dubai-Jumeirah.jpg" />
                            </a>

                            <div class="sale-window">Save up to 25%</div>
                            <div class="geodir-category-opt">
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                            </div>
                        </div>
                        <div class="geodir-category-content fl-wrap title-sin_item">
                            <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                    <h3 class="title-sin_map"><a href="listing-single.html" tabindex="-1">Hilton Dubai Jumeirah</a></h3>
                                    <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fa fa-map-marker mr-5"></i> THE WALK, JUMEIRAH BEACH RESIDENCE P.O.BOX 2431, DUBAI, U.A.E</a></div>
                                </div>
                            </div>
                            <p> Located on Jumeirah Beach's golden mile in the heart of Dubai Marina. </p>
                            
                            <ul class="facilities-list fl-wrap">
                                <li><i class="fa fa-wifi"></i><span>Free WiFi</span></li>
                                <li><i class="fa fa-car"></i><span>Parking</span></li>
                                <li><i class="fa fa-television"></i><span>Television</span></li>
                                <li><i class="fa fa-utensils"></i><span> Restaurant</span></li>
                            </ul>
                            <div class="geodir-category-footer fl-wrap">
                                <div class="geodir-opt-link">
                                    <div class="geodir-category-price">Awg/Night <span>£ 159</span></div>
                                </div>
                                <div class="geodir-opt-list">
                                    <a href="#" class="btn"><i class="fal fa-map-marker-alt"></i>Enquire Now</a>

                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">

                    <article class="geodir-category-listing fl-wrap">
                        <div class="geodir-category-img">
                            <a href="listing-single.html" tabindex="-1">
                                <img src="~/images/Jumeirah-Zabeel-Saray.jpg" />
                            </a>

                            <div class="sale-window">Save up to 30%</div>
                            <div class="geodir-category-opt">
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                            </div>
                        </div>
                        <div class="geodir-category-content fl-wrap title-sin_item">
                            <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                    <h3 class="title-sin_map"><a href="listing-single.html" tabindex="-1">Jumeirah Zabeel Saray</a></h3>
                                    <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fa fa-map-marker mr-5"></i> Crescent Rd - Dubai - United Arab Emirates</a></div>
                                </div>
                            </div>
                            <p> Discover exciting experiences with your family at a luxurious destination on Palm Jumeirah in Dubai and make your holiday memorable. </p>
                            <ul class="facilities-list fl-wrap">
                                <li><i class="fa fa-wifi"></i><span>Free WiFi</span></li>
                                <li><i class="fa fa-car"></i><span>Parking</span></li>
                                <li><i class="fa fa-television"></i><span>Television</span></li>
                                <li><i class="fa fa-utensils"></i><span> Restaurant</span></li>
                            </ul>
                            <div class="geodir-category-footer fl-wrap">
                                <div class="geodir-opt-link">
                                    <div class="geodir-category-price">Awg/Night <span>£ 225</span></div>
                                </div>
                                <div class="geodir-opt-list">
                                    <a href="#" class="btn"><i class="fal fa-map-marker-alt"></i>Enquire Now</a>

                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">

                    <article class="geodir-category-listing fl-wrap">
                        <div class="geodir-category-img">
                            <a href="listing-single.html" tabindex="-1">
                                <img src="~/images/Atlantis-The-Palm.jpg" />
                            </a>

                            <div class="sale-window">Save up to 40%</div>
                            <div class="geodir-category-opt">
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                            </div>
                        </div>
                        <div class="geodir-category-content fl-wrap title-sin_item">
                            <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                    <h3 class="title-sin_map"><a href="listing-single.html" tabindex="-1">Atlantis The Palm</a></h3>
                                    <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fa fa-map-marker mr-5"></i> Crescent Road The Palm, Dubai, United Arab Emirates, Pincode- 211222</a></div>
                                </div>
                            </div>
                            <p>Atlantis The Palm, Dubai is a luxury hotel resort located at the apex of the Palm Jumeirah in the United Arab Emirates.</p>
                            <ul class="facilities-list fl-wrap">
                                <li><i class="fa fa-wifi"></i><span>Free WiFi</span></li>
                                <li><i class="fa fa-car"></i><span>Parking</span></li>
                                <li><i class="fa fa-television"></i><span>Television</span></li>
                                <li><i class="fa fa-utensils"></i><span> Restaurant</span></li>
                            </ul>
                            <div class="geodir-category-footer fl-wrap">
                                <div class="geodir-opt-link">
                                    <div class="geodir-category-price">Awg/Night <span>£ 249</span></div>
                                </div>
                                <div class="geodir-opt-list">
                                    <a href="#" class="btn"><i class="fal fa-map-marker-alt"></i>Enquire Now</a>

                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </div>

        </div>
    </div>
</section>
