
@{
    ViewBag.Title = "Privacypolicy";
}
<section>
    <div class="bg-scroll pos-rel privacy-page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                </ol>
            </nav>

            <h1 class="breadcrumbs-title">Privacy Policy</h1>
            <div class="breadcrumbs-description">
                Meet the amazing team behind this company and find out more about how we work.
            </div>
        </div>
    </div>

</section>
<section class="pt-20 pb-20">
    <div class="container text-justify">
        <h2 class="para-title">Privacy Policy</h2>
        <p>
            <i class="fa fa-quote-left txt_color_3"></i>
            Data and privacy of users on this website are important for our company. People trust our services, and we never break our clients' data and privacy trust factor by using our website and services. In this privacy policy, we will classify how we work and how we collect the users' data. We are committed to providing a safe experience to the users and never sharing the users' data with any other third party and person. Privacy policy helps users understand how we use and collect the data of the customers on this portal. Fares Saver is Operated and Owned By faressaver.com. We don't have any subsidiaries, and we are working individually to assist our clients. <i class="fa fa-quote-right txt_color_3"></i>
        </p>
        <h2 class="para-title">What We Collect in Personal Data of Clients?</h2>
        <p>
            Travel Services required the collection of data of the customers to complete the service task. We need some information about the passenger while proceeding with the travel services. Here we provide the details of personal data and transmission of the clients that we need only for travel booking:
            <br />Name
            <br />Date of birth
            <br />Email address
            <br />Address
            <br />Phone number
            <br />Age
            <br />Gender
            <br />Username and password for this site (faressaver.com)
            <br />Social Media Sign-In Features (Use Through This Site)
            <br />IP Address

        </p>
        <h2 class="para-title">Payment Information That We Collect:</h2>
        <p>
            <br />Credit Card Number and Information
            <br />Debit Card Number and Information
            <br />Net Banking Payment Information
            <br />E-Wallet Payment Information
        </p>

        <h2 class="para-title">). Internet or other electronic network activity information:</h2>
        <p>
            Device information (Mobile, Desktop, Laptop or Tablet)
            IP address
            Weblog Details
            Search preferences related to specific searches and
            Bids through your interactions with our site
            <h2 class="para-title">Inferences are drawn from other Personal Data:</h2>
            Weblog Details
            Profile or purchasing habits inferred from Personal Data
            Search preferences related to specific searches and
            Device information
            Bids through your interactions with our site
            <h2 class="para-title">Geolocation data:</h2>
            General device location and
            With consent, the exact device location
            <h2 class="para-title">Other Sources Through Which We Collect Personal Data:</h2>
            Third-party applications (including, but not limited to Facebook and Google) that you use for single sign-on
            Our affiliates, subsidiaries, or business partners
            Third-party data providers and
            Individuals are purchasing services on your behalf.


        </p>

        <h2 class="para-title">Securing Personal Data of Users on Faressaver.com:</h2>
        <p>
            We give high priority to the security of users' data on this website. Your data and information are secure on this website. Technical, Physical Safeguards and Administrative, we use every approach powerful to stop illegal and unauthorized access. Fares Saver is always ensuring the proper use of the personal data of the visitors and customers of this portal.
        </p>
        <h2 class="para-title">Credit Card and Other Payment Mode Security on This Website:</h2>
        <p>
            One more question that came to the mind of users and visitors of faressaver.com is payment security. They are always in doubt about the payment security facts. Still, we want to clear this doubt here for you: security or protection of credit cards or any other payment mode is secure because we are using secure socket encryption.
        </p>
        <h2 class="para-title">Use of Personal Data Collected By Faressaver.com:</h2>
        <p>
            Where do we use the collected data of the users? We use the data of the clients only to provide services. Completing various travel formalities for the passengers, promoting our services, sending promotion reviews and deals to the customers.
        </p>
        <h2 class="para-title">Sharing of Personal Data:</h2>
        <p>
            We share the customers' personal data with companies, suppliers, and third parties for business purposes and travel services only. We never share the data of the users for illegal and unauthorized purposes.
        </p>

    </div>

</section>

