
@{
    ViewBag.Title = "Termsconditions";
}

<section>
    <div class="bg-scroll pos-rel terms-page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                </ol>
            </nav>

            <h1 class="breadcrumbs-title">Terms & Conditions</h1>
            <div class="breadcrumbs-description">
                Meet the amazing team behind this company and find out more about how we work.
            </div>
        </div>
    </div>

</section>

<section class="pt-20 pb-20">
    <div class="container text-justify">
        <h2 class="para-title">Terms and Conditions</h2>
        <p>Faressaver.com is owned and operated by faressaver.com. Whenever we use faressaver.com., Faressaver, Fares Saver and We, anywhere that represents we are talking about our brand or our company. For using the services of Fares Saver and browsing on this portal, you must be agreeing with the terms and conditions of the website. Faressaver is dedicated to customer satisfaction. We will resolve any problem or dispute that you may have. If we fail to resolve your problem, you can pursue your claim according to this section.</p>
        <h2 class="para-title">Legal Actions: </h2>
        <p>
            By providing notice to customer support, you agree to allow us to resolve any problem or dispute relating to the Sites or any of its related apps or services. Any Claim must be filed within two (2) years of the date that it arose, or accrued. You may file a claim in arbitration or small claims court if we fail to resolve your Claims within 60 calendar days. This informal process is a prerequisite to your ability to file a claim in small claims court or arbitration.
            This Agreement will be governed solely by the laws of Connecticut, United States of America. Any Claims or other disputes between you and any Third-party, Faressaver, its affiliates or subsidiaries, or any travel service providers, companies or companies offering products, services, or through the Site shall be governed exclusively by the laws in Connecticut.
        </p>

        <h2 class="para-title">ERROR IN SYSTEM</h2>
        <p>Some products, services, and content on the Travel Site are provided to you by third parties ("Service Providers"), which include, but are not limited, airlines, hotels, car rental agencies and cruise lines, as well as tour operators, insurer carriers and other suppliers who provide travel services or other services. Certain software and data that can be found on the Travel Site is the property of Service Providers or their third-party distributors and providers.</p>
        <h2 class="para-title">THIRD-PARTY SERVICE PROVIDERS</h2>
        <p>Some products, services, and content on the Travel Site are provided to you by third parties ("Service Providers"), which include, but are not limited, airlines, hotels, car rental agencies and cruise lines, as well as tour operators, insurer carriers and other suppliers who provide travel services or other services. Certain software and data that can be found on the Travel Site is the property of Service Providers or their third-party distributors and providers.</p>


        <h2 class="para-title">USE OF THE TRAVEL SITE</h2>
        <p>You may only use the Travel Site to make legitimate reservations or purchases and shall not use the Travel Site for any other purposes, including making any speculative, false or fraudulent reservation or any reservation in anticipation of demand. You may not (a) use any "robot", "spider", or other automatic device, or a program, algorithm or methodology having similar processes or functionality, or any manual process to monitor or copy any of the web pages, data or content found on the Travel Site, (b) link to any portion of the Travel Site, without the prior written permission of Faressaver, (c) use the Travel Site in violation of, or to violate, any law, rule or regulation, or (d) "frame", "mirror", or otherwise incorporate any part of the Travel Site into any other website without Faressaver' prior written authorization.</p>
        <h2 class="para-title">Use of Travel Portal</h2>
        <p>The Travel Site is not to be used in conjunction or with your business activities. This includes any country prohibited by U.S. Export or Office of Foreign Assets Control regulations. For more information, visit www.treas.gov/ofac If you violate this obligation, you will be automatically denied access to the Travel Site. Faressaver and the Service Providers, as well as you, agree to indemnify them in respect of any violation of this section "Use of Travel Site".</p>

        <h2 class="para-title">TERMS OF PURCHASE</h2>
        <p>Additional terms and conditions will apply to your purchase or reservation of products or services through the Travel Site. These terms and conditions include payment of all amounts due and compliance with applicable Service Provider policies, rules, and restrictions regarding availability, use, and pricing of products, fares, and services. Any violation of these terms, conditions, policies or restrictions by any Service Provider may result in: (a) forfeiting all monies paid for the reservation or purchase; (b) cancellation or denial of access to any flights or hotels; and (c) Faressaver debiting you for any costs Faressaver incurs. You agree to pay all fees, duties, taxes, and assessments that may arise from your use of the Travel Site.</p>
        <h2 class="para-title">AGE AND RESPONSIBILITY</h2>
        <p>You warrant that you are at least 18 years old to use the Travel Site. You agree to supervise minors who use the Travel Site under your account or name. You warrant that you and your family have accurately provided all information necessary to use the Travel Site. You agree that you are responsible to all use of the Travel Site by yourself and others using your account or name. Fares Saver also has the right to refuse access to any person to the Travel Site at any time, for any reason, and without limitation, for violating these Terms of Use of the portal.</p>

        <h2 class="para-title">NO WARRANTIES</h2>
        <p>You are solely responsible for your use of the site and any materials or services offered by the site. All materials and services on the travel site and on the travel, site are provided "as is" or "as available".</p>
        
    </div>

</section>

