
@{
    ViewBag.Title = "alaskaairlinecarryon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Alaska Airline Carry On | Size Limit & Exceptions</title>
    <meta name="description" content="The blog describes facts about Alaska Airline Carry on Size Limits and Some Exceptions in the baggage too for the smooth boarding process of the flyers. " />
    <link rel="canonical" href="https://www.faresmatch.com/blog/alaska-airline-carry-on.aspx" />
    <meta property="og:title" content="Alaska Airline Carry On | Size Limit & Exceptions" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="The blog describes facts about Alaska Airline Carry on Size Limits and Some Exceptions in the baggage too for the smooth boarding process of the flyers. " />
    <meta property="og:url" content="https://www.faresmatch.com/blog/alaska-airline-carry-on.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Alaska Airline Carry On | Size Limit & Exceptions" />
    <meta name="twitter:description" content="The blog describes facts about Alaska Airline Carry on Size Limits and Some Exceptions in the baggage too for the smooth boarding process of the flyers. " />
    }
    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Alaska Airlines Carry-On Size</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>

    <section class="trvl_bug">
        <div class="container">
            <div class="row">


                <img src="../images/Alaska-Carry-On-FM-Blog-23-12-21.jpg" class="img-responsive" alt="Alaska-Carry-On-FM-Blog-23-12-21.jpg" /><br />

                <style>
                    table {
                        width: 100%;
                    }

                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: left;
                    }

                    table#t01 tr:nth-child(even) {
                        background-color: #eee;
                    }

                    table#t01 tr:nth-child(odd) {
                        background-color: #fff;
                    }

                    table#t01 th {
                        background-color: black;
                        color: white;
                    }
                </style>


                <p class="text-justify">With the best services and passenger experience, Alaska Airlines has served the aviation industry for more than 90 years. As everyone knows, an airline operates according to a set of policies that ensure its smooth operation. Baggage policy is one of them. The airline's baggage policy specifies the amount, type, and weight of bags permitted on Alaska Airlines. To avoid last-minute issues, it is important to be aware of the baggage policy and regulations when flying with Alaska Airlines. <a href="https://www.faresmatch.com/blog/alaska-airlines-baggage-policy.aspx"><b>Alaska Airlines baggage policy</b></a> is helpful to passengers as it provides information on the types of items permitted to be brought on board. </p>

                <p class="text-justify">They must also abide by the policy's restrictions on how much luggage they can bring on flights. A passenger may incur additional fees for breaking the rules. It is advised to be aware of the rules and to abide by them to prevent paying the fee or witnessing an unlikely event. Packing appropriately for your trip and being aware of your airline's carry-on policy will help you save on unexpected fees at the airport. If you plan to fly on an Alaska Airlines Flight, then book flights using Faresmatch to grab extra discounts on your trip worldwide. Here's a small Alaska Airlines carry-on size and carry-on allowance guide. </p>

                <h5>1. Size Limit of Alaska Air Carry-On Luggage: </h5>

                <p class="text-justify">The carry-on bag size limit in Alaska Airlines also revised by the airline and the new carry-on bag size limit in this airline is 22'' x 14'' x 9'' (wheels and handles included). You must measure the carry-on bag size carefully to avoid any extra charges. When the passenger not measure item size carefully then the boarding process not become smooth for the flyers. For the smooth boarding process you must measure the item size carefully and the size limit as per the dimensions. </p>

                <h5>2. Cold Bay Airport Carry-On Rules of Alaska: </h5>

                <p class="text-justify">As per the TSA Screening Limit, carry-on baggage us not accepted on flights departing Cold Bay Airport. Nowadays bag sizers at the airport locations with the dimensions of 22" x 14" x 9" dimensions are also available for the passengers to check dimensions of carry-on luggage. </p>

                <h5>3. Use Identification Tag Inside Your Bag: </h5>

                <p class="text-justify">If you do not want to face the situation of misplaced your bag then you can also use the free downloadable tag for the identification and return process hassle-free. </p>

                <h5>4. Items That Count as Alaska Airline Carry-On Bag in Luggage: </h5>
                <ul>

                    <li>Human organs</li>

                    <li>Art/advertising portfolios</li>

                    <li>Paintings</li>

                    <li>Delicate scientific equipment</li>

                    <li>Fishing poles</li>

                    <li>Small musical instruments</li>

                </ul>

                <h5>5. Items That Count Without Any Carry-On Limit</h5>
                <table>
                    <tr>
                        <td>Hats, Coats umbrellas (compact size that easily fits into an overhead bin, under the seat or in a suitcase)</td>
                        <td>Personal use pillow</td>
                    </tr>
                    <tr>
                        <td>immediate consumption-based food items</td>
                        <td>Reasonable amount of reading material</td>
                    </tr>
                    <tr>
                        <td>FAA approved child/infant restraint seats to be occupied by a child, strollers (based on space availability; space guaranteed only with the purchase of a ticket for the infant). Visit our Batteries and Electronics page if the stroller has a battery or power bank.</td>
                        <td>Service Animals that are properly documented.</td>
                    </tr>
                    <tr>
                        <td>Mobility/Medical assistive devices such as wheelchairs, canes, crutches, continuous positive airway pressure (CPAP) machines, approved portable oxygen concentrators (POC), breast pump, etc.</td>
                        <td>Prescription medications and any medical devices needed to administer them (for example: syringes, auto- injections) as long as they comply with applicable safety, security, and hazardous materials rules.</td>
                    </tr>

                </table>

                <h2>Alaska Airlines Carry-on Baggage: Dimensions and Guidelines</h2>

                <ul>
                    <li>The new size limit for airplane carry-on bags is 22 x 14 x 9 inches, including wheels and handles. </li>
                    <li>Personal items and carry-on baggage are not subject to weight restrictions on Alaska Airlines. </li>
                    <li>You can pay for baggage fees online, at a ticket counter, or at a kiosk. </li>
                    <li>Active-duty military members and their family members are permitted to carry a maximum of five bags, each measuring 292 cm (115 in) and weighing up to 70 lb (32 kg). </li>
                    <li>Ensure that your belongings fit into the overhead bin or beneath the seat in front of you to facilitate a seamless boarding experience for all passengers by adhering to the size restrictions outlined below. </li>

                </ul>


                <h2>Know Your Limits: Alaska Airlines Carry on Size Rules</h2>
                <p class="text-justify">Passengers on Alaska Airlines are allowed to check in a carry-on bag and a personal item for free. But be aware that you have to be able to lift easily your carry-on bag or personal item into the overhead bin. Please check that your bag's dimensions—including its body, wheels, and handles—are 22" x 14" x 9" or less before you head to the airport. The sum of the three measurements (width + height + length) cannot exceed 45 inches. </p>
                <h3>Alaska Airlines Carry-On Allowance</h3>
                <ul>
                    <li>All travelers on <a href="https://www.faresmatch.com/alaska-airlines-flights-reservations.aspx"><b>Alaska Airlines</b></a> are permitted to bring one piece of carry-on luggage and one personal item (such as a briefcase, laptop bag, or purse). One is meant to be stored beneath the seat, while the other is meant to fit into the overhead bin. </li>
                    <li>The maximum dimensions for a carry-on bag on airplanes are 22 x 14 x 9 inches. </li>
                    <li>In addition to your carry-on luggage, you are permitted to bring the following FREE of charge, per Alaska Airlines baggage rules: A car seat or stroller that has received FAA approval (if you purchased a ticket for an infant), a hat, coat, or umbrella that can fit neatly under the seat or overhead bin, a travel pillow, reading material, food for onboard consumption, and mobility assistance. </li>
                </ul>


                <h4>FAQs</h4>

                <h5>1. How precise is Alaska Airlines' carry-on size restriction? </h5>
                <p class="text-justify">
                    In what way is Alaska Airlines' carry-on size policy enforced?
                    Alaska Airlines adheres strictly to its size guidelines. You could be fined and have your luggage inspected if your item is larger than what is allowed.
                </p>

                <h5>2. Can I travel with a backpack and a carry-on bag on Alaska Airlines? </h5>
                <p class="text-justify">You can bring your backpack and carry-on bag if it's small enough to fit under your seat. In this instance, it will be accepted as a personal item on board. </p>

                <h5>3. Does Alaska Airlines consider a backpack to be a personal item? </h5>
                <p class="text-justify">Your backpack's size will determine whether it is considered a personal item. The only requirement for a personal item on Alaska Airlines is that it must fit into the space beneath the seat; otherwise, no specific dimensions are enforced. </p>

                <h5>4. Does Alaska Airlines (AS) charge a fee for sporting equipment? </h5>
                <p class="text-justify">Up to the size and weight restrictions of Alaska Airlines (AS), sports equipment like skis, golf bags, fishing gear, hockey gear, and lacrosse gear will be accepted and considered as one checked bag or hold bag. </p>

                <h5>5. On Alaska Airlines, how many free bags are allowed? </h5>
                <p class="text-justify">On flights operated by Alaska Airlines, customers are permitted to bring one personal item and one carry-on bag free of charge. </p>

                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "1.	How precise is Alaska Airlines' carry-on size restriction?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "In what way is Alaska Airlines' carry-on size policy enforced?
                    Alaska Airlines adheres strictly to its size guidelines. You could be fined and have your luggage inspected if your item is larger than what is allowed."
                        }
                      },{
                        "@@type": "Question",
                        "name": "2.	Can I travel with a backpack and a carry-on bag on Alaska Airlines?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "You can bring your backpack and carry-on bag if it's small enough to fit under your seat. In this instance, it will be accepted as a personal item on board."
                        }
                      },{
                        "@@type": "Question",
                        "name": "3.	Does Alaska Airlines consider a backpack to be a personal item?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Your backpack's size will determine whether it is considered a personal item. The only requirement for a personal item on Alaska Airlines is that it must fit into the space beneath the seat; otherwise, no specific dimensions are enforced."
                        }
                      },{
                        "@@type": "Question",
                        "name": "4.	Does Alaska Airlines (AS) charge a fee for sporting equipment?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Up to the size and weight restrictions of Alaska Airlines (AS), sports equipment like skis, golf bags, fishing gear, hockey gear, and lacrosse gear will be accepted and considered as one checked bag or hold bag."
                        }
                      },{
                        "@@type": "Question",
                        "name": "5.	On Alaska Airlines, how many free bags are allowed?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "On flights operated by Alaska Airlines, customers are permitted to bring one personal item and one carry-on bag free of charge."
                        }
                      }]
                    }
                </script>
            </div>
        </div>
    </section>