
@{
    ViewBag.Title = "alaskaairlinesbaggagepolicycarryon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Alaska Airlines Carry-on Baggage Policy | FaresMatch</title>
    <meta name="description" content="Fly with Alaska Air and save more, also read Alaska Airlines carry-on baggage policy guidelines and tips for more information. Call now for info & inquiries." />
    <link rel="canonical" href="https://www.faresmatch.com/blog/alaska-airlines-baggage-policy-carry-on.aspx" />
    <meta property="og:title" content="Alaska Airlines Carry-on Baggage Policy | FaresMatch" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Fly with Alaska Air and save more, also read Alaska Airlines carry-on baggage policy guidelines and tips for more information. Call now for info & inquiries." />
    <meta property="og:url" content="https://www.faresmatch.com/blog/alaska-airlines-baggage-policy-carry-on.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
   
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Alaska Airlines Carry-on Baggage Policy | FaresMatch" />
    <meta name="twitter:description" content="Fly with Alaska Air and save more, also read Alaska Airlines carry-on baggage policy guidelines and tips for more information. Call now for info & inquiries." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    }
    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Alaska Airlines Carry-On Baggage Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>

    <section class="trvl_bug">
        <div class="container">
            <div class="row">


                <img src="https://www.faresmatch.com/assets/images/blog/Alaska-Baggage-Policy-Carry-On-FM-Blog1-13-8-21.jpg" class="img-responsive" alt="Reality Check of Alaska Airlines Baggage Policy Carry-On">

                <p>Flying with Alaska Airlines means you need to know about the baggage policy of the airline. It is a major airline in the United States that offers affordable airfare to passengers, and you can fly with this airline if you want to save more on the reservations. <b>Alaska airlines baggage carry-on policy</b> is essential to know while flying with this airline. Here are the rules and complete details of this airline.</p>
                <p>When traveling, it’s essential to know the carry-on bag size limits for your flight. For all aircraft types, the maximum dimensions are 22" x 14" x 9", including wheels and handles. Make sure to measure your bag carefully before heading to the airport.</p>
                <h2>Alaska Airlines Checked Baggage Fees Table</h2>
                <style>
                    .table_component {
                        overflow: auto;
                        width: 100%;
                    }

                        .table_component table {
                            border: 1px solid #dededf;
                            height: 60%;
                            width: 60%;
                            table-layout: fixed;
                            border-collapse: collapse;
                            border-spacing: 1px;
                            text-align: center;
                        }

                        .table_component caption {
                            caption-side: top;
                            text-align: center;
                        }

                        .table_component th {
                            border: 1px solid #dededf;
                            background-color: #eceff1;
                            color: #000000;
                            padding: 5px;
                        }

                        .table_component td {
                            border: 1px solid #dededf;
                            background-color: #ffffff;
                            color: #000000;
                            padding: 5px;
                        }
                </style>
                <div class="table_component" role="region" tabindex="0">
                    <table>
                        <caption>
                            <p><br></p>
                        </caption>
                        <thead>
                            <tr>
                                <th>Standard bag fees</th>
                                <th>First bag</th>
                                <th>Second bag</th>
                                <th>Third + additional bags *restrictions apply</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>for bags that weigh up to 50 lb and have a maximum dimension of 62" (linear).</td>
                                <td>$35</td>
                                <td>$45</td>
                                <td>$150 each</td>
                            </tr>
                        </tbody>
                    </table>

                    <style>
                        .table_component {
                            overflow: auto;
                            width: 100%;
                        }

                            .table_component table {
                                border: 1px solid #dededf;
                                height: 40%;
                                width: 60%;
                                table-layout: fixed;
                                border-collapse: collapse;
                                border-spacing: 1px;
                                text-align: center;
                            }

                            .table_component caption {
                                caption-side: top;
                                text-align: center;
                            }

                            .table_component th {
                                border: 1px solid #dededf;
                                background-color: #eceff1;
                                color: #000000;
                                padding: 5px;
                            }

                            .table_component td {
                                border: 1px solid #dededf;
                                background-color: #ffffff;
                                color: #000000;
                                padding: 5px;
                            }
                    </style>
                    <div class="table_component" role="region" tabindex="0">
                        <table>
                            <caption>
                                <p><br></p>
                            </caption>
                            <thead>
                                <tr>
                                    <th>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><b>Oversize or overweight baggage Bags that weigh</b></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                    <th>
                                        <div>Bags that weigh</div>
                                        <div>51-100 lb</div>
                                    </th>
                                    <th>
                                        <div>Bags with linear dimension</div>
                                        <div>of 63-115" (linear)</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>$100&nbsp; &nbsp;</td>
                                    <td>$150</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2>What You Can Bring Onboard</h2>
                        <p>You’re allowed one carry-on bag and one personal item, such as a purse, briefcase, or laptop bag. To ensure a smooth boarding process, please stick to the size limits so your items can fit in the overhead bin or under the seat in front of you.</p>
                        <p>If you're traveling with bright bags, self-propelled bags, or any bag that can charge electronic devices, please refer to our Batteries and Electronics page for specific guidelines. <a href="https://www.faresmatch.com/alaska-air-flights.aspx"><b>Alaska Airlines Flights</b></a> are to only affordable for the flyers, but baggage terms are also in the favour of the flyers.</p>
                        <h3>Measuring Your Carry-On</h3>
                        <p>To confirm your bag's size, you can find bag sizers at airport locations that match the 22" x 14" x 9" dimensions. Before you leave for the airport:</p>
                        <p>Double-check that your bag, including wheels and handles, adheres to these limits.</p>
                        <p>Remember, the total of all three measurements—length, height, and width—should not exceed 45 inches.</p>
                        <p>If you have a soft-sided or expandable suitcase, measure it again once packed to ensure it still fits.</p>
                        <h2>Additional Tips</h2>
                        <h3>Identification:</h3>
                        <p>Place an identification tag inside your bag. This free downloadable tag can help expedite the identification and return process if your bag is ever misplaced.</p>
                        <h3>Packing:</h3>
                        <p>Consider packing your carry-on like a pro with our helpful tips.</p>
                        <p>For more information on baggage policies, including prohibited items and special baggage needs, be sure to check our baggage links.</p>
                        <h2>FAQs</h2>
                        <h3>What is Alaska Airlines' baggage policy?</h3>
                        <p>Alaska Airlines (AS) and Horizon Airlines have a clear baggage policy for regular basic fares:</p>
                        <p>Carry-On Baggage:</p>
                        <p>1 personal item (e.g., purse, briefcase, laptop bag) – free</p>
                        <p>1 carry-on item – free</p>
                        <p>Checked Baggage:</p>
                        <p>Fees apply per bag, increasing with the number of bags checked.</p>
                        <p>Overweight and Oversize Bags:</p>
                        <p>Additional fees apply based on weight and size categories.</p>
                        <p>Sports Equipment:</p>
                        <p>Certain items may incur applicable fees.</p>
                        <h3>What is Alaska Airlines' carry-on baggage policy?</h3>
                        <p>Each passenger is allowed:</p>
                        <p>One carry-on bag and 1 personal item (e.g., purse, briefcase, laptop bag) – both free of charge.</p>
                        <p><b>Size Restrictions:</b></p>
                        <p>Carry-on must not exceed 45 linear inches (22" x 14" x 9") or 115 cm (61 x 43 x 25 cm), including handles and wheels.</p>
                        <p>It should fit in the overhead bin or under the seat in front of you.</p>
                        <p><b>Additional Notes:</b></p>
                        <p>Items such as jackets, umbrellas, duty-free purchases, and assistive devices do not count towards your carry-on allowance.</p>
                        <p>Diaper bags are considered your one personal item.</p>
                        <p><b>Bulkhead seats:</b> All carry-on baggage must be stowed in the overhead bin during take-off and landing, as there is no under-seat storage.</p>
                        <h3>What is Alaska Airlines' checked baggage policy?</h3>
                        <p>Standard Allowance:</p>
                        <p>Two bags are allowed.</p>
                        <p>Maximum Dimensions:</p>
                        <p>Sixty-two inches (157 cm) in total (length + width + height).</p>
                        <p>Maximum Weight:</p>
                        <p>Fifty pounds (23 kg).</p>
                        <h3>Are there fees for baggage on Alaska Airlines?</h3>
                        <p>Yes, fees apply based on various factors:</p>
                        <p>First Bag: USD 30.00</p>
                        <p>Second Bag: USD 40.00</p>
                        <p>Third Bag and Each Additional: USD 100.00
                        <p>Within the State of Alaska: All bags (first, second, and third) are free.
                        <p>What is the fee for excess baggage?</p>
                        <p>Alaska Airlines charges USD 100.00 for the third and any additional bags.</p>
                        <h3>What is the fee for overweight baggage?</h3>
                        <p>For bags exceeding the standard weight limit:</p>
                        <p>51 to 100 pounds (24 to 46 kg): An extra charge of USD 100.00 per bag.</p>
                        <p>Bags over 100 pounds (46 kg) will not be accepted as checked baggage.</p>
                        <p>What is the fee for oversized baggage?</p>
                        <p>For bags that exceed 63 to 115 linear inches (160 to 292 cm), there is an extra charge of USD 100.00. Bags over 115 linear inches (292 cm) will not be accepted.</p>
                        <h3>Are there fees for sports equipment?</h3>
                        <p>Sports equipment such as skis, golf bags, fishing gear, hockey, and lacrosse equipment can be checked as one bag, but associated fees may apply. Ensure that your equipment adheres to Alaska Airlines' size and weight limits.</p>
                        <p>For any further questions or specific details regarding your travel, feel free to reach out to Alaska Airlines customer service. Safe travels!</p>





                        <script type="application/ld+json">
                            {
                              "@@context": "https://schema.org",
                              "@@type": "FAQPage",
                              "mainEntity": [{
                                "@@type": "Question",
                                "name": "What is Alaska Airlines' baggage policy?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "Alaska Airlines (AS) and Horizon Airlines have a clear baggage policy for regular basic fares:
                            Carry-On Baggage:
                            1 personal item (e.g., purse, briefcase, laptop bag) – free
                            1 carry-on item – free
                            Checked Baggage:
                            Fees apply per bag, increasing with the number of bags checked.
                            Overweight and Oversize Bags:
                            Additional fees apply based on weight and size categories.
                            Sports Equipment:
                            Certain items may incur applicable fees."
                                }
                              },{
                                "@@type": "Question",
                                "name": "What is Alaska Airlines' carry-on baggage policy?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "Each passenger is allowed:
                            One carry-on bag and 1 personal item (e.g., purse, briefcase, laptop bag) – both free of charge.
                            Size Restrictions:
                            Carry-on must not exceed 45 linear inches (22\" x 14\" x 9\") or 115 cm (61 x 43 x 25 cm), including handles and wheels.
                            It should fit in the overhead bin or under the seat in front of you.
                            Additional Notes:
                            Items such as jackets, umbrellas, duty-free purchases, and assistive devices do not count towards your carry-on allowance.
                            Diaper bags are considered your one personal item.
                            Bulkhead seats: All carry-on baggage must be stowed in the overhead bin during take-off and landing, as there is no under-seat storage."
                                }
                              },{
                                "@@type": "Question",
                                "name": "What is Alaska Airlines' checked baggage policy?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "Standard Allowance:
                            Two bags are allowed.
                            Maximum Dimensions:
                            Sixty-two inches (157 cm) in total (length + width + height).
                            Maximum Weight:
                            Fifty pounds (23 kg)."
                                }
                              },{
                                "@@type": "Question",
                                "name": "Are there fees for baggage on Alaska Airlines?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "Yes, fees apply based on various factors:
                            First Bag: USD 30.00
                            Second Bag: USD 40.00
                            Third Bag and Each Additional: USD 100.00
                            Within the State of Alaska: All bags (first, second, and third) are free.
                            What is the fee for excess baggage?
                            Alaska Airlines charges USD 100.00 for the third and any additional bags."
                                }
                              },{
                                "@@type": "Question",
                                "name": "What is the fee for overweight baggage?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "For bags exceeding the standard weight limit:
                            51 to 100 pounds (24 to 46 kg): An extra charge of USD 100.00 per bag.
                            Bags over 100 pounds (46 kg) will not be accepted as checked baggage.
                            What is the fee for oversized baggage?
                            For bags that exceed 63 to 115 linear inches (160 to 292 cm), there is an extra charge of USD 100.00. Bags over 115 linear inches (292 cm) will not be accepted."
                                }
                              },{
                                "@@type": "Question",
                                "name": "Are there fees for sports equipment?",
                                "acceptedAnswer": {
                                  "@@type": "Answer",
                                  "text": "Sports equipment such as skis, golf bags, fishing gear, hockey, and lacrosse equipment can be checked as one bag, but associated fees may apply. Ensure that your equipment adheres to Alaska Airlines' size and weight limits.
                            For any further questions or specific details regarding your travel, feel free to reach out to Alaska Airlines customer service. Safe travels!"
                                }
                              }]
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </section>