
@{
    ViewBag.Title = "alaskaairlinescarryonbaggagepolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Alaska Airlines Carry-On Baggage Policy | FaresMatch</title>
    <meta name="description" content="Read Alaska Airlines carry-on baggage policy, reviews, terms and conditions, and learn more about the policy from this blog. Use FaresMatch customer support." />
    <link rel="canonical" href="https://www.faresmatch.com/blog/alaska-airlines-carry-on-baggage-policy.aspx" />
    <meta property="og:title" content="Alaska Airlines Carry-On Baggage Policy | FaresMatch" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Read Alaska Airlines carry-on baggage policy, reviews, terms and conditions, and learn more about the policy from this blog. Use FaresMatch customer support." />
    <meta property="og:url" content="https://www.faresmatch.com/blog/alaska-airlines-carry-on-baggage-policy.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
   
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Alaska Airlines Carry-On Baggage Policy | FaresMatch" />
    <meta name="twitter:description" content="Read Alaska Airlines carry-on baggage policy, reviews, terms and conditions, and learn more about the policy from this blog. Use FaresMatch customer support." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    }
    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Guide on Alaska Airlines Carry-On Baggage Policy</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>

    <section class="trvl_bug">
        <div class="container">
            <div class="row">

                <img src="https://www.faresmatch.com/assets/images/blog/Alaska-Carry-On-Baggage-FM-Blog1-13-8-21.jpg" class="img-responsive" alt="Alaska Airlines Carry-On Baggage Policy Facts, Fares Match">


                <p>Alaska is the major airline in the United States and is known for its low-cost features. The fare of this airline has been affordable, and its services are marvellous. Thus, if you are considering flying with this airline, you must know about the luggage policy. <b>Alaska Airlines' carry-on baggage policy</b> is essential for managing travel with this flag carrier. You need to know these things about the airline's baggage policy. One carry-on bag and one personal item are allowed per the airline's baggage policy. The carry-on bag size limit is 22" x 14" x 9". Personal item allowance is zero. Maximum liner dimensions of the baggage are 45 linear inches (length + height + width combined).</p>
                <h2>Key-Highlights of Alaska Hand Luggage Policy</h2>
                <style>
                    table {
                        width: 100%;
                    }

                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: left;
                    }

                    table#t01 tr:nth-child(even) {
                        background-color: #eee;
                    }

                    table#t01 tr:nth-child(odd) {
                        background-color: #fff;
                    }

                    table#t01 th {
                        background-color: black;
                        color: white;
                    }
                </style>


                <table>
                    <tr>
                        <td> Carry-On Bag Size Limit </td>
                        <td> 22" x 14" x 9" (includes wheels and handles) </td>
                    </tr>
                    <tr>
                        <td> Personal Item Allowance </td>
                        <td> One small personal item (e.g., purse, briefcase, laptop bag) </td>
                    </tr>
                    <tr>
                        <td> Medical Items </td>
                        <td> Medically necessary items allowed on board </td>
                    </tr>
                    <tr>
                        <td> Total Allowance </td>
                        <td> One carry-on bag and one personal item </td>
                    </tr>
                    <tr>
                        <td> Maximum Linear Dimensions </td>
                        <td> 45 linear inches (length + height + width combined) </td>
                    </tr>
                    <tr>
                        <td> Measurement Tools </td>
                        <td> Bag sizers available at airport locations for size confirmation </td>
                    </tr>
                    <tr>
                        <td> Pre-Flight Measurement </td>
                        <td> Measure your bag before leaving for the airport </td>
                    </tr>
                    <tr>
                        <td> Soft-Sided Luggage </td>
                        <td> Check size after packing if using expandable bags </td>
                    </tr>
                    <tr>
                        <td> Identification Tag </td>
                        <td> Place an ID tag inside your bag for easier recovery if lost </td>
                    </tr>
                    <tr>
                        <td> Additional Resources </td>
                        <td> Links for prohibited items, lost bags, and special baggage needs </td>
                    </tr>
                </table>

                <h2>Key-Highlights of Alaska Checked Baggage Policy</h2>
                <style>
                    table {
                        width: 100%;
                    }

                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: left;
                    }

                    table#t01 tr:nth-child(even) {
                        background-color: #eee;
                    }

                    table#t01 tr:nth-child(odd) {
                        background-color: #fff;
                    }

                    table#t01 th {
                        background-color: black;
                        color: white;
                    }
                </style>


                <table>
                    <tr>
                        <td><b> Standard Bag Fees </b></td>
                    </tr>
                    <tr>
                        <td> First Bag </td>
                        <td> $35 </td>
                    </tr>
                    <tr>
                        <td> Second Bag </td>
                        <td> $45 </td>
                    </tr>
                    <tr>
                        <td> Third + Additional Bags </td>
                        <td> $150 each (restrictions apply) </td>
                    </tr>
                    <tr>
                        <td> Weight Limit </td>
                        <td> Up to 50 lb </td>
                    </tr>
                    <tr>
                        <td> Max Dimensions </td>
                        <td> 62" linear </td>
                    </tr>
                    <tr>
                        <td> Exempt Items </td>
                        <td> Strollers, car seats, and mobility aids are exempt from fees </td>
                    </tr>
                    <tr>
                        <td> Fee Waivers </td>
                        <td> Available for Alaska Airlines credit card holders, Elite Mileage Plan members, and US military personnel </td>
                    </tr>
                    <tr>
                        <td><b> Oversized/Overweight Baggage Fees </b></td>
                    </tr>
                    <tr>
                        <td> 51-100 lb Bags </td>
                        <td> $100 </td>
                    </tr>
                    <tr>
                        <td> Oversize Bags (63-115" linear) </td>
                        <td> $150 </td>
                    </tr>
                    <tr>
                        <td> Max Weight/Size Limit </td>
                        <td> No bag over 100 lb or 115" linear </td>
                    </tr>
                    <tr>
                        <td> Baggage Acceptance Hours </td>
                        <td> Vary by airport; check-in cut-off time applies </td>
                    </tr>
                    <tr>
                        <td> Connecting Flights </td>
                        <td> Bags checked to final destination if less than 18 hours between flights </td>
                    </tr>
                    <tr>
                        <td> Multiple Airlines </td>
                        <td> Fees/rules may vary; check your ticket or call for details </td>
                    </tr>
                    <tr>
                        <td> Separate Tickets </td>
                        <td> Each ticket is a separate journey; baggage re-check required </td>
                    </tr>
                </table>

                <h2>Always weigh and dimension your baggage</h2>
                <p>You must check the weight and dimensions of your baggage before leaving for the airport; otherwise, you will have to pay the baggage fee. <a href="https://www.faresmatch.com/alaska-airlines-flights-reservations.aspx"><b>Alaska Airlines Flights</b></a> are suitable for the top destinations in the US, such as Las Vegas, Atlanta, New York, and more. Hence, you can ensure your travel booking with this airline is at Faresmatch and save more on reservations.</p>
                <h2>Summary</h2>
                <p>Therefore, these are the things that you need to know about the Alaska Airlines Baggage Policy. We hope the carry-on and checked baggage policies are cleared now and that you can carry baggage as per the airline's policy to avoid all hassles while traveling. You can also review the baggage policy on Alaska Airlines' website, where you can <a href="https://www.faresmatch.com/"><b>book cheap flight tickets</b></a> and save on the deals.</p>
                <h2>FAQs</h2>
                <h3>What size can my carry-on bag be?</h3>
                <p>Your carry-on bag, including the wheels and handles, can be up to 22 inches x 14 inches x 9 inches.</p>
                <h3>Can I take anything else besides my carry-on?</h3>
                <p>Yes! You can bring one carry-on bag and one personal item, like a purse or laptop bag.</p>
                <h3>How can I check if my bag is the right size?</h3>
                <p>Use a bag sizer at the airport or measure your bag at home to ensure it fits within the 22" x 14" x 9" limit.</p>
                <h3>What happens if my bag is too big?</h3>
                <p>If your bag is too large, you may need to check it in, which could cost extra.</p>
                <h3>How can I help return my bag if it gets lost?</h3>
                <p>Put an ID tag inside your bag. You can download a free tag template to fill out and keep in your luggage.</p>



                <script type="application/ld+json">
                    {
                      "@@context": "https://schema.org",
                      "@@type": "FAQPage",
                      "mainEntity": [{
                        "@@type": "Question",
                        "name": "What size can my carry-on bag be?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Your carry-on bag, including the wheels and handles, can be up to 22 inches x 14 inches x 9 inches."
                        }
                      },{
                        "@@type": "Question",
                        "name": "Can I take anything else besides my carry-on?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Yes! You can bring one carry-on bag and one personal item, like a purse or laptop bag."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I check if my bag is the right size?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Use a bag sizer at the airport or measure your bag at home to ensure it fits within the 22\" x 14\" x 9\" limit."
                        }
                      },{
                        "@@type": "Question",
                        "name": "What happens if my bag is too big?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "If your bag is too large, you may need to check it in, which could cost extra."
                        }
                      },{
                        "@@type": "Question",
                        "name": "How can I help return my bag if it gets lost?",
                        "acceptedAnswer": {
                          "@@type": "Answer",
                          "text": "Put an ID tag inside your bag. You can download a free tag template to fill out and keep in your luggage."
                        }
                      }]
                    }
                </script>
            </div>
        </div>
    </section>





