
@{
    ViewBag.Title = "thingsyoushouldnotdowhileairtraveling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Things that annoy flight attendants you are doing unknowingly</title>
    <meta name="description" content="Due to flight attendants’ polite behavior, some passengers do not realize their responsibilities and feel entitled to say rude things to them." />
    <link rel="canonical" href="https://www.faresmatch.com/blog/things-you-should-not-do-while-air-traveling.aspx">
    <meta name="author" content="faresmatch.com">
    <meta name="subject" content="Air Travel">
    <meta name="geo.region" content="US-CA">
    <meta name="language" content="English">
    <meta name="designer" content="Faresmatch">
    <meta name="publisher" content="Faresmatch">
    <meta name="country" content="USA">
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://www.faresmatch.com/blog/things-you-should-not-do-while-air-traveling.aspx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Things that annoy flight attendants you are doing unknowingly">
    <meta property="og:description" content="Due to flight attendants’ polite behavior, some passengers do not realize their responsibilities and feel entitled to say rude things to them." />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="faresmatch.com">
    <meta property="twitter:url" content="https://www.faresmatch.com/blog/things-you-should-not-do-while-air-traveling.aspx">
    <meta name="twitter:title" content="Things that annoy flight attendants you are doing unknowingly" />
    <meta name="twitter:description" content="Due to flight attendants’ polite behavior, some passengers do not realize their responsibilities and feel entitled to say rude things to them." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png">
    }

    <script type="application/ld+json">
        {
         "@@context": "https://schema.org/",
         "@@type": "WebPage",
         "name": "Things that annoy flight attendants you are doing unknowingly",
         "speakable":
         {
          "@@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@@name='description']/@@content"
            ]
          },
         "url": "https://www.faresmatch.com/blog/things-you-should-not-do-while-air-traveling.aspx"
         }
    </script>

    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>Are you annoying Flight Attendants? 10 Things you should not do while flying on a plane</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>

    <section class="trvl_bug">
        <div class="container">
            <div class="row">

                <img src="https://www.faresmatch.com/blog/img/Flight-Attendants-FM-Blog-13-12-22.jpg" class="img-responsive" alt="Are you annoying Flight Attendants? 10 Things you should not do while flying on a plane" /><br />

                <p class="text-justify">Flight attendants have a lot of responsibility toward their passengers. Their primary role is to help everyone on board successfully and safely despite buying <a href="https://www.faresmatch.com/flight-tickets-booking.aspx">cheap tickets</a>. However, due to their polite behavior, some passengers do not realize their responsibilities and feel entitled to say rude things to them. </p>

                <p class="text-justify">The flight attendants are highly trained professionals. Therefore, they will never talk rudely with their passengers. However, it does annoy them often. </p>

                <h2><a href="https://www.faresmatch.com/blog/things-you-should-not-do-while-air-traveling.aspx">Things that annoy flight attendants</a></h2>

                <h3>Touching flight attendants without any consent</h3>
                <p class="text-justify">Even though sexual harassment cases are very common, passengers who book a flight have also not let go of sexually harassing people on the air. Passengers sometimes poke or touch flight attendants inappropriately instead of using their call lights to call them out appropriately. 68% of flight attendants have already experienced sexual harassment during their jobs. </p>

                <p class="text-justify">I want them to know that only 7% of flight attendants who have experienced abuse have reported it to their employer. They have also experienced verbal amusements from passengers, including racist, inappropriate, uncomfortable, and sexual motives. </p>


                <h3>Using the bathroom without permission to leave the seat </h3>
                <p class="text-justify">Using the bathroom during inappropriate times is one of the most common things which annoy flight attendants. The Main motto of flight attendants is to keep their passengers safe; however, by not listening to their instructions, they put their jobs and safety at stake. Moreover, some passengers are rude enough to get up and push the crew members past them toward the bathroom. </p>

                <h3>Asking why the flight got delayed</h3>
                <p class="text-justify">The flight delays can be due to different reasons, such as <a href="https://www.faresmatch.com/deals.aspx">cheap flight deals</a> and bad weather on equipment issues. The passengers sometimes believe in flight attendants for their delays. However, passengers do not realize that the crew members cannot be blamed since their passengers, just like them, are also unaware of the situation. They just try to do their job of assisting passengers throughout the journey so that they can be comfortable. </p>


                <h3>Not giving respect to their jobs</h3>
                <p class="text-justify">While booking a flight, passengers get served for convenience; they do not acknowledge the flight attendants' jobs. Passengers do not thank or apologize to them for their mistakes. They are also so disrespectful even to ignore while they are having a conversation. People often think there are just servers entitled to clean after their mess. </p>


                <h3>Asking for an upgrade</h3>
                <p class="text-justify">This is one of the most annoying things flight attendants have to face. After paying for <a href="https://www.faresmatch.com/">cheap airline reservations</a>, passengers ask for an upgradation of their seats. They do not have the authority to place any passenger to up gradation the seat when they have already paid for their package. Some passengers also highlight their medical issues, such as injured back or knees, and request an up gradation. </p>

                <p class="text-justify">However, even though it is tough, the flight attendants face problems in making them understand that if they're allowed to board, they are ensured that it is fit for them to travel in the seat they have already booked, making it clear they cannot prepare an up gradation. </p>


                <h3>Indiscriminate use of the call button</h3>
                <p class="text-justify">Every flight seat has a designated call button, pressing which the passengers can summon the flight attendants. This system exists so that flight attendants can find it easier to locate the passengers who need them and to keep disturbances to the minimum. But, sometimes, the passengers use this call button to call the attendants too frequently or for useless purposes, which is a big menace since attendants lose focus and energy. </p>

                <p class="text-justify">Sometimes, passengers even play pranks by pressing the button and denying that they pressed it. This confuses and becomes quite frustrating for the flight attendants. When asked, “What do flight attendants notice about passengers?” most of the time, the misuse of the call button is the answer. </p>


                <h3>Being impatient to clean up a mess</h3>
                <p class="text-justify">Passengers who book a flight often get impatient when their seats or food plates are not cleaned properly on time. While it is understandable for them to want their seats to be clean, they must consider that the flight attendants attend to every passenger and must be a bit patient and wait for their turn to come. </p>

                <p class="text-justify">Certain passengers get quite impatient and start calling the attendants, hampering their workflow. This irritates the attendants and often leads to certain confrontations with the passengers. For this reason, passengers are advised to be patient and wait for the attendants to come and clean up their plates or seats. </p>


                <h3>Needing assistance with heavy luggage</h3>
                <p class="text-justify">Flight attendants always help the passengers with their luggage, but sometimes the passengers carry some heavy bags and expect the flight attendants to carry them to their designated positions. While it is the attendants' job to help the passengers with luggage, expecting them to carry the bag even when they are too heavy is quite ungrateful and often annoys the attendants. </p>

                <p class="text-justify">This is why passengers are often advised to select their luggage carefully so that they do not have any problems while carrying it on the flight, and the attendants also do not have to carry heavy luggage. </p>

                <h3>Asking for water immediately after boarding</h3>
                <p class="text-justify">On the flights, water is a complimentary item provided to the passengers for free unless they have availed of cheap flights. Passengers usually compare fares and book flights; hence, it is obvious that they have researched before booking and expect all the amenities that the flights offer. But it is quite ungrateful to start asking for water as soon as they board since the flight attendants need some time before they can attend to the passengers. </p>

                <h3>Asking for food after the serving session is over</h3>
                <p class="text-justify">This is a very common incident where passengers ask for meals after the flight attendants serve food to the rest of the passengers that is, asking for a meal after the serving session. This is quite frustrating and annoying for the flight attendants since they spend a lot of labor and time preparing the meals per the passengers' preferences. Now, after they are done serving the food, if any passenger asks for food, the flight attendants cannot deny them, and they have to work all over again on the meal the passenger has demanded. </p>

                <p class="text-justify">The flight attendants spend every second of the flight taking care of the passengers, catering to their every need irrespective of their buying <a href="https://www.faresmatch.com/flights.aspx">cheap flights</a>. They serve food in a timely and orderly manner and clean up afterward, so the passengers do not have any problems. Asking for certain favors or referring to the flight attendants in a degrading manner are things only flight attendants understand. </p>

                <p class="text-justify">It is expected from the passengers that they behave properly with the attendants and remain patient throughout the flight, no matter what their need is. The flight attendants will surely look after it with utmost care and speed if it is an emergency. Hence, the passengers should stay in their seats and wait for their turn. Also, being friendly and cooperative with the flight attendants helps the passengers have an enjoyable flight experience.</p>



            </div>
        </div>
    </section>
