
@{
    ViewBag.Title = "thingstodobeforeflyincovid19";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Things to Do Before Fly-in Covid-19</title>
    <meta name="description" content="Here are 7 major things to do before fly in Covid-19 for Passengers, Covid-19 Travel Tips Fares Match. " />
    <meta name="keywords" />
    <link rel="canonical" href="https://www.faresmatch.com/blog/things-to-do-before-fly-in-covid-19.aspx" />
    <meta name="robots" content="index,follow" />
    }
    <div class="container2  bg1">
        <div class="row flex">
            <div class="column">
                <h1>7 Things to Do Before Fly-in Covid-19</h1>
                @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
            </div>
        </div>
    </div>

    <section class="trvl_bug">
        <div class="container">
            <div class="row">

                <img src="../assets/images/blog/7-Things-Blog-02-7-20.jpg" class="img-responsive" alt="7 Things to Do Before Fly-in Covid-19"><br>
                <p class="text-justify">Traveling on the domestic routes during Covid-19 is also the risk for the passengers. If you are thinking to avoid the spread of this virus infection then you have to know about the major things before flying in Covid-19. Nowadays, travelers are scary and they are traveling in only mandatory conditions. Follow these tips and stay away from the negative effect of Corona Virus Infection during your travel. </p>
                <h2 class="text-justify">1. Reach Airport Without Public Transportation: </h2>
                <p class="text-justify">Don’t think about the saving on taxi booking to reach the airport. You must avoid public transportation for reaching the airport or your destination from the airport to avoid the Corona Virus Infection. You can also park your car at the airport. Hiring a personal taxi is also a good option for people. </p>
                <h2 class="text-justify">2. Always Carry Masks in Bulk With You! </h2>
                <p class="text-justify">No matter you are traveling for the 2 hours route or 20-hour route? You must have the use and through masks in bulk and change every two to three hours of the span. Whenever we are outside (such as an airport or in crowded places) our mask is also rushed with the dirty stuff and external environment. You must wear a mask all the time during flight journey, airport, and while reaching your destination from the airport. </p>
                <h2 class="text-justify">3. Avoid Offline Check-In to Avoid Physical Touch and Do Online Check-In: </h2>
                <p class="text-justify">Most of the airlines like <a href="https://www.faresmatch.com/delta-airlines-flights-reservations.aspx"><b>Delta Airlines</b></a> or United are providing the facility to do Online Check-In to Passengers. To avoid the physical touch you can do online check-in by downloading the Mobile Boarding Pass and with the use of Carry-On Suitcase. </p>
                <h2 class="text-justify">4. Opt for carrying On-Baggage: </h2>
                <p class="text-justify">If you want to avoid the touch of reservations desk and baggage desk agent and want to secure your bag from touching different people then you must opt for a Carry-On Bag instead of check baggage. At the airport, while boarding or check-in you must keep the distance of six feet to maintain social distancing. </p>
                <h2 class="text-justify">5. Bring Sanitizer With You to Wash Hands Frequently: </h2>
                <p class="text-justify">You must be aware of each step and that’s why you must bring Sanitizer with you to wash your hand frequently. You can also carry the fresh natural wipes to wash your hands and face as well quietly to avoid the spread of infection. </p>
                <h2 class="text-justify">6. Choose Window Seat Always: </h2>
                <p class="text-justify">When you are traveling domestically in the US then you must consider Window Seat while booking <a href="https://www.faresmatch.com/major-airlines.aspx"><b>Airlines Reservations</b></a>. It is good to stay far from the other people and maintain social distancing. According to the recent report, the window seat has less germ rather than a middle and side seat in the plant. </p>
                <h2 class="text-justify">7. Pack Food and a Reusable Water Bottle</h2>
                <p class="text-justify">Nowadays, most of the airlines are not serving food in the short-haul flights to avoid the infection. You must carry snacks from home and also bring an empty reusable water bottle to refill one of the stations. </p>



            </div>
        </div>
    </section>
