
@{
    ViewBag.Title = "aboutallegiantairlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
           
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">
           
           
        
        </div>
    </div>
</section>
