
@{
    ViewBag.Title = "whoownsdeltaairlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Ownership of Delta Airlines-Facts to Know</title>
    <meta name="description" content="Delta based in Atlanta, Georgia, the U.S, founded by C. E. Woolman and ED Bastian. Glen Hauenstein is the President." />
    <link rel="canonical" href="https://www.faresmatch.com/blog/who-owns-delta-airlines.aspx" />
    <meta property="og:title" content="Ownership of Delta Airlines-Facts to Know" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Delta based in Atlanta, Georgia, the U.S, founded by C. E. Woolman and ED Bastian. Glen Hauenstein is the President." />
    <meta property="og:url" content="https://www.faresmatch.com/blog/who-owns-delta-airlines.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    <meta name="designer" content="Faresmatch" />
    <meta name="publisher" content="Faresmatch" />
    <meta name="country" content="USA" />
    <meta name="DC.title" content="Ownership of Delta Airlines-Facts to Know" />
    <meta name="geo.region" content="US" />
    <meta name="geo.position" content="39.78373;-100.445882" />
    <meta name="ICBM" content="39.78373, -100.445882" />
    <meta name="rating" content="general" />
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Book Cheap United Airlines Flights Tickets - FaresMatch" />
    <meta name="twitter:description" content="Delta based in Atlanta, Georgia, the U.S, founded by C. E. Woolman and ED Bastian. Glen Hauenstein is the President. " />
}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Who Owns Delta Airlines?</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

    <div class="container innerblogrow">
        <div class="row grid grid2">
            <div class="column contentcol">
                <p style="color: #5e5e5e !important;"><b>Blog</b> &nbsp;&nbsp; <i class="fa-solid fa-angle-right"></i>
                    &nbsp;&nbsp; Who Owns Delta Airlines?</p>
                <br>
                <table border="1" width="100%">
                    <tr>
                        <td style="padding: 0;">
                            <img src="/assets/images/blog/who-owns-delta-airlines.jpg"
                                alt="who-owns-delta-airlines">
                        </td>
                    </tr>
                    <tr>
                        <td class="blog-content">
                            <p class="audio-controls">
                                <i id="volume-icon" class="fa-solid fa-volume-high"></i>
                                <i id="play-icon" class="fa-solid fa-play"></i>
                                <i id="pause-icon" class="fa-solid fa-pause"></i></p>
            <p class="text-justify">When it comes to cross-check the information about delta airlines ownership, we can say that there are so many posts that create confusion in flyers' minds about delta air ownership. Some people think the founder is the owner. On the other hand, some people think the CEO is the owner of Delta. Here we are going to disclose the significant posts and name of people who owns <a href="https://www.faresmatch.com/delta-airlines-flights-reservations.aspx"><b>Delta Airlines</b></a>. </p>
            <h2 class="text-justify">Atlanta is the Main Hub or Headquarter of Delta Airlines: </h2>
            <p class="text-justify">The first thing to know about the flag carrier for the people is Headquarter of the airline. Where airline based on? The main headquarter of the airline is in Atlanta, Georgia, U. S. </p>
            <h2 class="text-justify">Founder of Delta Airlines: </h2>
            <p class="text-justify">The founder of Delta Air was Collett Everman Woolman or also known as C.E. Woolman. He founded delta airlines. On October 8, 1989, he was born in Bloomington, IN and died on September 11, 1996. </p>
            <h2 class="text-justify">CEO of Delta Airlines: </h2>
            <p class="text-justify">The following information is about Delta CEO. Ed Bastian is the CEO of this airline, and Glen Hauenstein is the president. The post of EVP &amp; Chief People Officer secure by Joanne Smith. </p>
            <h2 class="text-justify">Revenue of Delta Airlines: </h2>
            <p class="text-justify">According to the data of 2019, the revenue of delta airline is around $47.007 Billion, and Operating Income is $6.618 Billion. </p>
            <h2 class="text-justify">Summary: </h2>
            <p class="text-justify">Therefore, this is all about the vital information about <a href="https://www.faresmatch.com"><b>who owns delta airlines</b></a>? We are sure that you doubt may clear now about the ownership and significant positions of the delta air. This is the leading flag carrier in the United States. Travelling with this airline means you can accomplish peaceful travel goals. </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <h2 style="padding: 0 !important;">Latest Blogs</h2>
                <hr class="hr1">
                <div class="suggested-blogs"></div>
                <script src="/fmcss/blogs.js"></script>
                <script src="/fmcss/blogspeach.js"></script>
            </div>
        </div>
    </div>
