@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    max-width: 100%;
}

:root {
    --primary-color: #0068EF;
    --secondary-color: #004499;
    --third-color: #001834;
    --fourth-color: #ffffff;
    --fifth-color: #161616;
    --sixth-color: #FFB600;
    /*fonts*/
    --primary-font: 'Helvetica Neue';
    --secondary-font: Montserrat;
}

.row {
    width: 1200px;
    margin: auto;
    padding: 100px 20px;
}

.column {
    flex: auto;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

p,
li,
a {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: var(--primary-font);
    line-height: 1.35;
    margin: 0;
    padding: 0;
    color: var(--fifth-color);
    font-size: 25px;
    font-weight: 700;
}

a {
    color: var(--fifth-color);
    text-decoration: underline;
}

.gap {
    gap: 40px;
}

.gap1 {
    gap: 15px;
}

.newheader {
    background-color: var(--third-color);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--fourth-color);
    z-index: 9;

    .head {
        background-color: transparent;
        width: 1200px;
        margin: auto;
        padding: 15px 20px;
        border: 0;

        .column {
            margin: auto 0;
        }

        img {
            width: 150px;
        }
    }

    #off,
    #on, .newnav, .navlogo, .ico {
        display: none;
    }

    .right {
        border: 1px solid var(--fourth-color);
        display: flex;
        border-radius: 50px;
        width: 0%;
        margin: auto;
        
        p {
            margin: auto;
            color: var(--fourth-color);
            margin-top: 6px;
            font-size: 17px;
        }
        
        i {
            color: var(--primary-color);
            background-color: var(--fourth-color);
            font-size: 25px;
            padding: 10px;
            border-radius: 100%;
            text-align: right;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    ul li {
        padding: 2px 10px;
        color: var(--fourth-color);
        cursor: pointer;
    }

    a {
        font-size: 14px;
        color: var(--fourth-color);
    }
    
    ul li:hover,
    ul li.active {
        text-decoration: underline;
        color: var(--fourth-color);
    }
}

footer {
    background-color: var(--third-color);

    .mainfooter {
        width: 1200px;
        padding: 40px 20px 0 20px;
        margin: auto;

        h3,
        p {
            color: var(--fourth-color);
        }

        .social {
            justify-content: end;

            i {
                background-color: var(--fourth-color);
                color: var(--secondary-color);
                padding: 10px;
                border-radius: 50px;
            }

            i:hover {
                background-color: var(--primary-color);
                color: var(--fourth-color);
            }

            div {
                gap: 12px;
            }
        }

        .links {
            border-top: 1px solid var(--fourth-color);
            border-bottom: 1px solid var(--fourth-color);
            padding: 20px 0;
            margin-top: 20px;

            a::before {
                content: "\f105";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                margin-right: 8px;
            }
        }

        .column {
            flex: 1;

            b {
                font-size: 18px;
            }

            a {
                color: var(--fourth-color);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline dashed;
            }
        }

        img {
            width: 200px;
        }
    }

    .foot {
        width: 1200px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        color: var(--fourth-color);
    }
}

.bookingpopup {
    height: 100vh;
    .column {
        text-align: center;
        .detail {
            padding: 15px;

            h2 {
                line-height: 1;
                margin: 0;
                padding: 0;
            }

            p {
                line-height: 1.5;
            }

            div {
                flex: 1;
                margin: auto 0;
            }

            img {
                width: 100%;
            }
        }
    }

    .loading {
        width: 75px;
    }

    .call {
        background-color: var(--primary-color);
        border-radius: 0 0 10px 10px;
        padding: 10px;
        h4 {
            color: var(--fourth-color);
        }
    }
    
    .img {
        background-color: var(--third-color);
        border-radius: 10px 10px 0 0;
        padding: 15px;
        img {
            width: 30%;
        }
    }
    .center{
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.2);
    width: 30%;
    margin: auto;
    background-color: var(--fourth-color);
    border-radius: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .row {
        width: 100% !important;
        padding: 40px 20px !important;
        margin: auto !important;
    }

    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    .d-flex {
        flex-direction: column !important;
    }

    .gap {
        gap: 0 !important;
    }

    .newheader {
        .head {
            width: 100% !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;
                width: 38%;

                p {
                    font-size: 12px !important;
                }

                i {
                    font-size: 15px !important;
                }
            }

            button {
                margin: 0 !important;
            }

            img {
                width: 113px !important;
                height: auto !important;
            }

            .nav {
                background-color: var(--fourth-color) !important;
                display: none;
                position: absolute;
                box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
                padding: 20px !important;
                top: 0;
                right: 0;
                width: 60%;
                height: 100vh;
                background-color: var(--third-color);
                overflow-y: auto;

                #on i {
                    color: var(--fourth-color) !important;
                }

                ul {
                    text-align: left !important;
                    flex-direction: column !important;
                }

                i,
                li,
                a {
                    color: var(--third-color) !important;
                }
            }

            .icon {
                color: var(--fourth-color);
            }

            .ico {
                display: inline-block !important;
            }
        }

        .newnav {
            display: block !important;
            margin-top: 20px !important;
            padding-top: 20px !important;
            border-top: 2px solid var(--primary-color);
        }

        #off,
        #on {
            display: block !important;
            text-align: right !important;
            font-size: 20px !important;
            color: var(--fourth-color);
        }

        .navlogo {
            display: block !important;
            text-align: center;
            margin-top: 30px !important;
            background-color: var(--primary-color);
            border-radius: 10px;
            padding: 15px 5px !important;

            h4,
            i {
                color: var(--fourth-color) !important;
                font-size: 17px !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }

    footer {
        .foot {
            width: 100% !important;
            margin-bottom: 100px !important;
        }

        .mainfooter {
            width: 100% !important;
            padding: 20px !important;
            margin: auto !important;

            .column {
                margin-bottom: 15px !important;
            }

            .social {
                text-align: left !important;
                justify-content: start !important;
            }
        }
    }

    .bookingpopup {
        .center {
            width: 100% !important;

            .images {
                width: 40% !important;
            }
        }

        p {
            font-size: 14px !important;
        }

        h4 {
            margin-top: 10px !important;
        }
    }
}