
@{
    ViewBag.Title = "avianca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Vuelos Avianca| vuelos baratos a colombia Avianca</title>
    <meta name="description" content="Encuentra los mejores precios en vuelos nacionales e internacionales con Avianca. Disfrute de la comodidad y seguridad de volar con una aerolínea popular." />
    <meta name="keywords" content="avianca vuelos, vuelos baratos avianca, avianca vuelos internacionales, avianca vuelos nacionales, vuelos baratos bogotá avianca, check in Avianca, vuelos avianca hoy, avianca colombia telefono, avianca telefono bogota, avianca oficinas " />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/avianca.aspx" />
    <meta property="og:title" content="Vuelos Avianca| vuelos baratos a colombia Avianca" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Encuentra los mejores precios en vuelos nacionales e internacionales con Avianca. Disfrute de la comodidad y seguridad de volar con una aerolínea popular." />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/avianca.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Vuelos Avianca| vuelos baratos a colombia Avianca" />
    <meta name="twitter:description" content="Encuentra los mejores precios en vuelos nacionales e internacionales con Avianca. Disfrute de la comodidad y seguridad de volar con una aerolínea popular." />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />




}

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Cómo puedo acumular y canjear millas con Avianca Aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puedes acumular y canjear millas con Avianca Aerolínea uniéndote al programa LifeMiles. LifeMiles es un programa de fidelización que te permite acumular millas cuando vuelas con Avianca Aerolínea o su socio Aerolínea, o cuando utilizas los servicios de sus socios afiliados. Puede canjear sus millas por vuelos, mejoras, estadías en hoteles, alquiler de automóviles y más. Puedes conocer más sobre el programa LifeMiles en el sitio web de LifeMiles."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo volar con niños o bebés en Avianca Aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si deseas volar con niños o bebés en Avianca Aerolínea, debes consultar los requisitos y documentos para volar estando embarazada, con niños o bebés en el Centro de Ayuda web de avianca. También puedes solicitar servicios especiales como embarque prioritario, moisés para bebés o comidas infantiles comunicándote con el Call Center o rellenando un formulario de solicitud online."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo volar con mi mascota en Avianca Aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si deseas volar con tu mascota en Avianca Aerolínea, debes realizar una reserva con al menos 48 horas de anticipación a tu vuelo comunicándote al Call Center. También debes consultar los documentos y requisitos para volar con tu mascota en cabina o bodega en el Centro de ayuda web de avianca. Las tarifas y condiciones para volar con tu mascota dependen de tu destino y del peso y tamaño de tu mascota."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son las franquicias y tarifas de equipaje de Avianca Aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Las franquicias de equipaje y tarifas de Avianca Aerolínea dependen de tu tarifa, destino y nivel de membresía. Puedes conocer las dimensiones, peso y artículos que puedes llevar en tu equipaje en el Centro de Ayuda sitio web de avianca. También puedes comprar equipaje adicional online o en el aeropuerto."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo consultar el estado de mi vuelo con Avianca Aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puedes consultar el estado de tu vuelo ingresando tu número de vuelo o ruta en el sitio web de Avianca Aerolínea. También puedes descargar la aplicación de Avianca en tu dispositivo móvil y recibir notificaciones sobre tu vuelo."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sobre Avianca Aerolíneas</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="“text-justify”">Avianca Aerolíneas atiende tanto a pasajeros nacionales como internacionales. Encontrarás vuelos de Avianca tanto dentro del mercado interno colombiano como ecuatoriano. También sirve rutas internacionales en América del Norte, Central y del Sur, Europa y el Caribe. En Colombia, Ecuador y Centroamérica, Avianca Vuelos es la aerolínea líder con una de las operaciones aéreas más importantes de América Latina. Sirve 125 rutas y 3.800 vuelos semanales. La flota cuenta con más de 110 aviones Airbus A320 y Boeing 787 Dreamliner. Todas estas flotas conectan sin problemas a las personas con alrededor de 65 destinos en América y Europa. Avianca es miembro de Star Alliance desde 2012. </p>

            <p class="“text-justify”">Star Alliance es la alianza de aerolíneas global más grande del mundo. Por este motivo, la aerolínea ofrece a sus clientes acceso a las rutas y destinos combinados con los servicios de primer nivel de la amplia red Star Alliance. Avianca ofrece un Programa de Lealtad y Viajero Frecuente, impulsado y respaldado por LifeMiles Ltd. La aerolínea Avianca era propietaria del 100% del programa de lealtad en 2021. LifeMiles es uno de los programas de Lealtad más extensos. El programa ha atraído a más de 11 millones de miembros y 500 socios comerciales en todo el mundo. De esta manera, la aerolínea ha aumentado la lealtad de sus clientes y cada día atrae nuevos clientes hacia la aerolínea. </p>

            <h2 class="“text-justify”">Información de la Aerolínea Avianca: </h2>
            <table>
                <tr>
                    <td><b>IATA code:</b></td>
                    <td>AV</td>
                </tr>
                <tr>
                    <td><b>ICAO code: </b></td>
                    <td>AVA</td>
                </tr>
                <tr>
                    <td><b>Hubs: </b></td>
                    <td>Bogotá, Cali, Cartagena, Medellín</td>
                </tr>
                <tr>
                    <td><b>Foundation date: </b></td>
                    <td>December 5, 1919</td>
                </tr>
                <tr>
                    <td><b>Parent company: </b></td>
                    <td>Avianca Group</td>
                </tr>
                <tr>
                    <td><b>Address: </b></td>
                    <td>Bogotá, Colombia</td>
                </tr>
                <tr>
                    <td><b>official website: </b></td>
                    <td><a href="https://www.avianca.com/" rel="nofollow" target="_blank">www.avianca.com</td>
                </tr>
            </table>


            <h2 class="“text-justify”">Avianca Flotas: </h2>
            <p class="“text-justify”">Avianca opera una moderna flota de más de 130 aviones, incluidos Airbus A319, A320 y A321, así como Boeing 787 Dreamliners. Estos aviones sirven a más de 65 destinos en Colombia, América Latina y Europa. Avianca está comprometida a brindar a sus pasajeros una experiencia de viaje cómoda y segura. </p>
            <table>
                <tr>
                    <td><b>Aeronave</b></td>
                    <td><b>Tamaño de la flota</b></td>
                </tr>
                <tr>
                    <td>Airbus A319-100</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Airbus A320-200</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>Airbus A320neo</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>Boeing 787-8</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td>119</td>
                </tr>
            </table>

            <h2 class="“text-justify”">Rutas de vuelo y destinos populares de Avianca Aerolínea: </h2>
            <p class="“text-justify”">Avianca Aerolínea, la aerolínea más grande de Colombia, ofrece una extensa red de rutas de vuelos nacionales e internacionales, conectando a los pasajeros con más de 100 destinos en 27 países de América y Europa. </p>
            <table>
                <tr>
                    <td><b>Origen</b></td>
                    <td><b>Destino</b></td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Cali</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Cali</td>
                </tr>
                <tr>
                    <td>Cartagena</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Cartagena</td>
                </tr>
                <tr>
                    <td>Pereira</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Pereira</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Santa Marta</td>
                </tr>
                <tr>
                    <td>Santa Marta</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Barranquilla</td>
                </tr>
                <tr>
                    <td>Barranquilla</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Cúcuta</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Cúcuta</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Bucaramanga</td>
                </tr>
            </table>




            <h2 class="“text-justify”">Lista de aeropuertos atendidos por Avianca Aerolínea: </h2>
            <ul>
                <li>El Dorado International Airport (BOG) </li>
                <li>José María Córdova International Airport (MDE) </li>
                <li>Alfonso Bonilla Aragón International Airport (CLO)</li>
                <li>Rafael Núñez International Airport (CTG)</li>
                <li>El Dorado International Airport (BOG)</li>
                <li>Matecaña International Airport (PEI)</li>
                <li>Simón Bolívar Airport (SMR)</li>
                <li>Ernesto Cortissoz International A (BAQ)</li>
                <li>Camilo Daza International Airport (CUC)</li>
                <li>Gustavo Rojas Pinilla Internation (ADZ)</li>
            </ul>

            <h2 class="“text-justify”">Política de Avianca Aerolíneas</h2>

            <h3 class="“text-justify”">Política de cancelación</h3>
            <p class="“text-justify”">Tiquetes baratos avianca no cobra tarifas a los pasajeros si cancelan sus boletos dentro de las 24 horas posteriores a la reserva. Avianca Aerolíneas admite una política de cancelación de 24 horas. Según esta política, los clientes pueden cancelar un vuelo sin cargo dentro de las 24 horas posteriores a la reserva. Si un cliente logra cancelar su vuelo dentro de las 24 horas previas a la salida, la aerolínea le reembolsará el dinero. La aerolínea proporcionará un reembolso según el precio del tipo de billete y el tiempo de cancelación. </p>

            <h3 class="“text-justify”">Politica de reembolso</h3>
            <p class="“text-justify”">Al cancelar tus Avianca colombia telefono de las 24 horas, podrás solicitar el reembolso de tu acceso. Para esto, debes visitar la opción Reembolsos en avianca.com. Antes de solicitar el reembolso en tus Avianca tiquetes, revisa las condiciones de tu tarifa. Debes tener en cuenta que si realizas una solicitud de reembolso y la recibes en una Tarjeta Avianca UATP, la aerolínea te permite solicitar un reembolso a tu método de pago original. </p>

            <h3 class="“text-justify”">Política de mascotas</h3>
            <p class="“text-justify”">Si deseas volar con tu mascota en cabina, ésta deberá pesar menos de 22 lb (esto incluye el peso del contenedor). Para volar con tu mascota en bodega, su peso debe ser como máximo de 110 lb. Si tu perro o gato cumple con todos los requisitos enumerados en la política de mascotas de Avianca para viajar en cabina, la aerolínea te solicitará un transportín para mascotas aprobado por la aerolínea. Debes notificar a Avianca sobre tu mascota. No se pueden realizar las reservas online. Para más detalles, puedes contactarnos al teléfono de Avianca. </p>

            <h3 class="“text-justify”">Política de equipaje</h3>
            <p class="“text-justify”">La política de equipaje de Avianca Aerolíneas es similar a la de otras grandes aerolíneas. Se le permite llevar entre 1 y 2 maletas facturadas en su tarifa. Esto depende de su clase de viaje y destino. Las aerolíneas pueden cobrar tarifas adicionales por maletas adicionales además de la franquicia de equipaje gratuita. La aerolínea cobrará tarifas por equipaje con sobrepeso y tamaño excesivo según la altura, el tamaño y la ute. </p>

            <h4 class="“text-justify”">Preguntas frecuentes:</h4>

            <h5 class="“text-justify”">¿Cómo puedo acumular y canjear millas con Avianca Aerolínea? </h5>
            <p class="“text-justify”">Puedes acumular y canjear millas con Avianca Aerolínea uniéndote al programa LifeMiles. LifeMiles es un programa de fidelización que te permite acumular millas cuando vuelas con Avianca Aerolínea o su socio Aerolínea, o cuando utilizas los servicios de sus socios afiliados. Puede canjear sus millas por vuelos, mejoras, estadías en hoteles, alquiler de automóviles y más. Puedes conocer más sobre el programa LifeMiles en el sitio web de LifeMiles. </p>

            <h5 class="“text-justify”">¿Cómo puedo volar con niños o bebés en Avianca Aerolínea? </h5>
            <p class="“text-justify”">Si deseas volar con niños o bebés en Avianca Aerolínea, debes consultar los requisitos y documentos para volar estando embarazada, con niños o bebés en el Centro de Ayuda web de avianca. También puedes solicitar servicios especiales como embarque prioritario, moisés para bebés o comidas infantiles comunicándote con el Call Center o rellenando un formulario de solicitud online. </p>

            <h5 class="“text-justify”">¿Cómo puedo volar con mi mascota en Avianca Aerolínea? </h5>

            <p class="“text-justify”">Si deseas volar con tu mascota en Avianca Aerolínea, debes realizar una reserva con al menos 48 horas de anticipación a tu vuelo comunicándote al Call Center. También debes consultar los documentos y requisitos para volar con tu mascota en cabina o bodega en el Centro de ayuda web de avianca. Las tarifas y condiciones para volar con tu mascota dependen de tu destino y del peso y tamaño de tu mascota. </p>

            <h5 class="“text-justify”">¿Cuáles son las franquicias y tarifas de equipaje de Avianca Aerolínea? </h5>
            <p class="“text-justify”">Las franquicias de equipaje y tarifas de Avianca Aerolínea dependen de tu tarifa, destino y nivel de membresía. Puedes conocer las dimensiones, peso y artículos que puedes llevar en tu equipaje en el Centro de Ayuda sitio web de avianca. También puedes comprar equipaje adicional online o en el aeropuerto. </p>

            <h5 class="“text-justify”">¿Cómo puedo consultar el estado de mi vuelo con Avianca Aerolínea?</h5>
            <p class="“text-justify”">Puedes consultar el estado de tu vuelo ingresando tu número de vuelo o ruta en el sitio web de Avianca Aerolínea. También puedes descargar la aplicación de Avianca en tu dispositivo móvil y recibir notificaciones sobre tu vuelo. </p>

            <table>
                <tr>
                    <td><b>Destinos populares Avianca Aerolínea</b></td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Medellín</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Barranquilla</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Cartagena</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Cali</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Pereira</td>
                </tr>
            </table>




            <table>
                <tr>
                    <td><b>Rutas Populares  Avianca Aerolíneas</b></td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Medellín to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Cali to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá to Cali</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Cartagena to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá to Cartagena</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Pereira to Bogotá</td>
                </tr>
            </table>

        </div>
    </div>
</section>
