
@{
    ViewBag.Title = "aviancacheckin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Check in avianca | Web check in avianca -FaresMatch</title>
    <meta name="description" content="Check-in web de Avianca fácil y rápido. Gestiona tus vuelos y ahorra tiempo. ¡Reserva vuelos de Avianca con FaresMatch ahora!" />
    <meta name="keywords" content="avianca vuelos, vuelos baratos avianca, avianca vuelos internacionales, avianca vuelos nacionales, vuelos baratos bogotá avianca, check in Avianca, web check in avianca, avianca colombia telefono, avianca telefono bogota, avianca oficinas " />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/avianca-check-in.aspx" />
    <meta property="og:title" content="check in avianca | Web check in avianca -FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Check-in web de Avianca fácil y rápido. Gestiona tus vuelos y ahorra tiempo. ¡Reserva vuelos de Avianca con FaresMatch ahora!" />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/avianca-check-in.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="check in avianca | Web check in avianca -FaresMatch" />
    <meta name="twitter:description" content="Check-in web de Avianca fácil y rápido. Gestiona tus vuelos y ahorra tiempo. ¡Reserva vuelos de Avianca con FaresMatch ahora!" />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />


}



<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Puedo facturar mi equipaje online?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Sí, puedes facturar tu equipaje online para la mayoría de los vuelos de Avianca. Para hacerlo, deberás visitar el sitio web de Avianca e ingresar la información de tu vuelo. Luego podrá seleccionar su equipaje y pagar las tarifas aplicables."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son los requisitos de viaje para mi destino?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Infórmese sobre visas, vacunas, restricciones por COVID-19 y otros documentos para ingresar a su destino. Puedes consultar los requisitos de viaje para tu destino en nuestra web."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué debo hacer si se me pasa la hora de cierre del check-in?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si pasas la hora de cierre del check-in, no podrás abordar tu vuelo. Deberá comunicarse con nuestro call center o acudir a los mostradores del aeropuerto para reprogramar su vuelo. Dependiendo de las condiciones de la tarifa y la disponibilidad, es posible que deba pagar una penalidad o una diferencia de tarifa."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo cambiar mi asiento después de realizar el check-in online?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Sí, podrás cambiar de asiento después del check-in online, siempre y cuando lo hagas antes de la hora de cierre del check-in. Puedes hacerlo en nuestro sitio web o en la app de avianca. Es posible que deba pagar una tarifa adicional según la disponibilidad de asientos y las condiciones de la tarifa."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo realizar el check-in online si tengo una reserva de grupo?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "No, no puedes realizar el check-in online si tienes una reserva de grupo. Una reserva de grupo es cuando tienes más de 9 pasajeros viajando juntos en el mismo vuelo. Si tiene una reserva de grupo, deberá realizar el check-in en los mostradores del aeropuerto."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo realizar el check-in online si tengo un pago pendiente o una diferencia de tarifa?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "No, no puedes realizar el check-in online si tienes un pago pendiente o una diferencia de tarifa. Un pago pendiente es cuando no has completado el pago de tu reserva. Una diferencia de tarifa es cuando has cambiado tu itinerario de vuelo y la nueva tarifa es más alta que la original. Si tienes un pago pendiente o una diferencia de tarifa, deberás completar el pago o pagar la diferencia antes de realizar el check-in en línea."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Avianca Aerolíneas check-in</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">



            <h2 class="“text-justify”">Acerca de Avianca Aerolíneas </h2>
            <p class="“text-justify”">Avianca ha estado en la industria aérea de Colombia desde 1919. La aerolínea se ha convertido con éxito en la aerolínea más grande de Colombia y la segunda aerolínea más grande de América Latina. La aerolínea pertenece al Grupo Synergy, que integra a Ocean Air (Brasil) y VIP (Ecuador). Las subsidiarias de la aerolínea incluyen Avianca Brasil y Avianca Costa Rica. Actualmente, Avianca ofrece una extensa red de destinos en América Latina. Es una de las principales aerolíneas que conectan Sudamérica con el resto del mundo. La aerolínea tiene su hub en Bogotá. La aerolínea sirve a más de 25 destinos en Colombia y más de 40 destinos en América y Europa. </p>

            <h2 class="“text-justify”">Servicios de Check-In de Avianca</h2>
            <p class="“text-justify”">La <a href="https://www.faresmatch.com/es/aerolineas/avianca.aspx">aerolínea Avianca</a> permite a los pasajeros realizar el check-in en Avianca online al menos 48 horas antes de la salida programada de su vuelo. El check-in es de 24 horas si viajas hacia o desde Estados Unidos o Canadá. La aerolínea te permite hacerlo desde cualquier dispositivo o a través de cualquier agente en los quioscos de la aerolínea o en los mostradores del aeropuerto. Recuerde llegar al aeropuerto al menos 3 horas antes de sus vuelos internacionales y 2 horas antes de sus vuelos domésticos en Colombia y Ecuador. Si quieres ser atendido por un servicio excepcional, intenta presentarte con una hora adicional de antelación para disfrutar del servicio. </p>

            <h2 class="“text-justify”">Web y check-in</h2>
            <p class="“text-justify”">Debes abrir la aplicación Avianca o el sitio web Avianca.com en tu navegador para realizar el check-in en línea. Desde allí, seleccione Check-in. Debe ingresar allí su código de reserva o número de boleto y proporcionar a la aerolínea la información solicitada. Una vez que realizas el check-in online de Avianca, te entregan una tarjeta de embarque en tu móvil, la cual es opcional imprimir. </p>

            <h2 class="“text-justify”">Check-in en el Aeropuerto de Avianca</h2>
            <p class="“text-justify”">Si deseas realizar Avianca check in mo persona en los quioscos del aeropuerto, podrás evitar largas colas y, al mismo tiempo, evitar costos adicionales por el check-in en el mostrador. </p>
            <p class="“text-justify”">Necesitas saber las siguientes cosas: </p>

            <ul>
                <li>Los quioscos se pueden utilizar para realizar el check-in en Avianca con un número de tiquet e imprimir tu tarjeta de embarque, y puedes evitar pasar por los mostradores de check-in.</li>
                <li>Intenta llegar al mostrador de facturación del aeropuerto al menos 3 horas antes de la salida en caso de vuelos internacionales y 2 horas en caso de vuelos nacionales.</li>
                <li>Antes del check-in, tenga a mano los siguientes documentos: código de reserva, número de billete, pasaporte o código de barras y número de viajero frecuente.</li>
                <li>Cuando realice hacer check-in avianca en los quioscos, debe asegurarse de no llevar artículos dañinos o prohibidos en su equipaje de mano.</li>
                <li>Además de facturar, la aerolínea le permite imprimir las etiquetas de su equipaje y facturarlo.</li>
            </ul>

            <h2 class="“text-justify”">Avianca Aerolíneas Aeropuertos Detalles de check-in antes de la salida programada: </h2>


            <table>
                <tr>
                    <td><b>Airport Location</b></td>
                    <td><b>Airport Code</b></td>
                    <td><b>Check-in before scheduled departure</b></td>
                </tr>
                <tr>
                    <td>Bogota, Colombia</td>
                    <td>El Dorado International Airport (BOG)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Medellin, Colombia</td>
                    <td>Jose Maria Cordova International Airport (MDE)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Cali, Colombia</td>
                    <td>Alfonso Bonilla Aragón International Airport (CLO)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Barranquilla, Colombia</td>
                    <td>Ernesto Cortissoz International Airport (BAQ)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Cartagena, Colombia</td>
                    <td>Rafael Núñez International Airport (CTG)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>San Salvador, El Salvador</td>
                    <td>El Salvador International Airport (SAL)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Guatemala City, Guatemala</td>
                    <td>La Aurora International Airport (GUA)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>San Pedro Sula, Honduras</td>
                    <td>Ramón Villeda Morales International Airport (SAP)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Lima, Peru</td>
                    <td>Jorge Chávez International Airport (LIM)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Cusco, Peru</td>
                    <td>Alejandro Velasco Astete International Airport (CUZ)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Quito, Ecuador</td>
                    <td>Mariscal Sucre International Airport (UIO)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Guayaquil, Ecuador</td>
                    <td>José Joaquín de Olmedo International Airport (GYE)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>La Paz, Bolivia</td>
                    <td>El Alto International Airport (LPB)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Santa Cruz de la Sierra, Bolivia</td>
                    <td>Viru Viru International Airport (VVI)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>São Paulo, Brazil</td>
                    <td>Guarulhos International Airport (GRU)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Rio de Janeiro, Brazil</td>
                    <td>Galeão International Airport (GIG)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Brasília, Brazil</td>
                    <td>Brasília International Airport (BSB)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Belo Horizonte, Brazil</td>
                    <td>Confins International Airport (BHZ)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Miami, United States</td>
                    <td>Miami International Airport (MIA)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>New York City, United States</td>
                    <td>John F. Kennedy International Airport (JFK)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Los Angeles, United States</td>
                    <td>Los Angeles International Airport (LAX)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Orlando, United States</td>
                    <td>Orlando International Airport (MCO)</td>
                    <td>3 hours for international flights, 2 hours for domestic flights</td>
                </tr>
                <tr>
                    <td>Madrid, Spain</td>
                    <td>Adolfo Suárez Madrid–Barajas Airport (MAD)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>Barcelona, Spain</td>
                    <td>Josep Tarradellas Barcelona–El Prat Airport (BCN)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>Lisbon, Portugal</td>
                    <td>Humberto Delgado Airport (LIS)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>London, United Kingdom</td>
                    <td>Heathrow Airport (LHR)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>Paris, France</td>
                    <td>Charles de Gaulle Airport (CDG)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>Frankfurt, Germany</td>
                    <td>Frankfurt Airport (FRA)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
                <tr>
                    <td>Amsterdam, Netherlands</td>
                    <td>Schiphol Airport (AMS)</td>
                    <td>3 hours for international flights, 1 hour for domestic flights</td>
                </tr>
            </table>


            <h2 class="“text-justify”">FAQs: </h2>
            <h3 class="“text-justify”">¿Puedo facturar mi equipaje online? </h3>
            <p class="“text-justify”">Sí, puedes facturar tu equipaje online para la mayoría de los vuelos de Avianca. Para hacerlo, deberás visitar el sitio web de Avianca e ingresar la información de tu vuelo. Luego podrá seleccionar su equipaje y pagar las tarifas aplicables. </p>

            <h3 class="“text-justify”">¿Cuáles son los requisitos de viaje para mi destino? </h3>
            <p class="“text-justify”">Infórmese sobre visas, vacunas, restricciones por COVID-19 y otros documentos para ingresar a su destino. Puedes consultar los requisitos de viaje para tu destino en nuestra web. </p>

            <h3 class="“text-justify”">¿Qué debo hacer si se me pasa la hora de cierre del check-in? </h3>
            <p class="“text-justify”">Si pasas la hora de cierre del check-in, no podrás abordar tu vuelo. Deberá comunicarse con nuestro call center o acudir a los mostradores del aeropuerto para reprogramar su vuelo. Dependiendo de las condiciones de la tarifa y la disponibilidad, es posible que deba pagar una penalidad o una diferencia de tarifa. </p>

            <h3 class="“text-justify”">¿Puedo cambiar mi asiento después de realizar el check-in online? </h3>
            <p class="“text-justify”">Sí, podrás cambiar de asiento después del check-in online, siempre y cuando lo hagas antes de la hora de cierre del check-in. Puedes hacerlo en nuestro sitio web o en la app de avianca. Es posible que deba pagar una tarifa adicional según la disponibilidad de asientos y las condiciones de la tarifa. </p>

            <h3 class="“text-justify”">¿Puedo realizar el check-in online si tengo una reserva de grupo? </h3>
            <p class="“text-justify”">No, no puedes realizar el check-in online si tienes una reserva de grupo. Una reserva de grupo es cuando tienes más de 9 pasajeros viajando juntos en el mismo vuelo. Si tiene una reserva de grupo, deberá realizar el check-in en los mostradores del aeropuerto. </p>

            <h3 class="“text-justify”">¿Puedo realizar el check-in online si tengo un pago pendiente o una diferencia de tarifa? </h3>
            <p class="“text-justify”">No, no puedes realizar el check-in online si tienes un pago pendiente o una diferencia de tarifa. Un pago pendiente es cuando no has completado el pago de tu reserva. Una diferencia de tarifa es cuando has cambiado tu itinerario de vuelo y la nueva tarifa es más alta que la original. Si tienes un pago pendiente o una diferencia de tarifa, deberás completar el pago o pagar la diferencia antes de realizar el check-in en línea. </p>


        </div>
    </div>
</section>

