
@{
    ViewBag.Title = "easyfly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Easyfly Vuelos | Easyfly Estado de Vuelos - FaresMatch</title>
    <meta name="description" content="Consulta el estado de tu vuelo Easyflyy encuentra el mejor precio en Billetes de Avión. Vuela fácil con la agencia de viajes FaresMatch. " />
    <meta name="keywords" content="Easyfly Vuelos, EasyflyEstado de Vuelos, vuelos baratos Easyfly, Easyfly colombia vuelos nacionales, consulta vuelo Easyfly, check in Easyfly, Easyfly check in, Easyfly colombia check in" />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/easyfly.aspx" />
    <meta property="og:title" content="Easyfly Vuelos | Easyfly Estado de Vuelos - FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Consulta el estado de tu vuelo Easyflyy encuentra el mejor precio en Billetes de Avión. Vuela fácil con la agencia de viajes FaresMatch. " />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/easyfly.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Easyfly Vuelos | Easyfly Estado de Vuelos - FaresMatch" />
    <meta name="twitter:description" content="Consulta el estado de tu vuelo Easyflyy encuentra el mejor precio en Billetes de Avión. Vuela fácil con la agencia de viajes FaresMatch. " />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />
}

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Qué métodos de pago acepta easyfly Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "easyfly Aerolíneas acepta una variedad de métodos de pago, incluidas tarjetas de crédito, tarjetas de débito y banca neta."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué tipo de alimentos y bebidas sirve easyfly Aerolíneas a bordo?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "easyfly Aerolíneas ofrece una variedad de snacks y bebidas para comprar a bordo. Los pasajeros también pueden reservar comidas por adelantado desde el sitio web de la aerolínea."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son los requisitos de easyfly Aerolíneas para viajar con mascotas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "easyfly Aerolíneas permite a los pasajeros viajar con mascotas pequeñas en cabina. Los pasajeros deben pagar una tarifa por mascota y proporcionar un transportador para mascotas que cumpla con las especificaciones de la aerolínea."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son las políticas de easyfly Aerolíneas para pasajeros con discapacidad?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "easyfly Aerolíneas se compromete a ofrecer viajes accesibles para todos los pasajeros. La aerolínea ofrece una variedad de servicios para pasajeros con discapacidades, incluida asistencia con el check-in, embarque y desembarque."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son los cargos por exceso de equipaje en easyfly Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "A los pasajeros que excedan la franquicia de equipaje se les cobrarán tarifas por exceso de equipaje. Los cargos varían según el exceso de peso y el destino. Las tarifas por exceso de equipaje se pueden pagar en el mostrador de facturación del aeropuerto o en línea."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son las políticas de easyfly Aerolíneas sobre artículos de equipaje especiales, como instrumentos musicales o equipos deportivos?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "easyfly Aerolíneas permite ciertos artículos de equipaje especiales, como instrumentos musicales, equipos deportivos y ayudas para la movilidad, sujetos a condiciones y tarifas específicas. Los pasajeros deben comunicarse con la aerolínea con anticipación para solicitar información sobre el transporte de artículos de equipaje especiales."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sobre easyfly Aerolíneas </h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">

            <p class="“text-justify”">easyfly es una aerolínea regional que opera en Colombia. El objetivo principal detrás del lanzamiento de esta aerolínea era prestar servicio a ciudades intermedias a las que no llegan otras aerolíneas. easyfly comenzó a ofrecer vuelos en octubre de 2007. Comenzó con un avión British Aerospace Jetstream 41. El centro de operaciones de la aerolínea central es el Aeropuerto Internacional El Dorado, Bogotá. El fundador de easyfly, Alfonso Ávila, también fue uno de los fundadores de Aero República en 1992. </p>
            <p class="“text-justify”">La aerolínea ha sido calificada como Aerolínea de Bajo Costo de 3 estrellas después de examinar la calidad de su aeropuerto, productos a bordo, servicio del personal y easyfly web check-in web. En cuanto a la calificación del producto, la aerolínea ofrece comodidad en la cabina, cobra una tarifa por el equipaje/asiento, le proporciona alimentos y bebidas a bordo y limpieza de la cabina. </p>
            <p class="“text-justify”">easyfly presta servicios de vuelos domésticos en Colombia. Aquí también encontrará billetes económicos con determinadas ventajas. Esto incluye franquicia de equipaje gratuita (15 kg), equipaje de mano gratuito (limitado a 5 kg) y una bebida gratuita durante el vuelo. Los vuelos que vuelan operan distancias cortas y utilizan aviones turbohélice. El check-in easyfly y el sistema de embarque de la aerolínea son eficientes y están bien organizados. El comportamiento y el servicio del personal de cabina también son mejores en el aeropuerto. </p>
            <h2 class="“text-justify”">Información de la aerolínea easyfly: </h2>
            <table>
                <tr>
                    <td><b>IATA code: </b></td>
                    <td>VE</td>
                </tr>
                <tr>
                    <td><b>ICAO code: </b></td>
                    <td>EFY</td>
                </tr>
                <tr>
                    <td><b>Hubs: </b></td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td><b>Foundation date: </b></td>
                    <td>2006</td>
                </tr>
                <tr>
                    <td><b>Parent company: </b></td>
                    <td>EasyGroup</td>
                </tr>
                <tr>
                    <td><b>Address: </b></td>
                    <td>08 Entrada 1 Hangar 27, Bogotá, Colombia</td>
                </tr>
                <tr>
                    <td><b>official website: </b></td>
                    <td><a href="https://www.easyflyair.co/" rel="nofollow" target="_blank">www.easyflyair.co</td>
                </tr>
            </table>


            <h2 class="“text-justify”">easyfly Flotas: </h2>
            <p class="“text-justify”">La flota de easyfly está compuesta por 20 aviones ATR 42 y ATR 72. La flota aérea es relativamente joven, con una edad media de 5,9 años. </p>
            <table>
                <tr>
                    <td><b>Aeronave</b></td>
                    <td><b>Tamaño de la flota</b></td>
                </tr>
                <tr>
                    <td>ATR 42-500</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>ATR 42-600</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>ATR 72-600</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td>20</td>
                </tr>
            </table>

            <h2 class="“text-justify”">Rutas de vuelo y destinos populares de easyfly Aerolínea: </h2>
            <p class="“text-justify”">easyfly Aerolínea es una aerolínea colombiana que ofrece vuelos domésticos dentro de Colombia. Las rutas más populares de la aerolínea son entre Bogotá, Medellín, Cali, Bucaramanga y Cartagena. </p>

            <table>
                <tr>
                    <td><b>Origen</b></td>
                    <td><b>Destino</b></td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Quibdó</td>
                </tr>
                <tr>
                    <td>Quibdó</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Pereira</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Manizales</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Pereira</td>
                </tr>
                <tr>
                    <td>Yopal</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Yopal</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Neiva, Huila</td>
                </tr>
                <tr>
                    <td>Neiva, Huila</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Armenia</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Apartadó</td>
                </tr>
                <tr>
                    <td>Apartadó</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Manizales</td>
                </tr>
                <tr>
                    <td>Cali</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Arauca</td>
                </tr>
            </table>

            <h2 class="“text-justify”">Lista de aeropuertos atendidos por easyfly Aerolínea: </h2>
            <ul>
                <li>Olaya Herrera Airport (EOH)</li>
                <li>El Caraño Airport (UIB)</li>
                <li>Matecaña International Airport (PEI)</li>
                <li>El Dorado International Airport (BOG)</li>
                <li>La Nubia Airport (MZL)</li>
                <li>El Alcaraván Airport (EYP)</li>
                <li>Benito Salas Airport (NVA)</li>
                <li>El Edén International Airport (AXM)</li>
                <li>Antonio Roldán Betancourt Airport (APO)</li>
                <li>Alfonso Bonilla Aragón International Airport (CLO)</li>
            </ul>
            <h2 class="“text-justify”">Política de easyfly Aerolíneas</h2>

            <h3 class="“text-justify”">Política de cancelación</h3>
            <p class="“text-justify”">Como se mencionó anteriormente, easyfly no es una aerolínea europea; sin embargo, cuando vuelan en Europa, cumplen con la normativa europea. Esta es una excelente noticia para los pasajeros afectados por la cancelación de un vuelo, ya que cancelar salidas europeas de último momento les reportará una compensación justa por parte de easyfly. </p>

            <h3 class="“text-justify”">Politica de reembolso</h3>
            <p class="“text-justify”">Si cancela su vuelo easyfly, se le ofrecerá un vuelo alternativo a su destino. En la mayoría de los casos, incluso recibirás un reembolso completo. Si su vuelo se cancela en menos de 14 días antes de su salida de un aeropuerto europeo, según las leyes europeas, debe pagar hasta $600 por persona en compensación. Puede realizar el web check in easyfly. </p>

            <h3 class="“text-justify”">Política de mascotas </h3>
            <p class="“text-justify”">Podrás llevar perros, gatos y gallos en cabina con easyfly. Sus mascotas y transportistas deben pesar menos de 10 kg (22 lb) y tener más de ocho semanas para ser aceptados en la casa. Las mascotas que crucen el límite para viajar en el lugar podrán ser aceptadas como equipaje facturado por la aerolínea. Su mascota debe tener ocho semanas de edad si se transporta como equipaje facturado. El peso combinado de la mascota y el transportín debe ser inferior a 23 kg (50 lb). </p>

            <p class="“text-justify”">Las mascotas que viajen en los transportines de cabina deben tener lados blandos y deben tener unas dimensiones de 11" x 13" x 19" (28 cm x 33 cm x 48 cm). Si su mascota viaja como equipaje facturado, entonces su transportador debe tener lados rígidos y no medir más de 24" (61 cm). La aerolínea no permite volar las siguientes razas. Ellos son: Affenpinscher, Pitbull, English Toy Spaniel, Shar Pei y Bulldog. easyfly Colombia El check-in es un proceso sencillo. </p>

            <h3 class="“text-justify”">Política de equipaje</h3>
            <p class="“text-justify”">La franquicia de equipaje que cobra easyfly es mínima. La razón es simple: la aerolínea no tiene compartimentos superiores y el equipaje de mano debe colocarse debajo del asiento delantero. La franquicia de equipaje facturado es de un máximo de 15 kg (dimensiones máximas 25X40X61 cm). Por otro lado, la franquicia de equipaje de mano es de un total de 5 kg (dimensiones máximas 35X15X20 cm). </p>


            <h4 class="“text-justify”">Preguntas frecuentes: </h4>
            <h5 class="“text-justify”">¿Qué métodos de pago acepta easyfly Aerolíneas? </h5>
            <p class="“text-justify”">easyfly Aerolíneas acepta una variedad de métodos de pago, incluidas tarjetas de crédito, tarjetas de débito y banca neta. </p>

            <h5 class="“text-justify”">¿Qué tipo de alimentos y bebidas sirve easyfly Aerolíneas a bordo? </h5>
            <p class="“text-justify”">easyfly Aerolíneas ofrece una variedad de snacks y bebidas para comprar a bordo. Los pasajeros también pueden reservar comidas por adelantado desde el sitio web de la aerolínea. </p>

            <h5 class="“text-justify”">¿Cuáles son los requisitos de easyfly Aerolíneas para viajar con mascotas? </h5>
            <p class="“text-justify”">easyfly Aerolíneas permite a los pasajeros viajar con mascotas pequeñas en cabina. Los pasajeros deben pagar una tarifa por mascota y proporcionar un transportador para mascotas que cumpla con las especificaciones de la aerolínea. </p>

            <h5 class="“text-justify”">¿Cuáles son las políticas de easyfly Aerolíneas para pasajeros con discapacidad? </h5>
            <p class="“text-justify”">easyfly Aerolíneas se compromete a ofrecer viajes accesibles para todos los pasajeros. La aerolínea ofrece una variedad de servicios para pasajeros con discapacidades, incluida asistencia con el check-in, embarque y desembarque. </p>

            <h5 class="“text-justify”">¿Cuáles son los cargos por exceso de equipaje en easyfly Aerolíneas? </h5>
            <p class="“text-justify”">A los pasajeros que excedan la franquicia de equipaje se les cobrarán tarifas por exceso de equipaje. Los cargos varían según el exceso de peso y el destino. Las tarifas por exceso de equipaje se pueden pagar en el mostrador de facturación del aeropuerto o en línea. </p>

            <h5 class="“text-justify”">¿Cuáles son las políticas de easyfly Aerolíneas sobre artículos de equipaje especiales, como instrumentos musicales o equipos deportivos? </h5>
            <p class="“text-justify”">easyfly Aerolíneas permite ciertos artículos de equipaje especiales, como instrumentos musicales, equipos deportivos y ayudas para la movilidad, sujetos a condiciones y tarifas específicas. Los pasajeros deben comunicarse con la aerolínea con anticipación para solicitar información sobre el transporte de artículos de equipaje especiales. </p>

            <table>
                <tr>
                    <td><b>Destinos populares easyfly Aerolínea</b></td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Medellín</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Quibdó</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Pereira</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Manizales</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Yopal</td>
                </tr>
            </table>



            <table>
                <tr>
                    <td><b>Rutas Populares easyfly Aerolíneas</b></td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Medellín to Quibdó</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Quibdó to Medellín</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Pereira to Medellín</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Manizales to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Medellín to Pereira</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Yopal to Bogotá</td>
                </tr>
            </table>


        </div>
    </div>
</section>
