
@{
    ViewBag.Title = "vivaaircolombiacheckin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Viva Air check in | Viva Air Vuelos -FaresMatch</title>
    <meta name="description" content="Check-in Viva Air online o vía app. Encuentre las tarifas y ofertas más bajas ahora en la agencia de viajes FaresMatch." />
    <meta name="keywords" content="viva air colombia, viva air vuelos, viva air check in, check in viva air, aerolinea viva air, viva air vuelos baratos, viva air tiquetes, viva air reserva, tiquetes viva air, tiquetes baratos viva air, viva air telefono bogota" />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/viva-air-colombia-check-in.aspx" />
    <meta property="og:title" content="Viva Air check in | Viva Air Vuelos -FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Check-in Viva Air online o vía app. Encuentre las tarifas y ofertas más bajas ahora en la agencia de viajes FaresMatch." />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/viva-air-colombia-check-in.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Viva Air check in | Viva Air Vuelos -FaresMatch" />
    <meta name="twitter:description" content="Check-in Viva Air online o vía app. Encuentre las tarifas y ofertas más bajas ahora en la agencia de viajes FaresMatch." />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />
}

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Qué necesito para realizar el check-in online?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Necesitará su número de referencia de reserva o número de vuelo y su apellido. Es posible que también necesite la información de su pasaporte para vuelos internacionales."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo seleccionar mi asiento durante el check-in en línea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Sí, puede seleccionar su asiento de forma gratuita durante el check-in en línea. Es posible que la selección de asientos no esté disponible para todas las tarifas o vuelos."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo obtengo mi tarjeta de embarque después de realizar el check-in en línea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puede descargar su tarjeta de embarque como un archivo PDF o guardarla en su billetera móvil. También puedes imprimir tu tarjeta de embarque en el aeropuerto."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué sucede si no cumplo con la fecha límite de check-in en línea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "¡No te preocupes! Aún puedes realizar el check-in en el aeropuerto. Sin embargo, los mostradores de facturación del aeropuerto cierran 60 minutos antes de los vuelos nacionales y 90 minutos antes de los vuelos internacionales. Así que asegúrese de llegar temprano para evitar estrés."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo facturar equipaje en línea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Desafortunadamente, el check-in de equipaje en línea no está disponible actualmente para los vuelos de Viva Air Colombia. Deberá facturar su equipaje en los mostradores de facturación del aeropuerto."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué pasa si necesito cambiar mi asiento o vuelo después de realizar el check-in?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Es posible realizar cambios de asiento en los mostradores de facturación del aeropuerto o en la puerta de embarque, sujeto a disponibilidad y tarifas. Los cambios de vuelo se pueden realizar a través del sitio web de Viva Air Colombia o call center, pero aplicarán cargos por cambio."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo facturar con Viva Air Colombia si tengo un vuelo de conexión en otra aerolínea?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Sí, puedes facturar tu equipaje hasta tu destino final si tienes un vuelo de conexión en otra aerolínea con acuerdo de código compartido con Viva Air Colombia. Asegúrese de consultar con ambas aerolíneas para conocer sus procedimientos de facturación específicos."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué pasa si tengo necesidades especiales o necesito ayuda durante el check-in?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Viva Air Colombia ofrece asistencia a pasajeros con necesidades especiales. Puede solicitar asistencia al momento de realizar la reserva o comunicándose directamente con Viva Air Colombia."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Viva Air Colombia check-in</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">

            <h2 class="“text-justify”">Acerca de Viva Air Colombia</h2>
            <p class="“text-justify”">VivaColombia Aerolínea, lanzada en 2012, es una aerolínea colombiana de bajo costo que ofrece vuelos domésticos en toda Colombia. Sin embargo, también sirve a otros destinos en Perú y Estados Unidos. Los principales centros aeroportuarios de la aerolínea se encuentran en Bogotá (BOG), Medellín (MDE) y Santa Marta (SMR). En total, la aerolínea ofrece vuelos a más de diez destinos. </p>

            <h2 class="“text-justify”">Servicios de facturación</h2>
            <p class="“text-justify”">Los pasajeros para el check-in de Viva Air deben llegar al aeropuerto 2 horas antes de la hora de salida programada para todos los vuelos nacionales. Para vuelos internacionales, los pasajeros deben comunicarse con el aeropuerto al menos 3 horas antes de la salida. Asegúrate de tener la tarjeta de embarque al menos 45 minutos antes de tu salida programada para todos los vuelos nacionales de Viva Colombia. Internacional Viva Colombia debe ser 60 minutos antes del vuelo programado. El check-in Viva Aerolíneas para tu vuelo Viva Colombia está listo 24 horas antes de la salida. Finaliza 60 minutos antes del despegue de sus vuelos. </p>


            <h2 class="“text-justify”">Servicios web y de aplicaciones</h2>
            <p class="“text-justify”">Se podrá acceder al web check-in Viva Air 24 horas antes de la hora de salida. Termina 60 minutos antes de la salida. </p>

            <p class="“text-justify”">Échale un vistazo a los pasos para realizar el check-in Web de Viva Colombia: </p>

            <ul>
                <li>Visita la página web principal de Viva Colombia Air ( https://www.vivaair.com ).</li>
                <li>Toque para verificar las opciones de registro.</li>
                <li>Ingrese la información relevante, como el número de confirmación y el nombre del pasajero.</li>
                <li>Haga clic en el botón continuar.</li>
                <li>Prepárate para descargar tu tarjeta de embarque de Viva Airs.</li>
            </ul>

            <p class="“text-justify”">Para realizar el check-in en Viva Colombia a través del móvil, puedes seguir estos pasos: </p>


            <ul>
                <li>Abre la aplicación Viva Colombia desde tu dispositivo móvil.</li>
                <li>Una vez abierto, seleccione la opción Instalación de check-in móvil en el menú.</li>
                <li>Llena los campos con tu apellido y número de boleto electrónico de vuelo de Viva Colombia.</li>
                <li>Siga las instrucciones en pantalla.</li>
                <li>Una vez hecho esto, descarga tu Tarjeta de Embarque aéreo Viva Colombia. También puedes guardarlo en tu teléfono.</li>
            </ul>

            <h2 class="“text-justify”">facturación en el aeropuerto</h2>
            <p class="“text-justify”">Para realizar check in Viva con el quiosco: </p>

            <ul>
                <li>Dirígete al aeropuerto y busca el área de check-in del quiosco.</li>
                <li>Toque la pantalla del quiosco para iniciar el proceso de registro.</li>
                <li>Debes ingresar tu número de boleto electrónico de vuelo de Viva Colombia y tu apellido.</li>
                <li>Revise los detalles de su vuelo y confirme su check-in. Una vez hecho esto, podrá imprimir su tarjeta de embarque.</li>
            </ul>

            <p class="“text-justify”">el check-in en mostrador de Viva Colombia , puedes seguir estos pasos: </p>

            <ul>
                <li>Visita el aeropuerto y busca el mostrador de boletos de Viva Air.</li>
                <li>Muestra tu confirmación de reserva de Viva Colombia al agente en el mostrador, quien verificará tu reserva.</li>
                <li>Ahora debes confirmar la solicitud de check-in.</li>
                <li>Finalmente, un agente del aeropuerto le emitirá su tarjeta de embarque.</li>
            </ul>

            <h2 class="“text-justify”">Viva Air Colombia Aerolíneas Aeropuertos Detalles de check-in antes de la salida programada: </h2>

            <table>
                <tr>
                    <td><b>Airport Location</b></td>
                    <td><b>Airport Code</b></td>
                    <td><b>Check-in before scheduled departure</b></td>
                </tr>
                <tr>
                    <td>Alfonso Bonilla Aragón International Airport, Cali</td>
                    <td>CLO</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>El Dorado International Airport, Bogotá</td>
                    <td>BOG</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>José María Córdova International Airport, Rionegro</td>
                    <td>MDE</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Rafael Núñez International Airport, Cartagena</td>
                    <td>CTG</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Ernesto Cortissoz International Airport, Barranquilla</td>
                    <td>BAQ</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Gustavo Rojas Pinilla International Airport, San Andrés</td>
                    <td>ADZ</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Olaya Herrera Airport, Medellín</td>
                    <td>EOH</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Los Garzones Airport, Montería</td>
                    <td>MTR</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Perales Airport, Ibagué</td>
                    <td>IBE</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Yariguíes Airport, Barrancabermeja</td>
                    <td>EJA</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>La Nubia Airport, Pereira</td>
                    <td>PEI</td>
                    <td>1 hour</td>
                </tr>
            </table>



            <h4 class="“text-justify”">FAQs: </h4>


            <h5 class="text-justify">¿Qué necesito para realizar el check-in online? </h5>

            <p class="text-justify">Necesitará su número de referencia de reserva o número de vuelo y su apellido. Es posible que también necesite la información de su pasaporte para vuelos internacionales. </p>

            <h5 class="text-justify">¿Puedo seleccionar mi asiento durante el check-in en línea? </h5>

            <p class="text-justify">Sí, puede seleccionar su asiento de forma gratuita durante el check-in en línea. Es posible que la selección de asientos no esté disponible para todas las tarifas o vuelos. </p>

            <h5 class="text-justify">¿Cómo obtengo mi tarjeta de embarque después de realizar el check-in en línea? </h5>

            <p class="text-justify">Puede descargar su tarjeta de embarque como un archivo PDF o guardarla en su billetera móvil. También puedes imprimir tu tarjeta de embarque en el aeropuerto. </p>

            <h5 class="text-justify">¿Qué sucede si no cumplo con la fecha límite de check-in en línea? </h5>

            <p class="text-justify">¡No te preocupes! Aún puedes realizar el check-in en el aeropuerto. Sin embargo, los mostradores de facturación del aeropuerto cierran 60 minutos antes de los vuelos nacionales y 90 minutos antes de los vuelos internacionales. Así que asegúrese de llegar temprano para evitar estrés. </p>

            <h5 class="text-justify">¿Puedo facturar equipaje en línea? </h5>

            <p class="”text-justify”">Desafortunadamente, el check-in de equipaje en línea no está disponible actualmente para los vuelos de Viva Air Colombia. Deberá facturar su equipaje en los mostradores de facturación del aeropuerto. </p>

            <h5 class="text-justify">¿Qué pasa si necesito cambiar mi asiento o vuelo después de realizar el check-in? </h5>

            <p class="text-justify">Es posible realizar cambios de asiento en los mostradores de facturación del aeropuerto o en la puerta de embarque, sujeto a disponibilidad y tarifas. Los cambios de vuelo se pueden realizar a través del sitio web de Viva Air Colombia o call center, pero aplicarán cargos por cambio. </p>

            <h5 class="”text-justify”">¿Puedo facturar con Viva Air Colombia si tengo un vuelo de conexión en otra aerolínea? </h5>

            <p class="”text-justify”">Sí, puedes facturar tu equipaje hasta tu destino final si tienes un vuelo de conexión en otra aerolínea con acuerdo de código compartido con Viva Air Colombia. Asegúrese de consultar con ambas aerolíneas para conocer sus procedimientos de facturación específicos. </p>

            <h5 class="text-justify">¿Qué pasa si tengo necesidades especiales o necesito ayuda durante el check-in? </h5>

            <p class="”text-justify”">Viva Air Colombia ofrece asistencia a pasajeros con necesidades especiales. Puede solicitar asistencia al momento de realizar la reserva o comunicándose directamente con Viva Air Colombia. </p>


        </div>
    </div>
</section>
