
@{
    ViewBag.Title = "vivaaircolombia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Viva Air Colombia | Viva Air Vuelos -FaresMatch</title>
    <meta name="description" content="¡Explora Colombia con Vuelos Viva Air! Encuentre y reserve vuelos baratos a todos sus destinos favoritos con el portal FaresMatch." />
    <meta name="keywords" content="viva air colombia, viva air vuelos, aerolinea viva air, viva air vuelos baratos, viva air tiquetes, viva air reserva, tiquetes viva air, tiquetes baratos viva air, viva air telefono bogota" />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/viva-air-colombia.aspx" />
    <meta property="og:title" content="Viva Air Colombia | Viva Air Vuelos -FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="¡Explora Colombia con Vuelos Viva Air! Encuentre y reserve vuelos baratos a todos sus destinos favoritos con el portal FaresMatch." />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/viva-air-colombia.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Viva Air Colombia | Viva Air Vuelos -FaresMatch" />
    <meta name="twitter:description" content="¡Explora Colombia con Vuelos Viva Air! Encuentre y reserve vuelos baratos a todos sus destinos favoritos con el portal FaresMatch." />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />
}

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Qué documentos necesito para viajar con Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Deberá presentar una identificación válida emitida por el gobierno, como un pasaporte o una licencia de conducir, al momento del check-in. Es posible que también deba presentar documentos adicionales, como una visa o un comprobante de viaje, dependiendo de su destino."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo elegir mis asientos en un vuelo de Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puede elegir sus asientos al reservar su vuelo online o por teléfono. También puede actualizar su asiento a un asiento preferente pagando una tarifa."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuál es la política de cambio de nombre de Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puede cambiar el nombre en su reserva pagando una tarifa. La tarifa varía dependiendo de qué tan cerca esté su vuelo de la salida."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo llevar mis propios alimentos y bebidas en un vuelo de Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puedes llevar tu propia comida y bebida a bordo, pero deben ser sin alcohol y estar contenidas en una bolsa de plástico transparente."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuál es la política de menores no acompañados de Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Viva Air Colombia permite que menores de edad no acompañados viajen en sus propios vuelos bajo ciertas condiciones. Los niños de entre 5 y 11 años pueden viajar como menores no acompañados, mientras que los niños de entre 12 y 17 años pueden viajar como menores acompañados de menores. Los padres o tutores deben completar un formulario de menor no acompañado y proporcionar al niño un número de contacto"
        }
      },{
        "@@type": "Question",
        "name": "¿Viva Air Colombia ofrece tarifas con descuento?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Sí, Viva Air Colombia ofrece una variedad de tarifas con descuento, incluidos descuentos para personas mayores, descuentos para militares y descuentos para estudiantes. Puedes encontrar más información sobre las tarifas con descuento de Viva Air Colombia en el sitio web de la aerolínea."
        }
      },{
        "@@type": "Question",
        "name": "¿Puedo utilizar mi teléfono móvil en un vuelo de Viva Air Colombia?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puedes utilizar tu teléfono móvil en un vuelo de Viva Air Colombia, pero debes ponerlo en modo avión antes del despegue. También puede utilizar su teléfono para realizar y recibir llamadas y mensajes de texto, pero se le cobrará una tarifa por hacerlo."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son las políticas de Viva Air Colombia para artículos perdidos y encontrados?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si pierde un artículo en un vuelo de Viva Air Colombia, puede presentar un reporte de artículo perdido en línea o por teléfono. Viva Air Colombia intentará localizar su artículo y devolvérselo."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Acerca de Viva Air Colombia </h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>
<section class="trvl_bug">
    <div class="container">
        <div class="row">




            <p class="“text-justify”">Anteriormente conocida como Viva Air Colombia y actualmente popular como VivaColombia, la aerolínea es una aerolínea colombiana de ultra bajo costo. Tiene su sede en Rionegro, Antioquia, Colombia. Al ser filial de Ireland Aviation, Aerolinea Viva Air Colombia es la tercera aerolínea más grande del país. Aunque tienen un acuerdo de código compartido para vuelos, la compañía no está afiliada legalmente a Viva Aerobus de México. Se trata de otra aerolínea de bajo coste lanzada por Irlanda. También utiliza la marca "Viva". </p>

            <p class="“text-justify”">Además, VivaAerobus ofrece principalmente vuelos nacionales de <a href="https://www.faresmatch.com/es/aerolineas/viva-air-colombia.aspx">Viva Air Colombia</a> en todo Colombia. Además de esto, todavía conecta algunos destinos en Perú y EE. UU. Viva Air Colombia fue fundada en 2009 e inició plenamente sus operaciones en 2012. Actualmente, Viva Air (VH) conecta ahora 18 destinos. La aerolínea tiene tres centros: el Aeropuerto Internacional Alfonso Bonilla Aragón, el Aeropuerto Internacional El Dorado y el Aeropuerto Internacional José María Córdova. </p>


            <h2 class="“text-justify”">Información de la aerolínea Viva Air Colombia: </h2>

            <table>
                <tr>
                    <td><b>IATA code: </b></td>
                    <td>VH</td>
                </tr>
                <tr>
                    <td><b>ICAO code: </b></td>
                    <td>VVC</td>
                </tr>
                <tr>
                    <td><b>Hubs: </b></td>
                    <td>Alfonso Bonilla Aragón International Airport, El Dorado International Airport, José María Córdova International Airport</td>
                </tr>
                <tr>
                    <td><b>Foundation date: </b></td>
                    <td>September 16, 2009</td>
                </tr>
                <tr>
                    <td><b>Parent company: </b></td>
                    <td>Irelandia Aviation</td>
                </tr>
                <tr>
                    <td><b>Address: </b></td>
                    <td>Monterrey. Terminal C, Carretera Miguel Alemán Km 24, Apodaca, NL, México, C.P. 66600</td>
                </tr>
                <tr>
                    <td><b>official website: </b></td>
                    <td><a href="https://www.vivaaerobus.com/es-co/" rel="nofollow" target="_blank">www.vivaaerobus.com/es-co/</td>
                </tr>
            </table>



            <h2 class="“text-justify”">Viva Air Colombia Flotas: </h2>

            <table>
                <tr>
                    <td><b>Aeronave</b></td>
                    <td><b>Tamaño de la flota</b></td>
                </tr>
                <tr>
                    <td>Airbus A320-200</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>Airbus A320neo</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td>41</td>
                </tr>
            </table>



            <h2 class="“text-justify”">Rutas de vuelo y destinos populares de Viva Air Colombia Aerolínea: </h2>

            <table>
                <tr>
                    <td><b>Origen</b></td>
                    <td><b>Destino</b></td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Houston</td>
                </tr>
                <tr>
                    <td>Miami</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>New York</td>
                </tr>
                <tr>
                    <td>San Juan</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Chicago</td>
                </tr>
                <tr>
                    <td>Boston</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Washington</td>
                </tr>
                <tr>
                    <td>Baltimore</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Tampa</td>
                </tr>
                <tr>
                    <td>Cancún</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Santo Domingo</td>
                </tr>
                <tr>
                    <td>Panama</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Guatemala</td>
                </tr>
                <tr>
                    <td>Aruba</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>San Salvador</td>
                </tr>
            </table>




            <h2 class="“text-justify”">Lista de aeropuertos atendidos por Viva Air Colombia Aerolínea: </h2>

            <ul>
                <li>El Dorado International Airport (BOG)</li>
                <li>El Salvador International Airport (SAl)</li>
                <li>Sao Paulo International Airport (GRU)</li>
                <li>Alfonso Bonillla Aragón International Airport (CLO) </li>
                <li>Miami International Airport (MIA) </li>
                <li>Ernesto Cortissoz International Airport (BAQ)</li>
                <li>Cancun International Airport (CUN) </li>
                <li>Rafael Núñez International Airport (CTG) </li>
                <li>Jorge Chávez International Airport (LIM) </li>
                <li>Zvartnots International Airport (EVN)</li>
            </ul>

            <h2 class="“text-justify”">Política Viva Air Colombia </h2>

            <h3 class="“text-justify”">Política de cancelación</h3>
            <p class="“text-justify”">Según la política de cancelación de 24 horas de Viva Air Colombia, hay una condición: si tu vuelo es cancelado dentro de las 24 horas posteriores a la reserva, y al mismo tiempo, la salida de tu vuelo es al menos siete días después de la hora de la reserva, No se le cobrará ninguna tarifa de cancelación por parte de la aerolínea. Tus Viva Air vuelos baratos Se puede cancelar rápidamente visitando la página de inicio de la aerolínea, pero solo si ha comprado el billete directamente en el sitio web de la aerolínea. Hay varios factores de los que depende el importe de la tasa de cancelación. Son: ruta de vuelo, destino, tipo de billete, etc. </p>

            <h3 class="“text-justify”">Politica de reembolso</h3>
            <p class="“text-justify”">Lo triste es que Viva Air tiquetes no son reembolsables. Solo está sujeto a un reembolso si compra la "Protección de cancelación" al reservar los boletos. Viva Air (VH) ha desarrollado una política de 'Cambio de nombre' para los pasajeros. Esto le permite vender su boleto no utilizado a otra persona. Desde allí, puede obtener su reembolso. Utilizando el servicio 'Protección de cancelación' de Viva Air, puede cancelar un vuelo directamente desde el momento de la reserva hasta 30 minutos antes de su vuelo de salida programado. De esta forma, obtendrás un reembolso por la parte del viaje. Debes cancelar los boletos visitando el call center mediante correo electrónico o marcando Viva Air telefono. </p>

            <h3 class="“text-justify”">Política de mascotas </h3>
            <p class="“text-justify”">Según la política de mascotas de Viva Air Colombia (VH), puedes llevar gatos y perros pequeños en tu Viva Air reserva. Sin embargo, deberás tener un certificado de vacunación de Sanidad y Rabia vigente para volar con ellos en cabina. Sin embargo, el peso combinado del transportín y la mascota no supera los 8 kg. Cada pasajero puede llevar una mascota en cabina, la cual deberá permanecer en su transportín durante el vuelo. Su mascota debe tener dentro de ocho semanas de edad para viajar en Viva Air (VH). Viva Air no permite que las mascotas viajen en vuelos internacionales. Sin embargo, puedes llevar animales de apoyo emocional a bordo. Para más consultas llamar al número de Viva Air. </p>

            <h3 class="“text-justify”">Política de equipaje </h3>
            <p class="“text-justify”">En Viva Air tiquetes, los pasajeros nacionales e internacionales pueden llevar un bolso de mano gratis, cuyo peso no debe exceder los 10 kg. Además de esto, las dimensiones del bolso deben ser 40 cm (101") × 35 cm (89") × 25 cm (63"). Los pasajeros con tarifa Combo++ pueden pesar 20 kg adicionales. </p>


            <h2 class="“text-justify”">Preguntas frecuentes: </h2>

            <h3 class="“text-justify”">¿Qué documentos necesito para viajar con Viva Air Colombia? </h3>
            <p class="“text-justify”">Deberá presentar una identificación válida emitida por el gobierno, como un pasaporte o una licencia de conducir, al momento del check-in. Es posible que también deba presentar documentos adicionales, como una visa o un comprobante de viaje, dependiendo de su destino. </p>

            <h3 class="“text-justify”">¿Cómo puedo elegir mis asientos en un vuelo de Viva Air Colombia? </h3>
            <p class="“text-justify”">Puede elegir sus asientos al reservar su vuelo online o por teléfono. También puede actualizar su asiento a un asiento preferente pagando una tarifa. </p>

            <h3 class="“text-justify”">¿Cuál es la política de cambio de nombre de Viva Air Colombia? </h3>
            <p class="“text-justify”">Puede cambiar el nombre en su reserva pagando una tarifa. La tarifa varía dependiendo de qué tan cerca esté su vuelo de la salida. </p>

            <h3 class="“text-justify”">¿Puedo llevar mis propios alimentos y bebidas en un vuelo de Viva Air Colombia? </h3>
            <p class="“text-justify”">Puedes llevar tu propia comida y bebida a bordo, pero deben ser sin alcohol y estar contenidas en una bolsa de plástico transparente. </p>

            <h3 class="“text-justify”">¿Cuál es la política de menores no acompañados de Viva Air Colombia? </h3>
            <p class="“text-justify”">Viva Air Colombia permite que menores de edad no acompañados viajen en sus propios vuelos bajo ciertas condiciones. Los niños de entre 5 y 11 años pueden viajar como menores no acompañados, mientras que los niños de entre 12 y 17 años pueden viajar como menores acompañados de menores. Los padres o tutores deben completar un formulario de menor no acompañado y proporcionar al niño un número de contacto. </p>

            <h3 class="“text-justify”">¿Viva Air Colombia ofrece tarifas con descuento? </h3>
            <p class="“text-justify”">Sí, Viva Air Colombia ofrece una variedad de tarifas con descuento, incluidos descuentos para personas mayores, descuentos para militares y descuentos para estudiantes. Puedes encontrar más información sobre las tarifas con descuento de Viva Air Colombia en el sitio web de la aerolínea. </p>

            <h3 class="“text-justify”">¿Puedo utilizar mi teléfono móvil en un vuelo de Viva Air Colombia? </h3>
            <p class="“text-justify”">Puedes utilizar tu teléfono móvil en un vuelo de Viva Air Colombia, pero debes ponerlo en modo avión antes del despegue. También puede utilizar su teléfono para realizar y recibir llamadas y mensajes de texto, pero se le cobrará una tarifa por hacerlo. </p>

            <h3 class="“text-justify”">¿Cuáles son las políticas de Viva Air Colombia para artículos perdidos y encontrados? </h3>
            <p class="“text-justify”">Si pierde un artículo en un vuelo de Viva Air Colombia, puede presentar un reporte de artículo perdido en línea o por teléfono. Viva Air Colombia intentará localizar su artículo y devolvérselo. </p>




            <table>
                <tr>
                    <td><b>Destinos populares Viva Air Colombia Aerolínea</b></td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Miami</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a New York</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a San Juan</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Chicago</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Boston</td>
                </tr>
            </table>




            <table>
                <tr>
                    <td><b>Rutas Populares Viva Air Colombia Aerolíneas</b></td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá to Houston</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Miami tá Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá Yo New York</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de San Juan tá Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá ag Chicago</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Boston tá Bogotá</td>
                </tr>
            </table>

        </div>
    </div>
</section>
