
@{
    ViewBag.Title = "wingo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Vuelos baratos de Wingo, wingo tiquetes -FaresMatch</title>
    <meta name="description" content="¡Vuela con Wingo a un precio asequible! Encuentre billetes baratos y las mejores ofertas de vuelos en el sitio web de FaresMatch. Reserva vuelos de Wingo ahora." />
    <meta name="keywords" content="wingo vuelos, wingo tiquetes, wingo reserva, tiquetes baratos wingo, teléfono wingo, wingo aerolinea colombia, wingo aviones, vuelos wingo, www wingo com" />
    <link rel="canonical" href="https://www.faresmatch.com/es/aerolineas/wingo.aspx" />
    <meta property="og:title" content="Vuelos baratos de Wingo, wingo tiquetes -FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="¡Vuela con Wingo a un precio asequible! Encuentre billetes baratos y las mejores ofertas de vuelos en el sitio web de FaresMatch. Reserva vuelos de Wingo ahora." />
    <meta property="og:url" content="https://www.faresmatch.com/es/aerolineas/wingo.aspx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Vuelos baratos de Wingo, wingo tiquetes -FaresMatch" />
    <meta name="twitter:description" content="E¡Vuela con Wingo a un precio asequible! Encuentre billetes baratos y las mejores ofertas de vuelos en el sitio web de FaresMatch. Reserva vuelos de Wingo ahora." />
    <meta name="author" content="faresmatch.com" />
    <meta name="subject" content="Air Travel" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index,follow" />

}


<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "FAQPage",
      "mainEntity": [{
        "@@type": "Question",
        "name": "¿Qué servicios de comida y bebida ofrece Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Wingo Aerolíneas ofrece una selección de alimentos y bebidas para la compra a bordo. Las opciones incluyen sándwiches, ensaladas, snacks, bebidas frías y calientes."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo solicitar asistencia especial en Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si necesitas asistencia especial en Wingo Aerolíneas, debes ponerte en contacto con la aerolínea al menos 48 horas antes de tu vuelo. Wingo Aerolíneas ofrece una variedad de servicios de asistencia especial, incluyendo asistencia para pasajeros con movilidad reducida, pasajeros sordos o con problemas de audición, y pasajeros ciegos o con problemas de visión."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué documentos necesito para viajar con Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Para viajar con Wingo Aerolíneas, necesitas tener un pasaporte válido y un billete de avión válido. Si eres ciudadano de un país que requiere visa para viajar a Colombia, también debes tener una visa válida."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué debo hacer si pierdo mi equipaje en un vuelo de Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si pierdes tu equipaje en un vuelo de Wingo Aerolíneas, debes ponerte en contacto con la aerolínea de inmediato. La aerolínea se encargará de localizar tu equipaje y entregarlo lo antes posible."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué documentos necesito para viajar con Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Para viajar con Wingo Aerolíneas, necesitas tener un pasaporte válido y un billete de avión válido. Si eres ciudadano de un país que requiere visa para viajar a Colombia, también debes tener una visa válida."
        }
      },{
        "@@type": "Question",
        "name": "¿Qué debo hacer si pierdo mi equipaje en un vuelo de Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si pierdes tu equipaje en un vuelo de Wingo Aerolíneas, debes ponerte en contacto con la aerolínea de inmediato. La aerolínea se encargará de localizar tu equipaje y entregarlo lo antes posible."
        }
      },{
        "@@type": "Question",
        "name": "¿Cuáles son las políticas de Wingo Aerolíneas para el transporte de equipaje especial?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Wingo Aerolíneas se compromete a brindar asistencia a todos sus pasajeros, incluyendo aquellos que requieren transporte de equipaje especial. Los pasajeros que necesiten asistencia con equipos médicos, sillas de ruedas o instrumentos musicales deben notificar a la aerolínea al menos 48 horas antes del vuelo para coordinar los arreglos necesarios."
        }
      },{
        "@@type": "Question",
        "name": "¿Cómo puedo obtener la factura de mi vuelo de Wingo Aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Puedes obtener la factura de tu vuelo de Wingo Aerolíneas accediendo a tu cuenta en el sitio web de la aerolínea o poniéndote en contacto con el centro de atención al cliente."
        }
      },{
        "@@type": "Question",
        "name": "¿Ofrece Wingo Aerolíneas algún tipo de descuento para estudiantes o militares?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Wingo Aerolíneas ofrece descuentos especiales para estudiantes y militares que presenten su identificación válida en el momento de la compra del billete."
        }
      },{
        "@@type": "Question",
        "name": "¿Tiene Wingo Aerolíneas alguna alianza con otras aerolíneas?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Wingo Aerolíneas tiene una alianza codeshare con Copa Aerolíneas, lo que permite a los pasajeros de ambas aerolíneas viajar en destinos compartidos y acumular millas en sus respectivos programas de viajero frecuente."
        }
      }]
    }
</script>

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Sobre Wingo Aerolíneas</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="“text-justify”">Aerolínea Wingo es una aerolínea de bajo costo con sede en Colombia. Opera bajo el grupo aéreo panameño Copa Holdings. La página comenzó a ofrecer vuelos en diciembre de 2016. Ofrecía vuelos programados a destinos en América Latina y el Caribe. El 1 de diciembre de 2016, la aerolínea ofreció vuelos cinco veces por semana desde Bogotá a Cancún, el servicio inaugural de LCC. Los pasajeros han dicho Wingo vuelos ofrecer servicios "administrativamente y funcionalmente" como parte de Copa Airlines Colombia. La aerolínea brinda servicios bajo el código IATA P5 de la aerolínea matriz. Wingo Airlines ofrece vuelos en una flota de cuatro aviones Boeing 737-700. </p>

            <p class="“text-justify”">Wingo Colombia promete ofrecer tarifas bajas y una extensa red de rutas. Es una combinación perfecta para quienes buscan un viaje en avión alegre, fresco y económico. Las aerolíneas idean nuevas formas para los pasajeros que vienen retrasando sus vacaciones y quieren descubrir los mejores destinos del mundo. La aerolínea incluso piensa en aquellos que quieren hacer crecer su negocio y ahorrar dinero al mismo tiempo. Wingo pone un gran esfuerzo en mantener excelentes precios y ofrecer vuelos con itinerarios establecidos. De esta manera, los viajeros afrontarán una gran experiencia grabada en su memoria. </p>

            <h2 class="“text-justify”">Información de la aerolínea Wingo: </h2>

            <table>
                <tr>
                    <td><b>IATA code: </b></td>
                    <td>P5</td>
                </tr>
                <tr>
                    <td><b>ICAO code: </b></td>
                    <td>RPB</td>
                </tr>
                <tr>
                    <td><b>Hubs: </b></td>
                    <td>Bogotá </td>
                </tr>
                <tr>
                    <td><b>Foundation date: </b></td>
                    <td>19 October 2016</td>
                </tr>
                <tr>
                    <td><b>Parent company: </b></td>
                    <td>Copa Holdings</td>
                </tr>
                <tr>
                    <td><b>Address: </b></td>
                    <td>Ac 26 103-08, interior 1 Bogota - Colombia</td>
                </tr>
                <tr>
                    <td><b>official website: </b></td>
                    <td><a href="https://www.wingo.com/" rel="nofollow" target="_blank">www.wingo.com</td>
                </tr>
            </table>


            <h2 class="“text-justify”">Wingo Flotas: </h2>
            <p class="“text-justify”">Wingo aerolíneas opera actualmente una flota de nueve aviones Boeing 737, compuesta por cuatro Boeing 737-700 y cinco Boeing 737-800. La flota de la aerolínea es relativamente joven, con una edad media de 9,3 años. El Boeing 737-800 es el tipo de avión más común en la flota de Wingo, con cinco aviones en operación. Wingo también opera el Boeing 737-700, con cuatro aviones en servicio. Wingo aerolíneas planea ampliar su flota en los próximos años, con planes de añadir hasta cinco nuevos aviones para 2025. </p>
            <table>
                <tr>
                    <td><b>Aeronave</b></td>
                    <td><b>Tamaño de la flota</b></td>
                </tr>
                <tr>
                    <td>Boeing 737-800</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td>9</td>
                </tr>
            </table>


            <h2 class="“text-justify”">Rutas de vuelo y destinos populares de Wingo Aerolínea: </h2>
            <p class="“text-justify”">Wingo Aerolínea es una aerolínea colombiana de bajo costo que ofrece vuelos a más de 20 destinos en Colombia, América Latina y el Caribe. Algunas de sus rutas más populares incluyen Bogotá a Cartagena, Bogotá a la ciudad de Panamá y Barranquilla a la isla de San Andrés. Wingo también ofrece vuelos a destinos turísticos populares como Aruba, Cancún y Ciudad de México. </p>

            <table>
                <tr>
                    <td><b>Origen</b></td>
                    <td><b>Destino</b></td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Cartagena</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Cartagena</td>
                </tr>
                <tr>
                    <td>Santa Marta</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Santa Marta</td>
                </tr>
                <tr>
                    <td>Balboa, Panama City</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Cali</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Cali</td>
                </tr>
                <tr>
                    <td>Barranquilla</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Barranquilla</td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Balboa, Panama City</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Balboa, Panama City</td>
                </tr>
                <tr>
                    <td>Balboa, Panama City</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Cartagena</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Medellín</td>
                    <td>Cartagena</td>
                </tr>
                <tr>
                    <td>Cartagena</td>
                    <td>San Andrés</td>
                </tr>
                <tr>
                    <td>Bucaramanga</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Bogotá</td>
                    <td>Bucaramanga</td>
                </tr>
                <tr>
                    <td>San Andrés</td>
                    <td>Cartagena</td>
                </tr>
            </table>



            <h2 class="“text-justify”">Lista de aeropuertos atendidos por Wingo Aerolínea: </h2>
            <ul>
                <li>El Dorado International Airport (BOG)</li>
                <li>José María Córdova International Airport (MDE)</li>
                <li>Rafael Núñez International Airport (CTG)</li>
                <li>Simón Bolívar Airport (SMR)</li>
                <li>Panama Pacific International Airport (BLB)</li>
                <li>Alfonso Bonilla Aragón International Airport (CLO)</li>
                <li>Ernesto Cortissoz International A (BAQ)</li>
                <li>Gustavo Rojas Pinilla Internation (ADZ)</li>
                <li>Palonegro Airport (BGA)</li>
                <li>Matecaña International Airport (PEI)</li>
            </ul>
            <h2 class="“text-justify”">Política de Wingo Aerolíneas</h2>

            <h3 class="“text-justify”">Política de cancelación</h3>

            <p class="“text-justify”">Las tarifas que encontrarás en Wingo Airlines son promocionales y no reembolsables. Recuerda que el billete que compres será válido hasta la fecha y hora prevista de tu vuelo. Si no puedes presentarte el día festivo de tu vuelo, no podrás utilizar el billete más tarde. </p>

            <h3 class="“text-justify”">Politica de reembolso</h3>

            <p class="“text-justify”">En Wingo Airlines definitivamente puedes solicitar el reembolso de tu boleto. Los pasajeros pueden solicitar un reembolso en forma de vale (que se emitirá en un plazo de 3 a 5 días hábiles). Puedes usarlo en tu próximo viaje con Wingo vuelos baratos. Tiene una vigencia de un año. Puedes consultar los términos y condiciones o el servicio de atención al cliente para más dudas. </p>

            <h3 class="“text-justify”">Política de equipaje</h3>

            <p class="“text-justify”">Mira el equipaje cuyo tamaño y características no son aceptados por Wingo. </p>

            <ul>
                <li>No se pueden transportar 20 Kg y 158 cm lineales (incluyendo llantas y asas). Esto no se puede transportar.</li>
                <li>Tu artículo personal no debe tener ruedas. Es necesario viajar en la mano (bolso) o en la espalda (mochila). En caso contrario se considerará equipaje de mano (de mano 12kgs).</li>
            </ul>

            <p class="“text-justify”">Supongamos que viaja con un niño menor de dos años; wingo reserva te permite llevarte un artículo adicional gratis. Debe cumplir con las condiciones requeridas: lineal 40x35x25cm (alto x largo x ancho). </p>

            <h3 class="“text-justify”">Política de mascotas</h3>
            <p class="“text-justify”">Wingo vuelos baratos le permiten llevar solo dos mascotas en cada vuelo de Wingo. Una vez que confirmes tus planes de viaje, comunícate con el Departamento de Reservaciones de telefono Wingo (321) 445-5799. En vuelos nacionales, se pueden llevar en cabina mascotas pequeñas de más de ocho semanas de edad. Para ello, el peso combinado de la mascota y el transportín no debe exceder los 10 kg (22 lbs). La aerolínea le permite llevar una mascota a bordo. Debes colocar los animales debajo del asiento delante de ti durante todo el vuelo. La aerolínea te cobrará entre 50.000 y 70.000 COP en vuelos nacionales. </p>

            <h4 class="“text-justify”">Preguntas frecuentes: </h4>
            <h5 class="“text-justify”">¿Qué servicios de comida y bebida ofrece Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Wingo Aerolíneas ofrece una selección de alimentos y bebidas para la compra a bordo. Las opciones incluyen sándwiches, ensaladas, snacks, bebidas frías y calientes. </p>

            <h5 class="“text-justify”">¿Cómo puedo solicitar asistencia especial en Wingo Aerolíneas? </h5>

            <p class="“text-justify”">Si necesitas asistencia especial en Wingo Aerolíneas, debes ponerte en contacto con la aerolínea al menos 48 horas antes de tu vuelo. Wingo Aerolíneas ofrece una variedad de servicios de asistencia especial, incluyendo asistencia para pasajeros con movilidad reducida, pasajeros sordos o con problemas de audición, y pasajeros ciegos o con problemas de visión. </p>

            <h5 class="“text-justify”">¿Qué documentos necesito para viajar con Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Para viajar con Wingo Aerolíneas, necesitas tener un pasaporte válido y un billete de avión válido. Si eres ciudadano de un país que requiere visa para viajar a Colombia, también debes tener una visa válida. </p>

            <h5 class="“text-justify”">¿Qué debo hacer si pierdo mi equipaje en un vuelo de Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Si pierdes tu equipaje en un vuelo de Wingo Aerolíneas, debes ponerte en contacto con la aerolínea de inmediato. La aerolínea se encargará de localizar tu equipaje y entregarlo lo antes posible. </p>

            <h5 class="“text-justify”">¿Qué documentos necesito para viajar con Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Para viajar con Wingo Aerolíneas, necesitas tener un pasaporte válido y un billete de avión válido. Si eres ciudadano de un país que requiere visa para viajar a Colombia, también debes tener una visa válida. </p>

            <h5 class="“text-justify”">¿Qué debo hacer si pierdo mi equipaje en un vuelo de Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Si pierdes tu equipaje en un vuelo de Wingo Aerolíneas, debes ponerte en contacto con la aerolínea de inmediato. La aerolínea se encargará de localizar tu equipaje y entregarlo lo antes posible. </p>

            <h5 class="“text-justify”">¿Cuáles son las políticas de Wingo Aerolíneas para el transporte de equipaje especial? </h5>
            <p class="“text-justify”">Wingo Aerolíneas se compromete a brindar asistencia a todos sus pasajeros, incluyendo aquellos que requieren transporte de equipaje especial. Los pasajeros que necesiten asistencia con equipos médicos, sillas de ruedas o instrumentos musicales deben notificar a la aerolínea al menos 48 horas antes del vuelo para coordinar los arreglos necesarios. </p>

            <h5 class="“text-justify”">¿Cómo puedo obtener la factura de mi vuelo de Wingo Aerolíneas? </h5>
            <p class="“text-justify”">Puedes obtener la factura de tu vuelo de Wingo Aerolíneas accediendo a tu cuenta en el sitio web de la aerolínea o poniéndote en contacto con el centro de atención al cliente. </p>

            <h5 class="“text-justify”">¿Ofrece Wingo Aerolíneas algún tipo de descuento para estudiantes o militares? </h5>
            <p class="“text-justify”">Wingo Aerolíneas ofrece descuentos especiales para estudiantes y militares que presenten su identificación válida en el momento de la compra del billete. </p>

            <h5 class="“text-justify”">¿Tiene Wingo Aerolíneas alguna alianza con otras aerolíneas? </h5>
            <p class="“text-justify”">Wingo Aerolíneas tiene una alianza codeshare con Copa Aerolíneas, lo que permite a los pasajeros de ambas aerolíneas viajar en destinos compartidos y acumular millas en sus respectivos programas de viajero frecuente. </p>

            <table>
                <tr>
                    <td>
                        <h3 class="“text-justify”"><b>Destinos populares Wingo Aerolínea</b></h3>
                    </td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Bogota</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Medellin</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Cartagena</td>
                </tr>
                <tr>
                    <td>Vuelos baratos a Cali</td>
                </tr>
            </table>


            <table>
                <tr>
                    <td>
                        <h3 class="“text-justify”"><b>Rutas Populares  Wingo Aerolíneas</b></h3>
                    </td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Medellín to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Bogotá to Medellín</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Cartagena to Bogotá</td>
                </tr>
                <tr>
                    <td>Vuelos baraas de Balboa, Panama City to Medellín</td>
                </tr>
            </table>


        </div>
    </div>
</section>
