
@{
    ViewBag.Title = "chicagoordtoportlandpdxflights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Chicago to Portland Flights | FaresMatch</title>
    <meta name="description" content="Search for flights from Chicago to Portland, you will find many options on FaresMatch. From different airlines to schedule, you can choose the most convenient airline." />
    <link rel="canonical" href="https://www.faresmatch.com/flights/chicago-ord-to-portland-pdx-flights.aspx" />
    <meta property="og:title" content="Chicago to Portland Flights | FaresMatch" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Search for flights from Chicago to Portland, you will find many options on FaresMatch. From different airlines to schedule, you can choose the most convenient airline." />
    <meta property="og:url" content="https://www.faresmatch.com/flights/chicago-ord-to-portland-pdx-flights.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
   
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Chicago to Portland Flights | FaresMatch" />
    <meta name="twitter:description" content="Search for flights from Chicago to Portland, you will find many options on FaresMatch. From different airlines to schedule, you can choose the most convenient airline." />
    <meta name="twitter:image"
          content="https://www.faresmatch.com/assets/images/logo.gif" />
}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Chicago to Portland Flights</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">



            <p class="text-justify">Are you ready to grab the cheapest one-way Chicago to Portland flights? Yes, you can now get tickets for just $69 between Chicago O'Hare Intl Airport and Portland. Also, you can get a return flight for this route for just $107. </p>


            <ul>
                <li>With us, our users could take flights on this route for less than $101 for one-way flights and $203 for round-trip flights. </li>
                <li>If you are departing from Chicago, you can choose to depart from any of the two major international airports that serve the city. The popular airports are O'Hare International Airport (ORD) and Midway International Airport (MDW). </li>
                <li>If you are an early flyer and want to book early flights from Chicago to Portland, you can choose to depart from O'Hare International Airport. The airport has a hotel on its premises, so you can book a night's stay so you will arrive on time for your early morning flight. </li>
                <li>Are you a business traveler who needs to get some work done, or do you want to relax after your flight to Portland International Airport (PDX)? You will find plenty of lounges inside security at Concourse C, D, and E at this airport. There is also one lounge situated outside the security of the Main Terminal. </li>
                <li>Suppose you must correct your items as you leave O'Hare International Airport. In that case, you must contact the organization closest to where you last saw them. The following agencies can help in such a situation: Parking Facilities, TSA Checkpoints, and on-the-airport Transit Systems. </li>
            </ul>

            <h2>Search Flights from Chicago to Portland</h2>

            <p class="text-justify">As you search for flights from Chicago to Portland, you will encounter several options. From various airlines to schedules, you can choose the most convenient one. We always advise you to <a href="https://www.faresmatch.com"><b>book flight tickets</b></a> in advance so that you can fly to Portland at the best prices and preferred flight times. </p>


            <ul>
                <li><h6>Airlines flying</h6></li>
                <p class="text-justify">United Airlines, American Airlines, and Alaska Airlines are the most popular airlines offering nonstop flights. Other airlines offer connecting flights with layovers. </p>


                <li><h6>Airports</h6></li>
                <p class="text-justify">From Chicago, you either need to depart from O'Hare International Airport (ORD) or Midway International Airport (MDW), depending on the airline. On the other hand, Portland flights arrive at Portland International Airport (PDX). </p>


                <li><h6>Overall flight duration</h6></li>
                <p class="text-justify">Direct flights from Chicago to Portland typically take 4-5 hours. Connecting flights with layovers can have longer travel times, depending on the length of the layover. </p>


                <li><h6>Cost of tickets</h6></li>
                <p class="text-justify">The price of your round-trip tickets from Chicago to Portland can vary, depending on the airline you choose to fly, your time of booking flights, and your travel dates. The overall prices of economy class tickets on this route range from $200 to $400. If you purchase business class or first class tickets, you need to pay a higher price. </p>


                <li><h6>Schedule Options</h6></li>
                <p class="text-justify">There are multiple flights flying from Chicago to Portland each day, so you have much flexibility when it comes to choosing an ideal time. Try to compare your schedules and prices on flight booking websites like FaresMatch. You can also visit various airlines' official websites and grab the best option for your travel dates. </p>


                <li><h6>Amenities you get</h6></li>
                <p class="text-justify">Grab the in-flight amenities on flights from Chicago to Portland. This can vary between airlines and the type of ticket you have booked. You will get in-flight entertainment, Wi-Fi, snacks or meals, and seat selection options among the various amenities. You can choose from multiple cabin classes that offer ranging comfort and amenities. </p>
            </ul>

            <h2>When to fly from Chicago to Portland? </h2>

            <p class="text-justify">If your departing dates are flexible, we recommend you book Portland Oregeon flights from Chicago on a Tuesday. Usually, you will find the cheapest rates for this route on this day. However, Mondays are the most expensive day to fly from Chicago to Portland. If you book your return ticket, then you must book it on a Saturday. Also, try to avoid Mondays to get the best deals. Flights from Chicago to Portland are highly cheap in January. The average price of tickets usually ranges from $313 - $315. The most expensive months to fly are June and July when ticket costs tend to skyrocket to $418 and $420. </p>

            <h3>Airlines flying from Chicago to Portland</h3>

            <p class="text-justify">Our recent search found the best return deals on flights from Chicago to Portland with Spirit Airlines. The airfare from Chicago to Portland, Oregon is usually around $65, whereas Frontier Airlines offers prices at $169. <a href="https://www.faresmatch.com/spirit-airlines-flights-reservations.aspx"><b>Spirit Airlines tickets</b></a>, too, at $39, offered the cheapest one-way flight. </p>

            <h3>Nearest airport of destination</h3>
            <p class="text-justify">The airport closest to Portland is Portland (PDX) Airport, which is 6.1 miles away. Other nearby airports include Eugene (EUG) (101.1 miles away) and Redmond (RDM) (115.6 miles away). </p>

            <h2>Nonstop flights from Chicago to Portland</h2>

            <p class="text-justify">At present, there are around five airlines offering nonstop flights from Chicago to Portland. The popular airlines are Alaska flights, American Airlines, Southwest, Spirit Airlines, and United Airlines. Spirit Airlines offered the cheapest one-way flight price among all airlines on this route, at $75. </p>

            <h4>FAQs</h4>

            <h5>1. What is the average duration of flights between Chicago and Portland? </h5>
            <p class="text-justify">The average nonstop flight takes 4 hours and 20 minutes. , covering an overall distance of 749 miles. </p>

            <h5>2. When is the earliest flight from Chicago to Portland? </h5>
            <p class="text-justify">If you like to fly early, you can grab the earliest flight from Chicago at 7:10 am, and you will land in Portland at 9:38 am. </p>

            <h5>3. When is the best time at night to fly from Chicago to Portland? </h5>
            <p class="text-justify">If you love to fly at night, get ready to catch the latest flight from Chicago to Portland at 10:50 pm, and you will land at 1:10 am. </p>

            <h5>4. In FaresMatch, how many airlines fly from Chicago to Portland? </h5>
            <p class="text-justify">Popular airlines flying from Chicago to Portland are: </p>


            <ul>
                <li>Spirit Airlines</li>
                <li>Alaska Airlines</li>
                <li>American Airlines</li>
                <li>Southwest</li>
                <li>United Airlines</li>
            </ul>

            <h5>5. Does FaresMatch offer car rentals? </h5>
            <p class="text-justify">Yes, with FaresMatch, you can definitely find the cheapest flights from Chicago to Portland. In addition to the flights, you can also book cars at the cheapest rates ever! </p>


            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "1.	What is the average duration of flights between Chicago and Portland?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The average nonstop flight takes 4 hours and 20 minutes. , covering an overall distance of 749 miles."
                    }
                  },{
                    "@@type": "Question",
                    "name": "2.	When is the earliest flight from Chicago to Portland?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you like to fly early, you can grab the earliest flight from Chicago at 7:10 am, and you will land in Portland at 9:38 am."
                    }
                  },{
                    "@@type": "Question",
                    "name": "3.	When is the best time at night to fly from Chicago to Portland?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "If you love to fly at night, get ready to catch the latest flight from Chicago to Portland at 10:50 pm, and you will land at 1:10 am."
                    }
                  },{
                    "@@type": "Question",
                    "name": "4.	In FaresMatch, how many airlines fly from Chicago to Portland?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Popular airlines flying from Chicago to Portland are:


                •	Spirit Airlines
                •	Alaska Airlines
                •	American Airlines
                •	Southwest
                •	United Airlines"
                    }
                  },{
                    "@@type": "Question",
                    "name": "5.	Does FaresMatch offer car rentals?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Yes, with FaresMatch, you can definitely find the cheapest flights from Chicago to Portland. In addition to the flights, you can also book cars at the cheapest rates ever!"
                    }
                  }]
                }
            </script>

        </div>
    </div>
</section>
