
@{
    ViewBag.Title = "newyorknyctowashingtondcwasflights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>New York to Washington DC Flights, NYC to WAS |1-800-918-3039</title>
    <meta name="description" content="Manage Online Booking for New York to Washington DC Flights at the fares match &amp; save up to 20% on the reservations for NYC to

WAS Flights." />
    <link rel="canonical" href="https://www.faresmatch.com/flights/new-york-nyc-to-washington-dc-was-flights.aspx" />
    <meta property="og:title" content="New

York to Washington DC Flights, NYC to WAS |1-800-918-3039" />
    <meta property="og:type" content="website" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Manage Online Booking for New York to Washington DC Flights at the fares match

&amp; save up to 20% on the reservations for NYC to WAS Flights. " />
    <meta property="og:url" content="https://www.faresmatch.com/flights/new-york-nyc-to-washington-

dc-was-flights.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
    
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card"
          content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="New York to Washington DC Flights, NYC to WAS |1

-800-918-3039" />
    <meta name="twitter:description" content="Manage Online Booking for New York to Washington DC Flights at the fares match &amp; save up to 20% on the

reservations for NYC to WAS Flights." />







}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>New York to Washington DC Flights</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">


            <p class="text-justify">Washington, also known as the District of Columbia or, in colloquial terms, Washington DC, is located on the banks of the Potomac River. As the capital of the United States of America, it is the country’s political and administrative centre. The city was named after George Washington, the first American president.</p>
            <p class="text-justify">The city is a significant location for America and plays a leading role in world politics, society and economy. The city is under the direct control of the federal government. An elected mayor and their council take care of the town’s day-to-day affairs. The city’s design involves multiple quadrants arranged systematically around the Capitol Building. </p>
            <p class="text-justify">The city houses some of the most important buildings in the United States of America. The official residence of the American President, the White House, is the most important of them. Others include the United States Capitol Building, designed by William Thornton, which has witnessed many decisions that have changed and impacted the world at large. </p>
            <p class="text-justify">For <a href="https://www.faresmatch.com/flights/cheap-flights-to-washington.aspx"><b>cheap flights to Washington D.C</b></a>., passengers should get flights as prices are currently low. Currently, tickets cost 28 dollars less than usual. </p>
            <p class="text-justify">Spring and autumn are other good times to get flight tickets to Washington. The seasons are mild and refreshing. Crowds are less than those in summer, allowing travellers to explore the city and partake in outdoor activities in peace. </p>
            <p class="text-justify">Check out our site for the best deals on flights from New York to Washington DC.</p>
            <h2>How to Book Cheap New York to Washington DC Flights? </h2>
            <p class="text-justify">Travelling for the Washington DC without using the tips and airfare ideas means you may miss the big deals on the reservations. When you are thinking to book the <a href="https://www.faresmatch.com"><b>cheap tickets</b></a> for the travel goals then you must take a glance on the New York to Washington DC Flights deals at the fares match because this is the leading airfare portal for the airline’s reservations. Here you can find the amazing flight booking deals to reduce the vacation package cost for the holiday goals.</p>

            <h2>When to Book Flights to Washington? </h2>

            <p class="text-justify">The best time to get cheap flights to Washington is the low season of winter. The cold months of December, January, and February offer the most affordable prices for flight tickets and hotel accommodations. However, snowstorms and bitterly cold winds rush through the city during this time, making the weather far from ideal. </p>
            <h3>Which Airlines Fly to Washington? </h3>

            <p class="text-justify">Airlines which provide flights from New York to Washington DC are named below:</p>
            <ul>
                <li>United Airlines flights</li>
                <li>Delta Airlines flights</li>


                <li>American Airlines flights</li>
                <li>Spirit Airlines flights</li>
            </ul>
            <h3>Airport Near Washington</h3>

            <p class="text-justify">The Ronald Reagan Washington National Airport is the nearest airport to Washington, 5 miles or 8 kilometers from downtown. It is located in the neighbouring state of Virginia. It is named as a tribute to American president Ronald Reagan. </p>
            <p class="text-justify">Another airport serving the city is the Dulles International Airport, which is 26 miles or 42 kilometers west of the city’s downtown area. It is named to honour John Foster Dulles, an important official who served the nation during the Cold War. </p>
            <p class="text-justify">Another airport that receives New York to Washington DC flights is Baltimore Washington International Thurgood Marshall Airport. It is located at a distance of 30 miles or 50 kilometers from the city in Maryland. It is named to honour Thurgood Marshall, an essential American judge. It is also close to the city of Baltimore. </p>
            <h2>Nonstop Airlines to Fly to Washington</h2>

            <p class="text-justify">Multiple airlines provide non-stop flights from New York to Washington, DC. These include Delta, American and United Airlines. Although there are sufficient flights, the number of airlines you can choose is limited. Booking tickets early on Delta, American and <a href="https://www.faresmatch.com/united-airlines-flights.aspx"><b>United Airlines flights</b></a> is a good idea. This way, you can be sure to get the airline you want. </p>
            <h4>FAQs</h4>

            <h5>1. Why is the city named Columbia? </h5>

            <p class="text-justify">The city is called Columbia to symbolize the female personification of the United States of America. It is named after Christopher Columbus, the man credited with discovering America in the sixteenth century. </p>

            <h5>2. What is the cheapest flight from Washington to New York? </h5>

            <p class="text-justify">The cheapest Washington DC to New York flight costs $187. It is provided by United Airlines. </p>

            <h5>3. What is the fastest flight from New York to Washington? </h5>

            <p class="text-justify">The fastest flight from New York to Washington is provided by American Airlines and takes 1 hour 13 minutes. Faresmatch helps you get the best deals and discounts on flights like these. </p>

            <h5>4. What is a cheap place to stay in Washington? </h5>

            <p class="text-justify">A cheap place to stay in Washington is Capitol Square BNB. Faresmatch helps you book hotels like these to keep your trip affordable. </p>

            <h5>5. What does the motto of the city mean? </h5>

            <p class="text-justify">The motto of the city of Washington is the Latin word Justitia Omnibus. The phrase translates to Justice for everyone in English. </p>




            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "1.	Why is the city named Columbia?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The city is called Columbia to symbolize the female personification of the United States of America. It is named after Christopher Columbus, the man credited with discovering America in the sixteenth century."
                    }
                  },{
                    "@@type": "Question",
                    "name": "2.	What is the cheapest flight from Washington to New York?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The cheapest Washington DC to New York flight costs $187. It is provided by United Airlines."
                    }
                  },{
                    "@@type": "Question",
                    "name": "3.	What is the fastest flight from New York to Washington?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The fastest flight from New York to Washington is provided by American Airlines and takes 1 hour 13 minutes. Faresmatch helps you get the best deals and discounts on flights like these."
                    }
                  },{
                    "@@type": "Question",
                    "name": "4.	What is a cheap place to stay in Washington?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "A cheap place to stay in Washington is Capitol Square BNB. Faresmatch helps you book hotels like these to keep your trip affordable."
                    }
                  },{
                    "@@type": "Question",
                    "name": "5.	What does the motto of the city mean?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The motto of the city of Washington is the Latin word Justitia Omnibus. The phrase translates to Justice for everyone in English."
                    }
                  }]
                }
            </script>






        </div>
    </div>
</section>
