
@{
    ViewBag.Title = "stlouisstltonewyorkjfkflights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Book Cheap Flights from St. Louis (STL) to New York (JFK) | Faresmatch</title>
    <meta name="description" content="Search low cost flights from St. Louis to New York. FaresMatch offers to compare prices from top airlines and Help you book flights with the best prices." />
    <link rel="canonical" href="https://www.faresmatch.com/flights/st-louis-stl-to-new-york-jfk-flights.aspx" />
    <meta property="og:title" content="Book Cheap Flights from St. Louis (STL) to New York (JFK) | Faresmatch" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.faresmatch.com/assets/images/logo.png" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:site_name" content="Faresmatch" />
    <meta property="og:description" content="Search low cost flights from St. Louis to New York. FaresMatch offers to compare prices from top airlines and Help you book flights with the best prices." />
    <meta property="og:url" content="https://www.faresmatch.com/flights/st-louis-stl-to-new-york-jfk-flights.aspx" />
    <meta name="author" content="faresmatch.com" />
    <meta name="geo.region" content="US-GA" />
    <meta name="language" content="English" />
   
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="faresmatch" />
    <meta name="twitter:title" content="Book Cheap Flights from St. Louis (STL) to New York (JFK) | Faresmatch" />
    <meta name="twitter:description" content="Search low cost flights from St. Louis to New York. FaresMatch offers to compare prices from top airlines and Help you book flights with the best prices." />
    <meta name="twitter:image" content="https://www.faresmatch.com/assets/images/logo.png" />






}

<div class="container2  bg1">
    <div class="row flex">
        <div class="column">
            <h1>Cheap Flights from St. Louis to New York</h1>
            @{Html.RenderPartial("~/Views/Shared/_SearchEngine.cshtml");}
        </div>
    </div>
</div>

<section class="trvl_bug">
    <div class="container">
        <div class="row">



            <p>Travellers will find the <b>best cheap flights from St. Louis to New York</b> through travel websites that search for discounts and offers not only for <a href="https://www.faresmatch.com/"><b>flight tickets</b></a> but also for other services such as hotel accommodation and rented vehicles which help them save money on trips to urban centres where they might wish to spend the money on other amenities and goods.</p>

            <h2>Introduction to America’s City</h2>

            <p>New York City is located on the three islands of Manhattan, Long Island and Staten Island in the southeastern part of the state of New York in the northeastern region of the United States of America. The city is located on the banks of the Hudson River where it flows into the Atlantic Ocean forming the New York Harbour.</p>

            <p>The culture of the city has been shaped by the New York School of Art which is a popular group of various performers including dancers, musicians, artists and poets in the fifth and sixth decades of the twentieth century whose careers were mostly based in New York and made significant contributions to various art forms such as jazz, improvisational theatre and abstract expressionism turning the city into the cultural capital of the country.</p>

            <h3>Destinations You Must Visit When You are in New York</h3>

            <p>Some of the spots that travellers need to visit without fail when they purchase tickets on <b>St. Louis to New York flights</b> to make the most of their journey to the city and find out about its history are included in the detailed list below:</p>


            <ul>
                <li><b>The Statue of Liberty –</b> The Statue of Liberty, a copper statue built to celebrate the theme of Liberty Enlightening the  World is ninety-three meters tall from the base to the top, is one of the most well-known structures of the city of New York and has easily become one of the most easily recognizable symbols of the country through its unique workmanship and historic importance. </li>
                <li><b>Central Park –</b> Central Park is a very popular urban park in New York City that attracts multiple visitors every year as well as locals due to its status of being a welcome reprieve as a green spot from the hustle and bustle of the concrete city additionally making it a favourite for filming crews and conferring on it the title of being the most filmed place in the world. </li>
                <li><b>Brooklyn Bridge –</b> The Brooklyn Bridge, which was created in a hybrid manner using both cable-stayed and suspension measures, is located between the boroughs of Manhattan and Brooklyn making it an important structure for both the economy and the history of the city of New York as the first permanent crossing built on the East River.</li>
            </ul>
            <h3>Nearest Airport to New York</h3>

            <p>The nearest airport to New York is the John F. Kennedy International Airport which is located in the Queens neighborhood of New York City. The airport receives and sends out the greatest number of flights to and from the city such as <b>STL to NYC one way</b> and serves over sixty-two million passengers travelling to and from the New York Metropolitan Area each year.</p>

            <p>Another important airport, the Newark Liberty International Airport is located at the border between Elizabeth City of Union County and Newark City of Essex County at a distance of nine miles from the downtown region of the Manhattan borough of New York City and serves over forty-nine million passengers travelling to and from the New Jersey State each year.</p>

            <h2>FAQs</h2>

            <h3>What is the cheapest flight available from St. Louis to New York City?</h3>

            <p>The cheapest ticket available from St. Louis, Missouri to New York City flight costs two hundred and three US dollars and is provided by United Airlines.</p>

            <h3>Does the cheapest flight from St. Louis to NYC have any layover?</h3>
            <p>The flight takes two hours and thirty-nine minutes to complete the journey from the St. Louis Lambert International Airport to the Newark Liberty International Airport without making a single stop in between.</p>

            <h3>What is the fastest flight available from St. Louis to New York City?</h3>

            <p>The fastest flight available from St. Louis to New York City takes two hours and twenty minutes to complete the journey from the St. Louis Lambert International Airport to the Newark Liberty International Airport without making a single stop in between and is provided by Southwest Airlines.</p>

            <h3>How much does the fastest flight ticket cost?</h3>
            <p>Tickets on the fastest flight cost two hundred and twenty-four US dollars.</p>



            <script type="application/ld+json">
                {
                  "@@context": "https://schema.org",
                  "@@type": "FAQPage",
                  "mainEntity": [{
                    "@@type": "Question",
                    "name": "What is the cheapest flight available from St. Louis to New York City?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The cheapest ticket available from St. Louis, Missouri to New York City flight costs two hundred and three US dollars and is provided by United Airlines."
                    }
                  },{
                    "@@type": "Question",
                    "name": "Does the cheapest flight from St. Louis to NYC have any layover?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The flight takes two hours and thirty-nine minutes to complete the journey from the St. Louis Lambert International Airport to the Newark Liberty International Airport without making a single stop in between."
                    }
                  },{
                    "@@type": "Question",
                    "name": "What is the fastest flight available from St. Louis to New York City?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "The fastest flight available from St. Louis to New York City takes two hours and twenty minutes to complete the journey from the St. Louis Lambert International Airport to the Newark Liberty International Airport without making a single stop in between and is provided by Southwest Airlines."
                    }
                  },{
                    "@@type": "Question",
                    "name": "How much does the fastest flight ticket cost?",
                    "acceptedAnswer": {
                      "@@type": "Answer",
                      "text": "Tickets on the fastest flight cost two hundred and twenty-four US dollars."
                    }
                  }]
                }
            </script>








        </div>
    </div>
</section>
